# .git  # For now add in the .git repo so that the version is parsed on the page correctly
.github
.gitignore
.dockerignore
.idea
.tox
./docker-compose*.yml
./deploy.sh
**/*.pyc
collected_static
deploy.sh
docs
media
node_modules
vendors/node_modules
config/settings/local_untracked.py
config/settings/local_untracked.py.dist
