{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "es6": true,
    "jasmine": true,
    "jquery": true
  },
  "globals": {
    "_": true,
    "$filter": true,
    "$route": true,
    "angular": true,
    "angularDragula": true,
    "BE": true,
    "dimple": true,
    "inject": true,
    "module": true,
    "moment": true,
    "ol": true,
    "protractor": true,
    "qq": true,
    "saveAs": true,
    "Spinner": true,
    "Terraformer": true
  },
  "plugins": ["angular", "lodash", "protractor"],
  "rules": {
    // Possible errors
    "no-console": "warn",
    // Best practices
    "block-scoped-var": "warn",
    "dot-notation": "warn",
    "no-multi-spaces": "warn",
    // Variables
    "no-unused-vars": "warn",
    // Stylistic Issues
    "array-bracket-spacing": "warn",
    "brace-style": "warn",
    // "camelcase": "warn",
    "comma-dangle": ["error", "never"],
    "comma-spacing": "warn",
    // "consistent-this": ["error", "that"],
    "eol-last": "error",
    "indent": ["error", 2, {"SwitchCase": 1}],
    "key-spacing": "warn",
    "no-mixed-spaces-and-tabs": "warn",
    "no-trailing-spaces": "warn",
    "quote-props": ["error", "as-needed", {"keywords": true}],
    "quotes": ["warn", "single"],
    "semi": ["error", "always"],
    "space-before-blocks": "warn",
    "space-before-function-paren": "warn",
    "space-infix-ops": "warn",
    // Angular plugin
    "angular/log": "off", // Comment for production
    "angular/no-service-method": "off",
    // Lodash plugin
    "lodash/callback-binding": "error",
    "lodash/collection-return": "error",
    "lodash/matches-prop-shorthand": ["warn", "always"],
    "lodash/matches-shorthand": ["warn", "always"],
    "lodash/no-double-unwrap": "error",
    "lodash/no-extra-args": "error",
    "lodash/prefer-constant": "warn",
    "lodash/prefer-filter": ["warn", 3],
    "lodash/prefer-get": ["warn", 2],
    "lodash/prefer-is-nil": "warn",
    "lodash/prefer-lodash-typecheck": "warn",
    "lodash/prefer-matches": ["warn", 2],
    "lodash/prefer-startswith": "warn",
    "lodash/prefer-times": "warn",
    "lodash/preferred-alias": "warn",
    "lodash/prop-shorthand": ["warn", "always"],
    "lodash/unwrap": "error"
  }
}
