.DS_Store
.idea/
.project
.pydevproject
.python-version
.coverage
coverage.protractor.json
.noseids
*~
*~$*
*.pyc
*.swp
*.swo
*.swn
web_root/css/compressed.*.css
web_root/js/compressed.*.js
web_root/collected_static
pkgs/newrelic-1\.6\.0\.13
pkgs/newrelic-1\.6\.0\.13\.tar\.gz
chromedriver.log
salad-test
ipython_input_log_history
.ipython_input_log_history
*.ipynb
**/ipython_input_log_history
web_root/csvs/*
web_root/uploads/*
web_root/images/sites/*
config/settings_local.py
config/local_untracked.py
config/settings/local_untracked.py
node_modules/*
web_root/CACHE
collected_static
celerybeat-schedule*
web_root/images/sites/*
media_root/*
media/*
bpd/data/untracked/*
bpd/data/epa*
bpd/data/BEDES*
**/*-old
lin/migrations/disabled
htmlcov/
src/
*node_modules*
bower_components/

docs/build/
dump.rdb
log
*.log
.tox
Vagrantfile
.vagrant*

# Ignore tmp test data
seed_api_test_seedhost.txt
seed/data_importer/tests/data/tmp_*
seed/data_importer/tests/data/~*
seed/tests/api/api_test_user.json
test.sqlite

# Ignore all protractor coverage
protractorReports/
protractorInstrumented/
protractorSaved/
protractorCoverage/
