.DS_Store
.cache
.env
.idea
.project
.pydevproject
.python-version
.coverage
coverage.protractor.json
.noseids
*~
*~$*
*.pyc
*.swp
*.swo
*.swn
seed_issues.csv
package-lock.json
web_root/css/compressed.*.css
web_root/js/compressed.*.js
web_root/collected_static
pkgs/newrelic-1\.6\.0\.13
pkgs/newrelic-1\.6\.0\.13\.tar\.gz
chromedriver.log
ipython_input_log_history
.ipython_input_log_history
*.ipynb
**/ipython_input_log_history
web_root/csvs/*
web_root/uploads/*
web_root/images/sites/*
config/settings_local.py
config/local_untracked.py
config/settings/local_untracked.py
config/settings/local_untracked.py.dist.*
node_modules/*
web_root/CACHE
collected_static
celerybeat-schedule*
web_root/images/sites/*
media/*
bpd/data/untracked/*
bpd/data/epa*
bpd/data/BEDES*
**/*-old
lin/migrations/disabled
htmlcov/
src/
node_modules/

# JetBrains tends to suggest a venv directory in the project root for virtual environments
venv/

dump.rdb
log/*.log
*.log
.tox

# Ignore tmp test data
seed_api_test_seedhost.txt
seed/data_importer/tests/data/tmp_*
seed/data_importer/tests/data/~*
seed/tests/api/api_test_user.json
seed/building_sync/tests/data/test_file.xml
test.sqlite

# Ignore all protractor coverage
protractorReports/
protractorInstrumented/
protractorSaved/
protractorCoverage/

docs/build/
docs/scripts/Gemfile.lock
docs/scripts/.python-version
docs/scripts/seed_issues.csv

lokalise.cfg
lokalise.yml

# Docker-based files
docker-compose.*.yml
!docker-compose.yml
!docker-compose.local.yml
!docker-compose.build.yml
!docker-compose.dev.yml

# generated files
/auto*.csv

