{
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 200
      }
    },
    {
      "files": "*.js",
      "options": {
        "printWidth": 200,
        "trailingComma": "none"
      }
    },
    {
      "files": "*.scss",
      "options": {
        "printWidth": 200
      }
    },
    {
      "files": ["*.yaml", "*.yml"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
