sudo: required
dist: trusty
group: deprecated-2017Q4
cache:
  directories:
    - node_modules
    - seed/static/vendors/bower_components
    - "$HOME/.pip-cache/"
    - "$HOME/.nvm"
    - ".tox"
language: python
python:
  - 2.7
addons:
  postgresql: '9.6'
  apt:
    packages:
      - enchant
      - google-chrome-stable
services:
  - docker
  - redis-server
  - postgresql
before_install:
  - sudo rm /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin
install:
  - pip install --upgrade pip
  - pip install tox==2.7.0
  - node --version
  - npm --version
  - npm install npm@latest -g
  - nvm install stable
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start &
  - sleep 3
  - psql -c "DROP DATABASE IF EXISTS seeddb;" -U postgres
  - psql -c "DROP DATABASE IF EXISTS test_seeddb;" -U postgres
  - mv config/settings/test_local_untracked.py config/settings/local_untracked.py
  - psql -c "CREATE DATABASE seeddb;" -U postgres
env:
  global:
    - DOCKER_COMPOSE_VERSION=1.16.0
    - DJANGO_SETTINGS_MODULE=config.settings.travis
    - DISPLAY=:99.0
    - COVERALLS_REPO_TOKEN=y8UqJm8Bri5ZP8hr3YZM3guBaUKpsfoCv
  matrix:
    - TOX_ENV=python
    - TOX_ENV=flake8
    - TOX_ENV=docs
    - TOX_ENV=functional
    - TOX_ENV=apitest
script:
  - tox -e $TOX_ENV
jobs:
  include:
    - stage: publish
      install: skip
      before_script: skip
      script: docker/travis_build_docker.sh
      env: DJANGO_SETTINGS_MODULE=config.settings.docker
