sudo: false

cache:
  directories: 
    - node_modules
    - seed/static/vendors/bower_components
    - $HOME/.pip-cache/

language: python

python:
  - 2.7

addons:
  postgresql: '9.4'

services:
  - redis-server

env:
  - DJANGO=1.7.9

before_install:
  - "export DJANGO_SETTINGS_MODULE=config.settings.travis"
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"

install:
  - pip install -r requirements/test.txt
  - pip install django==$DJANGO --quiet
  - pip install psycopg2 --quiet
  - pip install coveralls

before_script:
  - psql -c "create database seeddb;" -U postgres
  - ./bin/install_javascript_dependencies.sh
  - cp config/settings/local_untracked.py.dist config/settings/local_untracked.py

script:
  - coverage run manage.py test seed.tests.functional.test_firefox
  - coverage report -m

after_script:
  - coveralls

