sudo: false

cache:
  directories: 
    - node_modules
    - seed/static/vendors/bower_components
    - $HOME/.pip-cache/
    - $HOME/.nvm
    - .tox

language: python

python:
  - 2.7

addons:
  postgresql: '9.4'
  # Sauce credentials in Travis env vars
  sauce_connect: true
  apt_packages:
    - enchant

services:
  - redis-server
  - postgresql

env:
  global:
    - DJANGO_SETTINGS_MODULE=config.settings.travis
    - DISPLAY=:99.0
  matrix:
    - TOX_ENV=python
    - TOX_ENV=flake8
#    - TOX_ENV=functional
#    - TOX_ENV=apitest
    - TOX_ENV=spelling

install:
  - pip install --upgrade pip
  - pip install tox==2.3.2

before_script:
  - psql -c "create database seeddb;" -U postgres

script:
  - tox -e $TOX_ENV

after_script:
  - coveralls


