# This docker-compose version is the configuration when deploying SEED using the
# ./deploy.sh script. This file only builds what is needed for deploying locally.
version: '3.4'
services:
  db-postgres:
    container_name: seed_postgres
    image: timescale/timescaledb-postgis:latest-pg12
  db-redis:
    container_name: seed_redis
    image: redis:5.0.1
  web:
    container_name: seed_web
    image: seedplatform/seed:latest
    build: .
  web-celery:
    container_name: seed_celery
    image: seedplatform/seed:latest
    build: .
  oep-city:
    container_name: seed_oep
    image: seedplatform/oep:2.0
    depends_on:
      - web
volumes:
  seed_pgdata:
    external: true
  seed_media:
    external: true

