<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>SEED JS Spec Runner</title>

    <link href="{{STATIC_URL}}vendors/bower_components/jasmine-core/lib/jasmine-core/jasmine.css" rel="stylesheet" type="text/css">
    <script src="{{STATIC_URL}}vendors/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="{{STATIC_URL}}vendors/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="{{STATIC_URL}}vendors/bower_components/jasmine-core/lib/jasmine-core/jasmine.js"></script>
    <script src="{{STATIC_URL}}vendors/bower_components/jasmine-core/lib/jasmine-core/jasmine-html.js"></script>

    <script src="{{STATIC_URL}}vendors/bower_components/angular/angular.js"></script>
    <script src="{{STATIC_URL}}vendors/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="{{STATIC_URL}}vendors/bower_components/angular-mocks/angular-mocks.js"></script>

    <script src="{{STATIC_URL}}vendors/bower_components/lodash/dist/lodash.min.js"></script>
    <script src="{{STATIC_URL}}vendors/bower_components/spin.js/spin.min.js"></script>

    <script src="{{STATIC_URL}}vendors/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="{{STATIC_URL}}vendors/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="{{STATIC_URL}}vendors/bower_components/angular-ui-router.stateHelper/statehelper.min.js"></script>
    <script src="{{STATIC_URL}}vendors/bower_components/angular-ui-tree/dist/angular-ui-tree.min.js"></script>
    <script src="{{STATIC_URL}}vendors/bower_components/angular-ui-sortable/sortable.min.js"></script>

    <script src="{{STATIC_URL}}vendors/bower_components/angular-ui-grid/ui-grid.min.js"></script>
    <script src="{{STATIC_URL}}vendors/bower_components/ui-grid-draggable-rows/js/draggable-rows.js"></script>


    <script src="{{STATIC_URL}}vendors/bower_components/fine-uploader/_build/s3.fineuploader.js" ></script>
    <script src="{{STATIC_URL}}vendors/bower_components/moment/min/moment.min.js"></script>


    <script src="{{STATIC_URL}}vendors/bower_components/angular-xeditable/dist/js/xeditable.min.js"></script>
    <script src="{{STATIC_URL}}vendors/bower_components/ng-tags-input/ng-tags-input.js"></script>
    <script src="{{STATIC_URL}}vendors/bower_components/angular-ui-notification/dist/angular-ui-notification.js"></script>

    <script src="{{STATIC_URL}}vendors/bower_components/angular-dragula/dist/angular-dragula.min.js"></script>
    <script src="{{STATIC_URL}}vendors/bower_components/ng-focus-if/focusIf.min.js"></script>

    <!-- include source files here... -->
    {% include "seed/_js_urls.html" %}

    {# all SEED js files #}
    {% include "seed/_scripts.html" %}



    <script src="{{STATIC_URL}}seed/tests/admin_controller.spec.js"></script>
    <script src="{{STATIC_URL}}seed/tests/concat_controller.spec.js"></script>
    <script src="{{STATIC_URL}}seed/tests/create_sub_organization_modal_controller.spec.js"></script>
    <script src="{{STATIC_URL}}seed/tests/data_upload_modal_controller.spec.js"></script>
    <script src="{{STATIC_URL}}seed/tests/data_quality_admin_controller.spec.js"></script>
    <script src="{{STATIC_URL}}seed/tests/dataset_detail_controller.spec.js"></script>
    <script src="{{STATIC_URL}}seed/tests/dataset_list_controller.spec.js"></script>
    <script src="{{STATIC_URL}}seed/tests/district.spec.js"></script>
    <script src="{{STATIC_URL}}seed/tests/export_modal_controller.spec.js"></script>
    <script src="{{STATIC_URL}}seed/tests/fromNow.spec.js"></script>
    <script src="{{STATIC_URL}}seed/tests/ignoremap.spec.js"></script>
    <script src="{{STATIC_URL}}seed/tests/inventory_detail_controller.spec.js"></script>
    <script src="{{STATIC_URL}}seed/tests/mapping_controller.spec.js"></script>
    <script src="{{STATIC_URL}}seed/tests/matching_list_controller.spec.js"></script>
    <script src="{{STATIC_URL}}seed/tests/matching_detail_controller.spec.js"></script>
    <script src="{{STATIC_URL}}seed/tests/members_controller.spec.js"></script>
    <script src="{{STATIC_URL}}seed/tests/menu_controller.spec.js"></script>
    <script src="{{STATIC_URL}}seed/tests/new_member_modal_controller.spec.js"></script>
    <script src="{{STATIC_URL}}seed/tests/property_detail_controller.spec.js"></script>
    <script src="{{STATIC_URL}}seed/tests/sdLabel.spec.js"></script>
    <script src="{{STATIC_URL}}seed/tests/sdUploader.spec.js"></script>
    <script src="{{STATIC_URL}}seed/tests/search_service.spec.js"></script>
    <script src="{{STATIC_URL}}seed/tests/settings_controller.spec.js"></script>
    <script src="{{STATIC_URL}}seed/tests/stripImportPrefix.spec.js"></script>
    <script src="{{STATIC_URL}}seed/tests/taxlot_detail_controller.spec.js"></script>
    <script src="{{STATIC_URL}}seed/tests/titleCase.spec.js"></script>
    <script src="{{STATIC_URL}}seed/tests/typedNumber.spec.js"></script>
    <script src="{{STATIC_URL}}seed/tests/update_item_labels_controller.spec.js"></script>
    <script src="{{STATIC_URL}}seed/tests/validators.spec.js"></script>

    <script src="{{STATIC_URL}}seed/tests/run_jasmine.js"></script>

</head>

<body>
</body>
</html>
