{% load i18n %}
<div class="browser_unsupported">
    <div class="browser_unsupported_message">
        <h2>{% trans "We've detected an outdated browser." %}</h2>
        <div class="message_text">{% trans "Using your current browser will prevent you from accessing features on our website. Use the links below to download a new browser or upgrade your existing browser." %}</div>
    </div>
    <div class="browser_download_links">
        <a href="https://www.google.com/intl/en/chrome/browser/" target="_blank" rel="noopener noreferrer" class="browser_option chrome">
            <div class="browser_name">Chrome</div>
        </a>
        <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank" rel="noopener noreferrer" class="browser_option firefox">
            <div class="browser_name">Firefox</div>
        </a>
        <a href="http://www.apple.com/safari/" target="_blank" rel="noopener noreferrer" class="browser_option safari">
            <div class="browser_name">Safari</div>
        </a>
        <a href="http://windows.microsoft.com/en-us/internet-explorer/downloads/ie-9/worldwide-languages" target="_blank" rel="noopener noreferrer" class="browser_option ie">
            <div class="browser_name">IE9+</div>
        </a>
    </div>
</div>
