<div class="section_marketing">
    <h1>Welcome to SEED Platform&#0153;</h1>
    <div class="marketing_text">
        <div class="bullet"><div></div></div>
        <div class="bullet_text">
            Get started using SEED Platform by uploading your buildings list (city tax assessor data) and then your EPA Portfolio Manager data.
        </div>
    </div>
    <div class="marketing_text">
        <div class="bullet"><div></div></div>
        <div class="bullet_text">
            Match-up your buildings list with the Portfolio Manager dataset to tie building records together.
        </div>
    </div>
    <div class="marketing_text">
        <div class="bullet"><div></div></div>
        <div class="bullet_text">
            Use SEED Platform's flexible, easy-to-use labeling system and project groupings to track the status of data submission, review, and compliance.
        </div>
    </div>
    <!--<div id="powered_by_seed" class="powered_by_seed">
        <div class="powered_by">Powered by:</div>
        <div class="logo_seed">
            <img src="{{STATIC_URL}}seed/images/DOE-SEED-Logo_v4.jpg" alt="SEED Platform" title="SEED Platform" height="60" onerror="hidePoweredBy(this);">
        </div>
    </div>-->
</div>

<!--<script>
    function hidePoweredBy(image){
        $("#powered_by_seed").hide();
    }
</script>-->