{% load i18n %}
<div class="section_marketing">
    <h1>{% trans "Welcome to SEED Platform™" %}</h1>
    <div class="marketing_text">
        <div class="bullet">
            <div></div>
        </div>
        <div class="bullet_text">
            {% blocktrans trimmed %}
                MARKETING_BULLET_1
            {% endblocktrans %}
        </div>
    </div>
    <div class="marketing_text">
        <div class="bullet">
            <div></div>
        </div>
        <div class="bullet_text">
            {% blocktrans trimmed %}
                MARKETING_BULLET_2
            {% endblocktrans %}
        </div>
    </div>
    <div class="marketing_text">
        <div class="bullet">
            <div></div>
        </div>
        <div class="bullet_text">
            {% blocktrans trimmed %}
                MARKETING_BULLET_3
            {% endblocktrans %}
        </div>
    </div>
</div>
