{% extends "seed/base.html" %}
{% load compress %}
{% load i18n %}

{% block css %}
  {% compress css file landing %}
    {% include "seed/_fonts.html" %}
    <link href="{{ STATIC_URL }}node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}landing/scss/landing.scss" rel="stylesheet" type="text/x-scss">
  {% endcompress %}
{% endblock %}
{% block title %}
  {% trans "SEED Platform™" %}
{% endblock %}

{% block js %}
  {{ block.super }}
{% endblock %}

{% block body %}
  {% block content %}{% endblock %}
{% endblock %}
