{% extends "landing/base.html" %}{% load compress %}{% load i18n %}
{% block js %}{{ block.super }}
    <script type="text/javascript">

        $(document).ready(function () {
            $('#id_new_password1').focus();
            $('#id_new_password1').attr('placeholder', '{% trans "Password" %}');
            $('#id_new_password2').attr('placeholder', '{% trans "Password again" %}');

        });
    </script>
{% endblock %}
{% block content %}
    <div class="page login">
        <div class="page_section">
            {% include "landing/_marketing_bullets.html" %}
            <!-- END .section_marketing -->
            <div class="section_forms">
                <div class="form_title">
                    <h2>{% trans "Create Your Account" %}</h2>
                    <form id="AuthNewPassword" class="signup_form" action="" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <p>
                                {{ field.label_tag }}<br>
                                {{ field }}
                            </p>
                        {% endfor %}
                        <div>
                            <input class="btn btn-primary" type="submit"
                                   value="{% block password_submit %}{% trans "Create my account" %}{% endblock %}">
                            <a href="{% url "landing:landing_page" %}" type="submit"
                               class="btn btn-cancel">{% trans "Cancel" %}</a>
                        </div>
                    </form>
                    {% include "landing/_password_note.html" %}
                </div>
            </div>
            <!-- END .section_forms -->
        </div>
        <!-- END .page_section .content -->
    </div>
    <!-- END .page -->
{% endblock %}
