{% extends "landing/base.html" %}{% load compress %}{% load i18n %}

{% block content %}
  <div class="page">
    <div class="page_section">
      {% include "landing/_marketing_bullets.html" %}

      <div class="section_forms">
        <div class="clearfix"></div>
        <div class="form_title">
          <h2>{% trans "Log in to SEED Platform™" %}</h2>
            <div class="login-or-create">
              <div>
                <p>Existing account?</p>
                <a href="{% url "landing:login" %}" class="btn btn-primary login-btn">{% trans "Sign in" %}</a>
              </div>
              {% if context.self_registration %}  
              <div>
                <a class="create_account btn btn-default login-btn" href="{% url "landing:create_account" %}">{% trans "Create my Account" %}</a>
              </div>
              {% endif%}
            </div>

          </form>
        </div>
      </div>
      <!-- END .section_forms -->
    </div>
    <!-- END .page_section .content -->

  </div>
  <!-- END .page -->
{% endblock %}
{% block js %}
  <script>
    function toggleTerms () {
      const terms = document.getElementById('terms-and-conditions');
      const hidden = ['', 'none'].includes(terms.style.display);
      terms.style.display = hidden ? 'block' : 'none';
    }
  </script>
{% endblock %}
