{% load i18n %}{% autoescape off %}
{% trans "You're receiving this e-mail because your password was reset" %}
{% blocktrans %}for your SEED Platform™ user account{% endblocktrans %}.

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.email }}

{% blocktrans %}The SEED team{% endblocktrans %}

{% endautoescape %}
