{% extends 'landing/password_reset_confirm.html' %}
{% load i18n %}

{% load breadcrumbs %}

{% block title %}Password set{% endblock %}

{% block breadcrumbs %}
{% if validlink %}
{% breadcrumb_root "Set your password" %}
{% else %}
{% breadcrumb_root "Password set unsuccessful" %}
{% endif %}
{% endblock breadcrumbs %}

{% block password_set_instructions %}Welcome to SEED!<br><br>Please enter your new password twice so we can verify you typed it in correctly.{% endblock %}

{% block password_submit %}Set password{% endblock %}
