<div id="building-list-table" class="table_list_container">
    <table class="resizable table sortable" id="verify-mapping-table">
        <thead>
            <tr>
                <th sd-resizable ng-repeat="c in columns track by $index" >{$ c $}</span>
                </th>
            </tr>
        </thead>
        <tbody ng-repeat="o in objects" style="border: none;">
        <!-- Looping tbody is awful but angular isn't giving me a better way. -->
            <tr>
                <td ng-repeat="c in columns track by $index">
                    <span>
                        {$ o.state[c] $}
                    </span>
                </td>
            </tr>
            <tr ng-repeat="r in o.related " bgcolor="#EFEFEF">
                <td ng-repeat="c in columns track by $index">
                    <span>
                        {$ r[c] $}
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="table_footer">
    <div class="display_number_entries col-sm-3 col-md-3">
         <div class="display_number_entries_text">Display:</div>
         <div class="display_number_entries_select">
            <select class="form-control input-sm col-xs-2" name="number_per_page_select" id="number_per_page_select" ng-options="number_per_page_option for number_per_page_option in number_per_page_options" ng-model="number_per_page" ng-change="update_number_per_page(number_per_page)">
            </select>
        </div>
        <div class="display_number_entries_text">
            <span ng-show="object == 'property'">properties</span>
            <span ng-show="object == 'taxlot'">tax lots</span>
        </div>
    </div>
    <div class="counts col-sm-4 col-md-4">
        <span>Showing {$ pagination.start | number:0 $} to {$ pagination.end | number:0 $} of {$ pagination.total | number:0 $} </span>
        <span ng-show="object == 'property'">properties</span>
        <span ng-show="object == 'taxlot'">tax lots</span>
    </div>
    <div class="pager_container col-sm-5 col-md-5">
        <ul class="pager">
            <li ng-class="{disabled: !pagination.has_previous}"><a ng-click="pagination_first()"><i class="fa fa-angle-double-left"></i> First Record</a></li>
            <li ng-class="{disabled: !pagination.has_previous}"><a ng-click="pagination_previous()"><i class="fa fa-angle-left"></i> Previous</a></li>

            <li ng-class="{disabled: !pagination.has_next}"><a ng-click="pagination_next()">Next <i class="fa fa-angle-right"></i></a></li>
            <li ng-class="{disabled: !pagination.has_next}"><a ng-click="pagination_last()">Last Record <i class="fa fa-angle-double-right"></i></a></li>
        </ul>
    </div>
</div>
