<div id="building-list-table" class="table_list_container">
    <table class="resizable table table-striped sortable" id="verify-mapping-table">
        <thead>
            <tr>
                <th sd-resizable ng-repeat="c in columns" >{$ c $}</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="o in objects">
                <td ng-repeat="c in columns">
                    <span>
                        {$ o.state[c] $}
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="table_footer">
    <div class="display_number_entries col-sm-3 col-md-3">
         <div class="display_number_entries_text">Display:</div>
         <div class="display_number_entries_select">
            <select class="form-control input-sm col-xs-2" name="number_per_page_select" id="number_per_page_select" ng-options="number_per_page_option for number_per_page_option in search.number_per_page_options" ng-model="search.number_per_page_options_model" ng-change="search.update_number_per_page()">
            </select>
        </div>
        <div class="display_number_entries_text">buildings</div>
    </div>
    <div class="counts col-sm-4 col-md-4">
        <span>Showing {$ search.showing.start | number:0 $} to {$ search.showing.end | number:0 $} of {$ search.number_matching_search | number:0 $} buildings</span>
    </div>
    <div class="pager_container col-sm-5 col-md-5">
        <ul class="pager">
            <li ng-class="{disabled: search.prev_page_disabled}"><a ng-click="search.first_page()"><i class="fa fa-angle-double-left"></i> First Record</a></li>
            <li ng-class="{disabled: search.prev_page_disabled}"><a ng-click="search.prev_page()"><i class="fa fa-angle-left"></i> Previous</a></li>

            <li ng-class="{disabled: search.next_page_disabled}"><a ng-click="search.next_page()">Next <i class="fa fa-angle-right"></i></a></li>
            <li ng-class="{disabled: search.next_page_disabled}"><a ng-click="search.last_page()">Last Record <i class="fa fa-angle-double-right"></i></a></li>
        </ul>
    </div>
</div>
