<link href="{{ STATIC_URL }}node_modules/@fontsource/pt-sans-narrow/400.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_URL }}node_modules/@fontsource/pt-sans-narrow/700.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_URL }}node_modules/@fontsource/pt-sans/400.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_URL }}node_modules/@fontsource/pt-sans/700.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_URL }}node_modules/@fortawesome/fontawesome-free/css/all.css" rel="stylesheet" type="text/css"/>
