{% load app_urls %}
<script>
        // config URLs
        window.BE = window.BE || {};
        // new URLs
        window.BE.app_urls = {% namespaced_urls %};
        window.BE.app_urls.STATIC_URL = "{{ STATIC_URL }}";

        // old URLs
        window.BE.urls = window.BE.urls || {};
        // static URLs
        window.BE.urls.STATIC_URL = "{{ STATIC_URL }}";

        window.BE.urls.get_building_url = '{% url "seed:get_building" %}';
        window.BE.urls.get_total_number_of_buildings_for_user_url = '{% url "seed:get_total_number_of_buildings_for_user" %}';
        window.BE.urls.search_buildings_url = '{% url "seed:search_buildings" %}';
        window.BE.urls.save_match_url = '{% url "seed:save_match" %}';
        window.BE.urls.get_columns_url = '{% url "seed:get_columns" %}';
        window.BE.urls.delete_duplicates_from_import_file_url = '{% url "seed:delete_duplicates_from_import_file" %}';
        window.BE.urls.seed_home = '{% url "seed:home" %}';

        window.BE.urls.delete_file      = '{% url "seed:delete_file" %}';

        // Reports URLS
        window.BE.urls.get_inventory_report_data             = '{% url "app:property_report_data" %}';
        window.BE.urls.get_aggregated_inventory_report_data  = '{% url "app:aggregated_property_report_data" %}';

        // uploader URLs
        window.BE.urls.remap_buildings          = '{% url "seed:remap_buildings" %}';

        // export URLs
        window.BE.urls.export_buildings             = '{% url "seed:export_buildings" %}';
        window.BE.urls.export_buildings_progress    = '{% url "seed:export_buildings_progress" %}';
        window.BE.urls.export_buildings_download    = '{% url "seed:export_buildings_download" %}';

        // org
        window.BE.urls.delete_organization_buildings = '{% url "seed:delete_organization_buildings" %}';
        window.BE.urls.delete_organization_inventory = '{% url "seed:delete_organization_inventory" %}';

</script>
