{% load compress %}
{% compress js %}
<script src="{{STATIC_URL}}seed/js/seed.js"></script>

<script src="{{STATIC_URL}}seed/js/decorators/ui-grid.js"></script>

<script src="{{STATIC_URL}}seed/js/filters/district.js"></script>
<script src="{{STATIC_URL}}seed/js/filters/fromNow.js"></script>
<script src="{{STATIC_URL}}seed/js/filters/ignoremap.js"></script>
<script src="{{STATIC_URL}}seed/js/filters/stripImportPrefix.js"></script>
<script src="{{STATIC_URL}}seed/js/filters/titleCase.js"></script>
<script src="{{STATIC_URL}}seed/js/filters/typedNumber.js"></script>

<script src="{{STATIC_URL}}seed/js/directives/sdBasicBuildingInfoChart.js"></script>
<script src="{{STATIC_URL}}seed/js/directives/sdBasicPropertyInfoChart.js"></script>
<script src="{{STATIC_URL}}seed/js/directives/sdCheckCycleExists.js"></script>
<script src="{{STATIC_URL}}seed/js/directives/sdCheckLabelExists.js"></script>
<script src="{{STATIC_URL}}seed/js/directives/sdDropdown.js"></script>
<script src="{{STATIC_URL}}seed/js/directives/sdEnter.js"></script>
<script src="{{STATIC_URL}}seed/js/directives/sdLabel.js"></script>
<script src="{{STATIC_URL}}seed/js/directives/sdResizable.js"></script>
<script src="{{STATIC_URL}}seed/js/directives/sdUploader.js"></script>

<script src="{{STATIC_URL}}seed/js/controllers/about_controller.js"></script>
<script src="{{STATIC_URL}}seed/js/controllers/accounts_controller.js"></script>
<script src="{{STATIC_URL}}seed/js/controllers/admin_controller.js"></script>
<script src="{{STATIC_URL}}seed/js/controllers/api_controller.js"></script>
<script src="{{STATIC_URL}}seed/js/controllers/building_list_controller.js"></script>
<script src="{{STATIC_URL}}seed/js/controllers/buildings_settings_controller.js"></script>
<script src="{{STATIC_URL}}seed/js/controllers/cleansing_admin_controller.js"></script>
<script src="{{STATIC_URL}}seed/js/controllers/cleansing_controller.js"></script>
<script src="{{STATIC_URL}}seed/js/controllers/concat_modal_controller.js"></script>
<script src="{{STATIC_URL}}seed/js/controllers/create_note_modal_controller.js"></script>
<script src="{{STATIC_URL}}seed/js/controllers/create_organization_modal_controller.js"></script>
<script src="{{STATIC_URL}}seed/js/controllers/cycle_admin_controller.js"></script>
<script src="{{STATIC_URL}}seed/js/controllers/data_upload_modal_controller.js"></script>
<script src="{{STATIC_URL}}seed/js/controllers/dataset_detail_controller.js"></script>
<script src="{{STATIC_URL}}seed/js/controllers/dataset_list_controller.js"></script>
<script src="{{STATIC_URL}}seed/js/controllers/delete_modal_controller.js"></script>
<script src="{{STATIC_URL}}seed/js/controllers/developer_controller.js"></script>
<script src="{{STATIC_URL}}seed/js/controllers/edit_project_modal_controller.js"></script>
<script src="{{STATIC_URL}}seed/js/controllers/export_inventory_modal_controller.js"></script>
<script src="{{STATIC_URL}}seed/js/controllers/export_modal_controller.js"></script>
<script src="{{STATIC_URL}}seed/js/controllers/inventory_detail_controller.js"></script>
<script src="{{STATIC_URL}}seed/js/controllers/inventory_detail_settings_controller.js"></script>
<script src="{{STATIC_URL}}seed/js/controllers/inventory_list_controller.js"></script>
<script src="{{STATIC_URL}}seed/js/controllers/inventory_reports_controller.js"></script>
<script src="{{STATIC_URL}}seed/js/controllers/inventory_settings_controller.js"></script>
<script src="{{STATIC_URL}}seed/js/controllers/label_admin_controller.js"></script>
<script src="{{STATIC_URL}}seed/js/controllers/mapping_controller.js"></script>
<script src="{{STATIC_URL}}seed/js/controllers/pairing_controller.js"></script>
<script src="{{STATIC_URL}}seed/js/controllers/matching_controller.js"></script>
<script src="{{STATIC_URL}}seed/js/controllers/matching_detail_controller.js"></script>
<script src="{{STATIC_URL}}seed/js/controllers/members_controller.js"></script>
<script src="{{STATIC_URL}}seed/js/controllers/menu_controller.js"></script>
<script src="{{STATIC_URL}}seed/js/controllers/new_member_modal_controller.js"></script>
<script src="{{STATIC_URL}}seed/js/controllers/organization_controller.js"></script>
<script src="{{STATIC_URL}}seed/js/controllers/profile_controller.js"></script>
<script src="{{STATIC_URL}}seed/js/controllers/project_list_controller.js"></script>
<script src="{{STATIC_URL}}seed/js/controllers/security_controller.js"></script>
<script src="{{STATIC_URL}}seed/js/controllers/settings_controller.js"></script>
<script src="{{STATIC_URL}}seed/js/controllers/update_item_labels_modal_controller.js"></script>

<script src="{{STATIC_URL}}seed/js/services/audit_service.js"></script>
<script src="{{STATIC_URL}}seed/js/services/auth_service.js"></script>
<script src="{{STATIC_URL}}seed/js/services/building_service.js"></script>
{% comment %}
<script src="{{STATIC_URL}}seed/js/services/buildings_reports_service.js"></script> -->
{% endcomment %}
<script src="{{STATIC_URL}}seed/js/services/cleansing_service.js"></script>
<script src="{{STATIC_URL}}seed/js/services/cycle_service.js"></script>
<script src="{{STATIC_URL}}seed/js/services/dataset_service.js"></script>
<script src="{{STATIC_URL}}seed/js/services/export_service.js"></script>
<script src="{{STATIC_URL}}seed/js/services/http_serializer.js"></script>
<script src="{{STATIC_URL}}seed/js/services/inventory_reports_service.js"></script>
<script src="{{STATIC_URL}}seed/js/services/inventory_service.js"></script>
<script src="{{STATIC_URL}}seed/js/services/label_helper_service.js"></script>
<script src="{{STATIC_URL}}seed/js/services/label_service.js"></script>
<script src="{{STATIC_URL}}seed/js/services/main_service.js"></script>
<script src="{{STATIC_URL}}seed/js/services/mapping_service.js"></script>
<script src="{{STATIC_URL}}seed/js/services/matching_service.js"></script>
<script src="{{STATIC_URL}}seed/js/services/organization_service.js"></script>
<script src="{{STATIC_URL}}seed/js/services/project_service.js"></script>
<script src="{{STATIC_URL}}seed/js/services/search_service.js"></script>
<script src="{{STATIC_URL}}seed/js/services/simple_modal_service.js"></script>
<script src="{{STATIC_URL}}seed/js/services/uploader_service.js"></script>
<script src="{{STATIC_URL}}seed/js/services/user_service.js"></script>
<script src="{{STATIC_URL}}seed/js/services/validators.js"></script>

<script src="{{STATIC_URL}}seed/js/utilities/spinner.js"></script>

{% endcompress %}

{% comment %}
{# minified using: uglifyjs ./*.js --source-map app.min.js.map -o app.min.js -m c #}
        <script src="{{STATIC_URL}}seed/js/app.min.js"></script>
        <script src="{{STATIC_URL}}seed/js/app.min.js.map"></script>
{% endcomment %}
