        {% load compress %}
        {% compress js %}
        <script src="{{STATIC_URL}}seed/js/seed.js"></script>

        <script src="{{STATIC_URL}}seed/js/constants.js"></script>

        <script src="{{STATIC_URL}}seed/js/decorators/ui-grid.js"></script>

        <script src="{{STATIC_URL}}seed/js/filters/district.js"></script>
        <script src="{{STATIC_URL}}seed/js/filters/fromNow.js"></script>
        <script src="{{STATIC_URL}}seed/js/filters/getAnalysisRunAuthor.js"></script>
        <script src="{{STATIC_URL}}seed/js/filters/ignoremap.js"></script>
        <script src="{{STATIC_URL}}seed/js/filters/startFrom.js"></script>
        <script src="{{STATIC_URL}}seed/js/filters/stripImportPrefix.js"></script>
        <script src="{{STATIC_URL}}seed/js/filters/titleCase.js"></script>
        <script src="{{STATIC_URL}}seed/js/filters/typedNumber.js"></script>

        <script src="{{STATIC_URL}}seed/js/directives/sdBasicPropertyInfoChart.js"></script>
        <script src="{{STATIC_URL}}seed/js/directives/sdCheckCycleExists.js"></script>
        <script src="{{STATIC_URL}}seed/js/directives/sdCheckLabelExists.js"></script>
        <script src="{{STATIC_URL}}seed/js/directives/sdDropdown.js"></script>
        <script src="{{STATIC_URL}}seed/js/directives/sdEnter.js"></script>
        <script src="{{STATIC_URL}}seed/js/directives/sdLabel.js"></script>
        <script src="{{STATIC_URL}}seed/js/directives/sdResizable.js"></script>
        <script src="{{STATIC_URL}}seed/js/directives/sdScrollSync.js"></script>
        <script src="{{STATIC_URL}}seed/js/directives/sdUploader.js"></script>

        <script src="{{STATIC_URL}}seed/js/controllers/about_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/accounts_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/admin_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/analyses_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/analysis_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/analysis_run_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/api_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/column_mapping_profile_modal_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/column_mappings_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/column_settings_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/confirm_column_settings_modal_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/create_sub_organization_modal_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/cycle_admin_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/data_quality_admin_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/data_quality_modal_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/data_quality_labels_modal_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/data_upload_modal_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/dataset_detail_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/dataset_list_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/delete_column_modal_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/delete_cycle_modal_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/delete_dataset_modal_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/delete_file_modal_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/delete_modal_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/delete_user_modal_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/developer_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/export_buildingsync_modal_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/export_report_modal_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/export_inventory_modal_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/geocode_modal_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/green_button_upload_modal_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/inventory_cycles_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/inventory_detail_analyses_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/inventory_detail_analyses_modal_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/inventory_detail_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/inventory_detail_cycles_controller.js"></script>

        <script src="{{STATIC_URL}}seed/js/controllers/inventory_detail_settings_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/inventory_detail_notes_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/inventory_detail_notes_modal_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/inventory_detail_meters_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/inventory_list_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/inventory_map_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/inventory_reports_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/inventory_settings_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/label_admin_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/mapping_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/members_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/menu_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/merge_modal_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/modified_modal_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/new_member_modal_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/organization_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/organization_settings_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/organization_sharing_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/pairing_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/pairing_settings_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/profile_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/record_match_merge_link_modal_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/rename_column_modal_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/reset_modal_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/security_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/settings_profile_modal_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/show_populated_columns_modal_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/ubid_modal_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/unmerge_modal_controller.js"></script>
        <script src="{{STATIC_URL}}seed/js/controllers/update_item_labels_modal_controller.js"></script>

        <script src="{{STATIC_URL}}seed/js/services/analyses_service.js"></script>
        <script src="{{STATIC_URL}}seed/js/services/auth_service.js"></script>
        <script src="{{STATIC_URL}}seed/js/services/column_mappings_service.js"></script>
        <script src="{{STATIC_URL}}seed/js/services/columns_service.js"></script>
        <script src="{{STATIC_URL}}seed/js/services/cycle_service.js"></script>
        <script src="{{STATIC_URL}}seed/js/services/data_quality_service.js"></script>
        <script src="{{STATIC_URL}}seed/js/services/dataset_service.js"></script>
        <script src="{{STATIC_URL}}seed/js/services/meter_service.js"></script>
        <script src="{{STATIC_URL}}seed/js/services/flippers.js"></script>
        <script src="{{STATIC_URL}}seed/js/services/geocode_service.js"></script>
        <script src="{{STATIC_URL}}seed/js/services/http_serializer.js"></script>
        <script src="{{STATIC_URL}}seed/js/services/inventory_reports_service.js"></script>
        <script src="{{STATIC_URL}}seed/js/services/inventory_service.js"></script>
        <script src="{{STATIC_URL}}seed/js/services/label_service.js"></script>
        <script src="{{STATIC_URL}}seed/js/services/main_service.js"></script>
        <script src="{{STATIC_URL}}seed/js/services/mapping_service.js"></script>
        <script src="{{STATIC_URL}}seed/js/services/matching_service.js"></script>
        <script src="{{STATIC_URL}}seed/js/services/meters_service.js"></script>
        <script src="{{STATIC_URL}}seed/js/services/modified_service.js"></script>
        <script src="{{STATIC_URL}}seed/js/services/note_service.js"></script>
        <script src="{{STATIC_URL}}seed/js/services/organization_service.js"></script>
        <script src="{{STATIC_URL}}seed/js/services/pairing_service.js"></script>
        <script src="{{STATIC_URL}}seed/js/services/search_service.js"></script>
        <script src="{{STATIC_URL}}seed/js/services/simple_modal_service.js"></script>
        <script src="{{STATIC_URL}}seed/js/services/ubid_service.js"></script>
        <script src="{{STATIC_URL}}seed/js/services/uploader_service.js"></script>
        <script src="{{STATIC_URL}}seed/js/services/user_service.js"></script>

        <script src="{{STATIC_URL}}seed/js/utilities/spinner.js"></script>

        {% endcompress %}

        {% comment %}
        {# minified using: uglifyjs ./*.js --source-map app.min.js.map -o app.min.js -m c #}
                <script src="{{STATIC_URL}}seed/js/app.min.js"></script>
                <script src="{{STATIC_URL}}seed/js/app.min.js.map"></script>
        {% endcomment %}
