{% load compress %}
{# requires seed_menu_controller angularjs controller and menu_controller.js #}
    <div ng-class="{expanded: expanded_controller, collapsed: collapsed_controller, sidebar: true, hide_transition:is_initial_state}">
        <div class="menu" ng-click="reset_search_field()">
            <a ng-class="{item: true, active: is_active('/profile')}" href="{% url "seed:home" %}#/profile">
                <div class="icon"><i class="fa fa-cog"></i></div>
                <div ng-show="!is_initial_state()" class="item_name">{$ username $}</div>
                <div ng-show="!is_initial_state()" class="badge badge_menu" ng-click="href('{% url "landing:logout" %}')">Log Out</div>
            </a>
            <div class="divider"></div>
            <a ng-class="{item: true, active: is_active('/projects')}" href="{% url "seed:home" %}#/projects">
                <div class="icon"><i class="fa fa-folder-o"></i></div>
                <div ng-show="!is_initial_state()" class="item_name">Projects</div>
                <div ng-show="!is_initial_state()" class="badge badge_menu">{$ projects_count | number:0 $}</div>
            </a>
            <a ng-class="{item: true, active: is_active('/buildings')}" href="{% url "seed:home" %}#/buildings">
                <div class="icon"><i class="fa fa-building-o"></i></div>
                <div ng-show="!is_initial_state()" class="item_name">Buildings</div>
                <div ng-show="!is_initial_state()" class="badge badge_menu">{$ buildings_count | number:0 $}</div>
            </a>
            <a ng-class="{item: true, active: is_active('/data')}" href="{% url "seed:home" %}#/data" ng-show="menu.user.organization.user_role !== 'viewer'">
                <div class="icon"><i class="fa fa-sitemap"></i></div>
                <div ng-show="!is_initial_state()" class="item_name">Data</div>
                <div ng-show="!is_initial_state()" class="badge badge_menu">{$ datasets_count | number:0 $}</div>
            </a>
            <a ng-class="{item: true, active: is_active('/accounts')}" href="{% url "seed:home" %}#/accounts">
                <div class="icon"><i class="fa fa-users"></i></div>
                <div ng-show="!is_initial_state()" class="item_name">Organizations</div>
                <div ng-show="!is_initial_state()" class="badge badge_menu">{$ organizations_count | number:0 $}</div>
            </a>
            <div class="divider"></div>
            <a ng-class="{item: true, active: is_active('/feedback')}" href="{% url "seed:home" %}#/feedback">
                <div class="icon"><i class="fa fa-certificate"></i></div>
                <div ng-show="!is_initial_state()" class="item_name">Contact</div>
            </a>
            <a ng-class="{item: true, active: is_active('/about')}" href="{% url "seed:home" %}#/about">
                <div class="icon"><i class="fa fa-info-circle"></i></div>
                <div ng-show="!is_initial_state()" class="item_name">About</div>
            </a>
        </div>
    </div>
