{% load i18n %}{% autoescape off %}
{% blocktrans %}Hello {{first_name}}, {% endblocktrans %}

{% trans "You're receiving this e-mail because you've been registered for a SEED account." %}

{% blocktrans %}SEED is easy, flexible, and cost effective software designed to help organizations clean, manage and share information about large portfolios of buildings. SEED is a free, open source web application that you can use privately.  While SEED was originally designed to help cities and States implement benchmarking programs for public or private buildings, it has the potential to be useful for many other activities by public entities, efficiency programs and private companies.{% endblocktrans %}

{% trans "Please go to the following page and setup your account:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{{signup_url}}
{% endblock %}

{% blocktrans %}The SEED Team{% endblocktrans %}

{% endautoescape %}
