{% load compress analytical %}
<!DOCTYPE html>
<html>
    <head>
    {% analytical_head_top %}

        <title>{% block title %}SEED Platform&#0153;{% endblock title %}</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <!--[if lt IE 8]>
            <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>

            <style>
             .chromeFrameInstallDefaultStyle {
               border: 2px solid blue;
               padding: 5px;
               z-index: 999999;
             }
            </style>

            <script>
             // The conditional ensures that this code will only execute in IE,
             // Therefore we can use the IE-specific attachEvent without worry
             window.attachEvent("onload", function() {
               CFInstall.check({
                 mode: "inline", // the default
                 node: "prompt"
               });
             });
            </script>
        <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	{# <link rel="Shortcut Icon" href="PATH_TO_FAVICON.ico" type="image/x-icon" /> #}
        <link href="//fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Sans+Narrow:400,700" rel="stylesheet" type="text/css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
        <link href="{{STATIC_URL}}vendors/angular-ui-tree/angular-ui-tree.min.css" rel="stylesheet" type="text/css" />

        {% block css %}{{block.super}}
            {% compress css %}
                <link href="{{STATIC_URL}}seed/less/style.less" rel="stylesheet" type="text/less">
                <link href="{{STATIC_URL}}seed/css/mapping.css" rel="stylesheet" type="text/css" />
            {% endcompress %}
        {% endblock %}



        {% block js %}{{block.super}}
            <script>
                window.BE = window.BE || {};
                // username for sidebar
                window.BE.username = "{{ username }}";
                if (window.BE.username === "") {
                    window.BE.username = "{{ request.user.first_name }} {{ request.user.last_name}}";
                }
                window.BE.initial_org_id = "{{ initial_org_id }}";
                window.BE.initial_org_user_role = "{{ initial_org_user_role }}";
                window.BE.initial_org_name = "{{ initial_org_name }}";
                window.BE.FILE_UPLOAD_DESTINATION = "{{FILE_UPLOAD_DESTINATION}}";
                window.BE.AWS_UPLOAD_BUCKET_NAME = "{{AWS_UPLOAD_BUCKET_NAME}}";
                window.BE.AWS_CLIENT_ACCESS_KEY = "{{AWS_CLIENT_ACCESS_KEY}}";

                {# js CSRF config #}
                window.BE.csrf_token = "{{ csrf_token }}";
            </script>

            {# js urls config #}
            {% include "seed/_js_urls.html" %}

            {# js vendor imports #}
            {# todo: switch angular.js to minified version, same with the rest #}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
            <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
            <script src="{{STATIC_URL}}vendors/bower_components/lodash/lodash.min.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-cookies.min.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-route.min.js"></script>
            <script src="{{STATIC_URL}}vendors/angular-ui/ui-bootstrap-tpls-0.12.0-SNAPSHOT.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.3.1/moment.min.js"></script>

            {% ifequal FILE_UPLOAD_DESTINATION 'S3' %}
            <script src="{{STATIC_URL}}vendors/bower_components/fine-uploader/_build/s3.fineuploader.js" ></script>
            {% else %}
            <script src="{{STATIC_URL}}vendors/bower_components/fine-uploader/_build/fineuploader.js" ></script>
            {% endifequal %}

            <script src="{{STATIC_URL}}vendors/angular-ui-tree/angular-ui-tree.min.js"></script>
            <script src="{{STATIC_URL}}vendors/angular-ui/sortable.min.js"></script>

            {# all seed js files #}
            {% include "seed/_scripts.html" %}

            {% if not COMPRESS_ENABLED %}
                <script src="{{STATIC_URL}}vendors/lesscss_org/js/less-1.5.0.min.js"></script>
            {% endif %}
        {% endblock js%}
    {% analytical_head_bottom %}
    </head>

    {% block body %}
    <body>
    {% analytical_body_top %}
        <div class="app" data-ng-app="BE.seed">
        {% block content %}{% endblock %}
        </div>
    {% analytical_body_bottom %}
    </body>
</html>
{% endblock %}

{% block js_scripts %}
{% endblock js_scripts %}
