{% extends "seed/base.html" %}{% load compress %}

{% block js %}{{ block.super }}
{% endblock %}

{% block content %}
    <div ng-controller="menu_controller" class="ng-cloak">

        {% include "seed/_sidebar.html" %}

        <div class="display">
            <div ng-class="{narrow: narrow_controller, wide: wide_controller, content: true, hide_transition:is_initial_state}">

                {% include "seed/_header.html" %}

                <div class="page">
                    <div class="alert warning" ng-show="route_load_error">
                        <div class="alert alert-danger">
                            <button type="button" class="close" ng-click="hide_load_error()">&times;</button>
                            {$ load_error_message || ('There was an error loading the page' | translate) $}
                        </div>
                    </div>
                    <div ui-view class="ui-view-container"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
