{% extends "landing/base.html" %}{% load compress %}

{% block content %}
<div class="page login">
    {% include "landing/_header.html" %}

    <div class="page_section">
        {% include "landing/_marketing_bullets.html" %}
        <!-- END .section_marketing -->
        <div class="section_forms"> 
            <div class="form_title">
                <h2>Password Reset</h2>

                <form id="form-password-reset" class="signup_form" action="" method="post">
                	<table class="signup_table">
	                    <tr>
	                    	<td>
	                    		<p>Forgot your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p>
	                    	</td>
	                    </tr>
	                    <tr>
	                    	<td>
		                    {% csrf_token %}
		                    {% if form.email.errors %}
		                    <div class="form-error">
		                        {% firstof form.email.errors %}
		                    </div>
		                    {% endif %}
	                    	</td>
	                    </tr>
	
	                    <tr>
	                    	<th>
		                    	<label for="id_email">E-mail address:</label>
	                    	</th>
	                    	<td>
	                        <input id="id-email" type="text" placeholder="Email Address" name="email" class="field"/>
	                    	</td>
	                    </tr>
                	</table>
                    <div>
                        <input style="float: none;" class="btn btn-primary" type="submit" value="Reset my password" />
                        <a href="{% url "landing:login" %}" type="submit" class="btn btn-default">Cancel</a>
                    </div>
                </div>
            </form>
            </div>
        </div>
        <!-- END .section_forms -->
    </div>
    <!-- END .page_section .content -->
</div>
<!-- END .page -->
{% endblock %}
