{% extends "landing/base.html" %}{% load compress %}

{% block content %}
<div class="page login">
    {% include "landing/_header.html" %}

    <div class="page_section">
        {% include "landing/_marketing_bullets.html" %}
        <!-- END .section_marketing -->
        <div class="section_forms"> 
            <div class="form_title">
                <h2>Password Set</h2>
                	<div class="signup_form">
	                	<p>Your password has been set.</p>
                        <div>
                            <a href="{% url "landing:login" %}" type="submit" class="btn btn-primary">Back to Login</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END .section_forms -->
    </div>
    <!-- END .page_section .content -->
</div>
<!-- END .page -->
{% endblock %}
