<div class="section">
    <div class="section_content_container">
        <div class="section_content container-fluid">
            <div class="content_block row">
                <div id="text-block" class="col-sm-8">

                    <h1 translate>About SEED Platform™</h1>

                    <p translate>The Standard Energy Efficiency Data (SEED)™ Platform is a software application that helps organizations easily manage data on the energy performance of large groups of buildings. Users can combine data from multiple sources, clean and validate it, and share the information with others. The software application provides an easy, flexible, and cost-effective method to improve the quality and availability of data to help demonstrate the economic and environmental benefits of energy efficiency, to implement programs, and to target investment activity.</p>
                    <p><a href="http://energy.gov/eere/buildings/standard-energy-efficiency-data-platform" target="_blank" rel="noopener noreferrer" translate>More details</a></p>
                    <p><a href="{$:: urls.static_url $}seed/Terms_of_Service.txt" target="_blank" rel="noopener noreferrer">View Terms of Service</a></p>

                    <h2>{$:: 'Development Team' | translate $}:</h2>
                    <p>{$:: 'Managed by' | translate $}: <a href="http://www.nrel.gov/" target="_blank" rel="noopener noreferrer" translate>National Renewable Energy Laboratory</a> & <a href="http://www.lbl.gov/" target="_blank" rel="noopener noreferrer" translate>Lawrence Berkeley National Laboratory</a></p>
                    <p>{$:: 'Funding from' | translate $}: <a href="http://energy.gov/eere/buildings/standard-energy-efficiency-data-platform" target="_blank" rel="noopener noreferrer" translate>U.S. Department of Energy</a></p>

                    <h3 translate>Version</h3>
                    <p>{$:: version + '.' + sha $}</p>
                </div>
            </div>
        </div>
    </div>
</div>
