<div class="section">
  <div class="section_content_container">
    <div class="section_content container-fluid">
      <div class="content_block row">
        <div id="text-block" class="col-sm-8">

          <h1>About SEED Platform&#8482;</h1>

          <p>The Standard Energy Efficiency Data (SEED)&#8482; Platform is a
            software application that helps organizations easily manage
            data on the energy performance of large groups of
            buildings. Users can combine data from multiple sources,
            clean and validate it, and share the information with
            others. The software application provides an easy, flexible,
            and cost-effective method to improve the quality and
            availability of data to help demonstrate the economic and
            environmental benefits of energy efficiency, to implement
            programs, and to target investment activity.</p>

          <p><a href="http://energy.gov/eere/buildings/standard-energy-efficiency-data-platform">More details</a></p>

          <h2>Development Team:</h2>
          <p>Managed by: <a href="http://www.nrel.gov/">National Renewable Energy Laboratory</a></p>
          <p>Funding from: <a href="http://energy.gov/eere/buildings/standard-energy-efficiency-data-platform">U.S. Department of Energy</a></p>

          <h3>Version</h3>
          <p>{$ version + '.' + sha $}</p>
        </div>
      </div>
    </div>
  </div>
</div>
