<div class="page_header_container">
    <div class="page_header">
        <div class="left page_action_container">


        </div>
        <div class="page_title">
            <h1>Organizations</h1>
        </div>
        <div class="right page_action_container">
        </div>
    </div>
</div>
<div class="section">
    <div class="section_header_container" ng-if="NEEDS_IMPLEMENTATION">
        <div class="section_header">
            <h2><i class="fa fa-users"></i> Pending Organization Invites</h2>
        </div>
    </div>
    <div class="section_content_container" ng-if="NEEDS_IMPLEMENTATION">
        <div class="section_content">
            <div class="table_list_container">
                <table class="table table-striped table_highlight_first">
                    <thead>
                        <tr>
                            <th class="account_pending left">Name of Pending Organization</th>
                            <th class="account_pending right"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="account_pending left">Julie Daily (<strong>Owner</strong>) would like to add you in the role of <strong>Member</strong> to this organization.</td>
                            <td class="account_pending right" style="text-align:right;"><a class="btn btn-primary" href="">Accept</a> <a class="btn btn-default" href="">Reject</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="section_header_container" ng-show="orgs_I_own.length > 0">
        <div class="section_header">
            <h2><i class="fa fa-users"></i> Organizations I Manage</h2>
        </div>
    </div>
    <div class="section_content_container" ng-show="orgs_I_own.length > 0">
        <div class="section_content">
            <div id="org-owned-tables" class="table_list_container">
                <table class="table table-striped table_highlight_first" ng-repeat="org in orgs_I_own">
                    <thead>
                        <tr>
                            <th colspan="2">Organization</th>
                            <!-- <th>Org Level</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="account_org parent_org">
                                <a ui-sref="organization_members({organization_id: org.id})">{$ org.name $}</a>
                            </td>
                            <td class="account_org right">
                                <a ui-sref="organization_settings({organization_id: org.id})"><i class="fa fa-cogs"></i>Settings</a>
                                <a ui-sref="organization_sharing({organization_id: org.id})" ng-if="org.is_parent"><i class="fa fa-share-square-o"></i>Sharing</a>
                                <a ui-sref="organization_data_quality({organization_id: org.id, inventory_type: 'properties'})" ng-if="org.is_parent"><i class="fa fa-flag"></i>Data Quality</a>
                                <a ui-sref="organization_cycles({organization_id: org.id})" ng-if="org.is_parent"><i class="fa fa-calendar"></i>Cycles</a>
                                <a ui-sref="organization_labels({organization_id: org.id})"><i class="fa fa-tags"></i>Labels</a>
                                <a ui-sref="organization_sub_orgs({organization_id: org.id})" ng-if="org.is_parent"><i class="fa fa-users"></i>Sub-Organizations</a>
                                <a ui-sref="organization_members({organization_id: org.id})"><i class="fa fa-user"></i>Members</a>
                                <i class="fa fa-cog"></i>
                            </td>
                        </tr>
                        <tr ng-show="org.is_parent">
                            <th class="sub_head sub_org">Sub-Organizations</th>
                            <th class="sub_head sub_org right">
                                <a ng-click="create_sub_organization_modal(org)"><i class="fa fa-plus"></i>Create new sub-organization</a>
                                <i class="fa fa-cog"></i>
                            </th>
                        </tr>
                        <tr ng-repeat="sub_org in org.sub_orgs">
                            <td class="account_org left">
                                <a ui-sref="organization_members({organization_id: sub_org.id})">{$ sub_org.name $}</a>
                            </td>
                            <td class="account_org right">
                                <a ui-sref="organization_settings({organization_id: sub_org.id})"><i class="fa fa-cogs"></i>Settings</a>
                                <a ui-sref="organization_labels({organization_id: sub_org.id})"><i class="fa fa-tags"></i>Labels</a>
                                <a ui-sref="organization_members({organization_id: sub_org.id})"><i class="fa fa-user"></i>Members</a>
                                <i class="fa fa-cog"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="section_header_container">
        <div class="section_header">
            <h2><i class="fa fa-users"></i> Organizations I Belong To</h2>
        </div>
    </div>
    <div class="section_content_container">
        <div class="section_content">
            <div class="table_list_container" id="org-member-tables">
                <table class="table table-striped table_highlight_first">
                    <thead>
                        <tr>
                            <th>Organization Name</th>
                            <th>Number of Properties</th>
                            <th>Number of Tax Lots</th>
                            <th>Your Role</th>
                            <th>Organization Owner(s)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="org in orgs">
                            <td class="align_to_top">
                                <a ui-sref="organization_members({organization_id: org.id})" ng-if="org.user_role !== 'viewer'">{$ org.name $}</a>
                                <span ng-if="org.user_role === 'viewer'">{$ org.name $}</span>
                            </td>
                            <td class="align_to_top">
                                <div ng-repeat="cycle in org.cycles" ng-if="cycle.num_properties">
                                    {$ cycle.name $}: {$ cycle.num_properties $}
                                </div>
                            </td>
                            <td class="align_to_top">
                                <div ng-repeat="cycle in org.cycles" ng-if="cycle.num_taxlots">
                                    {$ cycle.name $}: {$ cycle.num_taxlots $}
                                </div>
                            </td>
                            <td class="align_to_top">{$ org.user_role || "-" $}</td>
                            <td>
                                <span ng-repeat="owner in org.owners">{$ owner.first_name $} {$ owner.last_name $}<br></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
