<div class="page_header_container">
    <div class="page_header">
        <div class="left page_action_container"></div>
        <div class="page_title">
            <h1>{$ username $}</h1>
        </div>
        <div class="right page_action_container"></div>
    </div>
</div>
<div class="section_nav_container">
    <div class="section_nav" ng-include="urls.static_url + 'seed/partials/profile_nav.html'"></div>
</div>
<div class="display">
    <div class="section">
        <div class="section">
            <div class="alert {$ alert.css $}" ng-show="alert.show">
                {$ alert.message $}
            </div>
            <div class="section_header_container has_btm_margin">
                <div class="section_header">
                    <h2><i class="fa fa-users"></i> Create an organization</h2>
                </div>
            </div>
            <div class="section_content_container org_form container-fluid">
                <div class="section_content">
                    <form name="orgForm" novalidate class="form-horizontal css-form" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="org_name">Organization Name:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="org_name" ng-model="org.name" placeholder="Organization Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="user_emails">User E-mail:</label>
                            <div class="col-sm-4">
                                <select class="form-control" name="user_emails" id="user_emails" ng-options="u as u.email for u in org.users" ng-model="org.email"> </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button class="btn btn-default" type="reset" ng-click="org_form.reset()">Reset</button>
                                <button class="btn btn-primary" type="submit" ng-click="org_form.add(org)" ng-disabled="orgForm.$invalid || org_form.not_ready()">Create</button>
                            </div>
                        </div>
                    </form>
                    <div ng-show="org_form.invalid">Error: <span>{$ org_form.message $}</span>
                    </div>
                </div>
            </div>
            <div class="section_header_container has_btm_margin">
                <div class="section_header">
                    <h2><i class="fa fa-user"></i> Create a user</h2>
                </div>
            </div>
            <div class="section_content_container user_admin container-fluid">
                <div class="section_content">
                    <form name="userForm" novalidate class="form-horizontal css-form" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="first_name">User First Name:</label>
                            <div class="col-sm-4">
                                <input type="text" id="first_name" class="form-control" ng-model="user.first_name" placeholder="First Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="last_name">User Last Name:</label>
                            <div class="col-sm-4">
                                <input type="text" id="last_name" class="form-control" ng-model="user.last_name" placeholder="Last Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="user_email">User E-mail:</label>
                            <div class="col-sm-4">
                                <input type="email" id="user_email" class="form-control" ng-model="user.email" placeholder="User Email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="new_user_org_select">Choose Existing Organization:</label>
                            <div class="col-sm-4">
                                <select name="new_user_orgs" class="form-control" id="orgs" ng-options="o as o.name for o in org_user.organizations" ng-model="user.organization"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="org_name_from_user">Or Create New (With User as Head):</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="new_user_org_name" ng-model="user.org_name" placeholder="Organization Name">
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button class="btn btn-default" type="reset" ng-click="user_form.reset()">Reset</button>
                                <button class="btn btn-primary" type="submit" ng-click="user_form.add(user)" ng-disabled="userForm.$invalid">Create</button>
                            </div>
                        </div>
                    </form>
                    <div ng-show="user_form.invalid">Error: <span>{$ user_form.message $}</span>
                    </div>
                </div>
            </div>
            <div class="section_header_container has_btm_margin">
                <div class="section_header">
                    <h2><i class="fa fa-plus-circle"></i> Add/Remove a user to an organization</h2>
                </div>
            </div>
            <div class="section_content_container org_user_admin container-fluid">
                <div class="section_content row">
                    <div class="col-sm-6">
                        <form name="addRemoveForm" novalidate class="form-horizontal css-form" role="form">
                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="orgs">Organizations:</label>
                                <div class="col-sm-8">
                                    <select name="orgs" class="form-control" id="orgs" ng-options="o as o.name for o in org_user.organizations" ng-model="org_user.organization" ng-change="get_organizations_users(org_user.organization)"></select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="add_emails">Add user to organization:</label>
                                <div class="col-sm-8">
                                    <select name="user_emails" class="form-control" id="user_emails" ng-options="u as u.email for u in org.users | orderBy:'email'" ng-model="org_user.user"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-8">
                                    <button class="btn btn-primary" type="submit" ng-click="org_user.add()">Add user</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="table_list_container col-sm-5">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in org_user.users">
                                    <td>{$ user.email $}</td>
                                    <td>
                                        <button class="btn btn-default" type="submit" ng-click="org_user.remove_user(user.user_id, org_user.organization.org_id)">Remove User</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="section_header_container has_btm_margin">
                <div class="section_header">
                    <h2><i class="fa fa-trash-o"></i> Remove inventory and organizations</h2>
                </div>
            </div>
            <div class="section_content_container org_user_admin container-fluid">
                <div class="section_content row">
                    <div class="table_list_container remove_buildings_table col-sm-5" style="width: 100%;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Parent ID</th>
                                    <th>ID</th>
                                    <th>Organization</th>
                                    <th>Created</th>
                                    <th>User Count</th>
                                    <th>Property Count</th>
                                    <th>Tax Lot Count</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="org in org_user.organizations">
                                    <td>{$ org.parent_id != org.org_id ? org.parent_id : '' $}</td>
                                    <td>{$ org.org_id $}</td>
                                    <td>{$ org.name $}</td>
                                    <td>{$ org.created $}</td>
                                    <td>{$ org.number_of_users | number:0 $}</td>
                                    <td>
                                        <div ng-repeat="cycle in org.cycles" ng-if="cycle.num_properties">
                                            {$ cycle.name $}: {$ cycle.num_properties $}
                                        </div>
                                    </td>
                                    <td>
                                        <div ng-repeat="cycle in org.cycles" ng-if="cycle.num_taxlots">
                                            {$ cycle.name $}: {$ cycle.num_taxlots $}
                                        </div>
                                    </td>
                                    <td style="width: 470px;">
                                        <div>
                                            <button class="btn btn-default" ng-click="confirm_inventory_delete(org)" ng-disabled="org.progress > -1">Remove Inventory</button>
                                            <button class="btn btn-warning" type="button" style="margin-left:10px;" ng-click="confirm_column_mappings_delete(org)" ng-disabled="org.progress > -1">
                                                <i class="fa fa-exclamation-triangle"></i> Remove Column Mappings
                                            </button>
                                            <button class="btn btn-danger" type="button" style="margin-left:10px;" ng-click="confirm_org_delete(org)" ng-disabled="org.progress > -1">
                                                <i class="fa fa-exclamation-triangle"></i> Delete Organization
                                            </button>
                                            <uib-progressbar class="progress-striped active" value="org.progress" type="success" ng-show="org.progress > -1">{$ org.remove_message $}</uib-progressbar>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
