<div class="table_list_container">
    <table id="analysis-runs-table" class="table table-striped table_highlight_first">
        <thead>
            <tr>
                <th translate>Run ID</th>
                <th translate>Property</th>
                <th translate>Latest Messages</th>
                <th translate>Output Files</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="view in views | filter:filter_params:strict">
                <td><a ui-sref="analysis_run(::{run_id: view.id, analysis_id: analysis.id, organization_id: org.id})" ui-sref-active="active">{$:: view.id $}</a></td>
                <td>
                    <a ng-if="original_views[view.id]" ui-sref="inventory_detail({inventory_type: 'properties', view_id: original_views[view.id]})">
                        {$:: view.property_state.address_line_1 $} <i class="glyphicon glyphicon-log-out"></i>
                    </a>
                    <span ng-if="!original_views[view.id]" uib-tooltip="Property no longer exists">
                        {$:: view.property_state.address_line_1 $}
                    </span>
                </td>
                <td>
                    <ul>
                        <li ng-repeat="message in messages | filter : {'analysis_property_view':view.id}">
                            {$:: message['user_message'] $}
                        </li>
                    </ul>
                </td>
                <td>
                    <span ng-repeat="file in view.output_files | filter:filter_params:strict">
                        <a ng-if="file['analysis_property_views'].length > 1" href="{$:: file.file $}" download>Portfolio Report <span class="fa fa-download"></span></a>
                        <a ng-if="file['analysis_property_views'].length == 1" href="{$:: file.file $}" download>{$:: file.content_type == 'html' ? 'Building Report' : file.content_type $} <span class="fa fa-download"></span></a>
                        <span ng-repeat-end ng-if="!$last">, </span>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
