<div class="section_header_container">
    <div class="section_header fixed_height_short">
        <div class="left section_action_container">
            <h2><i class="fa fa-user"></i> {$:: 'Analyses' | translate $}</h2>
        </div>
    </div>
</div>
    <div class="section_content_container">
    <div class="section_content">
        <div class="table_list_container">
            <table id="analyses-table" class="table table-striped table_highlight_first">
                <thead>
                    <tr>
                        <th translate>Analysis Name (User Defined)</th>
                        <th translate>Actions</th>
                        <th translate>Number of Properties</th>
                        <th translate>Type</th>
                        <th translate>Run Status</th>
                        <th translate>Run Date</th>
                        <th translate>Run Duration</th>
                        <th translate>Run Author</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="analysis in analyses  | filter:filter_params:strict">
                        <td>{$:: analysis.name $}</td>
                        <td>
                            <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                            <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                        </td>
                        <td>{$:: analysis.number_of_analysis_property_views $}</td>
                        <td>{$:: analysis.service $}</td>
                        <td class="analysis-status {$:: analysis.status.toLowerCase() $}">{$:: analysis.status $}</td>
                        <td>{$:: analysis.start_time | date : 'MM-dd-yyyy  HH:mm' $}</td>
                        <td>{$:: analysis | get_run_duration $}</td>
                        <td>{$:: users | filter : {'user_id':analysis.user} | get_analysis_run_author $}</td>
                    </tr>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
