<div>
    <div class="modal-header">
        <h4 class="modal-title" translate>Audit Template API Token</h4>
    </div>
    <div class="modal-body modal-input">
        <form name="atTokenForm" role="form" ng-submit="submitForm(atTokenForm)" novalidate>

            <div class="flex-centered grow">
                <label class="col-sm-4 no-padding" for="input-org-token" translate>Audit Template Organization Token</label>
                <div class="col-sm-8 no-padding">
                    <input id="input-org-token" type="text" name="org_token" class="form-control" ng-model="fields.org_token" required>
                </div>
            </div>

            <div class="flex-centered grow" style="margin-top:10px;">
                <label class="col-sm-4 no-padding" for="input-email" translate>Audit Template Email</label>
                <div class="col-sm-8 no-padding">
                    <input id="input-email" type="text" name="email" class="form-control" ng-model="fields.email" required>
                </div>
            </div>

            <div class="flex-centered grow" style="margin-top:10px;">
                <label class="col-sm-4 no-padding" for="input-password" translate>Audit Template Password</label>
                <div class="col-sm-8 no-padding">
                    <input id="input-password" type="text" name="password" class="form-control" ng-model="fields.password" required>
                </div>
            </div>

            <div class="flex-centered grow" style="margin-top:10px;">
                <span class="col-sm-4"></span>
                <button type="submit" class="btn btn-primary col-sm-8" ng-disabled="atTokenForm.$invalid || waiting_for_server" translate>Generate Token</button>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" style="min-width:90px;" ng-click="cancel()" translate>Cancel
        </button>
    </div>
</div>
