<div class="modal-header">
    <h4 class="modal-title" translate>Import from BuildSync</h4>
</div>

<div ng-switch on="stage">
    <!-- Upload Options -->
    <div ng-switch-when="UPLOAD_OPTIONS">
        <div class="modal-body" style="display: flex; flex-direction: column; gap: 10px;">
            <button type="button" class="btn btn-primary col-sm-6 center-block">
                <div sd-uploader sourcetype="BuildingSyncUpdate" sourceprog="" sourcever="" importrecord="view_id"
                    organization-id="organization_id" cycle-id="cycle_id"
                    eventfunc="upload_from_file_and_close(message, file, progress)" />
                <span translate>Upload From File</span>
            </button>
            <button type="button" class="btn btn-primary col-sm-6 center-block" ng-click="display_credentials_form()">
                <span translate>Upload Audit Template Tool</span>
            </button>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="close()" translate>Close</button>
        </div>
    </div>

    <!-- Credential Form -->
    <div ng-switch-when="CREDENTIAL_FORM">
        <div class="modal-body">
            <div class="row" style="display: flex; flex-direction: column; gap: 15px" ng-hide="submitted">
                <div class="alert alert-danger" ng-show="error == 'INCOMPELETE_CREDENTIALS'">
                    Please enter both your username and password.
                </div>
                <div class="col-sm-10 center-block">Enter your Audit Template Credentials</div>
                <div>
                    <label class="col-sm-3 col-sm-offset-1 control-label" translate>Username</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" ng-model="audit_template_login.username">
                    </div>
                </div>

                <div>
                    <label class="col-sm-3 col-sm-offset-1 control-label" translate>Password</label>
                    <div class="col-sm-7">
                        <input type="password" class="form-control" ng-model="audit_template_login.password">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-primary col-sm-6 center-block" ng-click="confirm_credentials()"
                translate>Confirm</button>
            <button type="button" class="btn btn-default" ng-click="close()" translate>Close</button>
        </div>

    </div>

    <!-- Awaiting Reponse -->
    <div ng-switch-when="AWAITING_REPONSE">
        <div class="data_upload_steps container-fluid" ng-switch-when="3">
            <i class="fa fa-spinner fa-pulse fa-fw" style="padding-right: 0"></i>
        </div>
    </div>

    <div ng-switch-when="CONFIRM_INCOMING_DATA">
        <div class="modal-body">
            WIP
        </div>
    </div>
</div>
