<div class="page_header_container" ng-cloak>
    <div class="page_header">
        <div class="left page_action_container">
           
        </div>
        <div class="page_title">
            <h1><i class="fa fa-building-o"></i> Buildings</h1>
        </div>
        <div class="right page_action_container page_action_btn">
            
        </div>
    </div>
</div>
<div class="section_nav_container">
    <div class="section_nav">
        <a ng-href="#/buildings">Buildings List</a>
        <a ng-href="#/buildings/settings">List Settings</a>
        <a ng-href="#/buildings/reports" class="active">Reports</a>
    </div>
</div>
<div class="section">

    <!-- DMcQ: Todo: move this into style sheet when I get farther along -->
    <style>

        .section_content_container .section_content .content_block p {
            font-size: 13px;
        }

        #chartEnergyStar {
            height: 300px;
            width: 100%;
        }

        #chartSiteEUI {
            height: 300px;
            width: 100%;
        }

        .chart-holder {
            position:relative;
        }

        .loading-message {
            position:absolute;
            top:50%;
            left:50%;
            margin-left:-60px;
            text-align:center;
            width:120px;
            padding-top:10px;
            padding-bottom:10px;
            background-color: #FFF;
            border:1px solid #F1F1F1;
            border-radius: 5px;
        }

        .vertical-align {
            display: flex;
            align-items: center;
        }

    </style>

    <div class="section_header_container">
        <div class="section_header has_no_padding fixed_height_short">
            <div class="section_action_container left">
                <h2><i class="fa fa-bar-chart"></i> Building Reports</h2>
            </div>
        </div>
    </div>
   
    <div class="section_content_container">

        <div class="section_content ">
            
            <div class="content_block row" style="padding-left:20px; padding-bottom:0px;">
               
                <div class="col-md-6 col-sm-6" >    

                    <div class="container" style="margin-left:0px;padding-left:0px;">

                        <div style="background-color:#F1F1F1; padding:15px 30px; border-radius:.5em;">

                            <div class="row" style="display:inline-block; vertical-align:top;">
                       
                                <div style="display:inline-block; margin-right:20px;"><b>Date range:</b></div>

                                <div style="display:inline-block; margin-right:20px;">
                                     <p class="input-group" style="margin:0px;padding:0px;border:0px;">
                                        <span style="margin-right:10px; ">From Date:</span>
                                        <input  type="text"
                                                style="width:120px;"
                                                disabled 
                                                datepicker-popup="MM-dd-yyyy" 
                                                is-open="startDatePickerOpen" 
                                                ng-model="startDate"                                
                                                style="margin-right:0px; padding-right:0px;"/>
                                        <button type="button" ng-click="openStartDatePicker($event)" >
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </p>
                                </div>

                                <div style="display:inline-block; margin-right:20px;">
                                    <p class="input-group" style="margin:0px;padding:0px;border:0px;">
                                        <span style="margin-right:10px; ">To Date:</span>
                                        <input  type="text" 
                                                style="width:120px;"
                                                min-date="startDate" 
                                                datepicker-popup="MM-dd-yyyy" 
                                                is-open="endDatePickerOpen" 
                                                ng-model="endDate"/>
                                        <button type="button" ng-click="openEndDatePicker($event)" >
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </p>
                                </div>

                                <button type="button" ng-click="updateFilters()">
                                    Update Graphs
                                </button>

                            </div>

                        </div>

                    </div>

                </div>
            </div>

            <div class="content_block row" style="padding-left:20px; padding-bottom:0px;">
               
                <div class="col-md-6 col-sm-6">                    
                    <div >
                        <div>Total buildings: {$ summaryData.num_buildings $}</div>
                        <div>Avg EUI: {$ summaryData.avg_eui $}</div>
                        <div>Avg Energy Score: {$ summaryData.avg_energy_score $}</div>
                    </div>
                </div>
               
            </div>



            <div class="content_block row" style="padding-left:20px; padding-bottom:0px;">

                <div class="col-md-6 col-sm-6">                         
                    <div id="chartSiteEUI" class="chart-holder" style="height:600px" >
                        Energy Use Intensity vs. 
                        <select ng-model="euiChartSelectedItem" 
                                ng-init="euiChartSelectedItem=euiChartVars[0]" 
                                ng-options="option.name for option in euiChartVars" 
                                ng-change="updateEUICharts(euiChartSelectedItem)">
                        </select>
                        <basic-building-info-chart  id="euiChart" 
                                                    data="euiChartData" 
                                                    autoresize="true" 
                                                    chart-type="scatter"
                                                    height="600"
                                                    onchartrendered="euiChartRendered()"
                                                    >
                        </basic-building-info-chart>
                    </div>                    
                    <div ng-show="euiChartIsLoading" class="loading-message">Loading...</div>
                </div><!-- ./ col-md-6 -->

                <!--
                <div class="col-md-6 col-sm-6">  
                    <div id="chartEnergyStar" class="chart-holder">
                        Energy Star vs.  
                        <select ng-model="esChartSelectedItem" 
                                ng-init="esChartSelectedItem=esChartVars[0]" 
                                ng-options="item.name for item in esChartVars" 
                                ng-change="updateESChart(esChartSelectedItem)">
                        </select>
                        <graph  id="esChart" 
                                data="esChartData" 
                                width="100%" 
                                height="300px" 
                                transition="150" 
                                autoresize="true"     
                                yaxislabel="{$esChartYAxisLabel$}"  
                                onchartrendered="esChartRendered()"                         
                                >
                          <x field="x" type="Measure" title="Energy Star Score"></x>
                          <y field="y" type="Measure" ></y>
                          <scatter-plot field="x" series="y" label="Test" width="100%"></scatter-plot>
                        </graph>
                    </div>
                    <div ng-show="esChartIsLoading" class="loading-message">Loading...</div>
                </div> 
                -->
                <!-- ./ col-md-6 -->

            </div>  <!-- ./ content_block -->     

             <div class="content_block row" style="padding-left:20px; padding-bottom:0px;">

                <div class="col-md-6 col-sm-6">                         
                    <div id="chartSiteEUI" class="chart-holder" style="height:600px;">
                       
                        <basic-building-info-chart  id="euiChart" 
                                                    data="euiAggChartData" 
                                                    autoresize="true" 
                                                    chart-type="bar"
                                                    height="600"
                                                    onchartrendered="euiAggChartRendered()"
                                                    >
                        </basic-building-info-chart>
                    </div>                    
                    <div ng-show="euiChartIsLoading" class="loading-message">Loading...</div>
                </div><!-- ./ col-md-6 -->
            </div>


        </div>
    </div>
</div>

  
</div>