<div class="section">
    <div class="section_header_container">
        <div class="section_header fixed_height_short has_no_padding">
            <div class="section_action_container left_half">
                <h2><i class="fa fa-folder-o"></i> Projects That Include This Building</h2>
            </div>
            <div class="section_action_container right" ng-hide="building.edit_form_showing">
                <a href="javascript:void(0);" ng-click="building.edit_form_showing = true; save_building_state()" ng-show="user_role !== 'viewer'" ><i class="fa fa-pencil"></i> Edit</a>
            </div>
            <div class="section_action_container right section_action_btn" ng-show="building.edit_form_showing">
                <a roll="button" class="btn btn-default btn-sm" href="javascript:void(0);" ng-click="building.edit_form_showing = false; restore_building()">Cancel</a>
                <a roll="button" class="btn btn-primary btn-sm" href="javascript:void(0);" ng-click="building.edit_form_showing = false; save_building()">Save Changes</a>
            </div>
        </div>
    </div>
    <div class="section_content_container">
        <div class="section_content">
            <div class="table_list_container" style="overflow-x: visible;">
                <table class="table table-striped table_highlight_first">
                    <thead>
                        <tr>
                            <th>Project</th>
                            <th>Submittal Type</th>
                            <th>Year Ending</th>
                            <th>Deadline</th>
                            <th>Status</th>
                            <th>Changed on</th>
                            <th>Changed by</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-hide="user.has_projects()">
                            <td>There are no projects for this building</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr ng-repeat="p in projects" ng-class="{warning: is_active_project(p) }">
                            <td><a ng-href="#/projects/{$ p.slug $}">{$ p.name $}</a></td>
                            <td>{$ p.compliance_type $}</td>
                            <td>{$ p.end_date $}</td>
                            <td>{$ p.deadline_date $}</td>
                            <td class="compliance-check">
                                <div class="btn-group" dropdown>
                                    <button type="button" class="btn btn-sm btn-{$ get_label(p.building).label $}" dropdown-toggle ng-disabled="user_role === 'viewer'">{$ get_label(p.building).name $}
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li ng-repeat="label in labels"><a ng-click="update_project_building(p, label)"><span class="label label-{$ label.label $}">{$ label.name $}</span></a></li>
                                        <li class="divider"></li>
                                        <li><a href="javascript:void(0);" ng-click="remove_label(p)">Remove label</a></li>
                                        <li><a href="javascript:void(0);" ng-click="open_edit_label_modal()">Manage labels</a></li>
                                    </ul>
                                </div>
                            </td>
                            <td>{$ p.building.approved_date $}</td>
                            <td>{$ p.building.approver $}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
