
<!-- DMcQ: Temp styles -->
<style>

#chartEnergyStar {
    height: 300px;
    width: 100%;
}

#chartSiteEUI {
    height: 300px;
    width: 100%;
}

</style>

<div class="page_header_container" ng-cloak>
    <div class="page_header">
        <div class="left page_action_container">
           
        </div>
        <div class="page_title">
            <h1><i class="fa fa-building-o"></i> Buildings</h1>
        </div>
        <div class="right page_action_container page_action_btn">
            
        </div>
    </div>
</div>
<div class="section_nav_container">
    <div class="section_nav">
        <a ng-href="#/buildings">Buildings List</a>
        <a ng-href="#/buildings/settings">List Settings</a>
        <a ng-href="#/buildings/reports" class="active">Reports</a>
    </div>
</div>
<div class="section">
    <div class="section_header_container">
        <div class="section_header has_no_padding fixed_height_short">
            <div class="section_action_container left">
                <h2><i class="fa fa-bar-chart"></i> Building Reports</h2>
            </div>
        </div>
    </div>


    <div class="section_content_container">
        <div class="section_content">
            
            <div class="content_block row">
                <div class="col-md-12 col-sm-12">                    
                    <div >
                        <div>Total buildings: {$ summaryData.num_buildings $}</div>
                        <div>Avg EUI: {$ summaryData.avg_eui $}</div>
                        <div>Avg Energy Score: {$ summaryData.avg_energy_score $}</div>
                    </div>
                </div>
            </div>

            <div class="content_block row">
                <div class="col-md-6 col-sm-6">      

                    <div id="chartEnergyStar">
                        Energy Star vs.  <!-- Single button -->
                        <select ng-model="esChartSelectedItem" 
                                ng-init="esChartSelectedItem=esChartVars[0]" 
                                ng-options="item.name for item in esChartVars" 
                                ng-change="updateESChart(esChartSelectedItem)">
                        </select>
                        <graph id="esChart" data="esChartData" width="100%" height="300px" transition="150">
                          <x field="x" type="Measure" title="Energy Star Score"></x>
                          <y field="y" type="Measure" title="{$ esChartYAxisLabel $}"></y>
                          <scatter-plot field="x" series="y" label="Test" width="100%"></scatter-plot>
                        </graph>
                    </div>

                </div>

                <div class="col-md-6 col-sm-6">                         
                    <div id="chartSiteEUI">
                        Energy Use Intensity vs. 
                        <select ng-model="euiChartSelectedItem" 
                                ng-init="euiChartSelectedItem=euiChartVars[0]" 
                                ng-options="option.name for option in euiChartVars" 
                                ng-change="updateEUIChart(euiChartSelectedItem)">
                        </select>
                        <graph id="euiChart" data="euiChartData" width="100%" height="300px" transition="150">
                          <x field="x" type="Measure" title="Energy Use Intensity"></x>
                          <y field="y" type="Measure" title="{$ euiChartYAxisLabel $}"></y>
                          <scatter-plot field="x" series="y" label="Test" width="100%"></scatter-plot>
                        </graph>
                    </div>
                </div>
            </div>            

        </div>
    </div>
</div>

  
</div>