<div class="page_header_container" ng-cloak>
    <div class="page_header">
        <div class="left page_action_container">
           
        </div>
        <div class="page_title">
            <h1><i class="fa fa-building-o"></i> Buildings</h1>
        </div>
        <div class="right page_action_container page_action_btn">
            
        </div>
    </div>
</div>
<div class="section_nav_container">
    <div class="section_nav">
        <a ng-href="#/buildings">Buildings List</a>
        <a ng-href="#/buildings/settings">List Settings</a>
        <a ng-href="#/buildings/reports" class="active">Reports</a>
    </div>
</div>
<div class="section">
    <div class="section_header_container">
        <div class="section_header has_no_padding fixed_height_short">
            <div class="section_action_container left">
                <h2><i class="fa fa-bar-chart"></i> Building Reports</h2>
            </div>
        </div>
    </div>
    <div class="section_content_container">
        <div class="section_content with_padding">
            
            
        </div>
        <div class="section_content with_padding">
            <div class="table_list_container has_borders">
              
                </div>
            </div>
        </div>
    </div>
  
</div>