<div class="page_header_container" ng-cloak>
    <div class="page_header">
        <div class="left page_action_container">
            <a href="#/buildings" class="page_action" ng-show="!is_project()"><i class="fa fa-chevron-left"></i> Buildings</a>
            <a href="#/projects/{$ user.project_slug $}" class="page_action" ng-show="is_project()"><i class="fa fa-chevron-left"></i> Project: {$ project.name $}</a>
        </div>
        <div class="page_title">
            <h1>{$ building.address_line_1 $}</h1>
        </div>
    </div>
</div>
<div class="section_nav_container">
    <div class="section_nav">
        <a id="building" ng-href="#/buildings/{$ building.canonical_building $}">Building Info</a>
        <a id="projects" ng-href="#/buildings/{$ building.canonical_building $}/projects">Projects</a>
        <a id="audit" ng-href="#/buildings/{$ building.canonical_building $}/audit" class="active">Log &amp; Notes</a>
        <a id="energy" ng-href="#/buildings/{$ building.canonical_building $}/energy">Energy</a>
        <a id="settings" ng-href="#/buildings/{$ building.canonical_building $}/settings">Settings</a>
    </div>
</div>
<div class="section">
    <div class="section_header_container">
        <div class="section_header fixed_height_short has_no_padding">
            <div class="section_action_container left">
                <h2><i class="fa fa-list-ul"></i> Audit Log &amp; Notes </h2>
            </div>
            <div class="section_action_container right" ng-hide="building.edit_form_showing">
                <a ng-click="open_create_note_modal()" ng-show="user_role !== 'viewer'"><i class="fa fa-comment"></i> Add a note</a>
            </div>
            <div class="section_action_container right section_action_btn" ng-show="building.edit_form_showing">
                <a roll="button" class="btn btn-default btn-sm" ng-click="building.edit_form_showing = false; restore_building()">Cancel</a>
                <a roll="button" class="btn btn-primary btn-sm" ng-click="building.edit_form_showing = false; save_building()">Save Changes</a>
            </div>
        </div>
    </div>
    <div class="section_content_container">
        <div class="section_content">
            <div class="table_list_container">
                <table class="table table-striped table_highlight_first">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th width=50%>Action</th>
                            <th>Date (Timestamp)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="entry in audit_logs">
                            <td class="align_to_top has_no_min_width">{$ entry.user.first_name $} {$ entry.user.last_name $}</td>
                            <td class="align_to_top" ng-if="entry.audit_type == 'Log'"><pre>{$ entry.action_note || entry.action $}</pre></td>
                            <td class="align_to_top whitespace note" ng-if="entry.audit_type == 'Note'"><label class="label label-info"><i class="fa fa-comment"></i> note</label> <pre> {$ entry.action_note $} </pre>  <a class="note_edit pull-right" ng-click="open_create_note_modal(entry)" ng-show="user_role !== 'viewer'" ng-if="entry.audit_type == 'Note'">edit</a></td>
                            <td class="align_to_top">{$ entry.created | date:"MM/dd/yyyy 'at' h:mma" $}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
