<div class="page_header_container" ng-cloak>
    <div class="page_header">
        <div class="left page_action_container">
            <a href="#/buildings" class="page_action" ng-show="!is_project()"><i class="fa fa-chevron-left"></i> Buildings</a>
            <a href="#/projects/{$ user.project_slug $}" class="page_action" ng-show="is_project()"><i class="fa fa-chevron-left"></i> Project: {$ project.name $}</a>
        </div>
        <div class="page_title">
            <h1>{$ building.address_line_1 $}</h1>
        </div>
    </div>
</div>
<div class="section_nav_container">
    <div class="section_nav">
        <a ng-href="" style="cursor: pointer;" ng-class="{active: section == 'building' || !section}" ng-click="set_location('building')">Building Info</a>
        <a ng-href="" style="cursor: pointer;" ng-class="{active: section == 'projects'}" ng-click="set_location('projects')">Projects</a>
        <a ng-href="" style="cursor: pointer;" ng-class="{active: section == 'audit'}" ng-click="set_location('audit')">Log &amp Notes</a>
        <a ng-href="" style="cursor: pointer;" ng-class="{active: section == 'energy'}" ng-click="set_location('energy')">Energy</a>
    </div>
</div>
<div ng-include="urls.static_url + 'seed/partials/building_detail_section.html'" ng-show="section=='building' || !section"></div>
<div ng-include="urls.static_url + 'seed/partials/building_projects_section.html'" ng-show="section=='projects'"></div>
<div ng-include="urls.static_url + 'seed/partials/building_contacts_section.html'" ng-show="section=='contacts'"></div>
<div ng-include="urls.static_url + 'seed/partials/building_area_section.html'" ng-show="section=='area'"></div>
<div ng-include="urls.static_url + 'seed/partials/building_energy_section.html'" ng-show="section=='energy'"></div>
<div ng-include="urls.static_url + 'seed/partials/building_audit_log.html'" ng-show="section=='audit'"></div>
