<div class="section">
    <div class="section_header_container">
        <div class="section_header fixed_height_short has_no_padding">
            <div class="section_action_container left">
                <h2><i class="fa fa-building-o"></i> Building Information</h2>
            </div>           
            <div class="section_action_container right" ng-hide="building.edit_form_showing">
                <a ng-click="building.edit_form_showing = true; save_building_state()" ng-show="user_role !== 'viewer'" ><i class="fa fa-pencil"></i> Edit</a>
            </div>
            <div class="section_action_container right section_action_btn" ng-show="building.edit_form_showing">
                <a roll="button" class="btn btn-default btn-sm" ng-click="building.edit_form_showing = false; restore_building()">Cancel</a>
                <a roll="button" class="btn btn-primary btn-sm" ng-click="building.edit_form_showing = false; save_building()">Save Changes</a>
            </div>
        </div>
    </div>
    <div class="section_content_container">
        <div class="section_content">


            <div style="margin:10px 0px; padding:0px 10px;">
                <button type="button" class="btn btn-default" ng-click="open_update_building_labels_modal()"><i class="fa fa-tag"></i>Add/Remove Labels</button>
                <span style="padding-right:5px;"><strong>Labels:</strong></span>
                <span ng-show="labels.length === 0" style="color:#999">(no labels applied)</span>
                <span ng-repeat="label in labels" class="label label-{$ label.label $}">{$ label.name $}</span>
            </div>


            <div class="table_list_container">
                <table class="table table-striped table_highlight_first">
                    <thead>
                        <tr>
                            <th>Field</th>
                            <th>Master</th>
                            <th ng-repeat="i in imported_buildings" ng-class="{'is_not_master': !i.is_master && building.edit_form_showing, 'is_master': i.is_master && building.edit_form_showing}">
                                <span ng-hide="building.edit_form_showing">{$ i.import_file_name $}</span>
                                <a ng-click="make_source_default(i)" ng-show="building.edit_form_showing">
                                    <span>{$ i.import_file_name $}</span>
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="f in data_columns | orderBy:'key'">
                            <td>{$ f.key | titleCase $}</td>
                            <td>
                                <span ng-hide="building.edit_form_showing" ng-if="f.type === 'extra_data'">{$ building.extra_data[f.key] $}</span>
                                <span ng-hide="building.edit_form_showing" ng-if="f.type !== 'extra_data'">{$ building[f.key] $}</span>
                                <div ng-show="building.edit_form_showing" ng-if="f.type === 'extra_data'">
                                    <input class="form-control input-sm" id="edit_tax_lot_id" type="text" name="tax_lot_id" ng-model="building.extra_data[f.key]" ng-change="set_self_as_source(f.key,true)"/>
                                </div>
                                <div ng-show="building.edit_form_showing" ng-if="f.type !== 'extra_data'">
                                    <input class="form-control input-sm" id="edit_tax_lot_id" type="text" name="tax_lot_id" ng-model="building[f.key]" ng-change="set_self_as_source(f.key,false)"/>
                                </div>
                            </td>
                            <td ng-repeat="i in imported_buildings" ng-class="{'is_not_master': building.extra_data_sources[f.key] != i.id && building.edit_form_showing, 'is_master':building.extra_data_sources[f.key] == i.id && building.edit_form_showing }" ng-if="f.type === 'extra_data'">
                                <span ng-hide="building.edit_form_showing">{$ i.extra_data[f.key] $}</span>
                                <a ng-show="building.edit_form_showing && i.extra_data[f.key]" ng-click="set_building_attribute(i, f, true)">
                                   <span>{$ i.extra_data[f.key] $}</span>
                                </a>
                            </td>
                            <td ng-repeat="i in imported_buildings" ng-class="{'is_not_master': building[f.key + '_source'] != i.id && building.edit_form_showing, 'is_master':building[f.key + '_source'] == i.id && building.edit_form_showing }" ng-if="f.type !== 'extra_data'">
                                <span ng-hide="building.edit_form_showing">{$ i[f.key] $}</span>
                                <a ng-show="building.edit_form_showing && i[f.key]" ng-click="set_building_attribute(i, f.key, false)">
                                   <span>{$ i[f.key] $}</span>
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
