<div class="page_header_container">
    <div class="page_header">
        <div class="left page_action_container">
            <a href="#/accounts" class="page_action"><i class="fa fa-chevron-left"></i> Organizations</a>

        </div>
        <div class="page_title">
            <h1>{$ org.name $}</h1>
        </div>
        <div class="right page_action_container">
        </div>
    </div>
</div>
<div class="section_nav_container">
    <div class="section_nav">
        <a ng-href="#/accounts/{$ org.id $}">Settings</a>
        <a ng-href="#/accounts/{$ org.id $}/sharing" ng-if="org.is_parent && auth.requires_owner">Sharing</a>
        <a ng-href="#/accounts/{$ org.id $}/data_cleansing" ng-if="org.is_parent && auth.requires_owner" class="active">Data Cleansing</a>
        <a ng-href="#/accounts/{$ org.id $}/cycle_admin" ng-if="org.is_parent && auth.requires_owner">Cycles</a>
        <a ng-href="#/accounts/{$ org.id $}/sub_org" ng-if="org.is_parent && auth.requires_owner">Sub-Organizations</a>
        <a ng-href="#/accounts/{$ org.id $}/members">Members</a>
    </div>
</div>
<div class="section">
    <div class="section_header_container">
        <div class="section_header has_no_padding fixed_height_short">
            <div class="section_action_container left_40">
                <h2><i class="fa fa-flag"></i> Data Cleansing</h2>
            </div>
            <div class="section_action_container right_40 section_action_btn pull-right">
                <button type="button" class="btn btn-default" ng-click="restore_defaults()">Restore Defaults <i class="fa fa-check" ng-show="defaults_restored"></i></button>
                <button type="button" class="btn btn-primary" ng-click="save_settings()">Save Changes <i class="fa fa-check" ng-show="rules_updated"></i></button>
            </div>
        </div>
    </div>
    <div class="section_content_container">
        <div class="section_content with_padding" ng-if="org.is_parent && auth.requires_owner" style="margin-bottom:15px;">
            <h3>In-Range Checking: Modifying Data Cleansing Rules</h3>
            <p>From the table below, select the rules that you want to: 1) enable/disable within your organization, and 2) modify the minimum/maximum values to validate against on file upload.</p>
            <div class="table_list_container has_borders">
                <table class="table has_no_btm_margin tbody-striped">
                    <thead>
                        <tr>
                            <th class="condensed_head" style="min-width: 33px; width: 33px;"></th>
                            <th>Field</th>
                            <th>Minimum</th>
                            <th>Maximum</th>
                            <th>Severity</th>
                            <th>Units</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="rules in rows">
                        <tr ng-repeat="rule in rules">
                            <td class="check is_aligned_center" style="width: 33px;">
                                <input type="checkbox" ng-model="rule.enabled">
                            </td>
                            <td>
                                <span>{$ rule.title $}</span>
                            </td>
                            <td>
                                <input class="form-control input-sm" type="number" ng-model="rule.min" ng-if="rule.type != 'date'" placeholder="(no minimum)">
                                <input class="form-control input-sm" type="date" ng-model="rule.min" ng-if="rule.type == 'date'">
                            </td>
                            <td>
                                <input class="form-control input-sm" type="number" ng-model="rule.max" ng-if="rule.type != 'date'" placeholder="(no maximum)">
                                <input class="form-control input-sm" type="date" ng-model="rule.max" ng-if="rule.type == 'date'">
                            </td>
                            <td>
                                <select class="form-control input-sm" ng-model="rule.severity" ng-class="{'error-bg': rule.severity=='error', 'warning-bg': rule.severity=='warning'}">
                                    <option value="error">Error</option>
                                    <option value="warning">Warning</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control input-sm" ng-options="u for u in units" ng-model="rule.units"></select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="section_content_container">
            <div class="section_content with_padding pull-right">
                <button type="button" class="btn btn-default" ng-click="restore_defaults()">Restore Defaults <i class="fa fa-check" ng-show="defaults_restored"></i></button>
                <button type="button" class="btn btn-primary" ng-click="save_settings()">Save Changes <i class="fa fa-check" ng-show="rules_updated"></i></button>
            </div>
        </div>
    </div>
</div>
