<div class="modal-header" ng-switch="::action">
    <h4 class="modal-title" ng-switch-when="rename" translate>Rename your Preset</h4>
    <h4 class="modal-title" ng-switch-when="remove" translate>Delete your Preset</h4>
    <h4 class="modal-title" ng-switch-when="new" translate>Create Preset</h4>
</div>
<div class="modal-body no_bottom_padding row form-horizontal" ng-switch="::action">
    <div class="form-group" ng-switch-when="rename">
        <label class="control-label col-lg-3 col-sm-3" for="inputRename" translate>Preset Name</label>
        <div class="col-lg-8 col-sm-8">
            <input type="text" class="form-control" id="inputRename" ng-model="$parent.newName" autofocus placeholder="{$:: data.name $}" sd-enter="rename_preset()" required>
        </div>
    </div>

    <div class="col-sm-12" style="padding-bottom: 15px;" ng-switch-when="remove">{$:: 'CONFIRMING_DELETE_PRESET' | translate $}, <strong>{$:: data.name $}</strong>?</div>

    <div class="form-group" ng-switch-when="new">
        <label class="control-label col-lg-3 col-sm-3" for="inputNew" translate>Preset Name</label>
        <div class="col-lg-8 col-sm-8">
            <input type="text" class="form-control" id="inputNew" ng-model="$parent.newName" autofocus placeholder="{$:: 'new preset name' | translate $}" sd-enter="new_preset()" required>
        </div>
    </div>
</div>
<div class="modal-footer" ng-switch="::action">
    <button type="button" class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
    <button type="button" ng-switch-when="rename" class="btn btn-primary" ng-click="rename_preset()" ng-disabled="disabled()" translate>Rename Preset</button>
    <button type="button" ng-switch-when="remove" class="btn btn-danger" ng-click="remove_preset()" autofocus translate>Yes, Remove Preset</button>
    <button type="button" ng-switch-when="new" class="btn btn-info" ng-click="new_preset()" ng-disabled="disabled()" translate>Create Preset</button>
</div>
