<div class="page_header_container">
    <div class="page_header">
        <div class="left page_action_container">
            <a ui-sref="organizations" class="page_action"><i class="fa fa-chevron-left"></i> {$:: 'Organizations' | translate $}</a>
        </div>
        <div class="page_title">
            <h1>{$:: org.name $}</h1>
        </div>
        <div class="right page_action_container">
        </div>
    </div>
</div>
<div class="section_nav_container">
    <div class="section_nav" ng-include="::urls.static_url + 'seed/partials/accounts_nav.html'"></div>
</div>
<div class="section">
    <div class="section_header_container">
        <div class="section_header has_no_padding fixed_height_short">
            <div class="section_action_container left">
                <h2><i class="fa fa-tachometer"></i> {$:: 'Compliance Setup' | translate $}</h2>
            </div>
            <div class="section_action_container right section_action_btn">
                <button type="button" class="pull-right btn btn-primary" ng-click="save_settings()">{$:: 'Save Changes' | translate $} <i class="fa fa-check" ng-show="settings_updated"></i></button>
            </div>
        </div>
    </div>
    <div class="section_content_container">
        <div class="section_content with_padding">
            <form class="form-horizontal" role="form">
                <div class="form-row">
                    <h3> </h3>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="metric-name" translate>Metric Name</label>
                    <div class="col-sm-4">
                        <input id="metric-name" type="text" class="form-control" ng-model="new_compliance_metric.name">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="startYear" translate>Compliance Period</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="startYear" placeholder="YYYY" ng-model="$parent.startYearValue">
                    </div>
                    <label class="col-sm-1 col-form-label" for="endYear" translate>to</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="endYear" placeholder="YYYY" ng-model="endYearValue">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-5">
                        <p class="h2" translate>Energy Metric</p>
                    </div>
                    <div class="col-sm-5">
                        <p class="h2" translate>Emission Metric</p>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label class="col-form-label" for="energyMetricActual" translate>Energy Metric Actual Column</label>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-control" id="energyMetricActual" ng-model="new_compliance_metric.actual_energy_column">
                            <option ng-repeat="property_column in property_columns" ng-value="property_column.id">{$:: property_column.displayName $}</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <label class="col-form-label" for="emissionMetricActual" translate>Emission Metric Actual Column</label>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-control" id="emissionMetricActual" ng-model="new_compliance_metric.actual_emission_column">
                            <option ng-repeat="property_column in property_columns" ng-value="property_column.id">{$:: property_column.displayName $}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label class="col-form-label" for="energyMetricTarget" translate>Energy Metric Target Column</label>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-control" id="energyMetricTarget" ng-model="new_compliance_metric.target_energy_column">
                            <option ng-repeat="property_column in property_columns" ng-value="property_column.id">{$:: property_column.displayName $}</option>
                        </select>                       
                    </div>
                    <div class="col-sm-2">
                        <label class="col-form-label" for="emissionMetricTarget" translate>Emission Metric Target Column</label>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-control" id="emissionMetricTarget" ng-model="new_compliance_metric.target_emission_column">
                            <option ng-repeat="property_column in property_columns" ng-value="property_column.id">{$:: property_column.displayName $}</option>
                        </select>
                    </div>
                </div>
                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-2 pt-0">Energy Metric Type</legend>
                        <div class="col-sm-3">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="energyMetricType" id="energyMetricType1" value="Target > Actual for Compliance" ng-model="new_compliance_metric.energy_metric_type" checked>
                                    <span translate>Target > Actual for Compliance</span>
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="energyMetricType" id="energyMetricType2" value="Actual > Target for Compliance" ng-model="new_compliance_metric.energy_metric_type">
                                    <span translate>Actual > Target for Compliance</span>
                                </label>
                            </div>
                        </div>
                        <legend class="col-form-label col-sm-2 pt-0">Emission Metric Type</legend>
                        <div class="col-sm-3">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="emissionMetricType" id="emissionMetricType1" value="Target > Actual for Compliance" ng-model="new_compliance_metric.emission_metric_type" checked>
                                    <span translate>Target > Actual for Compliance</span>
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="emissionMetricType" id="emissionMetricType2" value="Actual > Target for Compliance" ng-model="new_compliance_metric.emission_metric_type">
                                    <span translate>Actual > Target for Compliance</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <p class="h3" translate>X Axis Column Types for Plotting:</p>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <p> </p>
                    </div>
                    <div class="col-sm-3">
                        <p class="h5" translate>Selections:</p>
                    </div>
                    <!-- <div class="col-sm-3">
                        <p class="h5" translate>X Axis Column Selections:</p>
                    </div> -->
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <p> </p>
                    </div>
                    <div class="col-sm-3">
                        <select multiple class="form-control" id="xAxisColumnSelections" ng-model="new_compliance_metric.x_axis_columns">
                            <option ng-repeat="property_column in property_columns" ng-value="property_column.id">{$:: property_column.displayName $}</option>
                        </select>
                    </div>
                    <!-- <div class="col-sm-3">
                        <select class="form-control" ng-options="column.column_name as column.display_name for column in property_column_names" ng-model="org.property_display_field"></select>
                    </div> -->
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <p> </p>
                    </div>
                    <div class="col-sm-4">
                        <a ui-sref="insights_program(::{organization_id: org.id})" ui-sref-active="active" translate>View Compliance Tracking</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="section_content_container">
            <div class="section_content with_padding">
                <button type="button" class="pull-right btn btn-primary" ng-click="save_settings()">{$:: 'Save Changes' | translate $} <i class="fa fa-check" ng-show="settings_updated"></i></button>
            </div>
        </div>
    </div>
</div>