<div class="section">
    <div class="section_content_container">
        <div class="section_content container-fluid">
            <div class="content_block row">
                <div id="text-block" class="col-sm-8">
                    <h1 translate>Contact</h1>

                    <h2>{$:: 'For SEED Platform™ Users' | translate $}:</h2>
                    <p translate>Please visit our User Support website for tutorials and documentation to help you learn how to use SEED Platform™. </p>

                    <p style="margin-left: 2em;"><a href="https://sites.google.com/a/lbl.gov/seed/" target="_blank" rel="noopener noreferrer">https://sites.google.com/a/lbl.gov/seed/</a></p>

                    <p translate>There is also a link to the SEED Platform™ Users forum, where you can connect with other users.</p>

                    <p style="margin-left: 2em;"><a href="https://groups.google.com/forum/#!forum/seed-platform-users" target="_blank" rel="noopener noreferrer">https://groups.google.com/forum/#!forum/seed-platform-users</a></p>

                    <p translate>For direct help on a specific problem, please email:</p>

                    <p style="margin-left: 2em;"><a href="mailto:SEED-Support@lists.lbl.gov">SEED-Support@lists.lbl.gov</a></p>

                    <h2>{$:: 'For SEED Platform™ Developers' | translate $}:</h2>

                    <p translate>The Open Source code is available on the Github organization SEED Platform™:</p>

                    <p style="margin-left: 2em;"><a href="https://github.com/SEED-platform" target="_blank" rel="noopener noreferrer">https://github.com/SEED-platform</a></p>

                    <p translate>Please join the SEED Platform™ Dev forum where you can connect with other developers.</p>

                    <p style="margin-left: 2em;"><a href="https://groups.google.com/forum/#!forum/seed-platform-dev" target="_blank" rel="noopener noreferrer">https://groups.google.com/forum/#!forum/seed-platform-dev</a></p>

                </div>
            </div>
        </div>
    </div>
</div>
