<div class="section">
    <div class="section_content_container">
        <div class="section_content container-fluid">
            <div class="content_block row">
                <div id="text-block" class="col-sm-8">
                    <h1 translate>Contact</h1>

                    <h2>{$:: 'For SEED Platform™ Users' | translate $}:</h2>
                    <p translate>Please visit our website for information, tutorials, and documentation to help you learn how to use SEED.</p>

                    <p style="margin-left: 2em;"><a href="https://seed-platform.org" target="_blank" rel="noopener noreferrer">https://seed-platform.org</a></p>

                    <p translate>The SEED Users Forum is where you can review user announcements, workflow questions, and join to connect with other users.</p>

                    <p style="margin-left: 2em;"><a href="https://lists.buildingenergytools.org/g/SEEDusers/topics" target="_blank" rel="noopener noreferrer">https://lists.buildingenergytools.org/g/SEEDusers/topics</a></p>

                    <p translate>For direct help on a specific problem, please fill out a request on the building data tools website help desk:</p>

                    <p style="margin-left: 2em;"><a href="https://buildingdata.energy.gov/#/help-desk">https://buildingdata.energy.gov/#/help-desk</a></p>

                    <h2>{$:: 'For SEED Platform™ Developers' | translate $}:</h2>

                    <p translate>The open-source code is available on the GitHub organization of seed-platform and contains various repositories for the different components of the platform such as the main SEED application, a Python client to communicate to SEED's API and various example datasets.</p>

                    <p style="margin-left: 2em;"><a href="https://github.com/seed-platform" target="_blank" rel="noopener noreferrer">https://github.com/seed-platform</a></p>

                    <p translate>The SEED Developers Forum contains various topics and joining enables you to connect with other developers. It is recommended to join this forum to submit developer questions, feature requests, and report issues as needed. Also, submitting issues on GitHub is encouraged.</p>

                    <p style="margin-left: 2em;"><a href="https://lists.buildingenergytools.org/g/SEEDdevelopers/topics" target="_blank" rel="noopener noreferrer">https://lists.buildingenergytools.org/g/SEEDdevelopers/topics</a></p>

                </div>
            </div>
        </div>
    </div>
</div>
