<div class="modal-header">
  <h4 class="modal-title" translate>copy_to_different_cycle_modal</h4>
</div>

<div class="modal-body">
  <div class="row">
    <label>{$:: 'Cycle' | translate $}:</label>
    <select
      class="form-control input-sm grow"
      ng-model="selected_cycle"
      ng-options="cycle as cycle.name for cycle in cycles"
    ></select>
  </div>
  <div class="row">
    <label>{$:: 'Column List Profile' | translate $}:</label>
    <select
      class="form-control input-sm grow"
      ng-model="selected_column_list_profile"
      ng-options="profile.name for profile in profiles"
    ></select>
    <!-- <input type="checkbox" class="" ng-model="historical_note.selected" />
    <label
      for="historical_note-value"
      ng-class="{'disabled': !historical_note.selected}"
      translate
      >Overwrite existing properties in the cycle</label
    > -->
      <div class="progress_bar_container" ng-show="status.in_progress">
    <div class="progress_bar_copy_top" translate>Progress</div>
    <uib-progressbar
      class="progress-striped active"
      value="status.progress"
      type="success"
    ></uib-progressbar>
    <div class="progress_bar_copy_bottom">
      {$ status.progress | number:0 $}% {$:: 'Complete' | translate $} {$
      status.status_message ? ': ' + status.status_message : '' $}
    </div>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary r-margin-right-5" ng-click="save()" translate>
    Save
  </button>
  <button class="btn btn-default r-margin-right-5" ng-click="dismiss()" translate>
    Dismiss
  </button>
</div>
