<div class="modal-header">
    <h4 class="modal-title" id="createOrganizationLabel" translate>Create a New Sub-Organization</h4>
</div>
<form class="form-horizontal" role="form" name="sub_org_form" ng-submit="submit_form(sub_org_form.$valid)">
    <div class="modal-body">
        <div class="form-group" ng-class="{ 'has-error' : sub_org_form.name.$invalid && !sub_org_form.name.$pristine }">
            <label class="control-label col-sm-3" for="createOrganizationName">{$:: 'Sub-Org Name' | translate $}:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="name" id="createOrganizationName" placeholder="{$:: 'Enter sub-organization name' | translate $}" ng-model="sub_org.name" required>
                <p ng-show="sub_org_form.name.$invalid && !sub_org_form.name.$pristine" class="help-block" translate>Sub-Org name is required.</p>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : (sub_org_form.email.$invalid && !sub_org_form.email.$pristine) || error_message.length > 0 }">
            <label class="control-label col-sm-3" for="createOrganizationInvite">{$:: 'Invite an Owner' | translate $}:</label>
            <div class="col-sm-8">
                <input type="email" class="form-control" name="email" id="createOrganizationInvite" placeholder="{$:: 'Enter email address' | translate $}" ng-model="sub_org.email" required>
                <p ng-show="sub_org_form.email.$invalid && !sub_org_form.email.$pristine" class="help-block" translate>Enter a valid email address.</p>
                <p ng-show="error_message.length > 0" class="help-block">{$ error_message | translate $}</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3"></div>
            <div class="col-sm-8">
                <p translate>Note: Parent organization members are not automatically made members of sub-organizations.</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
        <button type="submit" class="btn btn-primary" ng-disabled="sub_org_form.$invalid" translate>Create New Sub-Organization</button>
    </div>
</form>
