<div class="modal-header">
  <h4 class="modal-title" translate>Create Service</h4>
</div>
<div class="modal-body">
  <form id="newServiceForm" name="newServiceForm" role="form" ng-submit="submitNewServiceForm(newServiceForm)"
    novalidate>

    <!-- Name input -->
    <div class="form-group">
      <label class="control-label sectionLabel" translate>Name</label>
      <input id="name" type="text" name="name" class="form-control" ng-minlength="1" ng-maxlength="100"
        ng-model="new_service.name" placeholder="{$:: 'Service Name' | translate $}" required />
    </div>

    <!-- emission_factor input -->
    <div class="form-group">
      <label class="control-label sectionLabel" translate>Emission Factor</label>
      <input ng-model="new_service.emission_factor" type="number" class="form-control"
        ng-init="new_service.emission_factor=1" ng-value="1" step="1" min="0" />
    </div>

    <div class="modal-footer"></div>
    <button type="button" class="btn btn-default" style="min-width: 90px" ng-click="cancel()" translate>Cancel</button>
    <button type="submit" class="btn btn-primary" form="newServiceForm"
      ng-disabled="newServiceForm.$invalid || waiting_for_server" translate>Create Service</button>
</div>
</div>
