<div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-hidden="true"><i class="fa fa-times"></i></button>
    <h4 class="modal-title" id="createOrganizationLabel" ng-if="!note.id">Create a New Note</h4>
    <h4 class="modal-title" id="createOrganizationLabel" ng-if="note.id">Update Note</h4>
</div>
<form class="form-horizontal" role="form" name="note_form" ng-submit="submit_form(note_form.$valid)">
    <div class="modal-body">
        <div class="form-group" ng-class="{ 'has-error' : note_form.name.$invalid && !note_form.name.$pristine }">
            <label class="control-label col-sm-3" for="creatNote">Note:</label>
            <div class="col-sm-8">
                <textarea rows="3" class="form-control" name="name" id="creatNote" placeholder="Enter note" ng-model="note.action_note" required></textarea>
                <p ng-show="note_form.name.$invalid && !note_form.name.$pristine" class="help-block">Note is required.</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button type="submit" class="btn btn-primary" ng-disabled="note_form.$invalid" ng-if="!note.id">Create New Note</button>
        <button type="submit" class="btn btn-primary" ng-disabled="note_form.$invalid" ng-if="note.id">Update Note</button>
    </div>
</form>
