<div class="modal-header">
  <h4 class="modal-title" translate>Create System</h4>
</div>
<div class="modal-body">
  <form id="newSystemForm" name="newSystemForm" role="form" ng-submit="submitNewSystemForm(newSystemForm)" novalidate>

    <!-- Name input -->
    <div class="form-group">
      <label class="control-label sectionLabel" translate>Name</label>
      <input id="name" type="text" name="name" class="form-control" ng-minlength="1" ng-maxlength="100"
        ng-model="new_system.name" placeholder="{$:: 'System Name' | translate $}" required />
    </div>

    <!-- system selection -->
    <div class="form-group">
      <label class="control-label sectionLabel">System Type</label>
      <select class="form-control" ng-model="new_system.type" ng-dropdown ng-change="initializeSystem()" required>
        <option ng-option value="DES" selected="selected">DES</option>
        <option ng-option value="EVSE" selected="selected">EVSE</option>
        <option ng-option value="Battery" selected="selected">Battery</option>
      </select>
    </div>

    <!-- DES -->
    <div class="form-group" ng-if="new_system.type == 'DES'">
      <label class="control-label sectionLabel">DES Type</label>
      <select class="form-control" ng-model="new_system.DES_type" ng-dropdown required>
        <option ng-repeat="DES_type in DES_types" selected="selected" ng-value="DES_type">{$:: DES_type $}</option>
      </select>
      <label class="control-label sectionLabel" translate>capacity</label>
      <input id="capacity" type="number" name="capacity" class="form-control" ng-model="new_system.capacity"
        placeholder="{$:: 'capacity' | translate $}" required />
      <label class="control-label sectionLabel" translate>count</label>
      <input id="count" type="number" name="count" class="form-control" ng-model="new_system.count"
        placeholder="{$:: 'count' | translate $}" required />
    </div>

    <!-- EVSE -->
    <div class="form-group" ng-if="new_system.type == 'EVSE'">
      <label class="control-label sectionLabel">EVSE Type</label>
      <select class="form-control" ng-model="new_system.EVSE_type" ng-dropdown required>
        <option ng-repeat="EVSE_type in EVSE_types" selected="selected" ng-value="EVSE_type">{$:: EVSE_type $}</option>
      </select>
      <label class="control-label sectionLabel" translate>power</label>
      <input id="power" type="number" name="power" class="form-control" ng-model="new_system.power"
        placeholder="{$:: 'power' | translate $}" required />
      <label class="control-label sectionLabel" translate>count</label>
      <input id="count" type="number" name="count" class="form-control" ng-model="new_system.count"
        placeholder="{$:: 'count' | translate $}" required />
    </div>

    <!-- Battery -->
    <div class="form-group" ng-if="new_system.type == 'Battery'">
      <label class="control-label sectionLabel" translate>efficiency</label>
      <input id="efficiency" type="number" name="efficiency" class="form-control" ng-model="new_system.efficiency"
        placeholder="{$:: 'efficiency' | translate $}" required />
      <label class="control-label sectionLabel" translate>capacity</label>
      <input id="capacity" type="number" name="capacity" class="form-control" ng-model="new_system.capacity"
        placeholder="{$:: 'capacity' | translate $}" required />
      <label class="control-label sectionLabel" translate>voltage</label>
      <input id="voltage" type="number" name="voltage" class="form-control" ng-model="new_system.voltage"
        placeholder="{$:: 'voltage' | translate $}" required />
    </div>
  </form>

  <div class="modal-footer"></div>
  <button type="button" class="btn btn-default" style="min-width: 90px" ng-click="cancel()" translate>Cancel</button>
  <button type="submit" class="btn btn-primary" form="newSystemForm"
    ng-disabled="newSystemForm.$invalid || waiting_for_server" translate>Create System</button>
</div>
</div>
