<div class="modal-header" ng-switch on="step.number">
    <h4 class="modal-title" ng-switch-when="1">Create a New Data Set.</h4>
    <h4 class="modal-title" ng-switch-when="2">Upload your data.</h4>
    <h4 class="modal-title" ng-switch-when="3">Successful upload!</h4>
    <h4 class="modal-title" ng-switch-when="4">Upload your energy data.</h4>
    <h4 class="modal-title" ng-switch-when="5">Successful upload!</h4>
    <h4 class="modal-title" ng-switch-when="6">What type of file would you like to upload?</h4>
    <h4 class="modal-title" ng-switch-when="7">Finding inventory matches.</h4>
    <h4 class="modal-title" ng-switch-when="8">Matching Results for file: <strong>{$ dataset.filename $}</strong></h4>
    <h4 class="modal-title" ng-switch-when="9">Add files to {$ dataset.name $}.</h4>
    <h4 class="modal-title" ng-switch-when="10">{$ step_10_title|titleCase $}</h4>
    <h4 class="modal-title" ng-switch-when="11">Confirm Save Mappings?</h4>
    <h4 class="modal-title" ng-switch-when="12">Error Processing Data</h4>
</div>
<div class="modal-body no_bottom_padding" ng-switch on="step.number">
    <!-- Step 1 -->
    <div class="data_upload_steps form-horizontal" ng-switch-when="1">
        <div class="alert alert-danger" ng-show="dataset.alert">
            The data set <strong>name "{$ dataset.name $}" already exists</strong>. Please select a new one.
        </div>
        <div class="form-group" ng-class="{'has-error': dataset.alert, 'has-feedback': dataset.alert}">
            <label class="control-label col-lg-3 col-sm-3" for="inputDataUploadName">Data Set Name</label>
            <div class="col-lg-8 col-sm-8">
                <input type="text" class="form-control" id="inputDataUploadName" ng-model="dataset.name" placeholder="your data set name" sd-enter="create_dataset(dataset.name)" required>
            </div>
        </div>
    </div>
    <!-- Step 2: Choose upload type -->
    <div class="data_upload_steps container-fluid" ng-switch-when="2">
        <div class="alert alert-danger" ng-show="uploader.invalid_extension_alert">
            <strong>Sorry!</strong> SEED doesn't currently support that file format. Only <strong>.csv</strong>,
            <strong>.xls</strong>, <strong>.xlsx</strong>, and <strong>.xml</strong> files are supported.
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1" ng-hide="uploader.in_progress">
                <div class="row">
                    <label class="col-sm-3 col-sm-offset-1 control-label" for="selected-cycle" style="margin-top: 5px;">Time Period:</label>
                    <div class="col-sm-7">
                        <select id="selected-cycle" name="selected-cycle" class="form-control input-sm" ng-model="selectedCycle" ng-options="cycle.name for cycle in cycles track by cycle.id"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-4">
                        <a ui-sref="organization_cycles({organization_id: organization.id})" ng-click="cancel()">Manage available cycles.</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2" sd-uploader sourcetype="Assessed Raw" sourceprog="" sourcever="" importrecord="dataset.id" buttontext="Upload a Spreadsheet" eventfunc="uploaderfunc(message, file, progress)" ng-hide="uploader.in_progress" ng-disabled="!selectedCycle" style="padding-top: 20px;"></div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2" sd-uploader sourcetype="Assessed Raw" sourceprog="PortfolioManager" sourcever="1.0" importrecord="dataset.id" buttontext="Upload Portfolio Manager Data" eventfunc="uploaderfunc(message, file, progress)" ng-disabled="!selectedCycle" ng-hide="uploader.in_progress"></div>
        </div>
        <div class="row">
            <div class="col-sm-9 col-sm-offset-2" ng-hide="uploader.in_progress">
                <!--<div class="row">-->
                    <!--<span class="col-xs-1"><input type="checkbox" id="use-field-option" name="pm-cycle-option" ng-model="useField" ng-init="useField = true" value="field"></span>-->
                    <!--<label class="col-sm-7 control-label" for="use-field-option">Determine Time Period from Field:</label>-->
                    <!--<span class="col-sm-4">Year Ending</span>-->
                <!--</div>-->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 green_button" sd-uploader sourcetype="Green Button Raw" sourceprog="" sourcever="" importrecord="dataset.id" buttontext="Upload Green Button Data" eventfunc="uploaderfunc(message, file, progress)" ng-hide="uploader.in_progress" ng-disabled="true" style="padding-top: 10px;">Upload Green Button Data</div>
        </div>
        <div class="progress_bar_container" ng-show="uploader.in_progress">
            <div class="progress_bar_copy_top">Uploading <strong>{$ dataset.filename $}</strong></div>

            <uib-progressbar class="progress-striped active" value="uploader.progress" type="success"></uib-progressbar>
            <div class="progress_bar_copy_bottom">{$ uploader.progress | number:0 $}% {$ uploader.status_message $}</div>
        </div>
        <div ng-hide="uploader.in_progress" style="margin-top: 30px;">
            <div>
                <p>File types supported: <strong>.csv</strong>, <strong>.xls</strong>, <strong>.xlsx</strong>, and
                    <strong>.xml</strong>.</p>
                <p><strong>Note:</strong> multi-sheet Excel files are not currently supported.</p>
            </div>
        </div>
    </div>
    <!-- Step 3 -->
    <div class="data_upload_steps" ng-switch-when="3">
        <div class="row">
            <div class="alert alert-success">
                <strong>{$ dataset.filename $}</strong> has been uploaded to <strong>{$ dataset.name $}</strong>.
            </div>
        </div>
    </div>
    <!-- Step 4: load Portfolio Manager report data -->
    <div class="data_upload_steps" ng-switch-when="4">
        <div class="row">
            <div class="alert alert-danger" ng-show="uploader.invalid_extension_alert">
                <strong>Sorry!</strong> SEED doesn't currently support that file format. Only <strong>.csv</strong>,
                <strong>.xls</strong>, <strong>.xlsx</strong>, and <strong>.xml</strong> files are supported.
            </div>
            <div class="form-group col-sm-12">
                <div sd-uploader sourcetype="Portfolio Raw" importrecord="dataset.id" buttontext="Upload your energy data file(s)" eventfunc="uploaderfunc(message, file, progress)" ng-hide="uploader.in_progress"></div>
                <div class="progress_bar_container" ng-show="uploader.in_progress">
                    <div class="progress_bar_copy_top">Uploading <strong>{$ dataset.filename $}</strong></div>

                    <uib-progressbar class="progress-striped active" value="uploader.progress" type="success"></uib-progressbar>
                    <div class="progress_bar_copy_bottom">{$ uploader.progress | number:0 $}% {$ uploader.status_message $}</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Step 5 -->
    <div class="data_upload_steps" ng-switch-when="5">
        <div class="row">
            <div class="alert alert-success" ng-show="uploader.complete">
                <strong>{$ dataset.filename $}</strong> has been uploaded to <strong>{$ dataset.name $}</strong>.
            </div>
        </div>
    </div>
    <!-- Step 6 -->
    <div class="data_upload_steps" ng-switch-when="6">
        <div class="row">
            <div class="form-group col-sm-12">
                <button type="button" class="btn btn-primary" ng-click="goto_step(2)">Inventory list file</button>
                <button type="button" class="btn btn-primary" ng-click="goto_step(4)">Energy data file</button>
            </div>
        </div>
    </div>
    <!-- Step 7: Finding building matches -->
    <div class="data_upload_steps" ng-switch-when="7">
        <div class="row">
            <div class="form-group col-sm-12">
                <div class="progress_bar_container">
                    <div class="progress_bar_copy_top">Finding inventory matches for
                        <strong>{$ dataset.filename $}</strong></div>
                    <uib-progressbar class="progress-striped active" value="uploader.progress" type="success"></uib-progressbar>
                    <div class="progress_bar_copy_bottom">{$ uploader.progress | number:0 $}% Complete</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Step 8: Review matches -->
    <div class="data_upload_steps" ng-switch-when="8">
        <div class="row">
            <div class="alert alert-success">
                <ul>
                    <li>Total rows in the import file: {$ import_file_records|number:0 $}</li>
                    <li ng-if="unmatched_properties">New properties: {$ unmatched_properties|number:0 $}</li>
                    <li ng-if="unmatched_taxlots">New tax lots: {$ unmatched_taxlots|number:0 $}</li>
                    <li ng-if="matched_properties">Merged properties: {$ matched_properties|number:0 $}</li>
                    <li ng-if="matched_taxlots">Merged tax lots: {$ matched_taxlots|number:0 $}</li>
                    <li ng-if="duplicate_property_states">Ignored property duplicates within the import file: {$ duplicate_property_states|number:0 $}</li>
                    <li ng-if="duplicate_tax_lot_states">Ignored tax lot duplicates within the import file: {$ duplicate_tax_lot_states|number:0 $}</li>
                    <li ng-if="duplicates_of_existing_property_states">Ignored duplicates of existing properties: {$ duplicates_of_existing_property_states|number:0 $}</li>
                    <li ng-if="duplicates_of_existing_taxlot_states">Ignored duplicates of existing tax lots: {$ duplicates_of_existing_taxlot_states|number:0 $}</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Step 9: Select the type of file to upload. -->
    <div class="data_upload_steps" ng-switch-when="9">
        <div class="row">
            <div class="form-group col-sm-12">
                Select the type of file(s) you would like to add to {$ dataset.name $}.
            </div>
        </div>
    </div>
    <!-- Step 10: No matches -->
    <div class="data_upload_steps" ng-switch-when="10">
        <div class="row">
            <div class="alert alert-success">
                <ul>
                    <li>Total rows in the import file: {$ import_file_records|number:0 $}</li>
                    <li ng-if="unmatched_properties">New properties: {$ unmatched_properties|number:0 $}</li>
                    <li ng-if="unmatched_taxlots">New tax lots: {$ unmatched_taxlots|number:0 $}</li>
                    <li ng-if="matched_properties">Merged properties: {$ matched_properties|number:0 $}</li>
                    <li ng-if="matched_taxlots">Merged tax lots: {$ matched_taxlots|number:0 $}</li>
                    <li ng-if="duplicate_property_states">Ignored property duplicates within the import file: {$ duplicate_property_states|number:0 $}</li>
                    <li ng-if="duplicate_tax_lot_states">Ignored tax lot duplicates within the import file: {$ duplicate_tax_lot_states|number:0 $}</li>
                    <li ng-if="duplicates_of_existing_property_states">Ignored duplicates of existing properties: {$ duplicates_of_existing_property_states|number:0 $}</li>
                    <li ng-if="duplicates_of_existing_taxlot_states">Ignored duplicates of existing tax lots: {$ duplicates_of_existing_taxlot_states|number:0 $}</li>
                </ul>
            </div>
            <div class="alert alert-{$ step_10_style $}">
                <span ng-show="step_10_error_message">{$ step_10_error_message $}</span>
                <span ng-hide="step_10_error_message"><strong>SEED could not locate any existing matches</strong>. Would you like to add another file?</span>
            </div>
            <div class="form-group col-sm-12"></div>
        </div>
    </div>
    <!-- Step 11: Save Mappings Permanently  -->
    <div class="data_upload_steps" ng-switch-when="11">
        <div class="row">
            <div class="alert alert-warning">
                Did you review your mappings? It's a good idea to double check your mappings. Once SEED matches your properties &amp; tax lots you cannot undo or edit these mappings.
            </div>
        </div>
    </div>
    <!-- Step 12: Error Processing Data  -->
    <div class="data_upload_steps" ng-switch-when="12">
        <div class="row">
            <div class="col-sm-12">
                <div>
                    <p>An error occurred while processing the file. Please ensure that your file meets the required specifications.</p>
                    <pre ng-class="{'pre-scrollable': step_12_error_message.length >= 300}" ng-show="step_12_error_message">{$ step_12_error_message $}</pre>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer container-fluid" ng-switch on="step.number">
    <div ng-switch-when="1">
        <div class="row text-center">
            <button type="button" class="btn btn-primary col-sm-6 center-block" ng-click="create_dataset(dataset.name)" ng-disabled="dataset.disabled()">Create Data Set</button>
        </div>
    </div>
    <div ng-switch-when="2"></div>
    <div ng-switch-when="3">
        <!-- Leaving this out for now as I'm not sure we want to allow the user to do this right here.
        <button type="button" class="btn btn-default">Upload another building list file</button> -->
        <div class="row text-center">
            <button type="button" class="btn btn-primary col-sm-6 center-block" ng-click="goto_data_mapping()">Continue to data mapping</button>
        </div>
    </div>
    <div ng-switch-when="4"></div>
    <div ng-switch-when="5">
        <div class="row text-center">
            <button type="button" class="btn btn-default col-sm-6" center-block ng-click="goto_step(4)">Upload another energy data file</button>
        </div>
        <div class="row text-center">
            <button type="button" class="btn btn-primary col-sm-6 center-block" ng-click="goto_data_matching()">Continue to data matching</button>
        </div>
    </div>
    <div ng-switch-when="7"></div>
    <div ng-switch-when="8">
        <div class="row text-center">
            <button type="button" class="btn btn-primary col-sm-6 center-block" ng-click="goto_step(2)">Add another file</button>
        </div>
        <div class="row text-center">
            <button type="button" class="btn btn-primary col-sm-6 center-block" ng-click="view_my_properties()">View my properties</button>
        </div>
        <div class="row text-center">
            <button id="review-mapping" type="button" class="btn btn-primary col-sm-6 center-block" ng-click="goto_data_matching()">Review matches</button>
        </div>
    </div>
    <div ng-switch-when="9">
        <div class="row text-center">
            <button type="button" class="btn btn-primary col-sm-6 center-block" ng-click="goto_step(2)">Add another file</button>
        </div>
    </div>
    <div ng-switch-when="10">
        <div class="row text-center">
            <button type="button" class="btn btn-primary col-sm-6 center-block" ng-click="goto_step(2)">Add another file</button>
        </div>
        <div class="row text-center">
            <button id="view-buildings" type="button" class="btn btn-primary col-sm-6 center-block" ng-click="view_my_properties()">View my properties</button>
        </div>
    </div>
    <div ng-switch-when="11">
        <div class="row text-center">
            <button type="button" id="confirm-mapping" class="btn btn-primary col-sm-6 center-block" ng-click="save_mappings()">Confirm mappings &amp; start matching</button>
        </div>
    </div>
    <div class="row text-center">
        <button type="button" class="btn btn-default col-sm-6 center-block" ng-click="cancel()">Dismiss</button>
    </div>
</div>
