<div class="modal-header" ng-switch on="step.number">
    <h4 class="modal-title" ng-switch-when="1" translate>Create a New Data Set.</h4>
    <h4 class="modal-title" ng-switch-when="2" translate>Uploading your data.</h4>
    <h4 class="modal-title" ng-switch-when="3" translate>Successful upload!</h4>
    <h4 class="modal-title" ng-switch-when="4" translate>Upload your energy data.</h4>
    <h4 class="modal-title" ng-switch-when="5" translate>Successful upload!</h4>
    <h4 class="modal-title" ng-switch-when="6" translate>What type of file would you like to upload?</h4>
    <h4 class="modal-title" ng-switch-when="7" translate>Finding inventory matches.</h4>
    <h4 class="modal-title" ng-switch-when="8" translate="MATCHING_RESULTS_FOR_FILE" translate-values="{dataset_filename: dataset.filename}"></h4>
    <h4 class="modal-title" ng-switch-when="9" translate="ADD_FILES_TO" translate-values="{dataset_name: dataset.name}"></h4>
    <h4 class="modal-title" ng-switch-when="10">{$:: step_10_mapquest_api_error ? 'UPLOAD_INCOMPLETE_TITLE' : 'UPLOAD_COMPLETE_TITLE' | translate $} - {$ dataset.filename $}</h4>
    <h4 class="modal-title" ng-switch-when="11" translate>Confirm Save Mappings?</h4>
    <h4 class="modal-title" ng-switch-when="12" translate>Error Processing Data</h4>
    <h4 class="modal-title" ng-switch-when="13" translate>Portfolio Manager Import</h4>
    <h4 class="modal-title" ng-switch-when="15" translate>UPLOAD_PM_READINGS_MODAL_TITLE</h4>
    <h4 class="modal-title" ng-switch-when="16" translate>PM_METER_IMPORT_RESULTS</h4>

</div>
<div class="modal-body" ng-switch on="step.number">
    <!-- Step 1 -->
    <div class="data_upload_steps form-horizontal" ng-switch-when="1">
        <div class="alert alert-danger" ng-show="dataset.alert"
            translate="DATASET_NAME_ALREADY_EXISTS"
            translate-values="{ dataset_name: dataset.name }"></div>
        <div class="form-group" ng-class="{'has-error': dataset.alert, 'has-feedback': dataset.alert}">
            <label class="control-label col-lg-3 col-sm-3" for="inputDataUploadName" translate>Data Set Name</label>
            <div class="col-lg-8 col-sm-8">
                <input type="text" class="form-control" id="inputDataUploadName" ng-model="dataset.name" placeholder="{$:: 'your data set name' | translate $}" sd-enter="create_dataset(dataset.name)" required>
            </div>
        </div>
    </div>
    <!-- Step 2 & 13: Choose upload type (also Portfolio Manager Data Import) -->
    <div class="data_upload_steps container-fluid" ng-switch-when="2|13" ng-switch-when-separator="|">
        <div class="alert alert-danger" ng-show="uploader.invalid_extension_alert" translate="INVALID_EXTENSION_ALERT"></div>
        <div class="alert alert-danger" ng-show="uploader.invalid_geojson_extension_alert" translate="INVALID_GEOJSON_EXTENSION_ALERT"></div>
        <div class="alert alert-danger" ng-show="uploader.invalid_xml_zip_extension_alert" translate="INVALID_XML_ZIP_EXTENSION_ALERT"></div>
        <uib-tabset class="modal-tabs">

            <uib-tab index="0" heading="{$:: 'Property and Tax Lot Data' | translate $}">
                <div class="tab-content-section" ng-hide="uploader.in_progress">
                    <div class="row">
                        <label class="col-sm-4 control-label" for="selected-cycle" style="margin-top: 5px;" translate>Cycle</label>
                        <div class="col-sm-8">
                            <select id="selected-cycle" name="selected-cycle" class="form-control input-sm" ng-change="cycleChanged(selectedCycle)" ng-model="selectedCycle" ng-options="cycle.name for cycle in cycles track by cycle.id" style="width:100%;"></select>
                            <a ui-sref="organization_cycles(::{organization_id: organization.id})" ng-click="cancel()" translate>Manage available cycles.</a>
                        </div>
                    </div>
                </div>
                <div class="tab-content-section" ng-hide="uploader.in_progress">
                    <div class="row">
                        <div class="col-sm-4">
                          <p translate>FILE_TYPES_SUPPORTED</p>
                          <p translate>MULTI_FILE_EXCEL_NOT_SUPPORTED</p>
                        </div>
                        <div class="col-sm-8" style="margin-bottom: 10px;" ng-disabled="!selectedCycle">
                            <div class="btn btn-primary upload-btn flex-centered" sd-uploader organization-id="organization.org_id" sourcetype="Assessed Raw" sourceprog="" sourcever="" importrecord="dataset.id" eventfunc="uploaderfunc(message, file, progress)" ng-disabled="!selectedCycle">
                                <i class="fa fa-table fa-2x"></i>
                                <span class="grow">{$:: 'Upload a Spreadsheet' | translate $}</span>
                            </div>
                        </div>
                        <div class="col-sm-8" style="margin-bottom: 10px;" ng-disabled="!selectedCycle">
                            <div class="btn btn-primary upload-btn flex-centered" sd-uploader organization-id="organization.org_id" sourcetype="GeoJSON" sourceprog="" sourcever="" importrecord="dataset.id" eventfunc="uploaderfunc(message, file, progress)" ng-disabled="!selectedCycle">
                                <i class="fa fa-globe fa-2x"></i>
                                <span class="grow">Upload a GeoJSON File</span>
                            </div>
                        </div>
                        <div class="col-sm-8" ng-disabled="!selectedCycle">
                            <div class="btn btn-primary upload-btn flex-centered" sd-uploader  organization-id="organization.org_id" sourcetype="BuildingSync Raw" sourceprog="" sourcever="" importrecord="dataset.id" eventfunc="uploaderfunc(message, file, progress)" ng-disabled="!selectedCycle">
                                <i class="fa fa-file-code-o fa-2x"></i>
                                <span class="grow">{$:: 'Upload BuildingSync Data' | translate $}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content-section" ng-hide="uploader.in_progress">
                    <div ng-switch on="step.number" ng-disabled="!selectedCycle">
                        <div class="row" ng-switch-when="2">
                            <div class="col-sm-offset-4 col-sm-8">
                                <div class="btn btn-primary upload-btn flex-centered" ng-click="goto_step(13)">
                                    <i class="fa fa-id-card-o fa-2x"></i>
                                    <span class="grow">{$:: 'Import Portfolio Manager Data' | translate $}</span>
                                </div>
                            </div>
                        </div>
                        <!-- Step 13: Portfolio Manager Data Import -->
                        <div ng-switch-when="13">
                            <div class="alert alert-danger" ng-show="pm_error_alert">{$ pm_error_alert $}</div>
                            <div class="row" style="padding-bottom:10px">
                                <label class="control-label col-sm-4" for="inputPMUsername">Portfolio Manager Username</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputPMUsername" name="username" ng-model="pm_username" ng-disabled="!pm_buttons_enabled" required>
                                </div>
                            </div>
                            <div class="row" style="padding-bottom:10px">
                                <label class="control-label col-sm-4" for="inputPMPassword">Portfolio Manager Password</label>
                                <div class="col-sm-8">
                                    <input type="password" class="form-control" id="inputPMPassword" name="password" ng-model="pm_password" ng-disabled="!pm_buttons_enabled" required autocomplete="off">
                                </div>
                            </div>
                            <div class="row" style="padding-bottom:10px">
                                <div class="col-sm-8 col-sm-offset-4">
                                    <div class="btn btn-primary" style="display: block; font-weight: bold;" ng-disabled="!pm_buttons_enabled" ng-click="get_pm_report_template_names(pm_username, pm_password);">Get Report Templates</div>
                                </div>
                            </div>
                            <div class="row" style="padding-bottom:10px">
                                <label class="control-label col-sm-4" for="inputPMReportTemplateName">Report Template Name <small>{$ pm_templates.length ? '(' + pm_templates.length + ')' : '' $}</small></label>
                                <div class="col-sm-8">
                                    <select style="width:100%;" ng-model="pm_template" ng-disabled="!pm_buttons_enabled" ng-options="x.display_name for x in pm_templates"></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-4">
                                    <div class="col-sm-4 btn btn-primary" style="display: block; font-weight: bold;" ng-click="goto_step(2)">Cancel</div>
                                    <div class="col-sm-7 col-sm-offset-1 btn btn-primary" style="display: block; font-weight: bold;" ng-disabled="!pm_buttons_enabled || !pm_template" ng-click="get_pm_report(pm_username, pm_password, pm_template);">Submit</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content-section" ng-show="uploader.in_progress" ng-include="::urls.static_url + 'seed/partials/data_upload_modal_progress.html'"></div>
            </uib-tab>

            <uib-tab index="1" heading="{$:: 'Meter Data' | translate $}">
                <div class="tab-content-section" ng-hide="uploader.in_progress">
                   <div class="row" ng-disabled="!selectedCycle">
                        <div class="col-sm-4">
                          <p translate>FILE_TYPES_SUPPORTED</p>
                          <p translate>MULTI_FILE_EXCEL_NOT_SUPPORTED</p>
                        </div>
                        <div class="col-sm-8">
                            <div class="btn btn-primary upload-btn flex-centered" sd-uploader organization-id="organization.org_id" sourcetype="PM Meter Usage" sourceprog="" sourcever="" importrecord="dataset.id" eventfunc="uploaderfunc(message, file, progress)">
                                <i class="fa fa-bolt fa-2x"></i>
                                <span class="grow" translate>PM_METER_IMPORT_BUTTON</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content-section" ng-show="uploader.in_progress" ng-include="::urls.static_url + 'seed/partials/data_upload_modal_progress.html'"></div>
            </uib-tab>

        </uib-tabset>
        <!--<div class="row">
            <div class="col-sm-8 col-sm-offset-2 green_button" sd-uploader sourcetype="Green Button Raw" sourceprog="" sourcever="" importrecord="dataset.id" buttontext="{$:: 'Upload Green Button Data' | translate $}" eventfunc="uploaderfunc(message, file, progress)" ng-hide="uploader.in_progress" ng-disabled="true" style="padding-top: 10px;"></div>
        </div>-->

    </div>
    <!-- Step 3 -->
    <div class="data_upload_steps" ng-switch-when="3">
        <div class="row">
            <div class="alert alert-success"
            translate="DATASET_FILENAME_UPLOADED_TO"
            translate-values="{ dataset_name: dataset.name , dataset_filename: dataset.filename , cycle_name: selectedCycle.name }"></div>
        </div>
        <div class="row" ng-if="buildingsync_issues != null && buildingsync_issues.length > 0">
            <div class="col-sm-12">
                <p>There were one or more warnings for the file(s) uploaded.</p>
                <div ng-repeat="file_issues in buildingsync_issues">
                    <em>{$ file_issues.file $}</em>
                    <div class="alert alert-warning" ng-if="file_issues.use_case_warnings.length > 0" style="word-wrap: break-word;">
                        <h5>Use Case Warnings</h5>
                        <div ng-repeat="warn in file_issues.use_case_warnings">{$ warn $}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Step 4: load Portfolio Manager report data -->
    <div class="data_upload_steps" ng-switch-when="4">
        <div class="row">
            <div class="alert alert-danger" ng-show="uploader.invalid_extension_alert" translate="INVALID_EXTENSION_ALERT"></div>
            <div class="form-group col-sm-12">
                <div sd-uploader organization-id="organization.org_id" sourcetype="Portfolio Raw" importrecord="dataset.id" buttontext="{$:: 'Upload your energy data file(s)' | translate $}" eventfunc="uploaderfunc(message, file, progress)" ng-hide="uploader.in_progress"></div>
                <div class="progress_bar_container" ng-show="uploader.in_progress">
                    <div class="progress_bar_copy_top"
                         translate="UPLOADING_PROGRESS"
                         translate-values="{ dataset_filename: dataset.filename , cycle_name: selectedCycle.name }"></div>
                    <uib-progressbar class="progress-striped active" value="uploader.progress" type="success"></uib-progressbar>
                    <div class="progress_bar_copy_bottom">{$ uploader.progress | number:0 $}% {$:: 'Complete' | translate $} {$ uploader.status_message ? ': ' + uploader.status_message : '' $}</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Step 5 -->
    <div class="data_upload_steps" ng-switch-when="5">
        <div class="row">
            <div class="alert alert-success"
            translate="DATASET_FILENAME_UPLOADED_TO"
            translate-values="{ dataset_name: dataset.name , dataset_filename: dataset.filename , cycle_name: selectedCycle.name }"></div>
        </div>
    </div>
    <!-- Step 6 -->
    <div class="data_upload_steps" ng-switch-when="6">
        <div class="row">
            <div class="form-group col-sm-12">
                <button type="button" class="btn btn-primary" ng-click="goto_step(2)" translate>Inventory list file</button>
                <button type="button" class="btn btn-primary" ng-click="goto_step(4)" translate>Energy data file</button>
            </div>
        </div>
    </div>
    <!-- Step 7: Finding building matches -->
    <div class="data_upload_steps" ng-switch-when="7">
        <div class="row">
            <div class="form-group col-sm-12">
                <div class="progress_bar_container">
                    <div class="progress_bar_copy_top">{$:: 'Finding inventory matches for' | translate $}
                        <strong>{$ dataset.filename $}</strong></div>
                    <uib-progressbar class="progress-striped active" value="uploader.progress" type="success"></uib-progressbar>
                    <div class="progress_bar_copy_bottom">{$ uploader.progress | number:0 $}% {$:: 'Complete' | translate $} {$ uploader.status_message ? ': ' + uploader.status_message : '' $}</div>
                    <!-- Show a hint that SEED is still working when the progress data hasn't been updated in 1 minute -->
                    <div ng-if="uploader.progress_last_updated != null && uploader.progress_last_checked != null && (uploader.progress_last_checked - uploader.progress_last_updated) / 1000 > 60"
                         class="progress_bar_copy_bottom">
                        <i class="fa fa-spinner fa-pulse fa-fw" style="padding-right: 0"></i>
                        SEED is still working. Please do not refresh or leave this page. (Last updated at {$ uploader.progress_last_checked | date:'hh:mm a' $})
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Step 8: Review matches -->
    <div class="data_upload_steps" ng-switch-when="8">
        <div class="row">
            <div class="alert alert-success">
                <ul>
                    <li>{$:: 'Current cycle' | translate $}: {$ selectedCycle.name $}</li>
                    <li>{$:: 'Total rows in the import file' | translate $}: {$ import_file_records|number:0 $}</li>
                    <li ng-if="property_new">{$:: 'New properties' | translate $}: {$ property_new|number:0 $}</li>
                    <li ng-if="tax_lot_new">{$:: 'New tax lots' | translate $}: {$ tax_lot_new|number:0 $}</li>
                    <li ng-if="property_merges_within_file">{$:: 'Merged properties within import file' | translate $}: {$ property_merges_within_file|number:0 $}</li>
                    <li ng-if="tax_lot_merges_within_file">{$:: 'Merged tax lots within import file' | translate $}: {$ tax_lot_merges_within_file|number:0 $}</li>
                    <li ng-if="property_merges_against_existing">{$:: 'Merged properties against existing records' | translate $}: {$ property_merges_against_existing|number:0 $}</li>
                    <li ng-if="tax_lot_merges_against_existing">{$:: 'Merged tax lots against existing records' | translate $}: {$ tax_lot_merges_against_existing|number:0 $}</li>
                    <li ng-if="property_merges_between_existing">{$:: 'Merged properties between existing records' | translate $}: {$ property_merges_between_existing|number:0 $}</li>
                    <li ng-if="tax_lot_merges_between_existing">{$:: 'Merged tax lots between existing records' | translate $}: {$ tax_lot_merges_between_existing|number:0 $}</li>
                    <li ng-if="property_duplicates_within_file">{$:: 'Ignored property duplicates within the import file' | translate $}: {$ property_duplicates_within_file|number:0 $}</li>
                    <li ng-if="tax_lot_duplicates_within_file">{$:: 'Ignored tax lot duplicates within the import file' | translate $}: {$ tax_lot_duplicates_within_file|number:0 $}</li>
                    <li ng-if="property_duplicates_against_existing">{$:: 'Ignored duplicates of existing properties' | translate $}: {$ property_duplicates_against_existing|number:0 $}</li>
                    <li ng-if="tax_lot_duplicates_against_existing">{$:: 'Ignored duplicates of existing tax lots' | translate $}: {$ tax_lot_duplicates_against_existing|number:0 $}</li>

                    <div ng-if="properties_geocoded_high_confidence || properties_geocoded_low_confidence || properties_geocoded_manually || properties_geocode_not_possible">
                      <br>
                      <div translate>Geocoding Results for Properties</div>
                      <li ng-if="properties_geocoded_high_confidence">{$:: 'Successful using external service' | translate $}: {$ properties_geocoded_high_confidence|number:0 $}</li>
                      <li ng-if="properties_geocoded_manually">{$:: 'Successful using prepopulated Longitude and Latitude' | translate $}: {$ properties_geocoded_manually|number:0 $}</li>
                      <li ng-if="properties_geocoded_low_confidence">{$:: 'Unsuccessful using external service' | translate $}: {$ properties_geocoded_low_confidence|number:0 $}</li>
                      <li ng-if="properties_geocode_not_possible">{$:: 'Unsuccessful due to missing address fields' | translate $}: {$ properties_geocode_not_possible|number:0 $}</li>
                    </div>

                    <div ng-if="tax_lots_geocoded_high_confidence || tax_lots_geocoded_low_confidence || tax_lots_geocoded_manually || tax_lots_geocode_not_possible">
                      <br>
                      <div translate>Geocoding Results for Tax Lots</div>
                      <li ng-if="tax_lots_geocoded_high_confidence">{$:: 'Successful using external service' | translate $}: {$ tax_lots_geocoded_high_confidence|number:0 $}</li>
                      <li ng-if="tax_lots_geocoded_manually">{$:: 'Successful using prepopulated Longitude and Latitude' | translate $}: {$ tax_lots_geocoded_manually|number:0 $}</li>
                      <li ng-if="tax_lots_geocoded_low_confidence">{$:: 'Unsuccessful using external service' | translate $}: {$ tax_lots_geocoded_low_confidence|number:0 $}</li>
                      <li ng-if="tax_lots_geocode_not_possible">{$:: 'Unsuccessful due to missing address fields' | translate $}: {$ tax_lots_geocode_not_possible|number:0 $}</li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <!-- Step 9: Select the type of file to upload. -->
    <div class="data_upload_steps" ng-switch-when="9">
        <div class="row">
            <div class="form-group col-sm-12" translate="SELECT_THE_TYPE_OF_FILE_TO_ADD_TO_DATASET" translation-values="{ dataset_name: dataset.name }"></div>
        </div>
    </div>
    <!-- Step 10: No matches -->
    <div class="data_upload_steps" ng-switch-when="10">
        <div class="row">
            <div class="alert alert-success" ng-hide="step_10_error_message">
                <ul>
                    <li>{$:: 'Current cycle' | translate $}: {$ selectedCycle.name $}</li>
                    <li>{$:: 'Total rows in the import file' | translate $}: {$ import_file_records|number:0 $}</li>
                    <li ng-if="property_new">{$:: 'New properties' | translate $}: {$ property_new|number:0 $}</li>
                    <li ng-if="tax_lot_new">{$:: 'New tax lots' | translate $}: {$ tax_lot_new|number:0 $}</li>
                    <li ng-if="property_merges_within_file">{$:: 'Merged properties within import file' | translate $}: {$ property_merges_within_file|number:0 $}</li>
                    <li ng-if="tax_lot_merges_within_file">{$:: 'Merged tax lots within import file' | translate $}: {$ tax_lot_merges_within_file|number:0 $}</li>
                    <li ng-if="property_merges_between_existing">{$:: 'Merged properties between existing records' | translate $}: {$ property_merges_between_existing|number:0 $}</li>
                    <li ng-if="tax_lot_merges_between_existing">{$:: 'Merged tax lots between existing records' | translate $}: {$ tax_lot_merges_between_existing|number:0 $}</li>
                    <li ng-if="property_duplicates_within_file">{$:: 'Ignored property duplicates within the import file' | translate $}: {$ property_duplicates_within_file|number:0 $}</li>
                    <li ng-if="tax_lot_duplicates_within_file">{$:: 'Ignored tax lot duplicates within the import file' | translate $}: {$ tax_lot_duplicates_within_file|number:0 $}</li>
                    <li ng-if="property_duplicates_against_existing">{$:: 'Ignored duplicates of existing properties' | translate $}: {$ property_duplicates_against_existing|number:0 $}</li>
                    <li ng-if="tax_lot_duplicates_against_existing">{$:: 'Ignored duplicates of existing tax lots' | translate $}: {$ tax_lot_duplicates_against_existing|number:0 $}</li>

                    <div ng-if="properties_geocoded_high_confidence || properties_geocoded_low_confidence || properties_geocoded_manually || properties_geocode_not_possible">
                      <br>
                      <div translate>Geocoding Results for Properties</div>
                      <li ng-if="properties_geocoded_high_confidence">{$:: 'Successful using external service' | translate $}: {$ properties_geocoded_high_confidence|number:0 $}</li>
                      <li ng-if="properties_geocoded_manually">{$:: 'Successful using prepopulated Longitude and Latitude' | translate $}: {$ properties_geocoded_manually|number:0 $}</li>
                      <li ng-if="properties_geocoded_low_confidence">{$:: 'Unsuccessful using external service' | translate $}: {$ properties_geocoded_low_confidence|number:0 $}</li>
                      <li ng-if="properties_geocode_not_possible">{$:: 'Unsuccessful due to missing address fields' | translate $}: {$ properties_geocode_not_possible|number:0 $}</li>
                    </div>

                    <div ng-if="tax_lots_geocoded_high_confidence || tax_lots_geocoded_low_confidence || tax_lots_geocoded_manually || tax_lots_geocode_not_possible">
                      <br>
                      <div translate>Geocoding Results for Tax Lots</div>
                      <li ng-if="tax_lots_geocoded_high_confidence">{$:: 'Successful using external service' | translate $}: {$ tax_lots_geocoded_high_confidence|number:0 $}</li>
                      <li ng-if="tax_lots_geocoded_manually">{$:: 'Successful using prepopulated Longitude and Latitude' | translate $}: {$ tax_lots_geocoded_manually|number:0 $}</li>
                      <li ng-if="tax_lots_geocoded_low_confidence">{$:: 'Unsuccessful using external service' | translate $}: {$ tax_lots_geocoded_low_confidence|number:0 $}</li>
                      <li ng-if="tax_lots_geocode_not_possible">{$:: 'Unsuccessful due to missing address fields' | translate $}: {$ tax_lots_geocode_not_possible|number:0 $}</li>
                    </div>
                </ul>
            </div>
            <div class="alert alert-{$ step_10_style $}">
                <span ng-show="step_10_error_message">{$ step_10_error_message | translate $}</span>
                <span ng-show="step_10_file_message"><pre>{$ step_10_file_message $}</pre></span>
                <span ng-hide="step_10_error_message || step_10_file_message" translate="IMPORT_ANOTHER_QUESTION"></span>
            </div>
            <div class="form-group col-sm-12"></div>
        </div>
    </div>
    <!-- Step 11: Save Mappings Permanently  -->
    <div class="data_upload_steps" ng-switch-when="11">
        <div class="row">
            <div class="alert alert-warning" translate>DID_YOU_REVIEW_YOUR_MAPPINGS</div>
        </div>
    </div>
    <!-- Step 12: Error Processing Data  -->
    <div class="data_upload_steps" ng-switch-when="12">
        <div class="row">
            <div class="col-sm-12">
                <div>

                    <p ng-if="!step_12_buildingsync_validation_error" translate>An error occurred while processing the file. Please ensure that your file meets the required specifications.</p>
                    <pre class="text-wrap" ng-class="{'pre-scrollable': step_12_error_message.length >= 300}" ng-show="step_12_error_message && !step_12_buildingsync_validation_error">{$ step_12_error_message | json $}</pre>
                    <span ng-if="step_12_buildingsync_validation_error">
                        <p>BuildingSync file(s) failed to validate. No files were imported. Please fix the errors and re-upload the corrected file(s).</p>
                        <div ng-repeat="file_issues in buildingsync_issues">
                            <em>{$ file_issues.file $}</em>
                            <div class="alert alert-danger" ng-if="file_issues.schema_errors.length > 0" style="word-wrap: break-word;">
                                <h5>Schema Errors</h5>
                                <div ng-repeat="err in file_issues.schema_errors">{$ err.path $}: {$ err.message $}</div>
                            </div>
                            <div class="alert alert-danger" ng-if="file_issues.use_case_errors.length > 0" style="word-wrap: break-word;">
                                <h5>Use Case Errors</h5>
                                <div ng-repeat="err in file_issues.use_case_errors">{$ err $}</div>
                            </div>
                            <div class="alert alert-warning" ng-if="file_issues.use_case_warnings.length > 0" style="word-wrap: break-word;">
                                <h5>Use Case Warnings</h5>
                                <div ng-repeat="warn in file_issues.use_case_warnings">{$ warn $}</div>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- Step 15:  Upload PM Meter Readings -->
    <div class="data_upload_steps" ng-switch-when="15">
        <div class="alert alert-danger" ng-show="pm_meter_import_error" translate>An error occurred while processing the file. Please ensure that your file meets the required specifications.</div>

        <div class="progress_bar_container" ng-show="uploader.in_progress">
            <div class="progress_bar_copy_top"
                 translate="UPLOADING_PROGRESS"
                 translate-values="{ dataset_filename: dataset.filename , cycle_name: selectedCycle.name }"></div>

            <uib-progressbar class="progress-striped active" value="uploader.progress" type="success"></uib-progressbar>
            <div class="progress_bar_copy_bottom">{$ uploader.progress | number:0 $}% {$:: 'Complete' | translate $} {$ uploader.status_message ? ': ' + uploader.status_message : '' $}</div>
        </div>
        <div ng-hide="uploader.in_progress">
            <div class="row">
                <div class="alert alert-warning" ng-if="proposed_imports_options.data.length">
                    <div ng-if="proposed_imports_options.data.length">
                        <div translate><b>METER_READING_COUNTS_TITLE</b></div>
                        <div ui-grid="proposed_imports_options" ui-grid-resize-columns></div>
                    </div>
                    <br>
                    <div ng-if="parsed_type_units_options.data.length">
                        <div translate><b>PARSED_ENERGY_TYPES_AND_UNITS_TITLE</b></div>
                        <div ui-grid="parsed_type_units_options" ui-grid-resize-columns></div>
                    </div>
                    <br>
                </div>
                <div class="alert alert-danger" ng-if="unlinkable_pm_ids_options.data.length">
                    <div translate><b>PM_METER_IMPORT_NO_ASSOCIATION</b></div>
                    <div ui-grid="unlinkable_pm_ids_options" ui-grid-resize-columns></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Step 16:  Meter Import Results -->
    <div class="data_upload_steps" ng-switch-when="16">
        <div class="row">
            <div class="alert alert-info">
                <div translate><b>METER_READING_COUNTS_TITLE</b></div>
                <div ui-grid="import_results_options"></div>
            </div>
            <div class="alert alert-danger" ng-if="unlinkable_pm_ids.length">
                <div translate><b>PM_METER_IMPORT_NO_ASSOCIATION</b></div>
                <div ui-grid="unlinkable_pm_ids_options"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer container-fluid" ng-switch on="step.number">
    <div ng-switch-when="1">
        <div class="row text-center">
            <button type="button" class="btn btn-primary col-sm-6 center-block" ng-click="create_dataset(dataset.name)" ng-disabled="dataset.disabled()" translate>Create Data Set</button>
        </div>
    </div>
    <div ng-switch-when="2"></div>
    <div ng-switch-when="3">
        <!-- Leaving this out for now as I'm not sure we want to allow the user to do this right here.
        <button type="button" class="btn btn-default">Upload another building list file</button> -->
        <div class="row text-center">
            <button type="button" class="btn btn-primary col-sm-6 center-block" ng-click="goto_data_mapping()" translate>Continue to data mapping</button>
        </div>
    </div>
    <div ng-switch-when="4"></div>
    <div ng-switch-when="5">
        <div class="row text-center">
            <button type="button" class="btn btn-default col-sm-6" center-block ng-click="goto_step(4)" translate>Upload another energy data file</button>
        </div>
    </div>
    <div ng-switch-when="7"></div>
    <div ng-switch-when="8">
        <div class="row text-center">
            <button type="button" class="btn btn-primary col-sm-6 center-block" ng-click="goto_step(2)" translate>Add another file</button>
        </div>
        <div class="row text-center" ng-if="import_file_reusable_for_meters">
            <button type="button" class="btn btn-primary col-sm-6 center-block" ng-click="reuse_import_file_to_import_meters(file_id)" translate>Import Meters from the same file</button>
        </div>
        <div class="row text-center">
            <button type="button" class="btn btn-primary col-sm-6 center-block" ng-click="view_my_properties()" translate>View my properties</button>
        </div>
    </div>
    <div ng-switch-when="9">
        <div class="row text-center">
            <button type="button" class="btn btn-primary col-sm-6 center-block" ng-click="goto_step(2)" translate>Add another file</button>
        </div>
    </div>
    <div ng-switch-when="10">
        <div class="row text-center" ng-hide="step_10_mapquest_api_error">
            <button type="button" class="btn btn-primary col-sm-6 center-block" ng-click="goto_step(2)" translate>Add another file</button>
        </div>
        <div class="row text-center" ng-hide="step_10_mapquest_api_error">
            <button id="view-buildings" type="button" class="btn btn-primary col-sm-6 center-block" ng-click="view_my_properties()" translate>View my properties</button>
        </div>
        <div class="row text-center" ng-if="import_file_reusable_for_meters">
            <button type="button" class="btn btn-primary col-sm-6 center-block" ng-click="reuse_import_file_to_import_meters(file_id)" translate>Import Meters from the same file</button>
        </div>
        <div class="row text-center" ng-if="step_10_mapquest_api_error">
            <button type="button" class="btn btn-primary col-sm-6 center-block" ng-click="reset_mapquest_api_key()" translate>Update MapQuest API key</button>
        </div>
    </div>
    <div ng-switch-when="11">
        <div class="row text-center">
            <button type="button" id="confirm-mapping" class="btn btn-primary col-sm-6 center-block" ng-click="save_mappings()" translate>CONFIRM_AND_START_MATCHING</button>
        </div>
    </div>
    <div ng-switch-when="15">
        <div class="row text-center" ng-hide="uploader.in_progress" ng-if="proposed_imports_options.data.length">
            <button type="button" class="btn btn-primary col-sm-6 center-block" ng-click="accept_meters(file_id, cycle_id)" translate>Confirm</button>
        </div>
    </div>
    <div class="row text-center">
        <button type="button" class="btn btn-default col-sm-6 center-block" ng-click="cancel()" translate>Dismiss</button>
    </div>
</div>
