<div class="modal-header">
    <h4 class="modal-title" translate>Import from Audit Template</h4>
</div>

<div ng-switch on="stage">
    <div class="modal-body modal-input">

        <div class="alert alert-danger" ng-show="error" style="margin-bottom:10px;">
            {$ error $}
        </div>

        <div class="flex-centered grow">
            <div class="col-sm-12 btn btn-primary upload-btn flex-centered" sd-uploader sourcetype="BuildingSyncUpdate" sourceprog="" sourcever="" importrecord="view_id" organization-id="organization.id" cycle-id="cycle_id" eventfunc="upload_from_file_and_close(message, file, progress)" ng-disabled="busy">
                <i class="fa fa-file-code-o fa-2x"></i>
                <span class="grow" translate>Upload Audit Template XML</span>
            </div>
        </div>

        <div class="flex-centered grow" style="margin-top:10px;">
            <label class="col-sm-2 no-padding" for="input-at-building-id" translate>Audit Template Building ID</label>
            <div class="col-sm-2 no-padding">
                <input id="input-at-building-id" type="text" class="form-control" ng-model="fields.audit_template_building_id" ng-disabled="busy"/>
            </div>
            <hr />
            <div class="col-sm-8 btn btn-primary upload-btn flex-centered" ng-click="confirm_import()" ng-disabled="busy">
                <i class="fa fa-id-card-o fa-2x"></i>
                <span class="grow" translate>Import from Audit Template</span>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()" ng-disabled="busy" translate>Close</button>
    </div>
</div>
