<div class="modal-header">
  <h4 class="modal-title" translate>Delete Data Logger?</h4>
</div>

<div class="modal-body">
  <div class="row" style="padding: 10px">Are you sure you want to delete this data logger? The associated sensors and sensors readings will also be deleted.</div>
</div>

<div class="modal-footer" style="display: flex; gap: 2px">
  <button type="button" class="btn btn-default col-sm-6 center-block" ng-click="dismiss()" translate>Dismiss</button>
  <button type="button" class="btn btn-danger col-sm-6 center-block" ng-click="delete()" translate>Delete</button>
</div>
