<div class="modal-header">
    <h4 class="modal-title" translate>Delete your Inventory Document</h4>
</div>
<div class="modal-body row">
    <div class="col-sm-12">{$:: 'Are you sure you want to delete ' | translate $} <strong>{$:: file.filename $}</strong>?</div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
    <button type="button" class="btn btn-danger" ng-click="delete_document()" autofocus translate>Yes, Delete Document</button>
</div>
