<form>
    <div class="modal-header">
        <h4 class="modal-title" id="editProjectModalLabel">{$ modal_title $}</h4>
    </div>
    <div class="modal-body no_bottom_padding form-horizontal">
        <div class="alert alert-danger" ng-show="create_project_error">
            {$ create_project_error_message $}</a>.
        </div>
        <div class="form-group" ng-show="create_project_state == 'create'">
            <label class="control-label col-sm-3" for="editProjectName">Project Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="editProjectName" ng-model="project.name" placeholder="Project Name" required>
            </div>
        </div>
        <div class="form-group row" ng-show="create_project_state == 'create'">
            <div class="col-sm-offset-3 col-sm-8" ng-show="future_feature">
                <div class="checkbox complianceCheckbox">
                    <label>
                        <input type="checkbox"> <strong>Make this a snapshot project.</strong>
                    </label>
                    <span><i>Snapshot projects are useful when you want to freeze the building data at a moment in time.</i></span>
                </div>
            </div>
            <div class="col-sm-offset-3 col-sm-8">
                <div class="checkbox complianceCheckbox">
                    <label>
                        <input type="checkbox" ng-model="project.is_compliance"> Add compliance information.
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-header" ng-show="project.is_compliance && create_project_state == 'create'">
        <h4 class="modal-title" id="editProjectComplianceModalLabel">Compliance Information</h4>
    </div>
    <div class="modal-body form-horizontal" ng-show="project.is_compliance">
        <div class="form-group" ng-show="create_project_state == 'create'">
            <label class="control-label col-sm-3" for="editProjectCompliance">Submittal Type</label>
            <div class="col-sm-8">
                <select class="form-control" id="editProjectCompliance" ng-model="project.compliance_type">
                  <option>Benchmarking</option>
                  <option>Auditing</option>
                  <option>Retro Commissioning</option>
                </select>
            </div>
        </div>
        <div class="form-group" ng-show="create_project_state == 'create'">
            <label class="control-label col-sm-3" for="editProjectStartDate">Year Ending Date</label>
            <div class="col-sm-8">
                <input type="month" class="form-control" id="editProjectStartDate" ng-model="project.end_date">
                <span class="help-block">Choose the year ending month for report period. </span>
            </div>
        </div>
        <div class="form-group" ng-show="create_project_state == 'create'">
            <label class="control-label col-sm-3" for="editProjectDeadline">Reporting Deadline</label>
            <div class="col-sm-8">
                <input type="date" class="form-control" id="editProjectDeadline" ng-model="project.deadline_date">
            </div>
        </div>
    </div>
    <div class="alert alert-success" ng-show="create_project_state == 'success'">
        Project <a data-dismiss="modal" ng-click="go_to_project()"><strong>{$ project.name $}</strong></a> created.
    </div>

    <div class="modal-footer" ng-show="create_project_state == 'create'">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        <input type="submit" ng-click="ok()" class="btn btn-primary" value="{$ ok_button_text $}">
    </div>
    <div class="modal-footer" ng-show="create_project_state == 'success'">
        <button class="btn btn-default" ng-click="close()">Close</button>
    </div>
</form>
