<div class="event_inventory_document section_content">
    <div class="table_list_container table_item_detail" ng-init="analysis = event.data">
        <table class="trigger-table table table-striped table_highlight_first">
            
            <thead>
                <tr>
                    <th ng-repeat="(key,value) in analysis">
                        {$ key $}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td ng-repeat="val in analysis" style="color: black;">
                        {$ val $}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>