<div class="event_analysis section_content" ng-init="analysis = event.data">
    <div class="table_list_container table_item_detail">
        <table class="trigger-table table table-striped table_highlight_first">
            <thead>
                <tr>
                    <th ng-repeat="(key,value) in event.data">
                        {$ key $}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td ng-repeat="val in event.data" style="color: black;">
                        {$ val $}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div  ng-controller="analysis_details_controller"
                    ng-include="::urls.static_url + 'seed/partials/analysis_card.html'" 
                    class="tab-content-card" 
                    style="color: black; width: max-content;">
    </div>
</div>