<div class="event_inventory_document section_content" ng-init="scenarios = event.scenarios" style="width:100%">
    <div class="table_list_container table_item_detail">
        <table class="trigger-table table table-striped table_highlight_first table-condensed" style="border-collapse:collapse;">
            <thead>
                <tr>
                <th>Scenarios</th>
                <th>Electricity savings (kBtu)</th>
                <th>Peak electricity reduction (kW)</th>
                <th>Natural gas savings (kBtu)</th>
                </tr>
            </thead>
            <tbody>
                    <tr
                        ng-repeat-start="scenario in scenarios" 
                        class="accordion-toggle accordion-header"
                        data-toggle="collapse" 
                        data-target="#{$ $index $}"
                        ng-click="resizeGridByScenarioId(scenario.id)"
                    >
                        <div class="accordian-body collapse" id="{$ $index $}">
                            <td>
                                <i class="fa fa-chevron-right" style="color: black;" id="indicator-{$ $index  $}">
                                </i>
                                {$ scenario.name $}
                            </td>
                            <td>{$ scenario.annual_electricity_savings | number : 0 $}</td>
                            <td>{$ scenario.annual_peak_electricity_reduction | number : 0 $}</td>
                            <td>{$ scenario.annual_natural_gas_savings | number : 0 $}</td>
                        </div>
                    </tr>
                    <tr ng-repeat-end>
                        <td colspan="6" class="hiddenRow" style="padding: 0px">
                            <div class="accordian-body collapse" id="{$ $index $}">
                                <div
                                    ng-show="measureGridOptionsByScenarioId[scenario.id].data.length"
                                    ui-grid="measureGridOptionsByScenarioId[scenario.id]">
                                </div>
                                <div ng-show="!measureGridOptionsByScenarioId[scenario.id].data.length">No measures in scenario</div>
                            </div>
                        </td>
                    </tr>
                </div>
            </tbody>
        </table>
    </div>
</div>
