<div class="modal-header">
  <h4 class="modal-title" translate>Export Properties to CTS</h4>
</div>

<div class="modal-body">
  <div class="cts-export-buttons" ng-if="!export_selection">
    <button type="button" class="btn btn-primary" ng-click="set_selection('template')">CTS Comprehensive Evaluation Upload Template</button>
    <button type="button" class="btn btn-primary" ng-click="set_selection('femp')">Federal Energy Management Program (FEMP) Compliance Tracking System (CTS)</button>
  </div>

  <div ng-if="export_selection">
    <div class="section_content_container" ng-if="!exporting">
      <div class="section_content with_padding">
        <label class="control-label col-sm-4" for="fileName" translate>Export Name</label>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <div class="col-sm-6">
              <input
                type="text"
                class="form-control"
                id="fileName"
                ng-keyup="set_name($event.target.value)"
                sd-enter="export_name && export()"
                placeholder="{$:: 'File Name' | translate $}"
                required
              />
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="progress_bar_container export_progress" ng-if="exporting">
      <div class="progress_bar_copy_top">Exporting...</div>
      <uib-progressbar class="progress-striped active" value="100" type="success" style="margin-bottom: 20px"></uib-progressbar>
    </div>
  </div>
</div>

<div class="modal-footer" ng-show="!exporting">
  <button type="button" class="btn btn-primary" ng-click="export()" ng-if="export_selection" ng-disabled="!export_name" translate>Export</button>
  <button type="button" class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
</div>
