<div class="modal-header">
    <h4 class="modal-title" id="exportModalLabel" ng-show="geocode_state === 'verify'">Geocode Inventory</h4>
    <h4 class="modal-title" id="exportModalLabel" ng-show="geocode_state === 'geocoding'">Geocoding now...</h4>
    <h4 class="modal-title" id="exportModalLabel" ng-show="geocode_state === 'result'">Geocoding Complete</h4>
</div>
<div class="modal-body">
  <div ng-show="geocode_state === 'verify'">
    <div>You've selected the following to be geocoded. Please verify before continuing.</div>
  </div>

  <div ng-show="geocode_state === 'geocoding'">
    <div>Currently geocoding the following:</div>
  </div>

  <div ng-show="geocode_state === 'result'">
    <div>Before geocoding:</div>
  </div>

  <!-- Shown at all times. -->
  <div class="alert alert-info" ng-if="pre_properties_not_geocoded || pre_tax_lots_not_geocoded">
    <div>Not geocoded previously:</div>
    <li ng-if="pre_properties_not_geocoded">{$ pre_properties_not_geocoded|number:0 $} properties</li>
    <li ng-if="pre_tax_lots_not_geocoded">{$ pre_tax_lots_not_geocoded|number:0 $} tax lots</li>
  </div>

  <div class="alert alert-warning" ng-if="pre_properties_geocoded_high_confidence || pre_properties_geocoded_low_confidence || pre_properties_geocoded_manually || pre_properties_geocode_not_possible || pre_tax_lots_geocoded_high_confidence || pre_tax_lots_geocoded_low_confidence || pre_tax_lots_geocode_not_possible">
    <div>
      Geocoding attempted previously:
      <br>(Unless you've made changes to these records, the results will likely be the same.)
    </div>
    <div ng-if="pre_properties_geocoded_high_confidence || pre_properties_geocoded_low_confidence || pre_properties_geocoded_manually || pre_properties_geocode_not_possible">
      <br>
      <div>Properties</div>
      <li ng-if="pre_properties_geocoded_high_confidence">{$ pre_properties_geocoded_high_confidence|number:0 $} successful with high confidence in the result</li>
      <li ng-if="pre_properties_geocoded_manually">{$ pre_properties_geocoded_manually|number:0 $} geocoded manually</li>
      <li ng-if="pre_properties_geocoded_low_confidence">{$ pre_properties_geocoded_low_confidence|number:0 $} unsuccessful due to a low geocode confidence in the result</li>
      <li ng-if="pre_properties_geocode_not_possible">{$ pre_properties_geocode_not_possible|number:0 $} unsuccessful due to missing address fields</li>
    </div>

    <div ng-if="pre_tax_lots_geocoded_high_confidence || pre_tax_lots_geocoded_low_confidence || pre_tax_lots_geocode_not_possible">
      <br>
      <div>Tax Lots</div>
      <li ng-if="pre_tax_lots_geocoded_high_confidence">{$ pre_tax_lots_geocoded_high_confidence|number:0 $} successful with high confidence in the result</li>
      <li ng-if="pre_tax_lots_geocoded_low_confidence">{$ pre_tax_lots_geocoded_low_confidence|number:0 $} unsuccessful due to a low geocode confidence in the result </li>
      <li ng-if="pre_tax_lots_geocode_not_possible">{$ pre_tax_lots_geocode_not_possible|number:0 $} unsuccessful due to missing address fields</li>
    </div>
  </div>

  <br>

  <div ng-show="geocode_state === 'result'">
    <div>Updated counts after geocoding:</div>
    <div class="alert alert-success">
      <div ng-if="properties_geocoded_high_confidence || properties_geocoded_low_confidence || properties_geocoded_manually || properties_geocode_not_possible">
        <div>Properties:</div>
        <li ng-if="properties_geocoded_high_confidence">{$ properties_geocoded_high_confidence|number:0 $} successful with high confidence in the result</li>
        <li ng-if="properties_geocoded_manually">{$ properties_geocoded_manually|number:0 $} geocoded manually</li>
        <li ng-if="properties_geocoded_low_confidence">{$ properties_geocoded_low_confidence|number:0 $} unsuccessful due to a low geocode confidence in the result</li>
        <li ng-if="properties_geocode_not_possible">{$ properties_geocode_not_possible|number:0 $} unsuccessful due to missing address fields</li>
      </div>

      <div ng-if="tax_lots_geocoded_high_confidence || tax_lots_geocoded_low_confidence || tax_lots_geocode_not_possible">
        <br>
        <div>Tax Lots:</div>
        <li ng-if="tax_lots_geocoded_high_confidence">{$ tax_lots_geocoded_high_confidence|number:0 $} successful with high confidence in the result</li>
        <li ng-if="tax_lots_geocoded_low_confidence">{$ tax_lots_geocoded_low_confidence|number:0 $} unsuccessful due to a low geocode confidence in the result </li>
        <li ng-if="tax_lots_geocode_not_possible">{$ tax_lots_geocode_not_possible|number:0 $} unsuccessful due to missing address fields</li>
      </div>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="geocode_buildings()" ng-show="geocode_state === 'verify'">Geocode</button>
  <button type="button" class="btn btn-default" ng-show="geocode_state === 'verify'" ng-click="cancel()">Cancel</button>
  <button type="button" class="btn btn-default" ng-show="geocode_state === 'result'" ng-click="close()">Close</button>
</div>
