        <a id="a-data-view" ui-sref="insights_program(::{organization_id: org.id})" ui-sref-active="active" translate>Program Overview</a><!--
     --><a id="a-data-view" ui-sref="insights_property(::{organization_id: org.id})" ui-sref-active="active" translate>Property Insights</a><!--
     --><a id="reports" ui-sref="reports(::{inventory_type: inventory_type})" ui-sref-active="active" translate>Default Reports</a><!--
     --><a id="a-data-view" ui-sref="custom_reports(::{organization_id: org.id})" ng-class="::{active: ['custom_reports', 'data_view'].includes(state.name)}" translate>Custom Reports</a>
