<div class="page_header_container" ng-cloak>
    <div class="page_header">
        <div class="left page_action_container"></div>
        <div class="page_title"><h1 translate>Property Insights</h1></div>
        <div class="right page_action_container"></div>
    </div>
</div>

<div class="section_nav_container">
    <div class="section_nav" ng-include="::urls.static_url + 'seed/partials/insights_nav.html'"></div>
</div>


<div class="section_content_container">
  <div class="section_content container-fluid">
    <div class="content_block row less_pad">

    	<div ng-show="!data">
				<div class="col-md-10">
          <div class="title-row">
              <h2 style="font-size:18px;"> {$:: 'Property Insights' | translate $}</h2>
          </div>
          <div ng-if="auth.requires_member" class="compliance-setup">
            <p>If you are not seeing a chart on this page, visit the <a ui-sref="programs(::{organization_id: organization.id})">Program</a> page to configure your program's metrics.
            </p>
          </div>
      	</div>
    	</div>
    	<div ng-show="data">

	    	<div class="col-md-2">
	    		<div class="title-row">
	        	<h2 style="font-size:18px;"> {$:: 'Property Insights' | translate $}</h2>
	      	</div>
	      	<div ng-if="auth.requires_member" class="compliance-setup">
    				<p>Need to configure your Program? <a ui-sref="programs(::{organization_id: organization.id})">Program Configuration page</a>.
            </p>
    			</div>
    			<div class="chart-legend">
    				<div class="title">Chart Legend</div>
    				<p class="small-text">Click a series to show/hide on the chart</p>
    				<div class="legend-row row" ng-click="toggle_dataset_visibility(0)">
    					<div class="col-md-3 legend-icon-col"><img class="legend-icon" src="{$ static_url $}seed/images/teal_circle.svg" alt="blue circle marker"></div>
    					<div class="col-md-9 text" ng-hide="insightsChart.legend.legendItems[0].hidden">Compliant</div>
    					<div class="col-md-9 text strikethrough" ng-hide="!insightsChart.legend.legendItems[0].hidden">Compliant</div>
    				</div>
    				<div class="legend-row row" ng-click="toggle_dataset_visibility(1)">
    					<div class="col-md-3 legend-icon-col"><img class="legend-icon" src="{$ static_url $}seed/images/red_triangle.svg" alt="red triangle marker"></div>
    					<div class="col-md-9 text" ng-hide="insightsChart.legend.legendItems[1].hidden">Not Compliant</div>
    					<div class="col-md-9 text strikethrough" ng-hide="!insightsChart.legend.legendItems[1].hidden">Not Compliant</div>
    				</div>
    				<div class="legend-row row" ng-click="toggle_dataset_visibility(2)">
    					<div class="col-md-3 legend-icon-col"><img class="legend-icon" src="{$ static_url $}seed/images/gray_square.svg" alt="gray square marker"></div>
    					<div class="col-md-9 text" ng-hide="insightsChart.legend.legendItems[2].hidden">Unknown</div>
    					<div class="col-md-9 text strikethrough" ng-hide="!insightsChart.legend.legendItems[2].hidden">Unknown</div>
    				</div>
    				<div class="legend-row row" ng-click="toggle_annotation_visibility()">
    					<div class="col-md-3 legend-icon-col"><img class="legend-icon" src="{$ static_url $}seed/images/upsidedown_t.svg" alt="distance to target marker"></div>
    					<div class="col-md-9 text" ng-hide="!display_annotation">Distance to Target</div>
    					<div class="col-md-9 text strikethrough" ng-hide="display_annotation">Distance to Target</div>
    				</div>
    			</div>
      	  <div class="form-group margin-top-20">
              <label for="program">Program</label>
              <select class="form-control" id="selected_metric" ng-model="selected_metric" ng-change="update_metric()" ng-options="metric.id as metric.name for metric in compliance_metrics">
              </select>
          </div>
    			<!-- chart setup form-->
				  <div class="form-group">
				    <label for="cycleSelect">Cycle</label>
				    <select class="form-control" id="cycleSelect" ng-model="configs.chart_cycle" ng-change="update()" ng-options="operator.id as operator.name for operator in cycles">
				    </select>
				  </div>

				  <!-- metric and X axis -->
				  <div class="form-group">
				    <label for="metricSelect">Metric Type</label>
				    <select class="form-control" id="metricSelect" ng-model="configs.chart_metric" ng-change="update()" ng-options="operator.id as operator.name for operator in y_axis_options">
 				    </select>
				  </div>
				  <div class="form-group">
				    <label for="xSelect">X Axis</label>
				    <select class="form-control" id="xSelect" ng-model="configs.chart_xaxis" ng-change="update()" ng-options="operator.id as operator.display_name for operator in x_axis_options">
 				    </select>
				  </div>

    			<div class="button-grid">
    				<div class="flex-button-child"><button type="button" class="btn btn-primary" ng-click="downloadChart()">
    					<i class="fa fa-share-square-o" aria-hidden="true"></i> <span translate>Export</span>
    				</button></div>
    				<div class="flex-button-child"><button type="button" class="btn btn-primary" ng-click="open_update_labels_modal()" ng-disabled="!visibleIds().length" translate>Update Labels</button></div>
    			</div>
	    	</div>
	    	<div class="col-md-10">
	        <div class="graph" style="margin-left: 5vw; margin-right: 5vw">
	          <canvas id="property-insights-chart"></canvas>
	        </div>
	          <div class="section_content r-columns" style="display:unset !important;" >
	            <div class="r-column r-shrink table_list_container" ngIf="data" style="margin-top:2vw; margin-right: 5vw">
	                <table>
	                    <thead>
	                        <tr>
	                            <th rowspan="2"></th>
	                            <th>{$ chart_cycle_name $}</th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        <tr ng-click="show_properties_for_dataset['y'] = !show_properties_for_dataset['y']">
	                            <td class="r-selectable r-selected"> Compliant </td>
	                            <td>
	                                {$ data.results_by_cycles[configs.chart_cycle]['y'].length $}
	                            </td>
	                        </tr>
	                        <tr ng-show="show_properties_for_dataset['y']">
	                            <td></td>
	                            <td style="padding: 0px">
									<table style="width: 100%">
										<tr>
										  <th>Name</th>
										  <th>X: {$ insightsChart.options.scales.x.title.text $}</th>
										  <th>Y: {$ insightsChart.options.scales.y.title.text $}</th>
										</tr>
										<tr ng-repeat="item in chart_datasets[0]['data']">
											<td><a ui-sref="inventory_detail(::{inventory_type: 'properties', view_id: item.id, cycle_id: cycle.id})">Property - {$ item.name ? item.name: item.id $}</a></td>
											<td>{$ item.x $}</td>
											<td>{$ item.y $}</td>
										</tr>
									</table>
	                            </td>
	                        </tr>
	                        <tr ng-click="show_properties_for_dataset['n'] = !show_properties_for_dataset['n']">
	                            <td class="r-selectable r-selected"> Non-Compliant </td>
	                            <td> {$ data.results_by_cycles[configs.chart_cycle]['n'].length $}
	                            </td>
	                        </tr>
	                        <tr ng-show="show_properties_for_dataset['n']">
	                            <td></td>
	                            <td style="padding: 0px">
									<table style="width: 100%">
										<tr>
										  <th>Name</th>
										  <th>X: {$ insightsChart.options.scales.x.title.text $}</th>
										  <th>Y: {$ insightsChart.options.scales.y.title.text $}</th>
										</tr>
										<tr ng-repeat="item in chart_datasets[1]['data']">
											<td><a ui-sref="inventory_detail(::{inventory_type: 'properties', view_id: item.id, cycle_id: cycle.id})">Property - {$ item.name ? item.name: item.id $}</a></td>
											<td>{$ item.x $}</td>
											<td>{$ item.y $}</td>
										</tr>
									</table>
	                            </td>
	                        </tr>
	                        <tr ng-click="show_properties_for_dataset['u'] = !show_properties_for_dataset['u']">
	                            <td class="r-selectable r-selected"> Unknown </td>
	                            <td>
	                                {$ data.results_by_cycles[configs.chart_cycle]['u'].length $}
	                            </td>
	                        </tr>
	                        <tr ng-show="show_properties_for_dataset['u']">
	                            <td></td>
	                            <td style="padding: 0px">
									<table style="width: 100%">
										<tr>
										  <th>Name</th>
										  <th>X: {$ insightsChart.options.scales.x.title.text $}</th>
										  <th>Y: {$ insightsChart.options.scales.y.title.text $}</th>
										</tr>
										<tr ng-repeat="item in chart_datasets[2]['data']">
											<td><a ui-sref="inventory_detail(::{inventory_type: 'properties', view_id: item.id, cycle_id: cycle.id})">Property - {$ item.name ? item.name: item.id $}</a></td>
											<td>{$ item.x $}</td>
											<td>{$ item.y $}</td>
										</tr>
									</table>
	                            </td>
	                        </tr>
	                    </tbody>
	                </table>
	            </div>
	        </div>
	      </div>
	    </div>
    </div>
  </div>
</div>

<div class="section_content_container">
    <div class="section_content r-columns" style="display:unset !important">



        <div class="r-column r-shrink">
        </div>

    </div>
</div>
