<div class="page_header_container" ng-cloak>
    <div class="page_header">
        <div class="left page_action_container"></div>
        <div class="page_title"><h1 translate>Program Overview</h1></div>
        <div class="right page_action_container"></div>
    </div>
</div>

<div class="section_nav_container">
    <div class="section_nav" ng-include="::urls.static_url + 'seed/partials/insights_nav.html'"></div>
</div>


<div class="section_content_container">
  <div class="section_content container-fluid">
    <div class="content_block row" style="padding:20px 20px 10px 20px">
      <div class="col-md-12">
        <h2 style="font-size:18px;"> {$:: 'Program Overview' | translate $}</h2>
      </div>
    </div>
    <div class="content_block row">
    	<div class="col-md-3">
    			<!-- compliance setup -->
    			<div class="compliance-setup">
    				<p>Have you configured your program's compliance target? If you are seeing all unknowns on the chart, visit the <a href="">Compliance Metric Configuration page</a>.</p>
    			</div>
    			<div class="margin-top-20">
    				<button type="button" class="btn btn-primary" ng-click="export_data()">
    					<i class="fa fa-share-square-o" aria-hidden="true"></i> <span translate>Export</span>
    				</button>
    			</div>
    			<div class="chart-legend">
    				<div class="title">Chart Legend</div>
    				<div class="legend-row row">
    					<div class="col-md-3 box blue-box"></div>
    					<div class="col-md-9 text">Compliant</div>
    				</div>
    				<div class="legend-row row"><div class="col-md-3 box red-box"></div><div class="col-md-9 text">Not Compliant</div></div>
    				<div class="legend-row row"><div class="col-md-3 box gray-box"></div><div class="col-md-9 text">Unknown</div></div>
    			</div>
    	</div>
    	<div class="col-md-9">
            <div style="margin-left: 5vw; margin-right: 5vw">
                <h3 style="font-size:18px;">{$ compliance_metric.name $}</h3>
            </div>
            <div class="graph" style="margin-left: 5vw; margin-right: 5vw">
               <canvas id="program-overview-chart"></canvas>
            </div>

        </div>
    </div>
  </div>
</div>
