<div class="page_header_container" ng-cloak>
    <div class="page_header">
        <div class="left page_action_container">

        </div>
        <div class="page_title">
            <h1>{$ inventory_type == 'taxlots' ? 'Tax Lot' : 'Property' $} List Settings</h1>
        </div>
        <div class="right page_action_container page_action_btn"></div>
    </div>
</div>

<div class="section_nav_container">
    <div class="section_nav" ng-include="urls.static_url + 'seed/partials/inventory_nav.html'"></div>
</div>

<div class="section_header_container">
    <div id="building-settings" class="section_header has_no_padding fixed_height_short">
        <div class="section_action_container left_wide">
            <h2><i class="fa fa-cogs"></i><span>Column Order/Visibility</span></h2>
        </div>
    </div>
</div>

<div class="section_content_container" ng-cloak style="clear:both; overflow:hidden;">
    <div class="section_content with_padding" style="overflow:hidden;">
        <h3>Add Shared {$ inventory_type == 'taxlots' ? 'Tax Lots' : 'Properties' $}.</h3>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="showSharedBuildings" ng-change="saveShowSharedBuildings()">
                Include in your {$ inventory_type == 'taxlots' ? 'tax lots' : 'properties' $} list all {$ inventory_type == 'taxlots' ? 'tax lots' : 'properties' $} shared with you.
            </label>
        </div>
        <h3>There are {$ data.length | number $} columns of data available to you.</h3>
        <p>Select columns from the list below to make them appear in your {$ inventory_type == 'taxlots' ? 'Tax Lots' : 'Properties' $} List table. Drag the rows to change the order in which they appear. Pin the rows for them to be left-pinned in the list view.</p>
    </div>
    <div class="section_content">
        <div id="grid-container">
            <div ui-grid="gridOptions" ui-grid-selection ui-grid-draggable-rows></div>
        </div>
    </div>
</div>
