<div class="page_header_container" ng-cloak>
    <div class="page_header">
        <div class="left page_action_container">
            <a ui-sref="inventory_list({inventory_type: inventory_type})" class="page_action"><i class="fa fa-chevron-left"></i> {$ inventory_type == 'taxlots' ? 'Tax Lots' : 'Properties' $}</a>
        </div>
        <div class="page_title">
            <h1>{$ inventory_type == 'taxlots' ? 'Tax Lot' : 'Property' $} Detail</h1>
        </div>
    </div>
</div>
<div class="section_nav_container">
    <div class="section_nav" ng-include="urls.static_url + 'seed/partials/inventory_detail_nav.html'"></div>
</div>
<div class="section">
    <div class="section_header_container">
        <div class="section_header fixed_height_short has_no_padding">
            <div class="section_action_container left" style="width: 50%;">
                <span>
                    <h2>
                        <span ng-if="inventory_type==='properties'"><i class="fa fa-building-o"></i>Property : {$ item_state.address_line_1 ? item_state.address_line_1 : '(no address 1)' $}</span>
                        <span ng-if="inventory_type==='taxlots'"><i class="fa fa-map-o"></i>Tax Lot : {$ item_state.address_line_1 ? item_state.address_line_1 : '(no address 1)' $}</span>
                        {$ item_title $}
                    </h2>
                </span>
            </div>
            <div id="inventory-detail-edit" class="section_action_container right" ng-hide="edit_form_showing">
                <a ng-click="on_edit()" ng-show="user_role !== 'viewer'"><i class="fa fa-pencil"></i> Edit </a>
            </div>
            <div class="section_action_container right section_action_btn" ng-show="edit_form_showing">
                <a roll="button" class="btn btn-primary btn-sm" ng-click="on_save()">Save Changes</a>
                <a roll="button" class="btn btn-default btn-sm" ng-click="on_cancel()">Cancel</a>
            </div>
        </div>
    </div>
    <div class="section_content_container">
        <div class="section_content">

            <div style="float:right; width:250px; text-align:right; margin: 10px 10px 0 0;" class="ellipsis">
                 <span style="color:#777" popover-placement="top-left" popover-animation="false" popover-trigger="outsideClick" uib-popover="{$ cycle.name $}">
                     Cycle: {$ cycle.name $}
                 </span>
            </div>

            <div style="margin:10px 250px 10px 0; padding:0 10px;">
                <button type="button" class="btn btn-default" ng-click="open_update_labels_modal(inventory.id, inventory_type)" style="vertical-align: top;">
                    <i class="fa fa-tag"></i> Add/Remove Labels
                </button>
                <span style="display:inline-block; margin-top:9px; padding-left:15px; vertical-align: top;"><strong>Labels:</strong></span>
                <span ng-if="!labels.length" style="color:#999;display:inline-block;margin-top:7px;">(no labels applied)</span>
                <div ng-if="labels.length" style="display: inline-block; width: calc(100vw - 570px); vertical-align: top;">
                    <span ng-repeat="label in labels" class="label label-{$ label.label $}" style="display: inline-block; margin-top: 7px; padding: 4.6px 7px;">{$ label.name $}</span>
                </div>
            </div>

            <div class="table_list_container table_item_detail">
                <table class="table table-striped table_highlight_first fixed-layout" style="margin-bottom:-1px;">
                    <thead>
                        <tr>
                            <th sd-resizable id="building-fields">Field</th>
                            <th sd-resizable class="ellipsis-resizable">Master</th>
                            <!-- Historical values -->
                            <th ng-repeat="historical_item in historical_items" class="ellipsis">
                                <div ng-if="historical_item.source=='ImportFile'" uib-popover="{$ historical_item.filename $}">
                                    {$ historical_item.filename $}
                                </div>
                                <div ng-if="historical_item.source=='UserEdit'">(User Edit)</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr ng-repeat="field in columns" ng-if="field.visible">

                            <!-- Field name -->
                            <td>{$ field.displayName $}</td>

                            <!-- Show read-only current 'regular' field value -->
                            <td ng-if="edit_form_showing===false && !field.extraData" ng-class="changed_fields.regular_fields.indexOf(field.name)>=0 ? 'highlight' : ''" class="ellipsis">
                                <span class="sd-data-content" popover-placement="top-left" popover-animation="false" popover-trigger="outsideClick" uib-popover="{$ item_state[field.name] $}">
                                    {$ item_state[field.name] $}
                                </span>
                            </td>

                            <!-- Show read-only current 'extra_data' field value -->
                            <td ng-if="edit_form_showing===false && field.extraData" ng-class="changed_fields.extra_data_fields.indexOf(field.name)>=0 ? 'highlight' : ''" class="ellipsis">
                                <span class="sd-data-content" popover-placement="top-left" popover-animation="false" popover-trigger="outsideClick" uib-popover="{$ item_state.extra_data[field.name] $}">
                                    {$ item_state.extra_data[field.name] $}
                                </span>
                            </td>

                            <!-- Show input form to edit current field value -->
                            <td ng-if="edit_form_showing" ng-class="(!field.extraData && changed_fields.extra_data_fields.indexOf(field.name)>=0) || changed_fields.regular_fields.indexOf(field.name)>=0 ? 'highlight' : ''">
                                <div ng-if="!field.extraData">
                                    <input id="edit_attribute_id" class="form-control input-sm" type="text" name="tax_lot_id" ng-model="item_state[field.name]">
                                </div>
                                <div ng-if="field.extraData">
                                    <input id="edit_property_attribute_id" class="form-control input-sm" type="text" name="tax_lot_id" ng-model="item_state.extra_data[field.name]">
                                </div>
                            </td>

                            <!-- Show read-only historical field value -->
                            <td ng-repeat="historical_item in historical_items" ng-class="(!field.extraData && historical_item.changed_fields.extra_data_fields.indexOf(field.name)>=0) || historical_item.changed_fields.regular_fields.indexOf(field.name)>=0 ? 'highlight' : ''" class="ellipsis">
                                <span ng-if="!field.extraData" class="sd-data-content" popover-placement="top-left" popover-trigger="outsideClick" popover-animation="false" uib-popover="{$ historical_item.state[field.name] $}">
                                    {$ historical_item.state[field.name] $}
                                </span>
                                <span ng-if="field.extraData" class="sd-data-content" popover-placement="top-left" popover-trigger="outsideClick" popover-animation="false" uib-popover="{$ historical_item.state.extra_data[field.name]  $}">
                                    {$ historical_item.state.extra_data[field.name] $}
                                </span>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Related Items Section -->
<div class="section">
    <div class="section_header_container" style="margin-top: 20px; border-bottom: 0;">
        <div class="section_header fixed_height_short has_no_padding">
            <div class="section_action_container left">
                <span>
                    <h2 ng-if="inventory_type==='taxlots'">
                        <i class="fa fa-building-o"></i> Related Properties
                    </h2>
                    <h2 ng-if="inventory_type==='properties'">
                        <i class="fa fa-map-o"></i> Related Tax Lots
                    </h2>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="section_content_container" style="margin-bottom:200px;">
    <!-- List of related items -->
    <div class="section_content">
        <div class="table_list_container table_item_detail" style="max-width:700px;">
            <table class="table table-striped table_highlight_first fixed-layout" style="margin-bottom:-1px;">
                <thead>
                    <tr>
                        <th sd-resizable width="120" ng-if="inventory_type==='properties'">Tax Lot ID</th>
                        <th sd-resizable width="120" ng-if="inventory_type==='taxlots'">PM Property ID</th>
                        <th sd-resizable class="ellipsis-resizable">Address Line 1</th>
                    </tr>
                </thead>
                <tbody ng-if="inventory_type==='properties'">
                    <tr ng-repeat="taxlot in inventory.related">
                        <td> {$ taxlot.state.jurisdiction_tax_lot_id $}</td>
                        <td>
                            <a ui-sref="inventory_detail({inventory_type: 'taxlots', inventory_id: taxlot.taxlot.id, cycle_id: cycle.id})">{$ taxlot.state.address_line_1 ? taxlot.state.address_line_1 : '(no address 1)' $}</a>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-if="inventory_type==='taxlots'">
                    <tr ng-repeat="property in inventory.related">
                        <td> {$ property.state.pm_property_id $}</td>
                        <td>
                            <a ui-sref="inventory_detail({inventory_type: 'properties', inventory_id: property.property.id, cycle_id: cycle.id})">{$ property.state.address_line_1 ? property.state.address_line_1 : '(no address 1)' $}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
