<div class="page_header_container" ng-cloak>
    <div class="page_header">
        <div class="left page_action_container">
            <a ui-sref="inventory_list(::{inventory_type: inventory_type})" class="page_action">
                <i class="fa fa-chevron-left"></i>
                {$:: (inventory_type === 'taxlots' ? 'Tax Lots' : 'Properties') | translate $}
            </a>
        </div>
        <div class="page_title">
            <h1>{$:: (inventory_type === 'taxlots' ? 'Tax Lot Detail' : 'Property Detail') | translate $}</h1>
        </div>
    </div>
</div>
<div class="section_nav_container">
    <div class="section_nav" ng-include="::urls.static_url + 'seed/partials/inventory_detail_nav.html'"></div>
</div>
<div class="section_header_container">
    <div class="section_header fixed_height_short has_no_padding">
        <div class="section_action_container left" style="width: 50%;">
            <span>
                <h2>
                    <span ng-if="::inventory_type==='properties'">
                        <i class="fa fa-building-o"></i><span translate>Property</span> : 
                    </span>
                    <span ng-if="::inventory_type==='taxlots'">
                        <i class="fa fa-map-o"></i><span translate>Tax Lot</span> : 
                    </span>
                    <span ng-bind-html="inventory_name">{$ inventory_display_name(inventory_type==='properties' ? 'property' : 'taxlot') | translate $}</span>
                </h2>
            </span>
        </div>
    </div>
</div>
<div class="section_content_container" ng-cloak>
    <div class="inventory-list-controls">
        <div class="form-group" style="margin-left: 3px;">
            <label>{$:: 'Interval' | translate $}:</label>
            <div style="display: inline-block;">
                <select class="form-control"
                    ng-model="interval.selected"
                    ng-change="refresh_readings()"
                    ng-options="option for option in interval.options"
                    style="margin-left: 10px;">
                </select>
            </div>
            <br><br>
            <label>Filter By:</label>
            <div style="display: inline-block;">
                <select class="form-control"
                    ng-model="filterMethod.selected"
                    ng-change="applyFilters()"
                    ng-options="option for option in filterMethod.options"
                    style="margin-left: 10px;">
                </select>
            </div>
        </div>
        <div class="form-group" uib-dropdown is-open="meters_options.isopen" auto-close="outsideClick" on-toggle="meter_selection_toggled(open)" style="margin-top: 15px;" ng-hide="filterMethod.selected !== 'meter'">
            <button type="button" class="btn btn-default" uib-dropdown-toggle>
                Filter Meters <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu style="padding: 0px;">
                <li ng-repeat="meter in meter_selections">
                    <div>
                        <label class="btn btn-default" style="width: 100%; display: flex; justify-content: space-between; border-radius: 0px;">
                            {$:: meter.label $}<input type="checkbox" ng-model="meter.selected" name="meter.label" style="width: 14px; height: 14px; margin-left: 10px;">
                        </label>
                    </div>
                </li>
            </ul>
        </div>
        <div class="form-group" uib-dropdown is-open="scenarios_options.isopen" auto-close="outsideClick" on-toggle="scenario_selection_toggled(open)" style="margin-top: 15px;" ng-hide="filterMethod.selected !== 'scenario'">
            <button type="button" class="btn btn-default" uib-dropdown-toggle>
                Filter Scenarios <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu style="padding: 0px;">
                <li ng-repeat="scenario in scenario_selections">
                    <div>
                        <label class="btn btn-default" style="width: 100%; display: flex; justify-content: space-between; border-radius: 0px;">
                            {$:: scenario.label $}<input type="checkbox" ng-model="scenario.selected" name="scenario.label" style="width: 14px; height: 14px; margin-left: 10px;">
                        </label>
                    </div>
                </li>
            </ul>
        </div>
        <div class="btn-group" style="padding-top: 15px;">
            <button type="button" ng-click="open_green_button_upload_modal()" class="btn btn-primary" translate>UPLOAD_GB_DATA_BUTTON</button>
        </div>
    </div>


    <div class="section_content" ng-show="has_readings">
        <div id="grid-container">
            <div ui-grid="gridOptions" ui-grid-resize-columns></div>
        </div>
    </div>
    <div ng-hide="has_readings">
        <div class="jumbotron text-center" translate>No Data</div>
    </div>
</div>
