<div class="page_header_container" ng-cloak>
  <div class="page_header">
    <div class="left page_action_container"></div>
    <div class="page_title">
      <h1>{$:: (inventory_type === 'taxlots' ? 'Tax Lots' : 'Properties') | translate $}</h1>
    </div>
    <div class="right page_action_container"></div>
  </div>
</div>

<div class="section_nav_container">
  <div class="section_nav" ng-include="::urls.static_url + 'seed/partials/inventory_nav.html'"></div>
</div>

<div class="inventory-summary-controls" style="height: 100%">
  <div class="form-group settings_profile" style="padding-top: 20px; display: flex; justify-content: space-between">
    <span>
      <label>{$:: 'Cycle' | translate $}:</label>
      <div style="display: inline-block">
        <select
          class="form-control input-sm"
          ng-model="cycle.selected_cycle"
          ng-change="update_cycle(cycle.selected_cycle)"
          ng-options="option.name for option in ::cycle.cycles track by option.id"
        ></select>
      </div>
    </span>
  </div>
</div>

<div class="inventory-3dmap">
  <!-- work through this code...move these somewhere else -->
  <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.13.0/mapbox-gl.js"></script>

  <!-- TODO: move styles to scss -->
  <style>
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    }

    #deck-container {
    width: 100vw;
    height: 100vh;
    }

    #deck-container canvas {
    z-index: 1;
    background: none;
    }
  </style>

  <div id="deck-container">
  </div>

  <script>
    const container = document.getElementById('deck-container');
    const jsonInput = {
  "initialViewState": {
    "bearing": 0,
    "latitude": 34.0195,
    "longitude": -118.4912,
    "pitch": 80,
    "zoom": 14
  },
  "layers": [
    {
      "@@type": "PolygonLayer",
      "data": [
        {
          "geometry": {
            "coordinates": [
              [
                [
                  -118.4701861,
                  34.0288829
                ],
                [
                  -118.4705568,
                  34.0288895
                ],
                [
                  -118.4707359,
                  34.0288927
                ],
                [
                  -118.4707658,
                  34.0288932
                ],
                [
                  -118.4708011,
                  34.0289232
                ],
                [
                  -118.470831,
                  34.0288991
                ],
                [
                  -118.4708712,
                  34.0289333
                ],
                [
                  -118.4709011,
                  34.0289092
                ],
                [
                  -118.4709995,
                  34.028993
                ],
                [
                  -118.4709668,
                  34.0290194
                ],
                [
                  -118.4710012,
                  34.0290487
                ],
                [
                  -118.47093,
                  34.0291062
                ],
                [
                  -118.4709622,
                  34.0291336
                ],
                [
                  -118.4709955,
                  34.0291068
                ],
                [
                  -118.4710312,
                  34.0291372
                ],
                [
                  -118.4710621,
                  34.0291623
                ],
                [
                  -118.4710291,
                  34.0291902
                ],
                [
                  -118.4710652,
                  34.0292196
                ],
                [
                  -118.4710086,
                  34.0292673
                ],
                [
                  -118.4710337,
                  34.0292878
                ],
                [
                  -118.4710597,
                  34.0292659
                ],
                [
                  -118.4711787,
                  34.0293629
                ],
                [
                  -118.4711432,
                  34.0293929
                ],
                [
                  -118.4711798,
                  34.0294227
                ],
                [
                  -118.471143,
                  34.0294537
                ],
                [
                  -118.4711749,
                  34.0294797
                ],
                [
                  -118.4711579,
                  34.0299658
                ],
                [
                  -118.4710688,
                  34.0299637
                ],
                [
                  -118.4709641,
                  34.0299611
                ],
                [
                  -118.47051,
                  34.0295545
                ],
                [
                  -118.4704444,
                  34.0294949
                ],
                [
                  -118.4705375,
                  34.0294236
                ],
                [
                  -118.4705031,
                  34.0293932
                ],
                [
                  -118.470108,
                  34.02904
                ],
                [
                  -118.4701859,
                  34.0289724
                ],
                [
                  -118.4701861,
                  34.0288829
                ]
              ]
            ],
            "type": "Polygon"
          },
          "id": "('way', 34287412)",
          "properties": {
            "building": "commercial",
            "fill_color": [
              194,
              214,
              46,
              255
            ],
            "height": 30.9,
            "osm_url": "https://www.openstreetmap.org/way/34287412"
          },
          "type": "Feature"
        },
        {
          "geometry": {
            "coordinates": [
              [
                [
                  -118.471617,
                  34.0276943
                ],
                [
                  -118.4716543,
                  34.0277209
                ],
                [
                  -118.471803,
                  34.0277197
                ],
                [
                  -118.4717795,
                  34.0281756
                ],
                [
                  -118.4717452,
                  34.0282041
                ],
                [
                  -118.4717912,
                  34.0282439
                ],
                [
                  -118.4716055,
                  34.0283956
                ],
                [
                  -118.4715565,
                  34.0284342
                ],
                [
                  -118.4714795,
                  34.0284959
                ],
                [
                  -118.4713418,
                  34.0283962
                ],
                [
                  -118.4711724,
                  34.0285289
                ],
                [
                  -118.4705559,
                  34.0285175
                ],
                [
                  -118.4705468,
                  34.0283878
                ],
                [
                  -118.4705161,
                  34.0283587
                ],
                [
                  -118.4710458,
                  34.0279418
                ],
                [
                  -118.4710782,
                  34.0279652
                ],
                [
                  -118.4711058,
                  34.0279393
                ],
                [
                  -118.471177,
                  34.027998
                ],
                [
                  -118.4712155,
                  34.0279684
                ],
                [
                  -118.4712474,
                  34.027995
                ],
                [
                  -118.4713053,
                  34.0279473
                ],
                [
                  -118.4712693,
                  34.0279194
                ],
                [
                  -118.4714829,
                  34.0277456
                ],
                [
                  -118.4715201,
                  34.0277702
                ],
                [
                  -118.471617,
                  34.0276943
                ]
              ]
            ],
            "type": "Polygon"
          },
          "id": "('way', 34287835)",
          "properties": {
            "building": "commercial",
            "fill_color": [
              194,
              214,
              46,
              255
            ],
            "height": 29.5,
            "osm_url": "https://www.openstreetmap.org/way/34287835"
          },
          "type": "Feature"
        },
        {
          "geometry": {
            "coordinates": [
              [
                [
                  -118.4773131,
                  34.0312599
                ],
                [
                  -118.4773702,
                  34.0313091
                ],
                [
                  -118.4772624,
                  34.0313952
                ],
                [
                  -118.4772058,
                  34.0313465
                ],
                [
                  -118.4773131,
                  34.0312599
                ]
              ]
            ],
            "type": "Polygon"
          },
          "id": "('way', 49149001)",
          "properties": {
            "building": "container",
            "fill_color": [
              90,
              97,
              50,
              255
            ],
            "height": 4.0,
            "osm_url": "https://www.openstreetmap.org/way/49149001"
          },
          "type": "Feature"
        },
        {
          "geometry": {
            "coordinates": [
              [
                [
                  -118.4781022,
                  34.0319403
                ],
                [
                  -118.478158,
                  34.0319884
                ],
                [
                  -118.4780474,
                  34.0320764
                ],
                [
                  -118.4779935,
                  34.0320299
                ],
                [
                  -118.4781022,
                  34.0319403
                ]
              ]
            ],
            "type": "Polygon"
          },
          "id": "('way', 51805325)",
          "properties": {
            "building": "container",
            "fill_color": [
              90,
              97,
              50,
              255
            ],
            "height": 3.6,
            "osm_url": "https://www.openstreetmap.org/way/51805325"
          },
          "type": "Feature"
        },
        {
          "geometry": {
            "coordinates": [
              [
                [
                  -118.4771451,
                  34.0312943
                ],
                [
                  -118.4770926,
                  34.0312491
                ],
                [
                  -118.4772004,
                  34.031163
                ],
                [
                  -118.4772544,
                  34.0312095
                ],
                [
                  -118.4771451,
                  34.0312943
                ]
              ]
            ],
            "type": "Polygon"
          },
          "id": "('way', 72845210)",
          "properties": {
            "building": "container",
            "fill_color": [
              90,
              97,
              50,
              255
            ],
            "height": 4.0,
            "osm_url": "https://www.openstreetmap.org/way/72845210"
          },
          "type": "Feature"
        },
        {
          "geometry": {
            "coordinates": [
              [
                [
                  -118.4777445,
                  34.0318152
                ],
                [
                  -118.4776854,
                  34.0317642
                ],
                [
                  -118.4777961,
                  34.0316762
                ],
                [
                  -118.4778554,
                  34.0317274
                ],
                [
                  -118.4777445,
                  34.0318152
                ]
              ]
            ],
            "type": "Polygon"
          },
          "id": "('way', 72845211)",
          "properties": {
            "building": "container",
            "fill_color": [
              90,
              97,
              50,
              255
            ],
            "height": 3.7,
            "osm_url": "https://www.openstreetmap.org/way/72845211"
          },
          "type": "Feature"
        },
        {
          "geometry": {
            "coordinates": [
              [
                [
                  -118.4772058,
                  34.0313465
                ],
                [
                  -118.4771451,
                  34.0312943
                ],
                [
                  -118.4772544,
                  34.0312095
                ],
                [
                  -118.4773131,
                  34.0312599
                ],
                [
                  -118.4772058,
                  34.0313465
                ]
              ]
            ],
            "type": "Polygon"
          },
          "id": "('way', 72845214)",
          "properties": {
            "building": "container",
            "fill_color": [
              90,
              97,
              50,
              255
            ],
            "height": 4.0,
            "osm_url": "https://www.openstreetmap.org/way/72845214"
          },
          "type": "Feature"
        },
        {
          "geometry": {
            "coordinates": [
              [
                [
                  -118.4778116,
                  34.0318731
                ],
                [
                  -118.4777445,
                  34.0318152
                ],
                [
                  -118.4778554,
                  34.0317274
                ],
                [
                  -118.4779201,
                  34.0317832
                ],
                [
                  -118.4778116,
                  34.0318731
                ]
              ]
            ],
            "type": "Polygon"
          },
          "id": "('way', 72845218)",
          "properties": {
            "building": "container",
            "fill_color": [
              90,
              97,
              50,
              255
            ],
            "height": 3.6,
            "osm_url": "https://www.openstreetmap.org/way/72845218"
          },
          "type": "Feature"
        },
        {
          "geometry": {
            "coordinates": [
              [
                [
                  -118.4779328,
                  34.0319776
                ],
                [
                  -118.4778736,
                  34.0319265
                ],
                [
                  -118.4779834,
                  34.0318378
                ],
                [
                  -118.4780432,
                  34.0318894
                ],
                [
                  -118.4779328,
                  34.0319776
                ]
              ]
            ],
            "type": "Polygon"
          },
          "id": "('way', 72845219)",
          "properties": {
            "building": "container",
            "fill_color": [
              90,
              97,
              50,
              255
            ],
            "height": 3.2,
            "osm_url": "https://www.openstreetmap.org/way/72845219"
          },
          "type": "Feature"
        },
        {
          "geometry": {
            "coordinates": [
              [
                [
                  -118.4778736,
                  34.0319265
                ],
                [
                  -118.4778116,
                  34.0318731
                ],
                [
                  -118.4779201,
                  34.0317832
                ],
                [
                  -118.4779834,
                  34.0318378
                ],
                [
                  -118.4778736,
                  34.0319265
                ]
              ]
            ],
            "type": "Polygon"
          },
          "id": "('way', 72845222)",
          "properties": {
            "building": "container",
            "fill_color": [
              90,
              97,
              50,
              255
            ],
            "height": 3.5,
            "osm_url": "https://www.openstreetmap.org/way/72845222"
          },
          "type": "Feature"
        },
        {
          "geometry": {
            "coordinates": [
              [
                [
                  -118.4779935,
                  34.0320299
                ],
                [
                  -118.4779328,
                  34.0319776
                ],
                [
                  -118.4780432,
                  34.0318894
                ],
                [
                  -118.4781022,
                  34.0319403
                ],
                [
                  -118.4779935,
                  34.0320299
                ]
              ]
            ],
            "type": "Polygon"
          },
          "id": "('way', 72845223)",
          "properties": {
            "building": "container",
            "fill_color": [
              90,
              97,
              50,
              255
            ],
            "height": 3.0,
            "osm_url": "https://www.openstreetmap.org/way/72845223"
          },
          "type": "Feature"
        },
        {
          "geometry": {
            "coordinates": [
              [
                [
                  -118.4683169,
                  34.0302173
                ],
                [
                  -118.4667183,
                  34.0305552
                ],
                [
                  -118.4665574,
                  34.0300039
                ],
                [
                  -118.4680487,
                  34.0297105
                ],
                [
                  -118.4682204,
                  34.0298438
                ],
                [
                  -118.4683169,
                  34.0302173
                ]
              ]
            ],
            "type": "Polygon"
          },
          "id": "('way', 93507921)",
          "properties": {
            "building": "commercial",
            "fill_color": [
              194,
              214,
              46,
              255
            ],
            "height": 13.2,
            "osm_url": "https://www.openstreetmap.org/way/93507921"
          },
          "type": "Feature"
        },
        {
          "geometry": {
            "coordinates": [
              [
                [
                  -118.4996578,
                  34.0279895
                ],
                [
                  -118.4996944,
                  34.0279598
                ],
                [
                  -118.4996049,
                  34.0278834
                ],
                [
                  -118.499911,
                  34.027635
                ],
                [
                  -118.5000246,
                  34.0277319
                ],
                [
                  -118.5000394,
                  34.0277199
                ],
                [
                  -118.500091,
                  34.027764
                ],
                [
                  -118.5000821,
                  34.0277712
                ],
                [
                  -118.500164,
                  34.0278411
                ],
                [
                  -118.5001736,
                  34.0278333
                ],
                [
                  -118.5002259,
                  34.0278779
                ],
                [
                  -118.5002133,
                  34.0278882
                ],
                [
                  -118.5002727,
                  34.027939
                ],
                [
                  -118.5002153,
                  34.0279856
                ],
                [
                  -118.5002106,
                  34.0279815
                ],
                [
                  -118.5000047,
                  34.0281487
                ],
                [
                  -118.5000081,
                  34.0281516
                ],
                [
                  -118.4999619,
                  34.0281892
                ],
                [
                  -118.4999596,
                  34.0281872
                ],
                [
                  -118.4999235,
                  34.0282165
                ],
                [
                  -118.4996578,
                  34.0279895
                ]
              ]
            ],
            "type": "Polygon"
          },
          "id": "('way', 129381309)",
          "properties": {
            "building": "retail",
            "fill_color": [
              184,
              60,
              93,
              255
            ],
            "height": 7.2,
            "osm_url": "https://www.openstreetmap.org/way/129381309"
          },
          "type": "Feature"
        },
        {
          "geometry": {
            "coordinates": [
              [
                [
                  -118.4902771,
                  34.0171488
                ],
                [
                  -118.4902903,
                  34.0171381
                ],
                [
                  -118.4903738,
                  34.0172096
                ],
                [
                  -118.4903596,
                  34.0172212
                ],
                [
                  -118.4904853,
                  34.0173288
                ],
                [
                  -118.4905,
                  34.0173169
                ],
                [
                  -118.4905809,
                  34.0173861
                ],
                [
                  -118.4905449,
                  34.0174153
                ],
                [
                  -118.4905326,
                  34.0174048
                ],
                [
                  -118.4903745,
                  34.0175328
                ],
                [
                  -118.4903872,
                  34.0175437
                ],
                [
                  -118.4902937,
                  34.0176195
                ],
                [
                  -118.4902836,
                  34.0176109
                ],
                [
                  -118.4902422,
                  34.0176444
                ],
                [
                  -118.4900766,
                  34.0175027
                ],
                [
                  -118.4900464,
                  34.0175271
                ],
                [
                  -118.4899615,
                  34.0174544
                ],
                [
                  -118.4899769,
                  34.017442
                ],
                [
                  -118.4898117,
                  34.0173005
                ],
                [
                  -118.4897963,
                  34.0173129
                ],
                [
                  -118.4897119,
                  34.0172406
                ],
                [
                  -118.4897408,
                  34.0172172
                ],
                [
                  -118.4896218,
                  34.0171153
                ],
                [
                  -118.4899385,
                  34.0168589
                ],
                [
                  -118.4902771,
                  34.0171488
                ]
              ]
            ],
            "type": "Polygon"
          },
          "id": "('way', 133127763)",
          "properties": {
            "building": "retail",
            "fill_color": [
              184,
              60,
              93,
              255
            ],
            "height": 8.8,
            "osm_url": "https://www.openstreetmap.org/way/133127763"
          },
          "type": "Feature"
        },
        {
          "geometry": {
            "coordinates": [
              [
                [
                  -118.489506,
                  34.0264375
                ],
                [
                  -118.489542,
                  34.0264084
                ],
                [
                  -118.4895426,
                  34.0264089
                ],
                [
                  -118.4898365,
                  34.0261796
                ],
                [
                  -118.4901998,
                  34.0264871
                ],
                [
                  -118.4901941,
                  34.0264917
                ],
                [
                  -118.4901974,
                  34.0264945
                ],
                [
                  -118.4900291,
                  34.026631
                ],
                [
                  -118.4900693,
                  34.026666
                ],
                [
                  -118.4900661,
                  34.0266684
                ],
                [
                  -118.4900689,
                  34.0266707
                ],
                [
                  -118.4898759,
                  34.0268272
                ],
                [
                  -118.4898666,
                  34.0268193
                ],
                [
                  -118.489865,
                  34.0268205
                ],
                [
                  -118.4898285,
                  34.0267866
                ],
                [
                  -118.4898213,
                  34.0267805
                ],
                [
                  -118.4898091,
                  34.0267903
                ],
                [
                  -118.4898087,
                  34.02679
                ],
                [
                  -118.4898036,
                  34.0267944
                ],
                [
                  -118.4897599,
                  34.0267585
                ],
                [
                  -118.4897788,
                  34.0267429
                ],
                [
                  -118.4894699,
                  34.0264787
                ],
                [
                  -118.4894716,
                  34.0264773
                ],
                [
                  -118.4894636,
                  34.0264706
                ],
                [
                  -118.489506,
                  34.0264375
                ]
              ]
            ],
            "type": "Polygon"
          },
          "id": "('way', 133127903)",
          "properties": {
            "building": "retail",
            "fill_color": [
              184,
              60,
              93,
              255
            ],
            "height": 10.3,
            "osm_url": "https://www.openstreetmap.org/way/133127903"
          },
          "type": "Feature"
        },
        {
          "geometry": {
            "coordinates": [
              [
                [
                  -118.4685163,
                  34.0217003
                ],
                [
                  -118.4686721,
                  34.021574
                ],
                [
                  -118.4687924,
                  34.0215998
                ],
                [
                  -118.4685769,
                  34.0217742
                ],
                [
                  -118.4685163,
                  34.0217003
                ]
              ]
            ],
            "type": "Polygon"
          },
          "id": "('way', 158712308)",
          "properties": {
            "building": "public",
            "fill_color": [
              2,
              228,
              105,
              255
            ],
            "height": 4.9,
            "osm_url": "https://www.openstreetmap.org/way/158712308"
          },
          "type": "Feature"
        },
        {
          "geometry": {
            "coordinates": [
              [
                [
                  -118.4682796,
                  34.0214937
                ],
                [
                  -118.468186,
                  34.0214123
                ],
                [
                  -118.4681904,
                  34.0214088
                ],
                [
                  -118.468087,
                  34.0213187
                ],
                [
                  -118.4679916,
                  34.0213947
                ],
                [
                  -118.4678539,
                  34.0212761
                ],
                [
                  -118.468248,
                  34.0209621
                ],
                [
                  -118.4683852,
                  34.0210804
                ],
                [
                  -118.4682885,
                  34.0211575
                ],
                [
                  -118.4683671,
                  34.0212259
                ],
                [
                  -118.468335,
                  34.0212515
                ],
                [
                  -118.468378,
                  34.0212889
                ],
                [
                  -118.4683528,
                  34.0213089
                ],
                [
                  -118.4684287,
                  34.0213749
                ],
                [
                  -118.4682796,
                  34.0214937
                ]
              ]
            ],
            "type": "Polygon"
          },
          "id": "('way', 158712310)",
          "properties": {
            "building": "public",
            "fill_color": [
              2,
              228,
              105,
              255
            ],
            "height": 4.9,
            "osm_url": "https://www.openstreetmap.org/way/158712310"
          },
          "type": "Feature"
        },
        {
          "geometry": {
            "coordinates": [
              [
                [
                  -118.4909863,
                  34.0187093
                ],
                [
                  -118.4909972,
                  34.0187006
                ],
                [
                  -118.4911107,
                  34.0187979
                ],
                [
                  -118.4909284,
                  34.0189452
                ],
                [
                  -118.4908082,
                  34.018842
                ],
                [
                  -118.4909838,
                  34.0187071
                ],
                [
                  -118.4909863,
                  34.0187093
                ]
              ]
            ],
            "type": "Polygon"
          },
          "id": "('way', 166611348)",
          "properties": {
            "building": "retail",
            "fill_color": [
              184,
              60,
              93,
              255
            ],
            "height": 11.0,
            "osm_url": "https://www.openstreetmap.org/way/166611348"
          },
          "type": "Feature"
        },
        {
          "geometry": {
            "coordinates": [
              [
                [
                  -118.4915838,
                  34.0191818
                ],
                [
                  -118.4915928,
                  34.019189
                ],
                [
                  -118.4914099,
                  34.0193469
                ],
                [
                  -118.4913994,
                  34.0193503
                ],
                [
                  -118.4913833,
                  34.0193513
                ],
                [
                  -118.4913392,
                  34.0193166
                ],
                [
                  -118.4913549,
                  34.0193026
                ],
                [
                  -118.4912777,
                  34.0192423
                ],
                [
                  -118.4913304,
                  34.0191956
                ],
                [
                  -118.491345,
                  34.0192071
                ],
                [
                  -118.4915844,
                  34.0190103
                ],
                [
                  -118.4915723,
                  34.019
                ],
                [
                  -118.4916302,
                  34.0189525
                ],
                [
                  -118.4917411,
                  34.019046
                ],
                [
                  -118.4915838,
                  34.0191818
                ]
              ]
            ],
            "type": "Polygon"
          },
          "id": "('way', 166611350)",
          "properties": {
            "building": "retail",
            "fill_color": [
              184,
              60,
              93,
              255
            ],
            "height": 11.7,
            "osm_url": "https://www.openstreetmap.org/way/166611350"
          },
          "type": "Feature"
        },
        {
          "geometry": {
            "coordinates": [
              [
                [
                  -118.4891564,
                  34.0181545
                ],
                [
                  -118.4889594,
                  34.017987
                ],
                [
                  -118.4891958,
                  34.0177943
                ],
                [
                  -118.4893229,
                  34.0179024
                ],
                [
                  -118.489334,
                  34.0178934
                ],
                [
                  -118.4894057,
                  34.0179543
                ],
                [
                  -118.4892549,
                  34.0180742
                ],
                [
                  -118.4891564,
                  34.0181545
                ]
              ]
            ],
            "type": "Polygon"
          },
          "id": "('way', 166611351)",
          "properties": {
            "building": "retail",
            "fill_color": [
              184,
              60,
              93,
              255
            ],
            "height": 6.0,
            "osm_url": "https://www.openstreetmap.org/way/166611351"
          },
          "type": "Feature"
        },
        {
          "geometry": {
            "coordinates": [
              [
                [
                  -118.484966,
                  34.0144825
                ],
                [
                  -118.4848882,
                  34.0145384
                ],
                [
                  -118.48474,
                  34.014395
                ],
                [
                  -118.4848178,
                  34.0143392
                ],
                [
                  -118.484966,
                  34.0144825
                ]
              ]
            ],
            "type": "Polygon"
          },
          "id": "('way', 166611354)",
          "properties": {
            "building": "commercial",
            "fill_color": [
              194,
              214,
              46,
              255
            ],
            "height": 4.3,
            "osm_url": "https://www.openstreetmap.org/way/166611354"
          },
          "type": "Feature"
        },
        {
          "geometry": {
            "coordinates": [
              [
                [
                  -118.4909361,
                  34.0189436
                ],
                [
                  -118.4911661,
                  34.0187545
                ],
                [
                  -118.4912805,
                  34.0188511
                ],
                [
                  -118.4910937,
                  34.0190046
                ],
                [
                  -118.4910484,
                  34.0190383
                ],
                [
                  -118.4909361,
                  34.0189436
                ]
              ]
            ],
            "type": "Polygon"
          },
          "id": "('way', 166611359)",
          "properties": {
            "building": "retail",
            "fill_color": [
              184,
              60,
              93,
              255
            ],
            "height": 4.1,
            "osm_url": "https://www.openstreetmap.org/way/166611359"
          },
          "type": "Feature"
        },
        {
          "geometry": {
            "coordinates": [
              [
                [
                  -118.4910937,
                  34.0190046
                ],
                [
                  -118.4911134,
                  34.0190212
                ],
                [
                  -118.4912301,
                  34.0189253
                ],
                [
                  -118.4913161,
                  34.0189978
                ],
                [
                  -118.4911475,
                  34.0191364
                ],
                [
                  -118.4910397,
                  34.0190455
                ],
                [
                  -118.4910484,
                  34.0190383
                ],
                [
                  -118.4910937,
                  34.0190046
                ]
              ]
            ],
            "type": "Polygon"
          },
          "id": "('way', 166611361)",
          "properties": {
            "building": "retail",
            "fill_color": [
              184,
              60,
              93,
              255
            ],
            "height": 6.6,
            "osm_url": "https://www.openstreetmap.org/way/166611361"
          },
          "type": "Feature"
        },
        {
          "geometry": {
            "coordinates": [
              [
                [
                  -118.4808816,
                  34.0330665
                ],
                [
                  -118.4808547,
                  34.0330919
                ],
                [
                  -118.4808461,
                  34.0330979
                ],
                [
                  -118.4808504,
                  34.0331023
                ],
                [
                  -118.4807579,
                  34.0331781
                ],
                [
                  -118.480751,
                  34.0331724
                ],
                [
                  -118.4806352,
                  34.0330764
                ],
                [
                  -118.4805384,
                  34.0329937
                ],
                [
                  -118.4805776,
                  34.0329618
                ],
                [
                  -118.4806352,
                  34.0330111
                ],
                [
                  -118.4806883,
                  34.0329681
                ],
                [
                  -118.4806752,
                  34.0329569
                ],
                [
                  -118.4806637,
                  34.0329662
                ],
                [
                  -118.4806676,
                  34.0329696
                ],
                [
                  -118.4806404,
                  34.0329917
                ],
                [
                  -118.4806034,
                  34.03296
                ],
                [
                  -118.480691,
                  34.032889
                ],
                [
                  -118.4808505,
                  34.0330253
                ],
                [
                  -118.4808785,
                  34.0330026
                ],
                [
                  -118.4808998,
                  34.0329854
                ],
                [
                  -118.4809393,
                  34.0330194
                ],
                [
                  -118.4809167,
                  34.0330378
                ],
                [
                  -118.4808816,
                  34.0330665
                ]
              ]
            ],
            "type": "Polygon"
          },
          "id": "('relation', 16733445)",
          "properties": {
            "building": "commercial",
            "fill_color": [
              194,
              214,
              46,
              255
            ],
            "height": 5.6,
            "osm_url": "https://www.openstreetmap.org/relation/16733445"
          },
          "type": "Feature"
        }
      ],
      "elevationScale": 1,
      "extruded": true,
      "getElevation": "@@=properties.height",
      "getFillColor": "@@=properties.fill_color",
      "getPolygon": "@@=geometry.coordinates",
      "id": "ca1d9c06-4ac5-46d0-a51d-e594a0583172",
      "pickable": true,
      "wireframe": true
    }
  ],
  "mapProvider": "carto",
  "mapStyle": "https://basemaps.cartocdn.com/gl/dark-matter-gl-style/style.json",
  "views": [
    {
      "@@type": "MapView",
      "controller": true
    }
  ]
};
    const tooltip = {'html': '<b>Building Height:</b> {properties.height} meters <br /> <b>Building Type:</b> {properties.building} <br /> <b> URL: {properties.osm_url} </b>'};
    const customLibraries = null;
    const configuration = null;

    const deckInstance = createDeck({
      container,
      jsonInput,
      tooltip,
      customLibraries,
      configuration
    });

  </script>



</div>
