<div class="page_header_container">
  <div class="page_header">
    <div class="left page_action_container">
      <a ui-sref="inventory_groups(::{inventory_type: inventory_type})" class="page_action">
        <i class="fa-solid fa-chevron-left"></i>
        {$:: 'Groups' | translate $}
      </a>
    </div>
    <div class="page_title">
      <h1>{$:: 'Group Detail' | translate $}</h1>
    </div>
    <div class="right page_action_container"></div>
  </div>
</div>
<div class="section_nav_container">
  <div class="section_nav" ng-include="::urls.static_url + 'seed/partials/inventory_group_detail_nav.html'"></div>
</div>
<div class="ellipsis">
  <span style="display: flex; align-items: baseline; gap: 1rem">
    <strong>{$:: 'Cycle' | translate $}:</strong>
    <select class="form-control" style="width: auto" ng-model="selectedCycle" ng-change="changeCycle()">
      <option ng-repeat="cycle in cycles" ng-value="cycle">{$ cycle.name $}</option>
    </select>
  </span>
</div>

<div>
  <div style="display: flex; flex-direction:column">
    <div ng-repeat="(key, item) in data">
      <div>{$ key $}: {$ item $}</div>
    </div>
  </div>
</div>
