<div class="page_header_container" ng-cloak>
    <div class="page_header">
        <div class="left page_action_container">

        </div>
        <div class="page_title">
            <h1>Inventory</h1>
        </div>
        <div class="right page_action_container page_action_btn"></div>
    </div>
</div>

<div class="section_nav_container">
    <div class="section_nav" ng-include="urls.static_url + 'seed/partials/inventory_detail_nav.html'"></div>
</div>

<div style="margin-top:50px; text-align:center">IN PROGRESS</div>
