<div>
    <div class="modal-header">
        <h4 class="modal-title" id="manageLabelsModalLabel">Run Analysis</h4>
    </div>
    <div class="modal-body">
        <div class="newAnalysisInput" style="margin-top:0;">
            <form name="newAnalysisForm" role="form" ng-submit="submitNewAnalysisForm(newAnalysisForm)" novalidate>
                <div class="form-group">
                    <label class="control-label sectionLabel" translate>Name</label>
                    <input id="AnalysisName" type="text" name="name" class="form-control"
                           ng-minlength="1" ng-maxlength="100" ng-model="new_analysis.name"
                           placeholder="{$:: 'Analysis Name' | translate $}" required>
                </div>
                <div class="form-group">
                    <label class="control-label sectionLabel">Type</label>
                    <select class="form-control" ng-model="new_analysis.service" ng-dropdown required>
                        <option ng-option value='BSyncr' selected="selected">BSyncr</option>
                    </select>
                </div>
                <div class="form-group" ng-if="new_analysis.service == 'BSyncr'">
                    <label class="control-label sectionLabel">BSyncr Model Selection</label>
                    <select class="form-control" ng-model="new_analysis.configuration" ng-dropdown required>
                         <option ng-repeat="model in bsyncr_models" selected="selected" ng-value=model>{$:: model.model_type $}</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" ng-disabled="newAnalysisForm.$invalid" translate>Create Analysis</button>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" style="min-width:90px;" ng-click="cancel()" translate>Cancel
        </button>
    </div>
</div>
