        <a ng-if="inventory_type === 'taxlots'" id="inventory-list" ui-sref="inventory_list(::{inventory_type: inventory_type})" ui-sref-active="active" translate>Tax Lots List</a><!--
     --><a ng-if="inventory_type === 'properties'" id="inventory-list" ui-sref="inventory_list(::{inventory_type: inventory_type})" ui-sref-active="active" translate>Properties List</a><!--
     --><a ng-if="inventory_type === 'taxlots'" id="inventory-list-legacy" ui-sref="inventory_list_legacy(::{inventory_type: inventory_type})" ui-sref-active="active" translate>Tax Lots List (legacy)</a><!--
     --><a ng-if="inventory_type === 'properties'" id="inventory-list-legacy" ui-sref="inventory_list_legacy(::{inventory_type: inventory_type})" ui-sref-active="active" translate>Properties List (legacy)</a><!--
     --><a id="column-list-profiles" ui-sref="column_list_profiles(::{inventory_type: inventory_type})" ui-sref-active="active" translate>Column List Profiles</a><!--
     --><a id="inventory-cycles" ui-sref="inventory_cycles(::{inventory_type: inventory_type})" ui-sref-active="active" translate>Cross-Cycles</a><!--
     --><a id="inventory-map" ui-sref="inventory_map(::{inventory_type: inventory_type})" ui-sref-active="active" translate>Map</a><!--
     --><a id="inventory-data" ui-sref="custom_reports(::{inventory_type: inventory_type})" ui-sref-active="active" translate>Data</a><!--
     --><a id="inventory-summary" ui-sref="inventory_summary(::{inventory_type: inventory_type})" ui-sref-active="active" translate>Summary (Beta)</a>
