<div class="page_header_container" ng-cloak>
    <div class="page_header">
        <div class="left page_action_container">
            <a ui-sref="inventory_list(::{inventory_type: inventory_type})" class="page_action">
                <i class="fa fa-chevron-left"></i>
                {$:: (inventory_type === 'taxlots' ? 'Tax Lots' : 'Properties') | translate $}
            </a>
        </div>
        <div class="page_title">
            <h1>{$:: (inventory_type === 'taxlots' ? 'Tax Lot Detail' : 'Property Detail') | translate $}</h1>
        </div>
    </div>
</div>
<div class="section_nav_container">
    <div class="section_nav" ng-include="::urls.static_url + 'seed/partials/inventory_detail_nav.html'"></div>
</div>
<div class="section">
    <div class="section_header_container">
        <div class="section_header fixed_height_short has_no_padding">
            <div class="section_action_container left" style="width: 50%;">
                <span>
                    <h2>
                        <span ng-if="::inventory_type==='properties'"><i class="fa fa-building-o"></i><span translate>Property</span> : {$ item_state.address_line_1 ? item_state.address_line_1 : ('(no address 1)' | translate) $}</span>
                        <span ng-if="::inventory_type==='taxlots'"><i class="fa fa-map-o"></i><span translate>Tax Lot</span> : {$ item_state.address_line_1 ? item_state.address_line_1 : ('(no address 1)' | translate) $}</span>
                    </h2>
                </span>
            </div>
        </div>
    </div>
    <div class="section_content_container">
        <div class="section_content">
            <div style="margin:10px 10px 10px 0; padding:0 10px; display: flex; justify-content: space-between;">
                <span ng-show="profiles.length > 0">
                    <label>{$:: 'Detail Settings Profile' | translate $}:</label>
                    <div style="display: inline-block;">
                        <select class="form-control input-sm" ng-model="currentProfile" ng-options="option.name for option in profiles track by option.id"></select>
                    </div>
                </span>
            </div>
        </div>
    </div>

    <div class="section_content_container">
        <div class="table_list_container table_item_detail">
            <table class="table table-striped table_highlight_first fixed-layout">
                <thead>
                    <tr>
                        <th sd-resizable id="building-fields">{$:: 'Field' | translate $}</th>
                        <!-- Historical values -->
                        <th sd-resizable ng-repeat="historical_item in ::historical_items" class="ellipsis-resizable">
                            <div ng-if="::_.includes(['ImportFile', 'UserEdit'], historical_item.source)" uib-popover="{$:: historical_item.filename $}">
                                {$:: historical_item.filename $}
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="col in ::columns">
                        <!-- Column name -->
                        <td ng-attr-title="{$:: col.column_name $}">{$:: col.displayName | translate $}</td>

                        <!-- Show read-only historical field value. Need to bring back Disabled fields --> 
                        <td ng-repeat="historical_item in historical_items" ng-class="(!col.is_extra_data && historical_item.changed_fields.extra_data_fields.indexOf(col.column_name)>=0) || historical_item.changed_fields.regular_fields.indexOf(col.column_name)>=0 ? 'highlight' : ''" class="ellipsis">
                            <span ng-if="::!col.is_extra_data" class="sd-data-content" popover-placement="top-left" popover-trigger="outsideClick" popover-animation="false" uib-popover="{$:: historical_item.state[col.column_name] $}">
                                <span ng-if="col.data_type !== 'datetime'">{$:: historical_item.state[col.column_name] $}</span>
                                <span ng-if="col.data_type === 'datetime'">{$:: historical_item.state[col.column_name] | date: 'yyyy-MM-dd h:mm a' $}</span>
                            </span>
                            <span ng-if="::col.is_extra_data" class="sd-data-content" popover-placement="top-left" popover-trigger="outsideClick" popover-animation="false" uib-popover="{$:: historical_item.state.extra_data[col.column_name] $}">
                                <span ng-if="col.data_type !== 'datetime'">{$:: historical_item.state.extra_data[col.column_name] $}</span>
                                <span ng-if="col.data_type === 'datetime'">{$:: historical_item.state.extra_data[col.column_name] | date: 'yyyy-MM-dd h:mm a' $}</span>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
