<a
  id="group-dashboard"
  ui-sref="inventory_group_detail_dashboard(::{inventory_type: inventory_type, group_id: group_id})"
  ui-sref-active="active"
  ng-if="inventory_type === 'properties'"
  translate
  >Dashboard</a
>
<a
  id="group-inventory_list"
  ui-sref="inventory_groups_inventory_list(::{inventory_type: inventory_type, group_id: group_id})"
  ui-sref-active="active"
  translate
  >Properties</a
>
<a
  id="group-systems"
  ui-sref="inventory_group_detail_systems(::{inventory_type: inventory_type, group_id: group_id})"
  ui-sref-active="active"
  translate
  >Systems & Services</a
>
<a
  id="group-meters"
  ui-sref="inventory_group_detail_meters(::{inventory_type: inventory_type, group_id: group_id})"
  ui-sref-active="active"
  translate
  >Meters</a
>
<a
  id="group-map"
  ui-sref="inventory_group_map(::{inventory_type: inventory_type, group_id: group_id})"
  ui-sref-active="active"
  translate
  >Map</a
>
