<div class="page_header_container" ng-cloak>
  <div class="page_header">
    <div class="left page_action_container"></div>
    <div class="page_title">
      <h1>{$:: (inventory_type === 'taxlots' ? 'Tax Lot Groups' : 'Property Groups') | translate $}</h1>
    </div>
    <div class="right page_action_container page_action_btn"></div>
  </div>
</div>

<div class="section_nav_container">
  <div class="section_nav" ng-include="::urls.static_url + 'seed/partials/inventory_nav.html'"></div>
</div>

<div class="section_header_container">
  <div class="section_header has_no_padding fixed_height_short">
    <div class="section_action_container left_40">
      <h2>
        <i class="fa fa-sitemap"></i>
        <span>{$:: (inventory_type === 'taxlots' ? 'Tax Lot Groups' : 'Property Groups') | translate $}</span>
      </h2>
    </div>
    <div class="section_action_container right_40 section_action_btn pull-right">
      <button class="btn btn-primary" ng-click="create_inventory_group()" translate>Create Group</button>
    </div>
  </div>
</div>
<div class="section">
  <div class="section_content_container">
    <div class="section_content with_padding" style="margin-top: 10px">
      <div><p translate>GROUPS_DESC_TEXT</p></div>
    </div>
  </div>
</div>

<div class="section_content">
  <table id="groups_table" class="table table-striped table_highlight_first" style="border-bottom: 1px solid #dddddd">
    <thead>
      <tr>
        <th>Name</th>
        <th>Access Level Instance</th>
        <th>Inventory Count</th>
        <th style="width: 110px">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="group in inventory_groups">
        <td>
          <a class="btn btn btn-default" style="padding: 4px 15px" ui-sref="inventory_group_detail_dashboard({inventory_type: inventory_type, group_id: group.id})" ui-sref-active="">
            {$ group.name $}
          </a>
        </td>
        <td>{$ group.access_level_instance_data.name $}</td>
        <td>{$ group.inventory_list.length $}</td>
        <td>
          <div class="buttons" ng-show="!rowform.$visible">
            <button class="btn btn-default btn-rowform" ng-click="edit_inventory_group(group.id)" translate>edit</button>
            <button class="btn btn-danger btn-rowform" ng-click="remove_inventory_group(group.id)">X</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
