<div class="page_header_container" ng-cloak>
    <div class="page_header">
        <div class="left page_action_container">

        </div>
        <div class="page_title">
            <h1>{$:: inventory_type == 'taxlots' ? 'Tax Lots' : 'Properties' $}</h1>
        </div>
        <div class="right page_action_container page_action_btn"></div>
    </div>
</div>

<div class="section_nav_container">
    <div class="section_nav" ng-include="::urls.static_url + 'seed/partials/inventory_nav.html'"></div>
</div>

<div class="inventory-list-controls">
    <form name="listControlsForm"
          class="form-inline"
          role="form"
          ng-submit="submitNewLabelForm(newLabelForm.$valid)"
          novalidate>
        <div class="form-group">
            <div uib-dropdown class="btn-group pointer" ng-style="nothing_selected_cursor()">
                <button id="btnInventoryActions"
                        type="button"
                        uib-dropdown-toggle
                        class="btn btn-default btn-sm"
                        ng-disabled="selectedCount == 0">
                    Actions <span class="caret"></span>
                </button>
                <ul id="inventory-actions-dropdown" uib-dropdown-menu class="dropdown-menu" role="menu" aria-labelledby="btnInventoryActions">
                    <li ng-hide="::menu.user.organization.user_role === 'viewer'">
                        <a ng-click="open_delete_modal()">Delete Selected</a>
                    </li>
                    <li>
                        <a ng-click="open_export_modal()">Export Selected</a>
                    </li>
                    <li>
                        <a ng-click="open_update_labels_modal()" ng-disabled="selectedParentCount == 0">Add/Remove Labels</a>
                    </li>
                    <li>
                        <a ng-click="run_data_quality_check()">Data Quality Check</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <label for="tagsInput">Filter by label:</label>
            <div class="btn-group">
                <tags-input id="tagsInput"
                            ng-model="selected_labels"
                            min-length="1"
                            placeholder="Add a label"
                            replace-spaces-with-dashes="false"
                            add-from-autocomplete-only="true"
                            ng-disabled="!labels.length">
                    <auto-complete source="loadLabelsForFilter($query)"
                                   max-results-to-show="255"
                                   min-length="0"
                                   load-on-empty="true"
                                   load-on-focus="true"
                                   ng-disabled="!labels.length">
                    </auto-complete>
                </tags-input>
            </div>
        </div>
        <div class="form-group btn-group">
            <label class="btn btn-default btn-sm" style="width:50px;" ng-model="labelLogic" uib-btn-radio="'and'" ng-change="labelLogicUpdated()" ng-disabled="!labels.length">AND</label>
            <label class="btn btn-default btn-sm" style="width:50px;" ng-model="labelLogic" uib-btn-radio="'or'" ng-change="labelLogicUpdated()" ng-disabled="!labels.length">OR</label>
            <label class="btn btn-default btn-sm" style="width:75px;" ng-model="labelLogic" uib-btn-radio="'exclude'" ng-change="labelLogicUpdated()" ng-disabled="!labels.length">EXCLUDE</label>
        </div>
        <div class="form-group btn-group building-list-filter-buttons">
            <button type="button" ng-click="clear_labels()" class="btn btn-default btn-sm" ng-disabled="!labels.length">Clear Labels</button>
        </div>
        <div class="btn-group">
            <button type="button" ng-click="gridApi.grid.clearAllFilters();" ng-disabled="!filters_exist()" class="btn btn-default btn-sm">Clear Filters</button>
        </div>

    </form>

    <div class="form-group" style="padding-top: 20px;">
        <label>Cycle:</label>
        <div style="display: inline-block;">
            <select class="form-control input-sm" ng-model="cycle.selected_cycle" ng-change="update_cycle(cycle.selected_cycle)"
                    ng-options="option.name for option in ::cycle.cycles track by option.id">
            </select>
        </div>
    </div>
</div>

<div class="inventory-list-tab-container">
    <div class="item-count">
        <i ng-if="::inventory_type == 'properties'" class="fa fa-building-o"></i>
        <i ng-if="::inventory_type == 'taxlots'" class="fa fa-map-o"></i>
        {$ total | number:0 $}
        <span ng-if="::inventory_type == 'properties'"><ng-pluralize count="total" when="{'one': 'Property','other': 'Properties'}"></ng-pluralize></span>
        <span ng-if="::inventory_type == 'taxlots'"><ng-pluralize count="total" when="{'one': 'Tax Lot','other': 'Tax Lots'}"></ng-pluralize></span>
    </div>
    <ul class="nav nav-tabs" style="margin-bottom:1px;">
        <li ng-class="::{active: inventory_type=='properties'}" heading="View by Property">
            <a ui-sref="inventory_list({inventory_type: 'properties'})">View by Property</a>
        </li>
        <li ng-class="::{active: inventory_type=='taxlots'}" heading="View by Tax Lot">
            <a ui-sref="inventory_list({inventory_type: 'taxlots'})">View by Tax Lot</a>
        </li>
    </ul>
</div>

<div class="section_content_container" ng-cloak style="clear:both; overflow:hidden;">
    <div class="section_content">
        <div id="grid-container">
            <div ui-grid="gridOptions" ui-grid-exporter ui-grid-move-columns ui-grid-pinning ui-grid-resize-columns ui-grid-save-state ui-grid-selection ui-grid-tree-view></div>
        </div>
    </div>
</div>
