<div class="page_header_container" ng-cloak>
    <div class="page_header">
        <div class="left page_action_container">
            <a ui-sref="inventory_list(::{inventory_type: inventory_type})" class="page_action">
                <i class="fa fa-chevron-left"></i>
                {$:: (inventory_type === 'taxlots' ? 'Tax Lots' : 'Properties') | translate $}
            </a>
        </div>
        <div class="page_title">
            <h1>{$:: (inventory_type === 'taxlots' ? 'Tax Lot Detail' : 'Property Detail') | translate $}</h1>
        </div>
    </div>
</div>
<div class="section_nav_container">
    <div class="section_nav" ng-include="::urls.static_url + 'seed/partials/inventory_detail_nav.html'"></div>
</div>
<div class="section_header_container">
    <div class="section_header fixed_height_short has_no_padding">
        <div class="section_action_container left" style="width: 50%;">
            <span>
                <h2>
                    <span>
                        <!-- Need to add the sort by drop down code in this section -->
                        <span translate>Sort by</span> : [add dropdown here]
                    </span>
                </h2>
            </span>
        </div>
    </div>
</div>
<!-- Timeline: cycles -> events -> trigger -->
<div class="section_content_container">

    <div class="section">
        <!-- Cycles -->
        <table id="cycles-table">
            <tbody>
                <tr ng-repeat-start="(cycle_id, events) in timeline" class="cycle-row">
                    <td width="20">
                        <div ng-click="expand_row('cycles', cycle_id)" style="padding: 5px;">
                            <i class="fa fa-chevron-right" style="color: white;"
                                ng-class="check_expanded_row(cycle_id) ? 'down' : 'right'">
                            </i>
                        </div>
                    </td>
                    <td >
                        Cycle: {$ cycleNameById[cycle_id] $}
                    </td>
                    <td>
                        Events: {$ events.length $}
                    </td>
                </tr>
                <!-- Events -->
                <tr ng-repeat-end style="background: white;">
                    <td colspan="100%">
                        <table class="event-table">
                            <tbody>
                                <tr ng-repeat-start="event in events"
                                    ng-class="check_expanded_row(cycle_id) ? 'show' : 'noshow'"
                                    style="background: rgb(112,113,113); border-bottom: 2px solid white;">
                                        <td width="20">
                                            <div ng-click="expand_row('events', event.id)" style="padding: 5px;">
                                                <i class="fa fa-chevron-right" style="color: white;"
                                                    ng-class="check_expanded_row(cycle_id, event.id) ? 'down' : 'right'">
                                                </i>
                                            </div>
                                        </td>
                                        <td style="padding: 5px;">
                                            Event Date: {$ event.created | date : "shortDate" $}
                                        </td>
                                        <td style="padding: 5px;">
                                            <div ng-switch="::event.event_type">
                                                <div ng-switch-when="NoteEvent" translate>Event Type: Note</div>
                                                <div ng-switch-when="AnalysisEvent" translate>Event Type: Analysis</div>
                                                <div ng-switch-when="ATEvent" translate>Event Type: Audit Template File</div>
                                            </div>
                                        </td>
                                </tr>
                                <!-- Triggers -->
                                <tr ng-repeat-end
                                    ng-class="check_expanded_row(cycle_id, event.id) ? 'show' : 'noshow'"
                                    style="background: white;"
                                    >
                                    <td ng-if="event.event_type == 'NoteEvent'" style="display: block">
                                        <div class="event-trigger" ng-controller="event_inventory_document_controller" ng-include="::urls.static_url + 'seed/partials/event_inventory_document_card.html'"></div>
                                    </td>
                                    <td ng-if="event.event_type == 'AnalysisEvent'" style="display: block">
                                        <div class="event-trigger" ng-include="::urls.static_url + 'seed/partials/event_analysis_card.html'"></div>
                                    </td>
                                    <td ng-if="event.event_type == 'ATEvent'" style="display: block">
                                        <div class="event-trigger" ng-include="::urls.static_url + 'seed/partials/event_at_card.html'"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
