<div  id="manageLabelsModal">
      <div class="modal-header" >
        <button type="button" class="close" aria-hidden="true" ng-click="close()"><i class="fa fa-times"></i></button>
        <h4 class="modal-title" id="manageLabelsModalLabel">Manage Labels</h4>
      </div>
      <div class="modal-body edit_labels">
            <div class="add_text">Create new label</div>
            <div class="row add_label_row">
                <div class="col-lg-9 col-sm-9">
                    <div class="input-group">
                        <input type="text" class="form-control" id="projectName" ng-model="label_modal.name" placeholder="Label Name" required>
                        <div uib-dropdown class="input-group-btn">
                            <button type="button" class="btn btn-{$ label_modal.label $} dropdown-toggle" data-toggle="dropdown">{$ label_modal.color $} <span class="caret"></span></button>
                            <ul class="uib-dropdown-menu pull-right" role="menu">
                                <li ng-repeat="label in available_colors" ng-click="label_modal.label = label.label; label_modal.color = label.color"><a><span class="label label-{$ label.label $}">{$ label.color $}</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3">
                    <button type="button" class="btn btn-primary" ng-click="add_label(label_modal)" ng-show="modal.label.state == 'create'" ng-disabled="!(label_modal.name.length > 0)">Create label</button>
                    <button type="button" class="btn btn-primary" ng-click="update_label(label_modal)" ng-show="modal.label.state == 'edit'" ng-disabled="!(label_modal.name.length > 0)">Update label</button>
                </div>
            </div>
            <div class="edit_text">Edit your existing labels</div>
            <div class="table_list_container">
                <table class="table table-striped">
                    <tr ng-repeat="label in labels">
                        <td class="label_column">
                            <span class="label label-{$ label.label $}">{$ label.name $}</span>
                        </td>
                        <td align="right">
                            <button type="button" class="btn btn-sm btn-default action_link" ng-click="edit_label(label)"><i class="fa fa-pencil"></i> edit</button>
                            <button type="button" class="btn btn-sm btn-default action_link" ng-click="delete_label(label)"><i class="fa fa-trash-o"></i> delete</button>
                        </td>
                    </tr>
                </table>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="close()">Close</button>
      </div>
</div>
