<script type="text/ng-template" id="typeahead.html">
  <a ng-class="{'typeahead-native': !match.model.is_extra_data}">
      <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
  </a>
</script>

<div class="page_header_container">
  <div class="page_header">
      <div class="left page_action_container">
          <a class="page_action" ui-sref="dataset_detail(::{dataset_id: import_file.dataset.id})"><i class="fa fa-chevron-left"></i> {$:: import_file.dataset.name $}</a>
      </div>
      <div class="page_title">
          <h1 translate="DATA_MAPPING_AND_VALIDATION"
              translate-values="{ filename: import_file.uploaded_filename }"></h1>
      </div>
      <div class="right page_action_container"></div>
  </div>
</div>

<div class="section">
  <!-- <div class="section_tab_container">
      <uib-tabset>
          <uib-tab heading="{$:: 'STEP 1: Map Your Data' | translate $}" active="tabs.one_active">
              <div class="row">
                  <div class="col-sm-7 tab_content wide">
                      <p><strong translate>MAPPING YOUR DATA TO SEED</strong></p>
                      <p translate>It is necessary to map your field names to SEED field names. You can select from the list that appears as you start to type, which is based on the Building Energy Data Exchange Specification (BEDES), or you can type in your own name, as well as typing in the field name from the original datafile.</p>
                      <p translate>In addition, you need to specify where the field should be associated with Tax Lot data or Property data. This will affect how the data is matched and merged, as well as how it is displayed in the Inventory view.</p>
                      <p translate>FIELD_NAMES_FOR_MATCHING_ADVICE</p>
                      <p translate>For Portfolio Manager files, SEED has a default set of field names which can be used without extra user editing unless desired.</p>
                      <p translate>WHEN_YOU_CLICK_MAP_YOUR_DATA</p>
                  </div>
                  <div class="col-sm-5 key tab_content wide">
                      <p translate>IF_MARKED_AS_DUPLICATE_ADVICE</p>
                  </div>
              </div>
          </uib-tab>
          <uib-tab heading="{$:: 'STEP 2: Review Your Data Mappings' | translate $}" active="tabs.two_active">
              <div class="row">
                  <div class="col-sm-7 tab_content wide">
                      <p><strong translate>REVIEW YOUR DATA MAPPINGS</strong></p>
                      <p translate>MAPPING_STEP_2_ADVICE</p>
                      </p>
                  </div>
              </div>
          </uib-tab>
          <uib-tab heading="BEDES" active="tabs.three_active">
              <div class="row">
                  <div class="col-sm-7 tab_content wide">
                      <p><strong translate>BUILDING ENERGY DATA EXCHANGE SPECIFICATION (BEDES)</strong></p>
                      <p translate>The Building Energy Data Exchange Specification (BEDES, pronounced "beads" or /bi:ds/) is designed to support analysis of the measured energy performance of commercial, multifamily, and residential buildings, by providing a common data format, definitions, and an exchange protocol for building characteristics, efficiency measures, and energy use.</p>
                      <p>
                          <a href="http://energy.gov/eere/buildings/building-energy-data-exchange-specification-bedes" target="_blank" translate>Read more here.</a>
                      </p>
                  </div>
              </div>
          </uib-tab>
          <uib-tab class="pull-right" heading="{$:: 'Collapse Tabs' | translate $}"></uib-tab>
      </uib-tabset>
  </div> -->

  <div class="section_header_container has_no_border" ng-hide="review_mappings">
      <div class="section_header fixed_height">
          <!-- <div class="left section_action_container">
              <button type="button" class="btn btn-primary" ng-hide="import_file.matching_done && isValidCycle" ng-disabled="check_reset_mappings()" ng-click="reset_mappings()" translate>Map SEED fields to imported file fields</button>
          </div> -->
          <div class="right section_action_container section_action_btn">
              <button type="button" class="pull-right btn btn-primary mapping-button" ng-disabled="check_fields()" ng-click="remap_buildings()" ng-hide="import_file.matching_done" translate>Map Your Data</button>
              <button type="button" class="pull-right btn btn-default" ng-click="get_mapped_buildings()" ng-show="import_file.matching_done && isValidCycle" translate>Review Mapped Data</button>
          </div>
      </div>
  </div>
  <div class="section_content_container" style="padding: 0 16px;">
      <div class="section_content">
          <div class="table_list_container mapping" ng-cloak>
              <div class="alert warning file_error_messages" ng-show="has_mapping_error_messages()" ng-bind-html="mapping_error_messages"></div>
              <div class="alert alert-warning" ng-show="!suggested_fields_present() && !import_file.matching_done" translate>To increase geocode results, it's highly recommended that Address Line 1, City, State, and Postal Code are all provided.</div>
              <div class="alert alert-danger" ng-show="!required_property_fields_present() && !import_file.matching_done" translate>At least one of the following Property fields is required: Address Line 1, Custom ID 1, UBID, or PM Property ID.</div>
              <div class="alert alert-danger" ng-show="!required_taxlot_fields_present() && !import_file.matching_done" translate>At least one of the following Tax Lot fields is required: Address Line 1, Custom ID 1, Jurisdiction Tax Lot ID, or ULID.</div>
              <div class="alert alert-danger" ng-show="duplicates_present" translate>Please review SEED headers.  Duplicate values are not allowed.</div>
              <div class="alert alert-danger" ng-show="empty_fields_present()" translate>Please review SEED headers.  Empty values are not allowed.</div>
              <table class="table table-striped" ng-hide="review_mappings">
                  <thead>
                      <tr>
                          <th colspan="3" class="source_data">SEED</th>
                          <th colspan="6" class="source_data">{$:: import_file.uploaded_filename $}</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td style="border-right: 0 none; max-width: 160px; width: 160px; text-align: right;">
                              <!-- <span style="padding-right:5px;" ng-hide="import_file.matching_done">{$:: 'Set all fields to' | translate $}:</span>
                              <select ng-model="setAllFields" ng-change="setAllInventoryTypes()" ng-options="item as (item.name | translate) for item in ::setAllFieldsOptions track by item.value" ng-hide="import_file.matching_done"></select> -->
                          </td>
                          <td style="border-right: 0 none;"><h3 translate>Mapped Fields</h3></td>
                          <td style="max-width: 128px; width: 128px;"></td>
                          <td colspan="6"></td>
                      </tr>
                  </tbody>
                  <thead>
                      <tr>
                          <th><translate>Inventory Type</translate></th>
                          <th class="mapping_field ellipsis-resizable" sd-resizable><translate>SEED Header</translate></th>
                          <th><translate>Measurement Units</translate></th>
                          <th class="import_column_name ellipsis-resizable" sd-resizable><translate>Data File Header</translate></th>
                      </tr>
                  </thead>
                  <tbody id="mapped-table">
                      <tr ng-repeat="col in mappings">
                          <td style="text-align: right;" ng-class="{'danger': col.is_duplicate || col.suggestion === ''}" ng-attr-id="mapped-row-type-{$:: $index $}">
                              <select ng-model="col.suggestion_table_name" ng-change="updateInventoryTypeDropdown(); change(col)" ng-disabled="true">
                                  <option value="PropertyState" translate>Property</option>
                                  <option value="TaxLotState" translate>Tax Lot</option>
                              </select>
                          </td>
                          <td ng-class="{'danger': col.is_duplicate || col.suggestion === ''}" ng-attr-id="mapped-row-input-{$:: $index $}">
                              <input type="text" uib-typeahead="column.display_name for column in (col.suggestion_table_name === 'PropertyState' ? mappable_property_columns : mappable_taxlot_columns) | filter:$viewValue | limitTo:20" typeahead-template-url="typeahead.html" ng-model="col.suggestion" class="form-control input-sm tcm_field" ng-disabled="true" ng-change="change(col)" typeahead-on-select='change(col)' ng-attr-id="mapped-row-input-box-{$ $index $}">
                          </td>
                          <td>
                              <select ng-model="col.from_units" ng-if="is_area_column(col)" ng-disabled="true">
                                  <option value="ft**2" translate>square feet</option>
                                  <option value="m**2" translate>square metres</option>
                              </select>
                              <select ng-model="col.from_units" ng-if="is_eui_column(col)" ng-disabled="true">
                                  <option value="kBtu/ft**2/year" translate>kBtu/sq. ft./year</option>
                                  <option value="kWh/m**2/year" translate>kWh/m²/year</option>
                                  <option value="GJ/m**2/year" translate>GJ/m²/year</option>
                                  <option value="MJ/m**2/year" translate>MJ/m²/year</option>
                                  <option value="kBtu/m**2/year" translate>kBtu/m²/year</option>
                              </select>
                          </td>
                          <td>
                              <strong ng-attr-id="mapped-header-{$:: $index $}">{$:: col.name $}</strong>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>

  <div class="section_content_container" ng-if="save_mappings">
      <div class="section_content">
          <div class="progress_bar_container progressbar_fill_area">
              <div class="progress_bar_copy_top"
                  translate="MAPPING_BUILDINGS_FOR"
                  translate-values="{ filename: import_file.uploaded_filename }"></div>
              <uib-progressbar class="progress-striped active" value="import_file.progress" type="success"></uib-progressbar>
              <div class="progress_bar_copy_bottom"
                  translate="PERCENT_COMPLETE"
                  translate-values="{ progress: (import_file.progress | number: 0) }"></div>
          </div>
      </div>
  </div>
  <div class="section_header_container" ng-if="show_mapped_buildings" style="border-bottom: 0;">
      <div class="section_header fixed_height">
          <div class="left_40 section_action_container">
              <button type="button" class="btn btn-primary" ng-click="backToMapping()">
                  <i class="fa fa-chevron-left"></i> {$:: 'Back to Mapping' | translate $}
              </button>
          </div>
          <div class="right_60 section_action_container section_action_btn">
              <button type="button" class="btn btn-default" ng-click="open_data_quality_modal()">
                  <i class="fa fa-spinner fa-pulse fa-fw" style="padding-right: 0" ng-if="!data_quality_results_ready"></i>
                  <span ng-if="data_quality_results_ready && data_quality_errors > 0">
                      {$ data_quality_errors $} <i class="fa fa-exclamation-triangle" style="color: #ffb7b7"></i>
                  </span>
                  <span ng-if="data_quality_results_ready && data_quality_warnings > 0">
                      {$ data_quality_warnings $} <i class="fa fa-exclamation-triangle" style="color: #fdf4bf"></i>
                  </span>
                  {$:: 'Data Quality Results' | translate $}
              </button>
              <a ui-sref="mapping_xml(::{importfile_id: import_file.id})">
                  <button id="save-mapping" type="button" class="pull-right btn btn-primary" ng-click="open_data_upload_modal(import_file.dataset)" ng-hide="import_file.matching_done || !hasMappedModels" translate>Save Mappings</button>
              </a>
          </div>
      </div>
  </div>
  <div class="inventory-list-tab-container" ng-if="show_mapped_buildings && mappedData.properties.length">
      <div class="item-count">
          <i class="fa fa-building-o"></i> <span translate="NUMBER_OF_PROPERTIES" translate-values="{ num: mappedData.properties.length }"></span>
      </div>
      <ul class="nav nav-tabs" style="margin-bottom:1px;">
          <li heading="View by Property" class="active"><a translate>View by Property</a></li>
      </ul>
  </div>
  <div class="section_content_container" ng-if="show_mapped_buildings">
      <div class="section_content">
          <div>
              <div ng-if="hasMappedModels" ui-grid="propertiesGridOptions" ui-grid-resize-columns></div>
              <div ng-if="!hasMappedModels" class="text-center" translate>No Data</div>
          </div>
      </div>
  </div>
  <div class="inventory-list-tab-container" ng-if="show_mapped_buildings && mappedData.tax_lots.length" style="margin-top: 20px;">
      <div class="item-count">
          <i class="fa fa-map-o"></i> <span translate="NUMBER_OF_TAXLOTS" translate-values="{ num: mappedData.tax_lots.length }"></span>
      </div>
      <ul class="nav nav-tabs" style="margin-bottom:1px;">
          <li heading="View by Tax Lot" class="active"><a translate>View by Tax Lot</a></li>
      </ul>
  </div>
  <div class="section_content_container" ng-if="show_mapped_buildings && mappedData.tax_lots.length">
      <div class="section_content">
          <div>
              <div ui-grid="taxlotsGridOptions" ui-grid-resize-columns></div>
          </div>
      </div>
  </div>
  <div class="section_bottom_container row" style="margin: 16px auto;">
      <div class="col-sm-6">
          <button type="button" class="btn btn-primary" ng-click="backToMapping()" ng-show="show_mapped_buildings">
              <i class="fa fa-chevron-left"></i> {$:: 'Back to Mapping' | translate $}
          </button>
      </div>
      <div class="col-sm-6" ng-hide="review_mappings">
          <button type="button" class="pull-right btn btn-default" ng-click="get_mapped_buildings()" ng-show="import_file.matching_done && isValidCycle" translate>Review Mapped Data</button>
      </div>
      <div class="col-sm-6" ng-show="show_mapped_buildings">
          <a ui-sref="mapping_xml(::{importfile_id: import_file.id})">
              <button type="button" class="pull-right btn btn-primary" ng-click="open_data_upload_modal(import_file.dataset)" ng-hide="import_file.matching_done || !hasMappedModels" translate>Save Mappings</button>
          </a>
      </div>
  </div>
</div>
