<div class="page_header_container">
    <div class="page_header">
        <div class="left page_action_container">
            <a class="page_action" ng-href="#/data/{$ import_file.dataset.id $}"><i class="fa fa-chevron-left"></i> {$ import_file.dataset.name $}</a>

        </div>
        <div class="page_title">
            <h1>Data Mapping &amp; Validation ({$ import_file.name $})</h1>
        </div>
        <div class="right page_action_container"></div>
    </div>
</div>

<div class="section">
    <div class="section_tab_container">
      <tabset>
        <tab heading="STEP 1: Map Your Data" active="tabs.one_active">
            <div class="row">
                <div class="col-lg-7 col-sm-7 tab_content wide">
                <p><strong>MAPPING YOUR DATA TO SEED</strong></p>
                <p>Mapping your data to the Building Energy Data Exchange Specification (BEDES) is an important step towards translating your data into a common set of terms that can take full advantage of aggregate building performance data.  The process is simple: 1) select the rows of data you want to map by checking the map checkbox, 2) uncheck the rows you want to ignore&mdash;the system will give you a head start by attempting to auto-map headers from the file you imported, 3) in the SEED Header input box, search for a standard BEDES field name to map your data to&mdash;if a corresponding standard BEDES field name can't be found or you would like to use your own custom field, just type the name of the field to replace a BEDES suggested terms.</p>
                <p><span class="label label-info">Important:</span> to improve results in matching buildings across different data files, map as many of the following four (4) fields as possible: <strong>Tax Lot ID</strong>, <strong>PM Property ID</strong>, <strong>Custom ID</strong>, <strong>Address Line 1</strong>.</p>
                </div>
                <div class="col-lg-5 col-sm-5 key tab_content wide">
                    <p><strong>MAPPING KEY:</strong></p>
                    <p><label class="label label-success">valid</label> = data mapping successful.</p>
                    <p><label class="label label-warning">semivalid</label> = data mapping successful but some data is not valid.</p>
                    <p><label class="label label-danger">invalid</label> = data mapping unsuccessful.</p>
                    <p><label class="label label-danger">duplicate</label> = data mapping a duplicate.</p>
                </div>
            </div>
        </tab>
        <tab heading="STEP 2: Review Your Data Mappings" active="tabs.two_active">
            <div class="row">
                <div class="col-lg-7 col-sm-7 tab_content wide">
                    <p><strong>REVIEW YOUR DATA MAPPINGS (Data holding pen)</strong></p>
                    <p>Do the selected SEED headers map correctly to the data from your columns? If not, go back to mapping and edit your selections. It's important at this step that you are confident in your mapping decisions. When you move onto the next step: 'Data Matching', the buildings from this data set will be available in your buildings list but you will no longer be able to edit the data mappings.</p>
                </div>
                <div class="col-lg-5 col-sm-5 key tab_content wide">
                    <p class="tip"><strong>EDIT COLUMNS</strong></p>
                    <p>You can customize the columns displayed in the table below by clicking the 'Edit Columns' button and then selecting the column headers you want to review from the modal window.</p>
                </div>
            </div>
        </tab>
        <tab heading="Help: SEED Header Definitions" active="tabs.three_active">
          <div class="row">
              <div class="col-lg-7 col-sm-7 tab_content wide">
                    <p><strong>BUILDING ENERGY DATA EXCHANGE SPECIFICATION (BEDES)</strong></p>
                    <p>The Building Energy Data Exchange Specification (BEDES, pronounced "beads" or /bi:ds/) is designed to support analysis of the measured energy performance of commercial, multifamily, and residential buildings, by providing a common data format, definitions, and an exchange protocol for building characteristics, efficiency measures, and energy use.</p>
                    <p><a href="http://energy.gov/eere/buildings/building-energy-data-exchange-specification-bedes" target="_blank">Read more here.</a></p>
                </div>
          </div>
        </tab>
        <tab class="pull-right" heading="Collapse Tabs"></tab>
      </tabset>
    </div>

    <div class="section_header_container has_no_border" ng-hide="review_mappings">
        <div class="section_header fixed_height">
            <div class="left section_action_container"></div>
            <div class="right section_action_container section_action_btn">
                <button type="button" class="pull-right btn btn-primary mapping-button" ng-disabled="monitor_typeahead_list()" ng-click="remap_buildings()" ng-hide="import_file.matching_done">Map Your Data</button>
                <button type="button" class="pull-right btn btn-default" ng-click="get_mapped_buildings()" ng-show="import_file.matching_done">Review Mapped Data</button>
            </div>
        </div>
    </div>
    <div class="section_content_container">
        <div class="section_content">
            <div class="table_list_container mapping" ng-cloak>
                <div class="alert warning file_error_messages" ng-show="has_mapping_error_messages()" ng-bind-html="mapping_error_messages"></div>
                <table class="table table-striped" ng-hide="review_mappings">
                    <thead >
                        <tr>
                            <th class="source_data blank"></th>
                            <th class="source_data">SEED</th>
                            <th colspan="99" class="source_data" colspan="4">{$ import_file.name $}</th>
                        </tr>
                        <tr ng-show="duplicates.length > 0">
                            <th class="sub_head is_aligned_center">Map <a popover="{$MAP_copy$}" popover-placement="right"><i class="fa fa-info-circle" style="cursor: pointer;"></i></a></th>
                            <th class="mapping_field">header</th>
                            <!--th class="sub_head is_aligned_center">BEDES <a popover="{$BEDES_copy$}" popover-placement="right"><i class="fa fa-info-circle" style="cursor: pointer;"></i></a></th-->
                            <th class="sub_head is_aligned_center">Duplicate <a popover="{$VALIDATE_copy$}" popover-placement="right"><i class="fa fa-info-circle" style="cursor: pointer;"></i></a></th>
                            <th class="import_column_name"> header</th>
                            <th>Row 1</th>
                            <th>Row 2</th>
                            <th>Row 3</th>
                            <th>Row 4</th>
                            <th>Row 5</th>
                        </tr>
                    </thead>
                    <tbody ng-show="duplicates.length > 0">

                        <tr>
                            <td></td>
                            <td colspan="8"><h3>Duplicates</h3></td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr ng-repeat="tcm in duplicates" ng-class="{'ignored_row': !tcm.mapped_row}">
                            <td class="check is_aligned_center">
                                <input type="checkbox" ng-model="tcm.mapped_row" ng-disabled="import_file.matching_done">
                            </td>
                            <td ng-class="{'danger': tcm.is_duplicate == true, 'disable-mapping-btn': tcm.is_duplicate == true}">
                                <input type="text" typeahead="column for column in typeahead_columns | filter:$viewValue | limitTo:20" ng-model="tcm.suggestion" class="form-control input-sm tcm_field" ng-disabled="!tcm.mapped_row || import_file.matching_done" ng-change="change(tcm)" ng-keyup="disable_mapping_button()" ng-blur="disable_mapping_button()" typeahead-on-select='change(tcm)'/>
                            <!--td class="is_aligned_center">
                                <i class="fa fa-check-circle green" ng-show="is_suggestion_BEDES(tcm.suggestion)"></i>
                            </td-->
                            <td class="check is_aligned_center">
                                <label class="label label-{$ tcm.label_status() $}" ng-if="tcm.is_duplicate">duplicate</label>
                                <label class="label label-{$ tcm.label_status() $}" ng-if="!tcm.is_duplicate">{$ tcm.validity $}</label>
                            </td>
                            <td>
                                <strong>{$tcm.name$}</strong>
                            </td>
                            <td ng-repeat="cell_value in tcm.raw_data track by $index" ng-class="{'danger': set_td_class(tcm, cell_value) == 'danger', 'warning': set_td_class(tcm, cell_value) == 'warning', 'success': set_td_class(tcm, cell_value) == 'success'}" >
                                {$ cell_value $}
                            </td>
                        </tr>
                    </tbody>
                    
                    <tbody>
                        <tr>
                            <td></td>
                            <td colspan="8"><h3>Mapped Fields</h3></td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th class="sub_head is_aligned_center">Map <a popover="{$MAP_copy$}" popover-placement="right"><i class="fa fa-info-circle" style="cursor: pointer;"></i></a></th>
                            <th class="mapping_field">SEED Header</th>
                            <!--th class="sub_head is_aligned_center">Duplicate <a popover="{$VALIDATE_copy$}" popover-placement="right"><i class="fa fa-info-circle" style="cursor: pointer;"></i></a></th-->
                            <th class="import_column_name">Data File Header</th>
                            <th>Row 1</th>
                            <th>Row 2</th>
                            <th>Row 3</th>
                            <th>Row 4</th>
                            <th>Row 5</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="tcm in valids" ng-class="{'ignored_row': !tcm.mapped_row}">
                            <td class="check is_aligned_center">
                                <input type="checkbox" ng-model="tcm.mapped_row" ng-disabled="import_file.matching_done">
                            </td>
                            <td ng-class="{'danger': tcm.is_duplicate == true, 'disable-mapping-btn': tcm.is_duplicate == true}">
                                <input type="text" typeahead="column for column in typeahead_columns | filter:$viewValue | limitTo:20" ng-model="tcm.suggestion" class="form-control input-sm tcm_field" ng-disabled="!tcm.mapped_row || import_file.matching_done" ng-change="change(tcm)" ng-keyup="disable_mapping_button()" ng-blur="disable_mapping_button()" typeahead-on-select='change(tcm)'/>

                            </td>
                            <!--td class="check is_aligned_center">
                                <label class="label label-{$ tcm.label_status() $}" ng-if="tcm.is_duplicate">duplicate</label>
                                <label class="label label-{$ tcm.label_status() $}" ng-if="!tcm.is_duplicate">{$ tcm.validity $}</label>
                            </td-->
                            <td>
                                <strong>{$tcm.name$}</strong>
                            </td>
                            <td ng-repeat="cell_value in tcm.raw_data track by $index" ng-class="{'danger': set_td_class(tcm, cell_value) == 'danger', 'warning': set_td_class(tcm, cell_value) == 'warning', 'success': set_td_class(tcm, cell_value) == 'success'}" >
                                {$ cell_value $}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="section_content_container" ng-show="save_mappings">
        <div class="section_content">
            <div class="progress_bar_container progressbar_fill_area">
                <div class="progress_bar_copy_top">Mapping buildings for <strong>{$ import_file.name $}</strong></div>
                <progressbar class="progress-striped active" value="import_file.progress" type="success"></progressbar>
                <div class="progress_bar_copy_bottom">{$ import_file.progress | number:0 $}% Complete</div>
            </div>
        </div>
    </div>
    <div class="section_header_container" ng-show="show_mapped_buildings">
        <div class="section_header fixed_height">
            <div class="left section_action_container">
                <button type="button" class="btn btn-primary" ng-click="review_mappings=false; show_mapped_buildings=false"><i class="fa fa-chevron-left"></i> Back to Mapping</button>
            </div>
            <div class="right_wide section_action_container section_action_btn">
                <button type="button" class="btn btn-default" ng-click="open_cleansing_modal()"><i class="fa fa-exclamation-triangle"></i>Data Cleansing Results</button>
                <button type="button" class="btn btn-default" ng-click="open_edit_columns_modal()"><i class="fa fa-columns"></i>View/Hide Columns</button>
                <a ng-href="#/data/mapping/{$ import_file.id $}"><button type="button" class="pull-right btn btn-primary" ng-click="open_data_upload_modal(import_file.dataset)" ng-hide="import_file.matching_done">Save Mappings</button></a>
            </div>
        </div>
    </div>
    <div class="section_content_container" ng-show="show_mapped_buildings">
        <div class="section_content">
            <ng-include src="urls.static_url + 'seed/partials/buildings_table.html'"></ng-include>
        </div>
    </div>
    <div class="section_bottom_container">
        <div class="col-lg-6 col-sm-6">
            <!--button type="button" class="btn btn-primary" ng-click="open_concat_modal(building_column_types, raw_columns)" ng-hide="show_mapped_buildings">Concatenate Headers</button-->
            <button type="button" class="btn btn-primary" ng-click="review_mappings=false; show_mapped_buildings=false" ng-show="show_mapped_buildings"><i class="fa fa-chevron-left"></i> Back to Mapping</button>
        </div>
        <div class="col-lg-6 col-sm-6" ng-hide="review_mappings">
                <button type="button" class="pull-right btn btn-primary mapping-button" ng-disabled="monitor_typeahead_list()" ng-click="remap_buildings()" ng-hide="import_file.matching_done">Map Your Data</button>
                <button type="button" class="pull-right btn btn-default" ng-click="get_mapped_buildings()" ng-show="import_file.matching_done">Review Mapped Data</button>
        </div>
        <div class="col-lg-6 col-sm-6" ng-show="show_mapped_buildings">
            <a ng-href="#/data/mapping/{$ import_file.id $}"><button type="button" class="pull-right btn btn-primary" ng-click="open_data_upload_modal(import_file.dataset)" ng-hide="import_file.matching_done">Save Mappings</button></a>
        </div>
</div>
</div>
