<div class="page_header_container">
    <div class="page_header">
        <div class="left page_action_container">
            <a class="page_action" ui-sref="dataset_detail(::{dataset_id: import_file.dataset.id})"><i class="fa fa-chevron-left"></i> {$:: import_file.dataset.name $}</a>
        </div>
        <div class="page_title">
            <h1>{$:: 'Data Matching' | translate $} ({$:: import_file.uploaded_filename $})</h1>
        </div>
        <div class="right page_action_container"></div>
    </div>
</div>

<div class="section_nav_container">
    <div class="section_nav" ng-include="::urls.static_url + 'seed/partials/matching_nav.html'"></div>
</div>

<div class="section" ng-cloak>

    <div class="section_tab_container">
        <uib-tabset>
            <uib-tab heading="{$:: 'Auto Matching' | translate $}">
                <div class="row">
                    <div class="col-sm-6 tab_content wide">
                        <p><strong translate>HOW THE SYSTEM AUTO-MATCHES YOUR PROPERTIES AND TAX LOTS:</strong></p>
                        <p translate>HOW_SYSTEM_AUTO_MATCHES_EXPLANATION</p>
                    </div>
                    <div class="col-sm-6 key tab_content wide">
                        <p class="important-tip"><strong translate>FIELDS NEEDED TO MAKE MATCHES:</strong></p>
                        <p translate>The following is a list of the fields we use to match up properties/tax lots between different imported files. The more data you have in these four fields the better our
                            system will auto-match your records.</p>
                        <p><span class="label label-warning" translate>Jurisdiction Tax Lot ID</span>
                            <span class="label label-warning" translate>PM Property ID</span></p>
                        <p><span class="label label-warning" translate>Custom ID 1</span>
                            <span class="label label-warning" translate>Address Line 1</span></p>
                    </div>
                </div>
            </uib-tab>
            <uib-tab heading="{$:: 'Manual Matching' | translate $}">
                <div class="row">
                    <div class="col-sm-6 tab_content wide">
                        <p><strong translate>HOW TO MANUALLY MATCH YOUR PROPERTIES AND TAX LOTS:</strong></p>
                        <p translate>You can review and edit each individual match by clicking one of the linked IDs in the table. This will open a new table that shows the source data for the individual record you are attempting to match. Underneath this record is a searchable list of all potential existing matches. Use this table to explore all your records and to select single or multiple records to match your source data to.</p>
                    </div>
                </div>
            </uib-tab>
            <uib-tab class="pull-right" heading="{$:: 'Collapse Tabs' | translate $}"></uib-tab>
        </uib-tabset>
    </div>

    <div class="matching-tab-container">
        <span class="paginate">
            <select style="height:24px;" ng-model="number_per_page" ng-change="save_number_per_page(); update_start_end_paging()" ng-options="option for option in ::number_per_page_options"></select>
            <button class="disableable" ng-disabled="current_page === 0 || number_of_pages === 1" ng-click="previousPage()" translate>Previous</button>
            {$ current_page + 1 $}/{$ number_of_pages $}
            <button class="disableable" ng-disabled="current_page >= (showing.total / number_per_page) - 1 || number_of_pages === 1" ng-click="nextPage()" translate>Next</button>
        </span>
        <ul class="nav nav-tabs" style="margin-bottom:1px;">
            <li ng-class="::{active: inventory_type==='properties'}" heading="{$:: 'Match Properties' | translate $}">
                <a ui-sref="matching_list(::{importfile_id: import_file.id, inventory_type: 'properties'})" translate>Match Properties</a>
            </li>
            <li ng-class="::{active: inventory_type==='taxlots'}" heading="{$:: 'Match Tax Lots' | translate $}">
                <a ui-sref="matching_list(::{importfile_id: import_file.id, inventory_type: 'taxlots'})" translate>Match Tax Lots</a>
            </li>
        </ul>
    </div>

    <div class="section_content_container">
        <div class="section_content">
            <div class="table_list_container matching" id="table-container" ng-cloak>
                <table class="table table-striped" ng-class="{'filter-unmatched': selectedFilter === SHOW_UNMATCHED}">
                    <thead>
                        <tr>
                            <th class="source_data" colspan="{$:: !leftColumns.length ? 2 : leftColumns.length + 1 $}">
                                <form class="form-inline" role="form">
                                    <div class="form-group">
                                        <label class="control-label" translate>Cycle: </label>
                                        <select id="selected-cycle" name="selected-cycle" class="form-control input-sm" ng-model="selectedCycle" ng-change="cycleChanged()" ng-options="cycle.name for cycle in cycles track by cycle.id"></select>
                                    </div>
                                    <div class="form-group" style="padding-left: 15px">
                                        <label class="control-label" translate>File Source: </label>
                                        <select ng-model="selectedFile" ng-options="f.uploaded_filename for f in import_files" class="form-control input-sm" ng-change="fileChanged()"></select>
                                    </div>
                                    <div class="form-group" style="padding-left: 15px">
                                        <label class="control-label" ng-if="::inventory_type === 'properties'" translate>Property Visibility</label>
                                        <label class="control-label" ng-if="::inventory_type === 'taxlots'" translate>Tax Lot Visibility</label>
                                        <select id="showHideFilterSelect" class="form-control input-sm" ng-model="selectedFilter" ng-change="selectedFilterChanged()" ng-options="o.value as o.label for o in ::filter_options"></select>
                                    </div>
                                </form>
                            </th>
                            <th class="source_data blank filter-unmatched-hide"></th>
                            <th class="source_data filter-unmatched-hide" colspan="{$:: rightColumns.length $}" ng-if="::inventory_type === 'properties'">Matched Properties</th>
                            <th class="source_data filter-unmatched-hide" colspan="{$:: rightColumns.length $}" ng-if="::inventory_type === 'taxlots'">Matched Tax Lots</th>
                        </tr>
                        <tr class="noselect">
                            <th class="column-row matching-link"></th>
                            <th ng-repeat="col in ::leftColumns" class="pointer noselect" ng-click="sortData(col.name, col.extraData)">
                                {$:: col.displayName | translate $} <span ng-class="getSortClass(col.name, col.extraData)"></span>
                            </th>
                            <th ng-if="::!leftColumns.length"></th>
                            <th class="sub_head is_aligned_center filter-unmatched-hide" translate>Match</th>
                            <th ng-repeat="col in ::rightColumns" class="noselect filter-unmatched-hide">{$:: col.displayName | translate $}</th>
                        </tr>
                        <tr class="filter-row">
                            <th class="sub_head matching-link"></th>
                            <th class="sub_head" ng-repeat="col in ::leftColumns">
                                <input type="text" ng-model="col.searchText" ng-model-options="{debounce:150}">
                            </th>
                            <th class="sub_head" ng-if="::!leftColumns.length"></th>
                            <th class="sub_head is_aligned_center filter-unmatched-hide"></th>
                            <th ng-repeat="col in ::rightColumns" class="noselect filter-unmatched-hide">
                                <input type="text" ng-model="col.searchText" ng-model-options="{debounce:150}">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="i in (filtered = (inventory | filter:(selectedFilter === SHOW_ALL) ? undefined : {matched: selectedFilter === SHOW_MATCHED} | filter: allSearch)) | orderBy : sortColumn : reverseSort : naturalSortComparator | startFrom : current_page * number_per_page | limitTo : number_per_page">
                            <td class="matching-link"><a ui-sref="matching_detail(::{importfile_id: import_file.id, inventory_type: inventory_type, state_id: i.id})"><i class="ui-grid-icon-info-circled"></i></a></td>
                            <td ng-if="::!leftColumns.length"></td>
                            <td ng-repeat="col in ::leftColumns">
                                <span>{$:: col.extraData ? i.extra_data[col.name] : i[col.name] $}</span>
                            </td>
                            <td class="is_aligned_center has_no_padding filter-unmatched-hide">
                                <label class="checkbox_fill_area">
                                    <input type="checkbox" ng-model="i.matched" ng-change="unmatch(i)" ng-disabled="!i.matched">
                                </label>
                            </td>
                            <td ng-repeat="col in ::rightColumns" class="filter-unmatched-hide">
                                <span>{$:: col.extraData ? i.coparent.extra_data[col.name] : i.coparent[col.name] $}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table_footer">
                <div class="counts col-sm-4 col-sm-offset-4" style="text-align: center;">
                    <span ng-if="::inventory_type === 'properties'"
                        translate="{$ selectedFilter !== SHOW_ALL ? 'SHOWING_FILTERED_PROPERTIES' : 'SHOWING_UNFILTERED_PROPERTIES' $}"
                        translate-values="{ start: showing.start, end: showing.end, total: showing.total }"></span>
                    <span ng-if="::inventory_type === 'taxlots'"
                        translate="{$ selectedFilter !== SHOW_ALL ? 'SHOWING_FILTERED_TAXLOTS' : 'SHOWING_UNFILTERED_TAXLOTS' $}"
                        translate-values="{ start: showing.start, end: showing.end, total: showing.total }"></span>
                </div>
                <div class="pager_container col-sm-5">
                    <select style="height:24px;" ng-model="number_per_page" ng-change="save_number_per_page(); update_start_end_paging()" ng-options="option for option in ::number_per_page_options"></select>
                    <button class="disableable" ng-disabled="current_page === 0 || number_of_pages === 1" ng-click="previousPage()" translate>Previous</button>
                    {$ current_page + 1 $}/{$ number_of_pages $}
                    <button class="disableable" ng-disabled="current_page >= (showing.total / number_per_page) - 1 || number_of_pages === 1" ng-click="nextPage()" translate>Next</button>
                </div>
            </div>
        </div>
    </div>
</div>
