<div class="page_header_container">
    <div class="page_header">
        <div class="left page_action_container">
            <a class="page_action" ui-sref="dataset_detail({dataset_id: import_file.dataset.id})"><i class="fa fa-chevron-left"></i> {$ import_file.dataset.name $}</a>
        </div>
        <div class="page_title">
            <h1>Data Matching ({$ import_file.uploaded_filename $})</h1>
        </div>
        <div class="right page_action_container"></div>
    </div>
</div>

<div class="section" ng-cloak>

    <uib-alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{$ alert.msg $}</uib-alert>

    <div class="section_tab_container">
        <uib-tabset active="1">
            <uib-tab heading="Auto Matching" ng-click="updateHeight()">
                <div class="row">
                    <div class="col-sm-6 tab_content wide">
                        <p><strong>HOW THE SYSTEM AUTO-MATCHES YOUR PROPERTIES &amp; TAX LOTS:</strong></p>
                        <p>Your source data file(s) are presented in the table on the left. All properties/tax lots where a possible data match exists are presented in a table on the right. The system attempts to auto-match records using shared unique IDs like: PM Property ID, Jurisdiction Tax Lot ID, and Custom IDs as well as Address information. Where the system believes a match exists between a record in your source file and an existing record it will auto-check the 'match'
                            <i class="fa fa-check-square-o"></i> checkbox &mdash; effectively making a match between these records.
                        </p>
                    </div>
                    <div class="col-sm-6 key tab_content wide">
                        <p class="important-tip"><strong>FIELDS NEEDED TO MAKE MATCHES:</strong></p>
                        <p>The following is a list of the fields we use to match up properties/tax lots between different imported files. The more data you have in these four fields the better our system will auto-match your records.</p>
                        <p><span class="label label-warning">Jurisdiction Tax Lot ID</span>
                            <span class="label label-warning">PM Property ID</span></p>
                        <p><span class="label label-warning">Custom ID 1</span>
                            <span class="label label-warning">Address Line 1</span></p>
                    </div>
                </div>
            </uib-tab>
            <uib-tab heading="Manual Matching" ng-click="updateHeight()">
                <div class="row">
                    <div class="col-sm-6 tab_content wide">
                        <p><strong>HOW TO MANUALLY MATCH YOUR PROPERTIES &amp; TAX LOTS:</strong></p>
                        <p>You can review and edit each individual match by clicking one of the linked IDs in the table. This will open a new table that shows the source data for the individual record you are attempting to match. Underneath this record is a searchable list of all potential existing matches. Use this table to explore all your records and to select single or multiple records to match your source data to.</p>
                    </div>
                    <!--<div class="col-sm-6 tab_content wide">
                        <p><strong>VIEW/HIDE COLUMNS</strong></p>
                        <p>You can customize the columns displayed in the table below by clicking the 'View/Hide Columns' button and then selecting the column headers you want to review from the modal window.</p>
                    </div>-->
                </div>

            </uib-tab>
            <uib-tab class="pull-right" heading="Collapse Tabs" ng-click="updateHeight()"></uib-tab>
        </uib-tabset>
    </div>
    <div class="section_header_container has_no_border">
        <div class="section_header fixed_height">
            <div class="left section_action_container row matching_toggle" style="margin-left:0px;">

                <a ui-sref="matching_list({importfile_id: import_file.id, inventory_type: inventory_type})" class="btn btn-primary btn-sm" style="margin-right:10px;">
                    <i class="fa fa-chevron-left"></i> Back to List
                </a>
                <!--<button type="button" class="btn btn-primary btn-sm" ng-click="do_update_filters()">
                    Update Filters
                </button>-->

            </div>
            <!--<div class="right section_action_container section_action_btn">
                <button type="button" class="btn btn-default btn-sm" ng-click="open_edit_columns_modal()">
                    <i class="fa fa-columns"></i>View/Hide Columns
                </button>
            </div>-->
        </div>
    </div>

    <div class="section_content_container">
        <div class="section_content">
            <div class="table_list_container matching_detail" id="table-container" ng-cloak>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="is_aligned_center">Match</th>
                                <div>
                                    <th ng-repeat="col in reduced_columns" ng-click="sortData(col.name)">{$ col.displayName $}
                                        <div ng-class="getSortClass(col.name)"></div>
                                    </th>
                                </div>    

                        </tr>
                        <tr>
                            <th class="is_aligned_center"></th>
                            <th class="sub_head" ng-repeat="col in reduced_columns">
                                <input type="text" ng-model="col.searchText" ng-model-options="{debounce:150}">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="potential_matches" colspan="{$ reduced_columns.length + 1 $}">
                                <span>Record from Source: <strong>{$ import_file.uploaded_filename $}</strong></span>
                                <span class="label label-success matched" ng-show="state.matched">Matched!</span>
                            </td>
                        </tr>
                        <tr ng-class="{'info': !state.matched, 'success': state.matched}">
                            <td class="is_aligned_center">
                                <i class="fa fa-check green" ng-show="state.matched"></i></td>
                            <td ng-repeat="col in reduced_columns">
                                <span>{$ col.extraData ? state.extra_data[col.name] : state[col.name] $}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="potential_matches" colspan="{$ reduced_columns.length + 1 $}">
                                <span>Potential Matches from Source: <strong>Existing {$ inventory_type == 'properties' ? 'Properties' : 'Tax Lots' $}</strong></span>
                            </td>
                        </tr>
                        <!-- matched record -->
                        <tr class="success" ng-if="state.matched">
                            <td class="is_aligned_center">
                                <input type="checkbox" ng-model="state.matched" ng-change="unmatch()">
                            </td>
                            <td ng-repeat="col in reduced_columns">
                                <span>{$ col.extraData ? state.coparent.extra_data[col.name] : state.coparent[col.name] $}</span>
                            </td>
                        </tr>
                        <!-- search results -->
                        <tr ng-repeat="state in available_matches | filter: allSearch | orderBy: sortColumn: reverseSort">
                            <td class="is_aligned_center">
                                <input type="checkbox" ng-model="state.checked" ng-change="checkbox_match(state)">
                            </td>
                            <td ng-model="state.checked" ng-repeat="col in reduced_columns">
                                <span>
                                    {$ col.extraData ? state.extra_data[col.name] : state[col.name] $}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
