<div class="page_header_container">
    <div class="page_header">
        <div class="left page_action_container">
            <a class="page_action" ui-sref="dataset_detail({dataset_id: import_file.dataset.id})"><i class="fa fa-chevron-left"></i> {$ import_file.dataset.name $}</a>
        </div>
        <div class="page_title">
            <h1>Data Matching ({$ import_file.uploaded_filename $})</h1>
        </div>
        <div class="right page_action_container"></div>
    </div>
</div>

<div class="section" ng-cloak>

    <uib-alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{$ alert.msg $}</uib-alert>

    <div class="section_tab_container">
        <uib-tabset>
            <uib-tab heading="Auto Matching" ng-click="updateHeight()">
                <div class="row">
                    <div class="col-sm-6 tab_content wide">
                        <p><strong>HOW THE SYSTEM AUTO-MATCHES YOUR PROPERTIES &amp; TAX LOTS:</strong></p>
                        <p>Your source data file(s) are presented in the table on the left. All properties/tax lots where a possible data match exists are presented in a table on the right. The system
                            attempts to auto-match records using shared unique IDs like: PM Property ID, Jurisdiction Tax Lot ID, and Custom IDs as well as Address information. Where the system
                            believes a match exists between a record in your source file and an existing record it will auto-check the 'match'
                            <i class="fa fa-check-square-o"></i> checkbox &mdash; effectively making a match between these records.
                        </p>
                    </div>
                    <div class="col-sm-6 key tab_content wide">
                        <p class="important-tip"><strong>FIELDS NEEDED TO MAKE MATCHES:</strong></p>
                        <p>The following is a list of the fields we use to match up properties/tax lots between different imported files. The more data you have in these four fields the better our
                            system will auto-match your records.</p>
                        <p><span class="label label-warning">Jurisdiction Tax Lot ID</span>
                            <span class="label label-warning">PM Property ID</span></p>
                        <p><span class="label label-warning">Custom ID 1</span>
                            <span class="label label-warning">Address Line 1</span></p>
                    </div>
                </div>
            </uib-tab>
            <uib-tab heading="Manual Matching" ng-click="updateHeight()">
                <div class="row">
                    <div class="col-sm-6 tab_content wide">
                        <p><strong>HOW TO MANUALLY MATCH YOUR PROPERTIES &amp; TAX LOTS:</strong></p>
                        <p>You can review and edit each individual match by clicking one of the linked IDs in the table. This will open a new table that shows the source data for the individual record
                            you are attempting to match. Underneath this record is a searchable list of all potential existing matches. Use this table to explore all your records and to select single
                            or multiple records to match your source data to.</p>
                    </div>
                    <!--<div class="col-sm-6 tab_content wide">
                        <p><strong>VIEW/HIDE COLUMNS</strong></p>
                        <p>You can customize the columns displayed in the table below by clicking the 'View/Hide Columns' button and then selecting the column headers you want to review from the modal window.</p>
                    </div>-->
                </div>
            </uib-tab>
            <uib-tab class="pull-right" heading="Collapse Tabs" ng-click="updateHeight()"></uib-tab>
        </uib-tabset>
    </div>

    <div class="matching-tab-container">
        <span class="paginate">
            <select style="height:24px;" ng-model="number_per_page" ng-change="update_start_end_paging()" ng-options="option for option in number_per_page_options"></select>
            <button class="disableable" ng-disabled="current_page == 0 || number_of_pages() === 1" ng-click="current_page = current_page - 1; update_start_end_paging()">
                Previous
            </button>
            {$ current_page + 1 $}/{$ number_of_pages() $}
            <button class="disableable" ng-disabled="current_page >= inventory.length / number_per_page - 1 || number_of_pages() === 1" ng-click="current_page = current_page + 1; update_start_end_paging()">
                Next
            </button>
        </span>
        <ul class="nav nav-tabs" style="margin-bottom:1px;">
            <li ng-class="{active: inventory_type=='properties'}" heading="Match Properties">
                <a ui-sref="matching_list({importfile_id: importfile_id, inventory_type: 'properties'})">Match Properties</a>
            </li>
            <li ng-class="{active: inventory_type=='taxlots'}" heading="Match Tax Lots">
                <a ui-sref="matching_list({importfile_id: importfile_id, inventory_type: 'taxlots'})">Match Tax Lots</a>
            </li>
        </ul>
    </div>

    <div class="section_content_container">
        <div class="section_content">
            <div class="table_list_container matching" id="table-container" ng-cloak>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="source_data" colspan="{$ columns.length $}">
                                <form class="form-inline" role="form">
                                    <div class="form-group">
                                        <label class="control-label">Cycle: </label>
                                        <select id="selected-cycle" name="selected-cycle" class="form-control input-sm" ng-model="selectedCycle" ng-change="cycleChanged()" ng-options="cycle.name for cycle in cycles track by cycle.id"></select>
                                    </div>
                                    <div class="form-group" style="padding-left: 15px">
                                        <label class="control-label">File Source: </label>
                                        <select ng-model="file_select.file" ng-options="f.uploaded_filename for f in import_files" class="form-control input-sm" ng-change="fileChanged()"></select>
                                    </div>
                                    <div class="form-group" style="padding-left: 15px">
                                        <label class="control-label">{$ inventory_type == 'properties' ? 'Property' : 'Tax Lot' $} Visibility: </label>
                                        <select id="showHideFilterSelect" class="form-control input-sm" ng-model="selectedFilter" ng-change="update_start_end_paging()" ng-options="o for o in filter_options"></select>
                                    </div>
                                </form>
                            </th>
                            <th class="source_data blank" ng-hide="selectedFilter == SHOW_UNMATCHED"></th>
                            <th class="source_data" colspan="{$ reduced_columns.length $}" ng-hide="selectedFilter == SHOW_UNMATCHED">Matched {$ inventory_type == 'taxlots' ? 'Tax Lots' : 'Properties' $} {$ filter_selected $}</th>
                        </tr>
                        <tr>
                            <th ng-repeat="col in ::columns" class="pointer noselect" ng-click="order_by_field(col.extraData, col.name)">
                                {$ col.displayName $} <span class="subtitle">{$ col.subtitle $}</span>
                                <span ng-hide="col.name != order_by" class="fa" ng-class="sort_reverse ? 'fa-caret-down' : 'fa-caret-up'"></span>
                            </th>
                            <th class="sub_head is_aligned_center" ng-hide="selectedFilter == SHOW_UNMATCHED">Match</th>
                            <th ng-repeat="col in ::reduced_columns" class="noselect" ng-hide="selectedFilter == SHOW_UNMATCHED">
                                {$ col.displayName $} <span class="subtitle">{$ col.subtitle $}</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="i in inventory | filter:(selectedFilter == SHOW_ALL) ? undefined : {matched: selectedFilter == SHOW_MATCHED} | startFrom : current_page * number_per_page | limitTo : number_per_page">
                            <td ng-repeat="col in ::columns">
                                <a ui-sref="matching_detail({importfile_id: import_file.id, inventory_type: inventory_type, state_id: i.id})">{$ col.extraData ? i.extra_data[col.name] : i[col.name] $}</a>
                            </td>
                            <td class="is_aligned_center has_no_padding" ng-hide="selectedFilter == SHOW_UNMATCHED">
                                <label class="checkbox_fill_area">
                                    <input type="checkbox" ng-model="i.matched" ng-change="unmatch(i)" ng-disabled="!i.matched">
                                </label>
                            </td>
                            <td ng-repeat="col in ::reduced_columns" ng-hide="selectedFilter == SHOW_UNMATCHED">
                                <span>{$ col.extraData ? i.coparent.extra_data[col.name] : i.coparent[col.name] $}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table_footer">
                <div class="counts col-sm-4 col-sm-offset-4" style="text-align: center;">
                    <span>Showing {$ showing.start $} to {$ showing.end $} of {$ showing.total $} {$ inventory_type == 'properties' ? 'properties' : 'tax lots' $}
                        <span ng-if="selectedFilter == SHOW_ALL" class="number_unmatched">({$ unmatched_buildings $} unmatched)</span>
                    </span>
                </div>
                <div class="pager_container col-sm-5">
                    <select style="height:24px;" ng-model="number_per_page" ng-change="update_start_end_paging()" ng-options="option for option in number_per_page_options"></select>
                    <button class="disableable" ng-disabled="current_page == 0 || number_of_pages() === 1" ng-click="current_page = current_page - 1; update_start_end_paging()">
                        Previous
                    </button>
                    {$ current_page + 1 $}/{$ number_of_pages() $}
                    <button class="disableable" ng-disabled="current_page >= inventory.length / number_per_page - 1 || number_of_pages() === 1" ng-click="current_page = current_page + 1; update_start_end_paging()">
                        Next
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
