<div class="section_content_container" ng-controller="matching_detail_controller">
    <div class="section_content">
        <div class="table_list_container matching_detail" ng-cloak>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="is_aligned_center">Match</th>
                        <th ng-repeat="c in columns">{$ c.title $}</th>
                    </tr>
                    <tr>
                        <th class="sub_head"></th>
                        <th class="sub_head" ng-repeat="c in columns">
                            <!-- for string & numeric filters -->
                            <input ng-if="c.type == 'string' || c.type == 'link' || c.type == 'number' || c.type == 'floor_area'" type="text" class="form-control input-sm show" ng-class="{active: search.filter_params[c.sort_column].length > 0}" placeholder="{$ c.title $}" ng-change="search.filter_search()" ng-model="search.filter_params[c.sort_column]">

                            <!-- for range filters -->
                            <div ng-if="c.type == 'date'" class="col-xs-6">
                                <input type="text" class="form-control input-sm" placeholder="Min" ng-change="search.filter_search()" ng-model="search.filter_params[c.min]" ng-class="{active: search.filter_params[c.min].length > 0}">
                            </div>
                            <div ng-if="c.type == 'date'" class="col-xs-6">
                                <input type="text" class="form-control input-sm" placeholder="Max" ng-change="search.filter_search()" ng-model="search.filter_params[c.max]" ng-class="{active: search.filter_params[c.max].length > 0}">
                            </div>
                        </th>

                    </tr>
                </thead>
                <tbody>
                     <tr>
                        <td class="potential_matches" colspan="{$ columns.length + 1 $}"><span>Building from Source: <strong>{$ file_select.file.name $}</strong></span> <span class="label label-success matched" ng-show="detail.match_tree.length > 0">Matched!</span> <span ng-hide="true"><a href="" ng-show="detail.match_tree.length > 0">Next unmatched building.</a></span></td>
                    </tr>
                    <tr ng-class="{'info': !detail.match_tree.length > 0, 'success': detail.match_tree.length > 0}">
                        <td class="is_aligned_center"><i class="fa fa-check green" ng-show="detail.match_tree.length > 0"></i></td>
                        <td ng-repeat="c in columns">
                            <span ng-if="!c.is_extra_data">{$ building[c.sort_column] $}</span>
                            <span ng-if="c.is_extra_data">{$ building.extra_data[c.sort_column] $}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="potential_matches" colspan="{$ columns.length + 1 $}"><span>Potential Matches from Source: <strong>Existing Buildings</strong></span></td>
                    </tr>
                    <!-- matched building -->
                    <tr class="success" ng-repeat="b in detail.match_tree | filter:filter_current_building">
                        <td class="is_aligned_center" >
                            <input type="checkbox" ng-model="b.matches_current" ng-change="detail.toggle_match(b)">
                        </td>
                        <td ng-repeat="c in columns">
                            <span ng-if="!c.is_extra_data">{$ b[c.sort_column] $}</span>
                            <span ng-if="c.is_extra_data">{$ b.extra_data[c.sort_column] $}</span>
                        </td>
                    </tr>
                    <!-- search results -->
                    <tr ng-repeat="b in search.buildings | filter:filter_current_building" ng-class="{'success': b.matches_current}" ng-hide="b.id == building.coparent.id">
                        <td class="is_aligned_center">
                            <input type="checkbox" ng-model="b.matches_current" ng-change="detail.toggle_match(b)">
                        </td>
                        <td ng-repeat="c in columns">
                            <span ng-if="!c.is_extra_data">{$ b[c.sort_column] $}</span>
                            <span ng-if="c.is_extra_data">{$ b.extra_data[c.sort_column] $}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table_footer">
            <div class="display_number_entries col-sm-3 col-md-3" ng-hide="false">
                <div class="display_number_entries_text">Display:</div>
                <div class="display_number_entries_select">
                    <select class="form-control input-sm col-xs-2" name="number_per_page_select" id="number_per_page_select" ng-options="number_per_page_option for number_per_page_option in search.number_per_page_options" ng-model="search.number_per_page_options_model" ng-change="search.update_number_per_page()">
                    </select>
                </div>
                <div class="display_number_entries_text">buildings</div>
            </div>
            <div class="counts col-sm-4 col-md-4">
                <span>{$ search.number_matching_search | number:0 $} search results</span>
            </div>
            <div class="pager_container col-sm-5 col-md-5" ng-hide="false">
                <ul class="pager">
                    <li ng-class="{disabled: search.prev_page_disabled}"><a ng-click="search.first_page()"><i class="fa fa-angle-double-left"></i> First Record</a></li>
                    <li ng-class="{disabled: search.prev_page_disabled}"><a ng-click="search.prev_page()"><i class="fa fa-angle-left"></i> Previous</a></li>

                    <li ng-class="{disabled: search.next_page_disabled}"><a ng-click="search.next_page()">Next <i class="fa fa-angle-right"></i></a></li>
                    <li ng-class="{disabled: search.next_page_disabled}"><a ng-click="search.last_page()">Last Record <i class="fa fa-angle-double-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
