<div class="section_content_container">
        <div class="section_content">
            <div class="table_list_container matching" ng-cloak>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="source_data" colspan="{$ columns.length $}">
                                <div ng-show="show_building_list">
                                    <form class="form-inline" role="form">
                                        <div class="form-group">
                                            <label class="control-label">File Source:</label>
                                            <select     ng-model="file_select.file" 
                                                        ng-options="f.name for f in import_file.dataset.importfiles" 
                                                        class="form-control" 
                                                        ng-change="filter_search()"></select>
                                        </div>
                                        <div class="form-group">

                                            <div class="col-sm-10 matching_toggle">

                                                 <select    id="showHideFilterSelect" 
                                                            class="form-control" 
                                                            ng-init="filter_options.selected = filter_options[0].id"
                                                            ng-model="filter_options.selected" 
                                                            ng-options="option.id as option.value for option in filter_options"
                                                            ng-change="update_show_filter(filter_options.selected)">
                                                </select>

                                            </div>


                                        </div>
                                    </form>
                                </div>
                            </th>
                            <th class="source_data blank" ng-hide="filter_params.children__isnull"></th>
                            <th class="source_data blank" ng-hide="filter_params.children__isnull"></th>
                            <th class="source_data" colspan="{$ columns.length $}" ng-hide="filter_params.children__isnull">Matched Buildings</th>
                        </tr>
                        <tr>
                            <th ng-repeat="c in columns" class="pointer" ng-click="reverse=!reverse;order_by_field(c.sort_column, reverse)">
                                {$ c.title $} 
                                <span class="subtitle">{$ c.subtitle $}</span>
                                <span ng-hide="reverse" class="fa fa-caret-up"></span>
                                <span ng-hide="!reverse" class="fa fa-caret-down"></span>
                            </th>
                            <th class="sub_head is_aligned_center" ng-hide="filter_params.children__isnull">Match</th>
                            <th class="sub_head is_aligned_center pointer" ng-hide="filter_params.children__isnull" ng-click="reverse=!reverse;order_by_field('confidence', reverse)">
                                Confidence
                                <span ng-hide="reverse" class="fa fa-caret-up"></span>
                                <span ng-hide="!reverse" class="fa fa-caret-down"></span>
                            </th>
                            <th ng-repeat="c in columns" class="pointer" ng-hide="filter_params.children__isnull" ng-click="reverse=!reverse;order_by_field(c.sort_column, reverse)">
                                {$ c.title $} 
                                <span class="subtitle">{$ c.subtitle $}</span>
                                <span ng-hide="reverse" class="fa fa-caret-up"></span>
                                <span ng-hide="!reverse" class="fa fa-caret-down"></span>
                            </th>
                        </tr>
                        <tr>
                            <th class="sub_head" ng-repeat="c in columns">
                                <input  type="text" 
                                        class="form-control input-sm show" 
                                        placeholder="{$ c.title $}" 
                                        ng-model="filter_params[c.sort_column]" 
                                        sd-enter="on_filter_enter_key()"
                                        ng-class="{active: filter_params[c.sort_column].length > 0}">
                            </th>
                            <th class="sub_head" ng-hide="filter_params.children__isnull"></th>
                            <th class="sub_head" ng-hide="filter_params.children__isnull"></th>
                            <th class="sub_head" ng-repeat="c in columns" ng-hide="filter_params.children__isnull"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="b in buildings" ng-class="{'info': !b.matched && (selected_row === b.id || selected_row === b.coparent.id), 'success': b.matched && (selected_row === b.id || selected_row === b.coparent.id)}">
                            <td ng-repeat="c in columns">
                                <span ng-switch on="c.type">
                                  <span ng-switch-when="string">
                                    <a ng-if="c.is_extra_data" ng-href="#/data/matching/{$ import_file.id $}" ng-click="match_building(b)">{$ b.extra_data[c.sort_column] $}</a>
                                    <a ng-if="!c.is_extra_data" ng-href="#/data/matching/{$ import_file.id $}" ng-click="match_building(b)">{$ b[c.sort_column] $}</a>
                                  </span>
                                  <span ng-switch-when="floor_area" class="is_aligned_right">
                                    <a ng-if="c.is_extra_data" ng-href="#/data/matching/{$ import_file.id $}" ng-click="match_building(b)">{$ b.extra_data[c.sort_column] | number:0 $}</a>
                                    <a ng-if="!c.is_extra_data" ng-href="#/data/matching/{$ import_file.id $}" ng-click="match_building(b)">{$ b[c.sort_column] | number:0 $}</a>
                                  </span>
                                  <span ng-switch-when="number" class="is_aligned_right">
                                    <a ng-if="c.is_extra_data" ng-href="#/data/matching/{$ import_file.id $}" ng-click="match_building(b)">{$ b.extra_data[c.sort_column] | number:0 $}</a>
                                    <a ng-if="!c.is_extra_data" ng-href="#/data/matching/{$ import_file.id $}" ng-click="match_building(b)">{$ b[c.sort_column] | number:0 $}</a>
                                  </span>
                                  <span ng-switch-when="link" class="is_aligned_right">
                                    <a ng-href="#/data/matching/{$ import_file.id $}" ng-click="match_building(b)">{$ b[c.sort_column] | stripImportPrefix $}</a>
                                  </span>
                                  <span ng-switch-when="label">
                                    <be-label name="{$ b[c.sort_column].name $}" color="{$ b[c.sort_column].color $}"></be-label>
                                  </span>
                                  <span ng-switch-default class="is_aligned_right">
                                    <a ng-href="#/data/matching/{$ import_file.id $}" ng-click="match_building(b)">{$ b[c.sort_column] | date:'shortDate' $}</a>
                                  </span>
                                </span>
                            </td>
                            <td class="is_aligned_center has_no_padding" ng-hide="filter_params.children__isnull">
                                <label class="checkbox_fill_area">
                                    <input type="checkbox" ng-model="b.matched" ng-change="toggle_match(b)" ng-disabled="!b.coparent.id">
                                </label>
                            </td>
                            <td class="is_aligned_center has_no_padding" ng-hide="filter_params.children__isnull">
                                <span>{$ b.confidence * 100 | number:0 $}%</span>
                            </td>
                            <td ng-repeat="c in columns" ng-hide="filter_params.children__isnull">
                                <span ng-switch on="c.type">
                                  <span ng-switch-when="string">
                                    <a ng-if="c.is_extra_data" ng-href="#/data/matching/{$ import_file.id $}" ng-click="match_building(b.coparent)">{$ b.coparent.extra_data[c.sort_column] $}</a>
                                    <a ng-if="!c.is_extra_data" ng-href="#/data/matching/{$ import_file.id $}" ng-click="match_building(b.coparent)">{$ b.coparent[c.sort_column] $}</a>
                                  </span>
                                  <span ng-switch-when="floor_area" class="is_aligned_right">
                                    <a ng-if="c.is_extra_data" ng-href="#/data/matching/{$ import_file.id $}" ng-click="match_building(b.coparent)">{$ b.coparent.extra_data[c.sort_column] | number:0 $}</a>
                                    <a ng-if="!c.is_extra_data" ng-href="#/data/matching/{$ import_file.id $}" ng-click="match_building(b.coparent)">{$ b.coparent[c.sort_column] | number:0 $}</a>
                                  </span>
                                  <span ng-switch-when="number" class="is_aligned_right">
                                    <a ng-if="c.is_extra_data" ng-href="#/data/matching/{$ import_file.id $}" ng-click="match_building(b.coparent)">{$ b.coparent.extra_data[c.sort_column] | number:0 $}</a>
                                    <a ng-if="!c.is_extra_data" ng-href="#/data/matching/{$ import_file.id $}" ng-click="match_building(b.coparent)">{$ b.coparent[c.sort_column] | number:0 $}</a>
                                  </span>
                                  <span ng-switch-when="link" class="is_aligned_right">
                                    <a ng-href="#/data/matching/{$ import_file.id $}" ng-click="match_building(b.coparent)">{$ b.coparent[c.sort_column] | stripImportPrefix $}</a>
                                  </span>
                                  <span ng-switch-when="label">
                                    <be-label name="{$ b.coparent[c.sort_column].name $}" color="{$ b.coparent[c.sort_column].color $}"></be-label>
                                  </span>
                                  <span ng-switch-default class="is_aligned_right">
                                    <a ng-href="#/data/matching/{$ import_file.id $}" ng-click="match_building(b.coparent)">{$ b.coparent[c.sort_column] | date:'shortDate' $}</a>
                                  </span>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table_footer">
            <div class="display_number_entries col-sm-3 col-md-3">
                 <div class="display_number_entries_text">Display:</div>
                 <div class="display_number_entries_select">
                    <select class="form-control input-sm col-xs-2" name="number_per_page_select" id="number_per_page_select" ng-options="number_per_page_option for number_per_page_option in pagination.number_per_page_options" ng-model="pagination.number_per_page_options_model" ng-change="pagination.update_number_per_page()">
                    </select>
                </div>
                <div class="display_number_entries_text">buildings</div>
            </div>
            <div class="counts col-sm-4 col-md-4">
                <span>Showing {$ showing.start | number:0 $} to {$ showing.end | number:0 $} of {$ number_matching_search | number:0 $} buildings <span class="number_unmatched">({$ unmatched_buildings $} unmatched)</span></span>
            </div>
            <div class="pager_container col-sm-5 col-md-5">
                <ul class="pager">
                    <li ng-class="{disabled: prev_page_disabled}"><a ng-click="pagination.first_page()"><i class="fa fa-angle-double-left"></i> First Record</a></li>
                    <li ng-class="{disabled: prev_page_disabled}"><a ng-click="pagination.prev_page()"><i class="fa fa-angle-left"></i> Previous</a></li>

                    <li ng-class="{disabled: next_page_disabled}"><a ng-click="pagination.next_page()">Next <i class="fa fa-angle-right"></i></a></li>
                    <li ng-class="{disabled: next_page_disabled}"><a ng-click="pagination.last_page()">Last Record <i class="fa fa-angle-double-right"></i></a></li>
                </ul>
            </div>
        </div>
        </div>
    </div>
