<div class="modal-header">
    <h4> Delete {$:: meter_name $}? </h4>
</div>


<div class="modal-footer container-fluid" style="display: flex; gap: 10px; justify-content: flex-end;">
    <div class="row text-center">
        <button type="button" class="btn btn-primary col-sm-6 center-block" ng-click="delete_meter()" translate>Confirm</button>
    </div>
    <div class="row text-center">
        <button type="button" class="btn btn-default col-sm-6 center-block" ng-click="cancel()" translate>Dismiss</button>
    </div>
</div>
