<div class="modal-header">
  <h4>Configure {$ meter_parent $} Meter Details</h4>
</div>

<div class="modal-body">
  <div class="meter-config-container">
    <!-- DIRECTION -->
    <div class="meter-config-selection-container">
      <label class="control-label" for="selected_direction">Flow Direction:</label>
      <select class="form-control" id="selected_direction" ng-model="config.direction" ng-options="option.value as option.display for option in direction_options"></select>
    </div>

    <!-- CONNECTION -->
    <div class="meter-config-selection-container">
      <label class="control-label" for="selected_connection">Connection:</label>
      <select
        class="form-control"
        id="selected_connection"
        ng-model="config.connection"
        ng-change="connection_selected()"
        ng-options="option.value as option.display for option in connection_options"
      ></select>
    </div>

    <div ng-show="!loading">
      <!-- USAGE -->
      <div ng-if="config.connection !== 'outside'" class="meter-config-selection-container">
        <label class="control-label" for="selected_use" tooltip-placement="right" uib-tooltip="Is the meter using a service, or offering a service?">
          Meter Usage: <i class="ui-grid-icon-info-circled"></i>
        </label>
        <select
          class="form-control"
          id="selected_use"
          ng-model="config.use"
          ng-change="use_selected()"
          ng-disabled="property_id"
          ng-options="option.value as option.display for option in use_options"
        ></select>
      </div>

      <!-- GROUP -->
      <div ng-if="config.connection !== 'outside' && config.use !== null" class="meter-config-selection-container">
        <label class="control-label" for="selected_group">Group: </label>
        <select
          class="form-control"
          id="selected_group"
          ng-model="config.group_id"
          ng-disabled="!property_id"
          ng-change="group_selected()"
          ng-options="option.id as option.name for option in group_options"
        ></select>
      </div>

      <!-- SYSTEM -->
      <div ng-if="config.connection !== 'outside' && config.group_id !== null" class="meter-config-selection-container">
        <label class="control-label" for="selected_system">System: </label>
        <select
          class="form-control"
          id="selected_system"
          ng-model="config.system_id"
          ng-disabled="config.use == 'offering'"
          ng-change="system_selected()"
          ng-options="option.id as option.name for option in system_options"
        ></select>
      </div>

      <!-- SERVICE -->
      <div ng-if="config.connection !== 'outside' && config.system_id !== null" class="meter-config-selection-container">
        <label class="control-label" for="selected_service">Service: </label>
        <select class="form-control" id="selected_service" ng-model="config.service_id" ng-change="service_selected()" ng-options="option.id as option.name for option in service_options"></select>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <div class="alert-danger" style="padding: 15px; border-radius: 5px; text-align: center" ng-if="error">{$ error $}</div>
  <div class="row text-center">
    <button type="button" class="btn btn-primary col-sm-6 center-block" ng-click="update_meter()" ng-disabled="!form_valid" translate>Confirm</button>
  </div>
  <div class="row text-center">
    <button type="button" class="btn btn-default col-sm-6 center-block" ng-click="cancel()" translate>Dismiss</button>
  </div>
</div>
