<div class="modal-header">
  <h4 class="modal-title" translate>Move Inventory To Access Level Instance</h4>
</div>

<div class="modal-body">
  <p>Please select an Access Level and Access Level Instance to move {$ ids.length $} {$ label $} to:</p>
  <form name="access_level_form">
    <div class="form-group">
      <label class="control-label col-sm-3" for="newAccessLevel" translate>Access Level:</label>
      <div class="col-sm-8">
        <select class="form-control" id="newAccessLevel" name="first_level" ng-model="level_name_index" ng-change="change_selected_level_index()" ng-options="i as name for (i, name) in level_names" required></select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="newAccessLevelInstance" translate>Access Level Instance:</label>
      <div class="col-sm-8">
        <select
          class="form-control"
          id="newAccessLevelInstance"
          name="second_level"
          required
          ng-model="new_access_level_instance_id"
          ng-options="potential_level_instance.id as potential_level_instance.name for potential_level_instance in potential_level_instances | orderBy:potential_level_instance.name"
        ></select>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer" ng-show="!moving">
  <button type="button" class="btn btn-primary" ng-click="move_properties()" translate>Move Properties</button>
  <button type="button" class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
</div>
