<div class="modal-header">
  <h4> {$:: 'Delete Access Level Instance' | translate $} - {$ level_instance_name $}</h4>
</div>

<div class="modal-body" ng-if="!can_delete_access_level_instance">
  <div class="ali-warning">
    <i class="fa-solid fa-triangle-exclamation"></i><span translate>Warning</span>
    <p translate>Deleting this access level instance will delete everything else associated with it:</p>
    <div style="display: flex; gap: 1px;" ng-repeat="reason in reasons_why"> - {$ reason$}</div>
  </div>
</div>

<div class="modal-body" style="display: flex; justify-content: space-between;">
  <div translate>ACCESS_LEVEL_DELETE_AREYOUSURE</div>
</div>
<div class="modal-footer">
  <div class="row text-center">
    <button type="button" class="btn btn-primary col-sm-6 center-block" ng-click="delete()" translate>Delete</button>
  </div>
  <div class="row text-center">

    <button type="button" class="btn btn-default col-sm-6" ng-click="cancel()" translate>Dismiss</button>
  </div>
</div>
