<div class="page_header_container">
    <div class="page_header">
        <div class="left page_action_container">
            <a ui-sref="organizations" class="page_action"><i class="fa fa-chevron-left"></i> {$:: 'Organizations' | translate $}</a>
        </div>
        <div class="page_title">
            <h1>{$ org_static.name $}</h1>
        </div>
        <div class="right page_action_container"></div>
    </div>
</div>
<div class="section_nav_container">
    <div class="section_nav" ng-include="::urls.static_url + 'seed/partials/accounts_nav.html'"></div>
</div>
<div class="section">
    <div class="section_header_container">
        <div class="section_header has_no_padding fixed_height_short">
            <div class="section_action_container left">
                <h2><i class="fa fa-cogs"></i> {$:: 'Settings' | translate $}</h2>
            </div>
            <div class="section_action_container right section_action_btn">
                <button type="button" class="pull-right btn btn-primary" ng-click="save_settings()">{$:: 'Save Changes' | translate $}
                    <i class="fa fa-check" ng-show="settings_updated"></i></button>
            </div>
        </div>
    </div>
    <div class="section_content_container">
        <div class="section_content with_padding">
            <h3 translate>Organization Name</h3>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="editOrganizationName" ng-model="org.name" ng-disabled="::!auth.requires_owner">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="section_content_container">
        <div class="section_content with_padding">
            <h3 translate>Measurement unit display for energy use intensities (EUI)</h3>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-sm-4">
                        <select class="form-control" ng-options="o.value as o.label for o in unit_options_eui" ng-model="org.display_units_eui"></select>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="section_content_container">
        <div class="section_content with_padding">
            <h3 translate>METER_DISPLAY_SETTINGS_TITLE</h3>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-sm-4">
                        <select class="form-control" ng-change="get_valid_units_for_type()" ng-options="type.value as type.label for type in energy_type_options" ng-model="chosen_type_unit.type">
                            <option value="" translate>ENERGY_TYPE_DISPLAY_CHOICE_PLACEHOLDER</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <select class="form-control" ng-disabled="chosen_type_unit.type === null" ng-options="unit as unit for unit in energy_unit_options[chosen_type_unit.type]" ng-model="chosen_type_unit.unit">
                            <option value="" translate>ENERGY_UNIT_DISPLAY_CHOICE_PLACEHOLDER</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="section_content_container">
        <div class="section_content with_padding">
            <h3 translate>Measurement unit display for areas</h3>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-sm-4">
                        <select class="form-control" ng-options="o.value as o.label for o in unit_options_area" ng-model="org.display_units_area"></select>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="section_content_container">
        <div class="section_content with_padding">
            <h3 translate>Significant figures for EUIs and areas</h3>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-sm-4">
                        <select class="form-control" ng-options="o.value as o.label for o in significant_figures_options" ng-model="org.display_significant_figures"></select>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="section_content_container">
        <div class="section_content with_padding">
            <h3 translate>THERMAL_CONV_ASSUMPTION_TITLE</h3>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-sm-4" uib-popover="Warning: Meters will be imported as and viewed according to this assumption." popover-trigger="mouseenter" popover-placement="right-top">
                        <select class="form-control" ng-options="country.value as country.label for country in thermal_conversion_countries" ng-model="org.thermal_conversion_assumption"></select>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="section_content_container">
        <div class="section_content with_padding">
            <h3 translate>MapQuest API Key</h3>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="org.mapquest_api_key" ng-disabled="::!auth.requires_owner">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="section_content_container">
        <div class="section_content with_padding">
            <h3 translate>Property Detail View Display Field</h3>
            <small>Determines which column field is used when displaying and identifying a property.  Defaults to "Address Line 1".</small>
            <small>{$ all_columns $}</small>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-sm-4">
                        <select class="form-control" ng-options="column.column_name as column.display_name for column in property_column_names" ng-model="org.property_display_field"></select>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="section_content_container">
        <div class="section_content with_padding">
            <h3 translate>Taxlot Detail View Display Field</h3>
            <small>Determines which column field is used when displaying and identifying a taxlot.  Defaults to "Address Line 1".</small>
            <small>{$ all_columns $}</small>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-sm-4">
                        <select class="form-control" ng-options="column.column_name as column.display_name for column in taxlot_column_names" ng-model="org.taxlot_display_field"></select>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="section_content_container">
        <div class="section_content with_padding">
            <h3 translate>Enable Geocoding</h3>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-sm-4">
                        <input type="checkbox" class="form-control" style="width: 34px;" ng-model="org.geocoding_enabled" ng-disabled="::!auth.requires_owner">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="section_content_container">
        <div class="section_content with_padding">
            <h3 translate>Enable ComStock Functionality</h3>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-sm-4">
                        <input type="checkbox" class="form-control" style="width: 34px;" ng-model="org.comstock_enabled" ng-disabled="::!auth.requires_owner">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="section_content_container" style="margin-top: 30px;" ng-if="::auth.requires_owner">
        <div class="section_content with_padding">
            <button type="button" class="btn btn-primary" ng-click="save_settings()">{$:: 'Save Changes' | translate $} <i class="fa fa-check" ng-show="settings_updated"></i></button>
        </div>
    </div>
</div>
