<div class="modal-header">
    <h4> {$:: 'Add Levels to the Organizational Structure' | translate $} </h4>
</div>
<div class="modal-body">
    <div>
    <!-- <div style="display: flex; flex-direction: column;"> -->
        <ul style="padding: 0px;">
            <div ng-repeat="(i, level_name) in new_access_level_names track by i">
                <input style="margin: 10px 0px;" type="text" class="form-control" ng-model="new_access_level_names[i]">
            </div>
        </ul>
    <!-- </div> -->
    </div>
    <div class="row text-center add-btn">
        <button  type="button" class="btn btn-primary col-sm-4 col-sm-offset-8" ng-click="add_level()">
            <i class="fa fa-plus-circle"></i> {$:: 'Add Access Level' | translate $}
        </button>
    </div>
</div>
<div class="modal-footer">
    <div class="row text-center">
        <button type="button" class="btn btn-primary col-sm-6 center-block" ng-click="save_access_level_names()" ng-disabled="!is_modifed()" translate>Save</button>
    </div>
    <div class="row text-center">
        <button type="button" class="btn btn-default col-sm-6 center-block" ng-click="cancel()" translate>Dismiss</button>
    </div>
</div>
