<div class="modal-header">
    <h4> {$:: 'Add Levels to the Organizational Structure Tree' | translate $} </h4>
</div>
<div class="modal-body">
    <div>
    <!-- <div style="display: flex; flex-direction: column;"> -->
        <!-- <ul style="padding: 0px;"> -->
            <div ng-repeat="(i, level_name) in new_access_level_names track by i" class="form-group">
              <div class="col-sm-4">
                <label class="al-label" for="al_{{$i}}">{$:: 'Custom Name for Level' | translate $} {$:: i+1 $} </label>
              </div>
              <div class="col-sm-8">
                <input class="form-control" style="margin: 10px 0px;" id="al_{{$i}}" type="text" ng-model="new_access_level_names[i]">
              </div>
            </div>
        <!-- </ul> -->
    <!-- </div> -->
    </div>
    <div class="row text-center" style="display: flex; justify-content: end; gap: 10px">
        <button  type="button" class="btn btn-primary" ng-click="remove_level()">
            <i class="fa fa-minus-circle"></i> {$:: 'Remove Access Level' | translate $}
        </button>
        <button  type="button" class="btn btn-primary" ng-click="add_level()">
            <i class="fa fa-plus-circle"></i> {$:: 'Add Access Level' | translate $}
        </button>
    </div>
</div>
<div class="modal-footer">
    <div class="row text-center">
        <button type="button" class="btn btn-primary col-sm-6 center-block" ng-click="save_access_level_names()" ng-disabled="!is_modifed()" translate>Save</button>
    </div>
    <div class="row text-center">
        <button type="button" class="btn btn-default col-sm-6 center-block" ng-click="cancel()" translate>Dismiss</button>
    </div>
</div>
