<div class="page_header_container" ng-cloak>
    <div class="page_header">
        <div class="left page_action_container">

        </div>
        <div class="page_title">
            <h1 translate>Pairing Settings</h1>
        </div>
        <div class="right page_action_container page_action_btn"></div>
    </div>
</div>

<div class="section_nav_container">
    <div class="section_nav" ng-include="::urls.static_url + 'seed/partials/pairing_nav.html'"></div>
</div>

<div class="section_header_container">
    <div id="building-settings" class="section_header has_no_padding fixed_height_short">
        <div class="section_action_container left_wide">
            <h2><i class="fa fa-cogs"></i><span translate>Column Order/Visibility</span></h2>
        </div>
    </div>
</div>

<div class="section_content_container" ng-cloak style="clear:both; overflow:hidden; margin-top: 16px;">
    <div class="section_content with_padding" style="overflow:hidden;">
        <h3 style="margin-top: 0"
            translate="NUM_PROPERTY_TAXLOT_COLUMNS_AVAILABLE"
            translate-values="{ num_property_columns: (propertyColumns.length | number), num_taxlot_columns: (taxlotColumns.length | number) }"></h3>
        <p translate>Select columns from the lists below to make them appear on the properties and tax lots of your Matching List table. Drag the rows to change the order in which they appear.</p>
    </div>
</div>

<div class="section_content_container" ng-cloak style="clear:both; overflow:hidden; margin-top: 16px">
    <h3 style="font-weight: bold; padding-left: 16px; margin-top: 0" translate>Properties</h3>
    <div class="section_content">
        <div id="grid-container">
            <div ui-grid="propertyGridOptions" ui-grid-selection ui-grid-draggable-rows></div>
        </div>
    </div>
</div>

<div class="section_content_container" ng-cloak style="clear:both; overflow:hidden; margin-top: 16px;">
    <h3 style="font-weight: bold; padding-left: 16px; margin-top: 0" translate>Tax Lots</h3>
    <div class="section_content">
        <div id="grid-container">
            <div ui-grid="taxlotGridOptions" ui-grid-selection ui-grid-draggable-rows></div>
        </div>
    </div>
</div>
