<div class="page_header_container">
    <div class="page_header">
        <div class="left page_action_container">
            <a class="page_action" ui-sref="dataset_list"><i class="fa fa-chevron-left"></i> Data Sets</a>
        </div>
        <div class="page_title">
            <h1>{$:: inventory_type === 'properties' ? 'Pair Properties to Tax Lots' : 'Pair Tax Lots to Properties' $}</h1>
            <!-- <h1>Data Pairing ({$ import_file.uploaded_filename $})</h1> -->
        </div>
        <div class="right page_action_container"></div>
    </div>
</div>

<div class="section_nav_container">
    <div class="section_nav" ng-include="::urls.static_url + 'seed/partials/pairing_nav.html'"></div>
</div>

<div class="pairing-list-controls-full container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="pairing-show col-md-6">
                    <select class="form-control input-sm" ng-model="showPaired" ng-options="option for option in ::showPairedOptions" ng-change="getLeftData()"></select>
                </div>
                <div class="pairing-cycle col-md-6 form-horizontal">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Cycle:</label>
                        <div class="col-md-9">
                            <select class="form-control input-sm" ng-model="cycle.selected_cycle" ng-change="cycleChanged()" ng-options="option.name for option in ::cycle.cycles track by option.id"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <select class="form-control input-sm" ng-model="inventory_type" ng-change="inventoryTypeChanged()">
                    <option value="properties">Property</option>
                    <option value="taxlots">Tax Lot</option>
                </select>
            </div>
        </div>
        <div class="pairing-other-title col-md-6">
            <h4>{$:: inventory_type === 'properties' ? 'Tax Lot' : 'Property' $}</h4>
        </div>
    </div>
</div>

<div class="pairing container-fluid">
    <div class="row">

        <div class="col-md-6">
            <div class="pairing-container-2" sd-scroll-sync="left-scroll">
                <div class="pairing-header left-scroll">
                    <div class="pairing-headers" ng-repeat="col in ::leftColumns track by $index">
                        <div class="title pointer" ng-click="leftSortData(col.name)">{$:: col.displayName || '&nbsp;' $} <span ng-class="leftGetSortClass(col.name)"></span></div>
                        <input class="is_aligned_center column_border" ng-model="col.searchText" ng-model-options="{debounce:150}">
                    </div>
                    <div class="pairing-headers paired-column">
                        <div class="title">Paired</div>
                    </div>
                </div>
                <div class="pairing-body left-scroll" dragula='"drag-pairing-row"'>
                    <div class="pairing-row grab-pairing-left" ng-repeat="row in newLeftData | orderBy : getLeftSortColumn() : leftReverseSort : naturalSortComparator | filter:leftSearch" title="Drag from here" ng-click="doubleClick('left',$event)">
                        <div leftParentId="{$ getLeftParentId(row) $}" ng-repeat="col in ::leftColumns track by $index">{$:: row[col.name] $}</div>
                        <div class="paired-column">{$ leftPaired(row) $}</div>
                    </div>
                </div>
            </div>
            <div>
                <span ng-if="::inventory_type === 'properties'">Showing {$ leftData.length $} <ng-pluralize count="leftData.length" when="{'one': 'Property','other': 'Properties'}"></ng-pluralize> ({$ leftNumUnpaired() $} unpaired)</span>
                <span ng-if="::inventory_type === 'taxlots'">Showing {$ leftData.length $} <ng-pluralize count="leftData.length" when="{'one': 'Tax Lot','other': 'Tax Lots'}"></ng-pluralize> ({$ leftNumUnpaired() $} unpaired)</span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="pairing-container-2" sd-scroll-sync="right-scroll">
                <div class="pairing-header right-scroll">
                    <div class="pairing-headers" ng-repeat="col in ::rightColumns track by $index">
                        <div class="title pointer" ng-click="rightSortData(col.name)">{$:: col.displayName || '&nbsp;' $} <span ng-class="rightGetSortClass(col.name)"></span></div>
                        <input class="is_aligned_center column_border" ng-model="col.searchText" ng-model-options="{debounce:150}">
                    </div>
                    <div class="pairing-headers paired-column">
                        <div class="title">&nbsp;</div>
                    </div>
                </div>

                <div class="pairing-body right-scroll" dragula='"drag-pairing-row"'>
                    <div class="right-pairing-container" ng-repeat="row in rightData | orderBy : getRightSortColumn() : rightReverseSort : naturalSortComparator | filter:rightSearch" title="Drag to here">
                        <div class="right-pairing-row">
                            <div ng-repeat="col in ::rightColumns track by $index">{$:: row[col.name] $}</div>
                        </div>

                        <div class="right-paired-row cant-move" rightParentId="{$ getRightParentId(row) $}" dragula='"drag-pairing-row"' ng-click="doubleClick('right',$event)">
                            <div ng-if="!whichChildren(row)">
                                <div class="unpaired">
                                    <div class="pairing-cell">Drag {$:: inventory_type === 'properties' ? 'Property' : 'Tax Lot' $} here to pair with this {$:: inventory_type === 'properties' ? 'Tax Lot' : 'Property' $}</div>
                                </div>
                            </div>
                            <div ng-repeat="id in whichChildren(row) track by $index">
                                <div viewId="{$ id $}" ng-repeat="col in ::rightColumns track by $index">
                                    <div class="pairing-cell">{$ whichChildData(id, col.name) $}</div>
                                </div>
                                <div class="unpair-child">
                                    <span viewId="{$ id $}" rightParentId="{$ getRightParentId(row) $}" ng-click="unpairChild($event)">&#10006;</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div>
                <span ng-if="::inventory_type === 'properties'">Showing {$ rightData.length $} <ng-pluralize count="rightData.length" when="{'one': 'Tax Lot','other': 'Tax Lots'}"></ng-pluralize> ({$ rightNumUnpaired() $} unpaired)</span>
                <span ng-if="::inventory_type === 'taxlots'">Showing {$ rightData.length $} <ng-pluralize count="rightData.length" when="{'one': 'Property','other': 'Properties'}"></ng-pluralize> ({$ rightNumUnpaired() $} unpaired)</span>
            </div>
        </div>

    </div>
</div>
