<div class="page_header_container" ng-cloak>
  <div class="page_header">
    <div class="left page_action_container"></div>
    <div class="page_title">
      <h1 translate>Portfolio Summary</h1>
    </div>
    <div class="right page_action_container"></div>
  </div>
</div>

<div class="section_nav_container">
  <div class="section_nav" ng-include="::urls.static_url + 'seed/partials/insights_nav.html'"></div>
</div>
<div class="portfolio-summary-wrapper">
  <div class="data-reports-header-text">
    {$:: 'The portfolio summary page compares 2 cycles to calculate progress toward an Energy Use Intensity reduction goal.' | translate $}
    <span ng-if="write_permission">{$:: 'Cycle selection and goal details can be customized by clicking the Configure Goals button below.' | translate $}</span>
  </div>
  <div class="data-report-header-wrapper">
    <div class="data-report-header-column">
      <div class="data-report-select-wrapper">
        <label class="data-report-select-label" for="data-report-select" ng-show="data_report" translate>DATA REPORT</label>
        <div class="data-report-selection" ng-show="data_report">
          <select name="data-report-select" id="data-report-select" ng-options="data_report as data_report.name for data_report in data_reports" ng-model="data_report"></select>
        </div>
        <button class="btn btn-primary portfolio-summary-btn" type="submit" ng-click="open_data_report_editor_modal()" ng-if="write_permission">{$:: 'Configure Data Reports' | translate $}</button>
      </div>
      <!-- DATA REPORT DETAILS -->
      <div class="data-report-details-container" ng-if="valid">
        <div class="data-report-details-column" style="margin-left: 10px">
          <div ng-repeat="(k, v) in data_report_details[0]" class="data-report-detail">
            <div class="data-report-detail-key" style="width: 120px">{$ k $}:</div>
            <div class="data-report-detail-value" uib-tooltip="{$ (v.length > 25) ? v : '' $}">{$ v $}</div>
          </div>
        </div>
        <div class="data-report-details-column">
          <div ng-repeat="(k, v) in data_report_details[1]" class="data-report-detail">
            <div class="data-report-detail-key">{$ k $}:</div>
            <div class="data-report-detail-value" uib-tooltip="{$ (v.length > 25) ? v : '' $}">{$ v $}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="data-report-header-column" ng-if="valid">
      <table class="table table-striped table-bordered">
        <tbody>
          <tr ng-repeat="stat in data_report_stats">
            <td>{$ stat.name $}</td>
            <td>{$ stat.value $}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <button class="btn btn-default" ng-click="toggle_help()" style="margin: 3px 0 0 10px; height: 20px; padding: 3px 10px; height: 30px;">
    Help
  </button>
  <div class="alert alert-warning portfolio-summary-help-text" ng-show="show_help">
    <h4>Unexpected Portfolio Summary Calculations?</h4>
    <div>
      Run "<a ng-click="run_data_quality_check()">Data Quality Check</a>" from the Actions dropdown to auto
      populate the "Passed Checks" column.<br /><br />
      Portfolio Summary calculations only include properties that have "Passed Checks" and are not "New Build
      or Acquired" (see far right columns below).<br />
      <div ng-if="::organization.is_parent && auth.requires_owner">
        <i>Data Quality Checks can be configured in</i>
        <a ui-sref="organization_data_quality(::{organization_id: organization.id, rule_type: 'goals'})"
          ng-class="::{active: state.name === 'organization_data_quality'}" translate>Data Quality
          Settings </a>.
      </div>
    </div>
    <button class="btn btn-light" ng-click="toggle_help()" style="margin-top: 20px">Hide</button>
  </div>
  <!-- Summary & Data Table container -->
  <div ng-include="::urls.static_url + 'seed/partials/goal_data_tables.html'"></div>
</div>
