<div class="page_header_container" ng-cloak>
    <div class="page_header">
        <div class="left page_action_container"></div>
        <div class="page_title">
            <h1 translate>Portfolio Summary</h1>
        </div>
        <div class="right page_action_container"></div>
    </div>
</div>

<div class="section_nav_container">
    <div class="section_nav" ng-include="::urls.static_url + 'seed/partials/insights_nav.html'"></div>
</div>
<div class="portfolio-summary-wrapper">
    <div class="goal-actions-wrapper">
        <div class="goal-select-wrapper">
            <label class="goal-select-label" for="goal-select">
                GOAL
            </label>
            <div class="goal-selection">
                <select name="goal-select" id="goal-select"
                    ng-options="goal for goal in goals" ng-model="portfolioSummary.goal">
                </select>
            </div>
        </div>
        <div class="goal-btn-wrapper">
            <button class="btn btn-primary portfolio-summary-btn" type="submit" ng-click="open_goal_editor_modal()"
                style="margin-right: 1px; float: right;" translate>Edit</button>
        </div>

    </div>
    <div id="portfolio-summary-selection-wrapper" class="row">
        <div id="portfolio-summary-selections" class="col-sm-2x">
            <form name="portfolioSummaryForm" class="form-horizontal css-form" role="form">
                <!-- Name -->
                <div class="form-group" style="margin-left: 0; margin-bottom: 0">
                    <label class="control-label col-sm-5 portfolio-summary-select-option"
                        for="report_name"> Report Name </label>
                    <div class="col-sm-7">
                        <input type="text" id="goal_name" class="portfolio-summary-form-control"
                            ng-model="portfolioSummary.name"></input>
                    </div>
                </div>
                <!-- Baseline Cycle -->
                <div class="form-group" style="margin-left: 0; margin-bottom: 0">
                    <label class="control-label col-sm-5 portfolio-summary-select-option baseline-legend"
                        for="baseline_cycle_select">Baseline Cycle</label>
                    <div class="col-sm-7">
                        <select name="baseline_cycles" class="portfolio-summary-form-control" id="baseline_cycle_select"
                            ng-options="cycle as cycle.name for cycle in cycles"
                            ng-model="portfolioSummary.baseline_cycle">
                        </select>
                    </div>
                </div>
                <!-- Current Cycle -->
                <div class="form-group" style="margin-left: 0; margin-bottom: 0">
                    <label class="control-label col-sm-5 portfolio-summary-select-option current-legend"
                        for="current_cycle_select">Current Cycle </label>
                    <div class="col-sm-7" >
                        <div class="portfolio-summary-constant" uib-tooltip="{$ portfolioSummary.current_cycle.name $}">
                            {$ portfolioSummary.current_cycle.name $}
                        </div>
                    </div>
                </div>
                <!-- Access Level -->
                <div class="form-group" style="margin-left: 0; margin-bottom: 0">
                    <label class="control-label col-sm-5 portfolio-summary-select-option" for="access_level_name" translate>Access Level:</label>
                    <div class="col-sm-7">
                        <select class="portfolio-summary-form-control" id="access_level_name" ng-model="portfolioSummary.level_name_index"
                            ng-change="change_selected_level_index()"
                            ng-options="i as name for (i, name) in level_names">
                        </select>
                    </div>
                </div>
                <!-- Access Level Instance -->
                <div class="form-group" style="margin-left: 0; margin-bottom: 0">
                    <label class="control-label col-sm-5 portfolio-summary-select-option" for="access_level_instance" translate>Access Level Instance:</label>
                    <div class="col-sm-7">
                        <select class="portfolio-summary-form-control" id="access_level_instance" ng-model="portfolioSummary.access_level_instance"
                            ng-options="potential_level_instance.id as potential_level_instance.name for potential_level_instance in potential_level_instances"
                            >
                        </select>
                    </div>
                </div>
                <!-- Goal Column -->
                <div class="form-group" style="margin-left: 0; margin-bottom: 0">
                    <label class="control-label col-sm-5 portfolio-summary-select-option"
                        for="goal_column_select"> Goal Column </label>
                    <div class="col-sm-7">
                        <select name="goal_columns" class="portfolio-summary-form-control" id="goal_column_select"
                            ng-options="column.column_name as column.displayName for column in goal_columns"
                            ng-model="portfolioSummary.goal_column">
                        </select>
                    </div>
                </div>
                <!-- Goal % -->
                <div class="form-group" style="margin-left: 0; margin-bottom: 0">
                    <label class="control-label col-sm-5 portfolio-summary-select-option"
                        for="goal_input">Goal (%)</label>
                    <div class="col-sm-7">
                        <input type="number" id="goal_input" class="portfolio-summary-form-control"
                            ng-model="portfolioSummary.goal" required></input>
                    </div>
                </div>
                <!-- Submit -->
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-success portfolio-summary-btn" type="submit" ng-click="refresh_data()"
                            style="margin-right: 1px; float: right;"
                            translate>Create</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- Summary Table-->
        <div id="portfolio-summary" class="col-sm-10x" ng-if="summary_loading || summary_valid"
            style=" width: calc(100% - 250px); margin-left: 16px;">
            <h3>
                Portfolio Summary
            </h3>
            <div ng-if="summary_valid" ui-grid="summaryGridOptions" ui-grid-resize-columns ui-grid-group-columns style="height:60px"></div>
            <div class="portfolio-summary-loading" ng-if="summary_loading">
                <h4>Loading Summary Data...</h4>
                <uib-progress class="progress-striped active">
                    <uib-bar value="100" type="info"></uib-bar>
                </uib-progress>
            </div>
        </div>

    </div>
    <!-- Data Table container -->
    <!-- Pagination -->
    <div class="portfolio-summary-item-count" ng-if="data_valid">
        {$ inventory_pagination.start $}-{$ inventory_pagination.end $}<span ng-if="inventory_pagination.num_pages > 1"> of
            {$ inventory_pagination.total $}</span>
        <i ng-if="selectedCount > 0">
            <span>({$ selected_display $}</span><span ng-if="selectedCount < inventory_pagination.total"> - <a
                    ng-click="select_all()" translate>Select All</a></span><span
                ng-if="selectedCount === inventory_pagination.total"> - <a ng-click="select_none()" translate>Select
                    None</a></span><span>)</span>
        </i>
        <button ng-click="load_inventory(inventory_pagination.page - 1)" ng-disabled="!inventory_pagination.has_previous"
            class="btn btn-default btn-sm">
            <i class="fa-solid fa-chevron-left"></i>
        </button>
        <button ng-click="load_inventory(inventory_pagination.page + 1)" ng-disabled="!inventory_pagination.has_next"
            class="btn btn-default btn-sm">
            <i class="fa-solid fa-chevron-right"></i>
        </button>
    </div>
    <!-- Data Table -->
    <div id="portfolio-summary-grid" ng-if="data_valid" style="overflow-x: scroll;">
        <div class="form-group" ng-if="data_valid">
            <button class="btn btn-primary portfolio-summary-btn" ng-click="toggle_access_level_instances()">
                {$ show_access_level_instances ? 'Hide' : 'Show' $} ALIs
            </button>
        </div>
        <div class="portfolioSummary-gridOptions-wrapper" ng-style="{'heightx': gridHeight}">
            <div 
                ui-grid="gridOptions" 
                ui-grid-save-state 
                ui-grid-resize-columns 
                ui-grid-group-columns
            ></div>
        </div>

    </div>
    <div class="portfolio-summary-loading" ng-if="data_loading" style="margin:100px 20px;">
        <h4>Loading Data...</h4>
        <uib-progress class="progress-striped active" >
            <uib-bar value="100" type="info"></uib-bar>
        </uib-progress>
    </div>
</div>