<div class="page_header_container" ng-cloak>
  <div class="page_header">
    <div class="left page_action_container"></div>
    <div class="page_title">
      <h1 translate>Portfolio Summary</h1>
    </div>
    <div class="right page_action_container"></div>
  </div>
</div>

<div class="section_nav_container">
  <div class="section_nav" ng-include="::urls.static_url + 'seed/partials/insights_nav.html'"></div>
</div>
<div class="portfolio-summary-wrapper">
  <div class="goals-header-text">
    {$:: 'The portfolio summary page compares 2 cycles to calculate progress toward an Energy Use Intensity reduction goal.' | translate $}
    <span ng-if="write_permission">{$:: 'Cycle selection and goal details can be customized by clicking the Configure Goals button below.' | translate $}</span>
  </div>
  <div class="goal-header-wrapper">
    <div class="goal-header-column">
      <div class="goal-select-wrapper">
        <label class="goal-select-label" for="goal-select" ng-show="goal" translate>GOAL</label>
        <div class="goal-selection" ng-show="goal">
          <select name="goal-select" id="goal-select" ng-options="goal as goal.name for goal in goals" ng-model="goal"></select>
        </div>
        <button class="btn btn-primary portfolio-summary-btn" type="submit" ng-click="open_goal_editor_modal()" ng-if="write_permission">{$:: 'Configure Goals' | translate $}</button>
      </div>
      <!-- GOAL DETAILS -->
      <div class="goal-details-container" ng-if="valid">
        <div class="goal-details-column" style="margin-left: 10px">
          <div ng-repeat="(k, v) in goal_details[0]" class="goal-detail">
            <div class="goal-detail-key" style="width: 120px">{$ k $}:</div>
            <div class="goal-detail-value" uib-tooltip="{$ (v.length > 25) ? v : '' $}">{$ v $}</div>
          </div>
        </div>
        <div class="goal-details-column">
          <div ng-repeat="(k, v) in goal_details[1]" class="goal-detail">
            <div class="goal-detail-key">{$ k $}:</div>
            <div class="goal-detail-value" uib-tooltip="{$ (v.length > 25) ? v : '' $}">{$ v $}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="goal-header-column" ng-if="valid">
      <table class="table table-striped table-bordered">
        <tbody>
          <tr ng-repeat="stat in goal_stats.area">
            <td>{$ stat.name $}</td>
            <td>{$ stat.value $}</td>
          </tr>
          <tr>
            <td colspan="2" style="text-align: center;">Total</td>
          </tr>
          <tr ng-repeat="stat in goal_stats.totals">
            <td>{$ stat.name $}</td>
            <td>{$ stat.value $}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div id="portfolio-summary-selection-wrapper">
    <!-- Summary Table-->
    <div id="portfolio-summary" class="wide-900" ng-if="summary_loading || summary_valid">
      <h3 translate>Portfolio Summary</h3>
      <div ng-if="summary_valid" ui-grid="summaryGridOptions" ui-grid-resize-columns style="margin-bottom: 30px;"></div>
      <div class="portfolio-summary-loading" ng-if="summary_loading">
        <h4>{$:: 'Loading Summary Data...' | translate $}</h4>
        <uib-progress class="progress-striped active">
          <uib-bar value="100" type="info"></uib-bar>
        </uib-progress>
      </div>
    </div>
  </div>
  <!-- Data Table container -->
  <!-- Pagination -->
  <div class="portfolio-summary-item-count wide-900" ng-if="data_valid">
    <div ng-if="data_valid">
      <div style="display: flex; ">
        <div uib-dropdown class="goal-actions-dropdown">
          <button id="btnCreateNew" type="button" class="btn actions-toggle" uib-dropdown-toggle>
            <span>Actions</span>
            <i class="fa-solid fa-chevron-down"></i>
          </button>
          <ul uib-dropdown-menu  class="dropdown-menu" role="menu">
            <li class="drowndown-header goal-action">
              <a ng-if="selected_count !== inventory_pagination.total" ng-click="select_all()">Select All</a>
              <span ng-if="selected_count === inventory_pagination.total" class="disabled-action">Select All</span>
            </li>
            <li class="drowndown-header goal-action">
              <a ng-if="!selected_count < 1" ng-click="select_none()">Select None</a>
              <span ng-if="selected_count < 1" class="disabled-action">Select None</span>
            </li>
            <li class="drowndown-header goal-action">
              <a ng-if="!selected_count < 1" ng-click="open_update_labels_modal()">Add/Remove Labels</a>
              <span ng-if="selected_count < 1" class="disabled-action">Add/Remove Labels</span>
            </li>
            <li class="drowndown-header goal-action">
              <a ng-if="!selected_count < 1" ng-click="open_bulk_edit_goalnotes_modal()">Edit Selected Notes</a>
              <span ng-if="selected_count < 1" class="disabled-action">Edit Selected Note</span>
            </li>
            <li class="drowndown-header goal-action">
              <a ng-if="!level_names.count < 2" ng-click="toggle_show_access_level_instances()">{$ show_access_level_instances ? 'Hide': 'Show' $} Access Levels</a>
              <span ng-if="level_names.count < 2" class="disabled-action">{$ show_access_level_instances ? 'Hide': 'Show' $} Access Levels</span>

            </li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      {$ inventory_pagination.start $}-{$ inventory_pagination.end $}<span ng-if="inventory_pagination.num_pages > 1"> of {$ inventory_pagination.total $}</span>
      <i ng-if="selected_count > 0">
        <span>({$ selected_count $} selected</span><span ng-if="selected_count < inventory_pagination.total"> - <a ng-click="select_all()" translate>Select All</a></span
        ><span ng-if="selected_count === inventory_pagination.total"> - <a ng-click="select_none()" translate>Select None</a></span
        ><span>)</span>
      </i>
      <button ng-click="page_change(inventory_pagination.page - 1)" ng-disabled="!inventory_pagination.has_previous" class="btn btn-default btn-sm">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <button ng-click="page_change(inventory_pagination.page + 1)" ng-disabled="!inventory_pagination.has_next" class="btn btn-default btn-sm">
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>
  </div>
  <!-- Data Table -->
  <div id="portfolio-summary-grid" ng-if="data_valid">
    <div id="portfolioSummary-gridOptions-wrapper" class="wide-900">
      <div 
        ui-grid="gridOptions"
        ui-grid-save-state
        ui-grid-resize-columns
        ui-grid-exporter
        ui-grid-edit
        ui-grid-selection
        style="display: flex; width: 100%"
      ></div>
    </div>
  </div>
  <div class="portfolio-summary-loading" ng-if="data_loading && !data_valid" style="margin: 100px 20px">
    <h4>Loading Data...</h4>
    <uib-progress class="progress-striped active">
      <uib-bar value="100" type="info"></uib-bar>
    </uib-progress>
  </div>
</div>
