<div class="page_header_container">
    <div class="page_header">
        <div class="left page_action_container">
            <a ui-sref="projects" class="page_action"><i class="fa fa-chevron-left"></i> Projects</a>
        </div>
        <div class="page_title">
            <h1><i class="fa fa-folder-o"></i>
                {$ project.name $} ({$ search.number_matching_search | number:0 $} <ng-pluralize count="search.number_matching_search" when="{'one': 'Building','other': 'Buildings'}"></ng-pluralize>)</h1>
        </div>
        <div class="right page_action_container">
        </div>
    </div>
</div>
<div class="section_nav_container">
    <div class="section_nav" ng-include="urls.static_url + 'seed/partials/project_nav.html'"></div>
</div>
<div class="section">
    <div class="alert_container" ng-show="show_alert">
        <div class="alert alert-success">
            You successfully created the project <a href="#"><strong>{$ project.name $}</strong></a>.
        </div>
    </div>
    <div class="section_header_container">
        <div class="section_header fixed_height">
            <div class="left_40 section_action_container">
                <div class="check_action">
                    <div uib-dropdown
                         class="btn-group"
                         ng-style="nothing_selected_cursor()">
                        <button id="btnProjectActions"
                                type="button"
                                uib-dropdown-toggle
                                class="btn btn-default btn-sm"
                                ng-disabled="nothing_selected()">
                          Project Actions <span class="caret"></span>
                        </button>
                        <ul uib-dropdown-menu
                            class="dropdown-menu"
                            aria-labelledby="btnProjectActions"
                            role="menu">
                            <li ng-show="menu.user.organization.user_role !== 'viewer'"><a data-toggle="modal" data-target="#myModal" ng-click="create_project_state='create'">Remove buildings from project</a></li>
                            <li ng-show="menu.user.organization.user_role !== 'viewer'"><a data-toggle="modal" data-target="#existingProjectModal" ng-click="create_project_state='create'">Move/copy buildings to another project</a></li>
                            <li><a ng-click="open_export_modal()">Export Buildings</a></li>
                        </ul>
                    </div>
                </div>
                <div class="btn-group" style="margin-left:20px;">
                    <button type="button"
                            class="btn btn-primary btn-sm"
                            ng-click="do_update_project_buildings_filters()">
                        Update Filters
                    </button>
                </div>
            </div>
            <div class="center section_action_container"><span class="field_title">Type of Submittal:</span> {$ project.compliance_type || "None" $}
                <span ng-show="project.is_compliance">
                    <span class="field_title">Year Ending:</span> {$ project.end_date | date:'MM/dd/yyyy' $} <span class="field_title">Deadline:</span> {$ project.deadline_date | date:'MM/dd/yyyy' $}
                </span>
            </div>
            <div class="right section_action_container section_action_btn"></div>
        </div>
    </div>
    <div class="section_content_container">
        <div class="section_content">
            <ng-include src="urls.static_url + 'seed/partials/buildings_table.html'">
                <!-- buildings table loads here -->
            </ng-include>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel" ng-show="create_project_state == 'create'">Remove From Project</h4>
                <h4 class="modal-title" id="newProjectModalLabel" ng-show="create_project_state == 'removing'"><i class="fa fa-spinner fa-spin"></i> Removing buildings from project '{$ project.name $}'</h4>
                <h4 class="modal-title" id="newProjectModalLabel" ng-show="create_project_state == 'success'">Success</h4>
            </div>
            <div class="modal-body" ng-show="create_project_state == 'create'">Are you sure you want to remove {$ number_to_remove() $} buildings from project {$ project.name $}?</div>
            <div class="modal-body" ng-show="create_project_state == 'success'">{$ progress_denominator $} buildings removed from project {$ project.name $}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-show="create_project_state == 'create'">No</button>
                <button type="button" class="btn btn-primary"ng-click="remove_buildings()" ng-show="create_project_state == 'create'">Yes</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-show="create_project_state == 'success'">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- existingProjectModal -->
<div class="modal fade" id="existingProjectModal" tabindex="-1" role="dialog" aria-labelledby="existingProjectModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="existingProjectModalLabel" ng-show="create_project_state == 'create'">Where would you like to move these buildings?</h4>
                <h4 class="modal-title" id="newProjectModalLabel" ng-show="create_project_state == 'adding'"><i class="fa fa-spinner fa-spin"></i> Adding buildings to project '{$ project.name $}'</h4>
            </div>
                <div class="alert alert-success" ng-show="create_project_state == 'success'">
                    {$ progress_denominator $} buildings added to the project <a data-dismiss="modal" ng-click="go_to_project(move_to_project.slug)"><strong>{$ move_to_project.name $}</strong></a>.
                </div>
            <div class="modal-body">
                <div class="form-group" ng-show="create_project_state == 'create'">
                    <label class="sr-only" for="projectName">Project Name</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="existingProjectName" ng-options="p as p.name for p in projects" ng-model="move_to_project"></select>
                    </div>
                </div>
                <div class="col-sm-7" ng-show="create_project_state == 'adding'">
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {$ progress_percentage | number: 0 $}%;">
                        <span class="sr-only">40% Complete</span>
                      </div>
                    </div>
                </div>
                <div class="col-sm-5" ng-show="create_project_state == 'adding'">
                    {$ progress_numerator $} / {$ progress_denominator $} Buildings
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-show="create_project_state == 'create'">Cancel</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-show="create_project_state == 'success'">Close</button>
                <button type="button" class="btn btn-primary" ng-click="move_buildings(move_to_project.slug)" ng-show="create_project_state == 'create'">Move Buildings</button>
                <button type="button" class="btn btn-primary" ng-click="copy_buildings(move_to_project.slug)" ng-show="create_project_state == 'create'">Copy Buildings</button>
                <button type="button" class="btn btn-primary" ng-click="go_to_project(move_to_project.slug)" ng-show="create_project_state == 'success'">View Project</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
