<div class="modal-header" ng-switch on="step.number">
    <h4 class="modal-title" translate>RENAME_COLUMN_TITLE</h4>
</div>

<div class="modal-body no_bottom_padding" ng-switch on="step.number">
    <div class="data_upload_steps container-fluid" ng-switch-when="1">
        <div class="row" style="padding-bottom: 30px;">
            <p translate>Current Name</p>
            <input type="text" class="form-control" ng-model="current_column_name" ng-disabled="true">
        </div>
        <div class="row" style="padding-bottom: 20px;">
            <p translate>Desired Name</p>
            <input type="text" class="form-control" ng-model="column.name" ng-change=check_name_exists()>
            <div class="alert alert-warning" style="margin-top: 10px;" ng-if="column.exists">COLUMN_NAME_EXISTS_WARNING</div>
        </div>
        <div class="row" style="padding-bottom: 10px;">
            <span>OVERWRITE_COLUMN_DATA_QUESTION</span>
            <input type="checkbox" ng-model="settings.overwrite_preference">
        </div>
        <div class="row" style="padding-bottom: 30px; display: flex; align-items: center;">
            <span class="alert alert-danger col-md-8" style="margin: 10px; margin-left: 0px">
              <ul style="padding-left: 20px;">
                <li translate>IRREVERSIBLE_OPERATION_WARNING</li>
                <li translate>NEW_COLUMN_REPLACE_DATA_WARNING</li>
                <li translate>LONG_OPERATION_WARNING</li>
              </ul>
            </span>
            <span clas="col-md-4">
                <input type="checkbox" ng-model="settings.user_acknowledgement">
                <span translate>Acknowledge</span>
            </span>
        </div>
    </div>

    <div class="data_upload_steps container-fluid" ng-switch-when="2">
        <div class="alert alert-info" ng-if="results.success">{$:: results.message $}</div>
        <div class="alert alert-danger" ng-if="!results.success">{$:: results.message $}</div>
        <div class="row" style="padding-bottom: 30px;">
            <p translate>Desired Name</p>
            <input type="text" class="form-control" ng-model="column.name" ng-disabled="true">
        </div>
    </div>
</div>

<div class="modal-footer container-fluid" ng-switch on="step.number">
    <div ng-switch-when="1">
        <div class="row text-center">
            <button type="button" class="btn btn-primary col-sm-6 center-block" ng-disabled="!settings.user_acknowledgement" ng-click="accept_rename()" translate>Confirm</button>
        </div>

        <div class="row text-center">
            <button type="button" class="btn btn-default col-sm-6 center-block" ng-click="cancel()" translate>Dismiss</button>
        </div>
    </div>

    <div ng-switch-when="2">
        <div class="row text-center">
            <button type="button" class="btn btn-default col-sm-6 center-block" ng-click="dismiss_and_refresh()" translate>Dismiss</button>
        </div>
    </div>
</div>
