<div class="page_header_container">
  <div ng-if="AUTHENTICATION_STATE == 'SUCCESS'">
    <span translate style="margin-right:20px;">BB_SALESFORCE_LOGIN_SUCCESS</span>
    <button class="btn btn-primary portfolio-summary-btn" type="submit" ui-sref="portfolio_summary()" ui-sref-active="active">{$:: 'Return to Portfolio Summary Page' | translate $}</button>
  </div>
  <div ng-if="AUTHENTICATION_STATE == 'FAILURE'">
    <span translate>BB_SALESFORCE_LOGIN_FAILURE</span> {$ error_message $}
    <button class="btn btn-primary portfolio-summary-btn" type="submit" ng-click="login_salesforce()" ng-if="write_permission">{$:: 'Try Again' | translate $}</button>
  </div>
</div>
