<div class="modal-header">
  <h4 class="modal-title" translate>Update Sensor</h4>
</div>

<div class="modal-body">
  <div>
    <label class="col-sm-3 col-sm-offset-1 control-label" translate>Display Name</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" ng-model="sensor.display_name" />
    </div>
  </div>
  <div>
    <label class="col-sm-3 col-sm-offset-1 control-label" translate>Location Description</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" ng-model="sensor.location_description" />
    </div>
  </div>
  <div>
    <label class="col-sm-3 col-sm-offset-1 control-label" translate>Description</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" ng-model="sensor.description" />
    </div>
  </div>
  <div>
    <label class="col-sm-3 col-sm-offset-1 control-label" translate>Sensor Type</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" ng-model="sensor.sensor_type" />
    </div>
  </div>
  <div>
    <label class="col-sm-3 col-sm-offset-1 control-label" translate>Units</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" ng-model="sensor.units" />
    </div>
  </div>
  <div>
    <label class="col-sm-3 col-sm-offset-1 control-label" translate>Column Name</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" ng-model="sensor.column_name" />
    </div>
  </div>
</div>

<div class="modal-footer" style="display: flex; gap: 2px">
  <button type="button" class="btn btn-default col-sm-6 center-block" ng-click="dismiss()" translate>Dismiss</button>
  <button type="button" class="btn btn-primary col-sm-6 center-block" ng-click="update_sensor()" translate>Confirm</button>
</div>
