<div class="modal-header">
  <h4 class="modal-title" translate>Delete Sensor</h4>
</div>

<div class="modal-body">
  <div class="row" style="padding: 10px">
    Are you sure you want to delete this sensor? The associated sensor readings will also be deleted.
  </div>
</div>

<div class="modal-footer" style="display: flex; gap: 2px">
  <button type="button" class="btn col-sm-6 center-block" ng-click="dismiss()" translate>Dismiss</button>
  <button type="button" class="btn btn-danger col-sm-6 center-block" ng-click="delete()" translate>Delete</button>
</div>
