<div class="modal-header">
  <h4 class="modal-title" ng-if="action === 'create'">Create Service for System {$ system.name $}</h4>
  <h4 class="modal-title" ng-if="action === 'remove'">Remove Service for System {$ system.name $}</h4>
  <h4 class="modal-title" ng-if="action === 'edit'">Edit Service for System {$ system.name $}</h4>
</div>
<div class="modal-body">
  <form id="sericeForm" name="serviceForm" role="form" ng-submit="submitServiceForm(sericeForm)" novalidate>
    <div ng-if="action !== 'remove'">
      <!-- Name input -->
      <div class="form-group">
        <label class="control-label sectionLabel" translate>Name</label>
        <input id="name" type="text" name="name" class="form-control" ng-minlength="1" ng-maxlength="100" ng-model="service.name" placeholder="{$:: 'Service Name' | translate $}" required />
      </div>

      <!-- emission_factor input -->
      <div class="form-group">
        <label class="control-label sectionLabel" translate>Emission Factor</label>
        <input ng-model="service.emission_factor" type="number" class="form-control" ng-init="service.emission_factor=1" ng-value="1" step="1" min="0" />
      </div>
    </div>

    <div style="padding-bottom: 15px" ng-if="action === 'remove'">{$:: 'Are you sure you want to delete the service' | translate $}, <strong>{$:: service.name $}</strong>?</div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" style="min-width: 90px" ng-click="cancel()" translate>Cancel</button>
  <button type="submit" class="btn btn-primary" form="sericeForm" ng-disabled="sericeForm.$invalid">{$ capitalize(action) $} Service</button>
</div>
