<div class="page_header_container">
    <div class="page_header">
        <div class="left page_action_container">
            <a ui-sref="organizations" class="page_action"><i class="fa fa-chevron-left"></i> Organizations</a>
        </div>
        <div class="page_title">
            <h1>{$ org.name $}</h1>
        </div>
        <div class="right page_action_container">
        </div>
    </div>
</div>
<div class="section_nav_container">
    <div class="section_nav" ng-include="urls.static_url + 'seed/partials/accounts_nav.html'"></div>
</div>
<div class="section">
    <div class="section_header_container">
        <div class="section_header has_no_padding fixed_height_short">
            <div class="section_action_container left">
                <h2><i class="fa fa-share-square-o"></i> Sharing Your Data</h2>
            </div>
            <div class="section_action_container right section_action_btn">
                <button type="button" class="pull-right btn btn-primary" ng-click="save_settings()">Save Changes <i class="fa fa-check" ng-show="settings_updated"></i></button>
            </div>
        </div>
    </div>
    <div class="section_content_container">
        <div class="section_content with_padding" ng-if="org.is_parent && auth.requires_owner">
            <h3>Selecting Fields to Share</h3>
            <p>As the admin of your SEED instance you can control what data is shared throughout your organization and between your sub-organizations as well as what data is shared externally with the public-at-large. The subset of data you choose to share with the public can be different than the subset shared between your sub-organizations.</p>
            <p>From the list below, select the fields that you want to: 1) share internally within your organization, and 2) share publicly with users outside your organization.</p>
            <div class="table_list_container has_borders">
                <table class="table has_no_btm_margin table-striped table_highlight_first">
                    <thead>
                        <tr>
                            <th colspan="2" class="condensed_head">SHARE DATA WITH</th>

                            <th></th>
                        </tr>
                        <tr>
                            <th class="condensed_head">INTERNAL</th>

                            <th class="condensed_head">PUBLIC</th>
                            <th>Field Name</th>
                        </tr>
                        <tr class="sub_head">
                            <th class="sub_head check is_aligned_center condensed_head">
                                <input type="checkbox" ng-model="controls.select_all" ng-change="select_all_clicked('internal')">
                            </th>
                            <th class="sub_head check is_aligned_center condensed_head">
                                <input type="checkbox" ng-model="controls.public_select_all" ng-change="select_all_clicked('public')">
                            </th>
                            <th class="sub_head">
                                <input type="text" class="form-control input-sm" ng-model="filter_params.title" placeholder="Search field name" ng-class="{active: filter_params.title.length > 0}">
                            </th>
                        </tr>
                    </thead>
                </table>
                <div class="vert_table_scroll_container">
                    <table class="table table-striped table_scroll">
                        <tbody>
                            <tr ng-repeat="field in fields | filter:filter_params:strict">
                                <td class="check is_aligned_center" style="width: 70px;">
                                    <input type="checkbox" ng-model="field.checked">
                                </td>
                                <td class="check is_aligned_center" style="width: 70px;">
                                    <input type="checkbox" ng-model="field.public_checked">
                                </td>
                                <td>
                                    <span>{$ field.title $}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="section_content with_padding">
            <div ng-if="org.is_parent && auth.requires_owner">
                <h3>Set a Query Threshold</h3>
                <p>Enter the minimum threshold count of buildings that can be returned in a shared query. The building count threshold is important for allowing other organizations to perform statistical analysis on your data without revealing information about individual buildings.</p>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <input type="number" class="form-control" id="editQueryThreshold" placeholder="Count #" ng-model="org.query_threshold" min="0">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="section_content_container">
            <div class="section_content with_padding">
                <button type="button" class="pull-right btn btn-primary" ng-click="save_settings()">Save Changes <i class="fa fa-check" ng-show="settings_updated"></i></button>
            </div>
        </div>
    </div>
</div>
