<div class="page_header_container">
    <div class="page_header">
        <div class="left page_action_container"></div>
        <div class="page_title">
            <h1>Two Factor Profile</h1>
        </div>
        <div class="right page_action_container"></div>
    </div>
</div>
<div class="section_nav_container">
    <div class="section_nav" ng-include="::urls.static_url + 'seed/partials/profile_nav.html'"></div>
</div>
<div>
    TWO Factor
    user: {$ user $}
    <!-- email method: {$ email_method $} -->

    <div class="section_content_container">
        <div class="section_content with_padding">
            <h3 translate>Two Factor Email</h3>
            <p>
                Checking this box sets the two factor authentication method to the email associated with this account: {$ user.email $}
            </p>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-sm-4">
                        <input type="checkbox" class="form-control" style="width: 34px" ng-model="email_method" />
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="section_content_container" style="margin: 30px 0" ng-if="::auth.requires_owner">
        <div class="section_content with_padding">
            <button type="button" class="btn btn-primary" ng-click="save_settings()">
                {$:: 'Save Changes' | translate $} <i class="fa-solid fa-check" ng-show="settings_updated"></i>
            </button>
            <div ng-if="form_errors" class="r-error-msg r-margin-right-10">
                <i class="fa-solid fa-circle-exclamation fa-lg"></i> Error saving: {$ form_errors $}
            </div>
        </div>
    </div>
</div>