<div class="modal-header">
    <h4 class="modal-title" id="exportModalLabel" ng-show="ubid_jaccard_state === 'verify'">Compare UBIDs</h4>
    <h4 class="modal-title" id="exportModalLabel" ng-show="ubid_jaccard_state === 'compare'">Compare UBIDs now...</h4>
    <h4 class="modal-title" id="exportModalLabel" ng-show="ubid_jaccard_state === 'result'">Comparing UBIDs Complete</h4>
    <div>The comparison relies on the Jaccard Index, which ranges from 0.0 (no match) to 1.0 (perfect match).</div>
</div>
<div class="modal-body">

    <div>UBID 1: {$ ubid1 $}</div>
    <div>UBID 2: {$ ubid2 $}</div>

    <div ng-show="ubid_jaccard_state === 'result'">
        <h4>Ubid Match quality <strong>{$ jaccard_index $}</strong></h4>
    </div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="compare_ubids()" ng-show="ubid_jaccard_state === 'verify'">Compare UBID</button>
    <button type="button" class="btn btn-default" ng-show="ubid_jaccard_state === 'verify'" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-default" ng-show="ubid_jaccard_state === 'result'" ng-click="close()">Close</button>
</div>