<div class="modal-header">
    <h4 class="modal-title" id="exportModalLabel">
            <i class="fa fa-building-o"></i>
            <i class="fa fa-map-o"></i>
        <span>UBIDs</span>
    </h4>
</div>
<div class="modal-body">    
    <div class="section">
        <div class="section_content_container">
            <div ng-show="ubids.length > 0" style="text-align: right; margin-right: 20px">
                <div ng-show="!editing">
                    <button type="button" class="btn btn-primary" ng-click="editing = true">
                        Edit UBID<span ng-if="ubids.length > 1">s</span>
                    </button>
                </div>
                <div ng-show="editing">
                    <span class="alert alert-danger" ng-show="num_preferred > 1">
                        A {$ inventory_type $} may only have one 'Preferred' ubid.
                    </span>
                    <button class="btn btn-success" type="button" ng-click="update_ubids()" tooltip-placement="bottom" uib-tooltip="Update" ng-disabled="num_preferred > 1">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-default" type="button" ng-click="cancel_edit()" tooltip-placement="bottom" uib-tooltip="Cancel">
                        <i class="fa fa-undo"></i>
                    </button>
                </div>
            </div>
            <div class="section_content with_padding" style="margin-top:15px; margin-bottom:15px;">
                <div class="table_list_container has_borders" >
                    <table id="ubid-table" class="table has_no_btm_margin">
                        <thead>
                            <tr>
                                <th class="text-left" ng-click="toggle_name_order_sort()">
                                    <span>UBID<i class="glyphicon glyphicon-sort"></i></span>
                                </th>
                                <th class="text-left">
                                    <span>Preferred</span>
                                    <div ng-show="editing" style="font-size: 10px">
                                        (One Preferred Ubid Only)
                                    </div>
                                </th>
                                <th class="text-center" style="min-width: 120px; width: 120px;">
                                    <span>Actions</span>
                            </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="ubids.length > 0" ng-repeat="ubid in ubids" style="height: 52px" ng-style="ubid.preferred ? {'background-color': '#5cb85c33'} : {}">
                                <td ng-show="!editing">
                                    <span>{$ ubid.ubid $}</span>
                                </td>
                                <td ng-show="!editing">
                                    <div ng-show="ubid.preferred" class="preferred-indicator">
                                        Preferred
                                    </div>
                                </td>
                                <td ng-show="editing">
                                    <input type="text" ng-model="ubid.ubid"/>
                                </td>
                                <td ng-show="editing">
                                    <div class="checkbox">
                                        <button class="btn" ng-class="{'btn-primary': ubid.preferred, 'btn-default': !ubid.preferred}" type="button" ng-click="toggle_preferred(ubid)">
                                            Preferred
                                        </button>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-danger" type="button" ng-click="delete_ubid(ubid.id)" ng-disabled="editing">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                            <tr ng-if="ubids.length == 0" style="background-color: #eee">
                                <td class="text-center" colspan="3">
                                    <h5>No Ubids For Property</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input ng-show="creating" type="text" ng-model="new_ubid.ubid">
                                </td>
                                <td>                         
                                    <span ng-show="creating"><input type="checkbox" ng-model="new_ubid.preferred"> Preferred</span>
                                </td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-primary" ng-click="creating = true" ng-show="!creating" ng-disabled="editing">
                                        Create UBID
                                    </button>
                                    <div ng-show="creating">
                                        <button class="btn btn-success" type="button" ng-click="create_ubid(new_ubid)"
                                            ng-disabled="!new_ubid.ubid" tooltip-placement="bottom"
                                            uib-tooltip="Create">
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                        </button>
                                        <button class="btn btn-default" type="button" ng-click="creating = false"
                                            tooltip-placement="bottom" uib-tooltip="Cancel">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default"
        ng-click="close()">Close</button>
</div>