<div class="modal-header">
    <h4 class="modal-title" id="exportModalLabel">
            <i class="fa fa-building-o"></i>
            <i class="fa fa-map-o"></i>
        <span>UBID ABC</span>
    </h4>
    <h4 class="modal-title" id="exportModalLabel" ng-show="ubid_upsert_state === 'result'">UBID 2</h4>
</div>
<div class="modal-body">
    <div class="section_action_container right_40 section_action_btn pull-right" style="margin: 5px 20px">
        <button ng-show="!editing" type="button" class="btn btn-primary" ng-click="edit_ubids()">
            Edit UBID<span ng-show="ubids.length > 1">s</span>
        </button>
        <button ng-show="editing" class="btn btn-success" type="button" ng-click="update_ubid(1)" tooltip-placement="bottom"
            uib-tooltip="Update">
            Update
        </button>
        <button ng-show="editing" type="button" class="btn btn-default" ng-click="editing = false">
            Cancel
        </button>
    </div>
    
    <div class="section">
        <div class="section_content_container">
            <div class="section_content with_padding" style="margin-top:15px; margin-bottom:15px;">
                <div class="table_list_container has_borders" >
                    <table id="column-table" class="table has_no_btm_margin">
                        <thead>
                            <tr>
                                <th class="text-left" ng-click="toggle_name_order_sort()">
                                    <span>UBID<i class="glyphicon glyphicon-sort"></i></span>
                                </th>
                                <th class="text-left">
                                    <span>Preferred</span>
                                    <div ng-show="editing" style="font-size: 10px">
                                        Only one ubid can be set to Preferred
                                    </div>
                                </th>
                                <th class="text-center" style="min-width: 120px; width: 120px;">
                                    <span>Actions</span>
                            </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="ubids.length > 0" ng-repeat="ubid in ubids">
                                <td ng-show="!editing">
                                    <span>{$ ubid.ubid $}</span>
                                </td>
                                <td ng-show="!editing">
                                    {$ ubid.preferred $}
                                </td>
                                <td ng-show="editing">
                                    <input type="text" ng-model="ubid.ubid"/>
                                    <button class="btn btn-success" type="button" ng-click="update_ubid(ubid)" tooltip-placement="bottom" uib-tooltip="Update">
                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    </button>
                                </td>
                                <td ng-show="editing">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="ubid.preferred">
                                            Preferred
                                        </label>
                                    </div>
                                </td>
                                <td class="text-center">

                                    <button class="btn btn-info" type="button" ng-click="edit_ubid(ubid.id)">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </button>
                                    <button class="btn btn-danger" type="button" ng-click="delete_ubid(ubid.id)">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input ng-show="creating" type="text" ng-model="new_ubid.ubid">
                                </td>
                                <td>                         
                                    <span ng-show="creating"><input type="checkbox" ng-model="new_ubid.preferred"> Preferred</span>
                                </td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-primary" ng-click="creating = true" ng-show="!creating">
                                        Create UBID
                                    </button>
                                    <div ng-show="creating">
                                        <button class="btn btn-success" type="button" ng-click="create_ubid(new_ubid)"
                                            ng-disabled="!new_ubid.ubid" tooltip-placement="bottom"
                                            uib-tooltip="Create">
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                        </button>
                                        <button class="btn btn-default" type="button" ng-click="creating = false"
                                            tooltip-placement="bottom" uib-tooltip="Cancel">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-if="ubids.length == 0" style="background-color: #eee">
                                <td class="text-center" colspan="3">
                                    <h5>No Ubids For Property</h5>
                                    <div>{$ ubids $}</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default"
        ng-click="close()">Close</button>
</div>