<div id="update-property-labels-modal">
    <div class="modal-header">
        <h4 class="modal-title" id="manageGroupsModalGroup" translate>Add/Remove Groups</h4>
    </div>
    <div class="modal-body">
        <div class="newLabelInput" style="margin-top:0;">
            <form name="newGroupForm" class="form-inline" role="form" ng-submit="submitNewGroupForm(newGroupForm)" novalidate>
                <div class="form-group" ng-class="{'has-error': newGroupForm.name.$invalid && newGroupForm.name.$dirty }">
                    <label class="control-group sectionGroup" style="padding-right:20px;" translate>Create new group</label>
                    <div class="input-group" style="padding-right:20px;">
                        <input id="newGroupName" type="text" name="name" class="form-control" ng-model="new_group.name" placeholder="{$:: 'Group Name' | translate $}" sd-check-label-exists="groups" required>
                    </div>
                    <button type="submit"
                            class="btn btn-primary"
                            ng-disabled="newGroupForm.$invalid || disabled" translate>Create group</button>
                    <div class="help-block">
                      <span class="has-error"
                            ng-show="newGroupForm.name.$error.sdCheckGroupExists"
                            translate>This group name is already taken.</span>
                    </div>
                </div>
            </form>
        </div>

        <div ng-if="inventory_type === 'properties'"
            class="edit_text"
            translate="ADD_REMOVE_GROUPS_FROM_PROPERTIES"
            translate-values="{ num: (inventory_ids.length | number: 0) }"></div>
        <div ng-if="inventory_type === 'taxlots'"
            class="edit_text"
            translate="ADD_REMOVE_GROUPS_FROM_TAXLOTS"
            translate-values="{ num: (inventory_ids.length | number: 0) }"></div>
        <div class="table-list-container">

            <div class="labels-status-msg" ng-show="loading || !inventory_groups.length">
                <div ng-show="loading">
                    <p translate>Loading groups...</p>
                </div>
                <div ng-show="!loading && !inventory_groups.length">
                    <p translate>No groups available.</p>
                </div>
            </div>

            <table ng-show="inventory_groups.length" class="table table-striped" style="margin-bottom: 0;">
                <tr ng-repeat="inventory_group in inventory_groups">
                    <td class="inventory_group_column" style="vertical-align: middle;">
                        <span class="inventory_group inventory_group-{$ inventory_group.inventory_group $}">{$ inventory_group.name $}</span>
                    </td>
                    <td align="right">
                      <button type="button"
                              uib-btn-checkbox
                              ng-model="inventory_group.is_checked_remove"
                              ng-show="inventory_group.member_list.length"
                              btn-checkbox-true="true"
                              btn-checkbox-false="false"
                              class="btn btn-sm btn-default action_link"
                              ng-class="{'btn-danger':inventory_group.is_checked_remove}"
                              ng-click="toggle_remove(inventory_group)"
                              translate>Remove</button>
                      <button type="button"
                              uib-btn-checkbox
                              ng-model="inventory_group.is_checked_add"
                              btn-checkbox-true="true"
                              btn-checkbox-false="false"
                              class="btn btn-sm btn-default action_link"
                              ng-class="{'btn-primary':inventory_group.is_checked_add}"
                              ng-disabled="inventory_ids.length === 1 && inventory_group.member_list.length"
                              ng-click="toggle_add(inventory_group)"
                              translate>Add</button>
                    </td>
                </tr>
            </table>

        </div>
        <div ng-show="inventory_group.length">
            <p class="tip-subtle" translate>A 'Remove' button is shown for tags that are already applied to one or more properties in the current selection</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" style="min-width:90px;" ng-disabled="!modified()" ng-click="done()" translate>Done</button>
        <button type="button" class="btn btn-default" style="min-width:90px;" ng-click="cancel()" translate>Cancel</button>
    </div>
</div>
