<div class="modal-header">
  <h4 class="modal-title" id="ModalLabel" translate>Update Derived Data</h4>
</div>
<div class="modal-body" style="padding-bottom: 0">
  <div ng-show="status === 'ready'">
    <p translate>UPDATE_DERIVED_DATA_TEXT_1</p>

    <p translate>UPDATE_DERIVED_DATA_TEXT_2</p>
  </div>

  <div ng-show="status === 'in progress'" class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        Updating derived data...
        <div class="progress_bar_container">
          <uib-progressbar class="progress-striped active" value="uploader.progress" type="success"></uib-progressbar>
          <div class="progress_bar_copy_bottom">{$ uploader.progress | number:0 $}% {$:: 'Complete' | translate $} {$ uploader.status_message ? ': ' + uploader.status_message : '' $}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="cancel()" ng-disabled="status !== 'ready'" translate>Cancel</button>
  <button type="button" class="btn btn-danger" ng-click="begin_update()" ng-show="status === 'ready'" translate>Begin Update</button>
</div>
