<div id="update-property-labels-modal" class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="manageGroupsModalGroup" translate>Add/Remove Groups</h4>
  </div>
  <div class="modal-body">
    <div ng-if="inventory_type === 'properties'" class="edit_text" translate="ADD_REMOVE_GROUPS_FROM_PROPERTIES" translate-values="{ num: (view_ids.length | number: 0) }"></div>
    <div ng-if="inventory_type === 'taxlots'" class="edit_text" translate="ADD_REMOVE_GROUPS_FROM_TAXLOTS" translate-values="{ num: (view_ids.length | number: 0) }"></div>
    <div class="table-list-container">
      <div class="labels-status-msg" ng-show="loading || !inventory_groups.length">
        <div ng-show="loading">
          <p translate>Loading groups...</p>
        </div>
        <div ng-show="!loading && !inventory_groups.length">
          <p translate>No groups available.</p>
        </div>
      </div>

      <table ng-show="inventory_groups.length" class="table table-striped" style="margin-bottom: 0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Access Level Instance</th>
            <th>Inventory Count</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="inventory_group in inventory_groups">
            <td class="inventory_group_column" style="vertical-align: middle">
              <span class="inventory_group inventory_group-{$ inventory_group.inventory_group $}">{$ inventory_group.name $}</span>
            </td>
            <td>{$ inventory_group.access_level_instance_data.name $}</td>
            <td>{$ inventory_group.inventory_list.length || inventory_group.views_list.length $}</td>
            <td align="right">
              <button
                type="button"
                uib-btn-checkbox
                ng-model="inventory_group.is_checked_remove"
                ng-show="inventory_group.has_views"
                btn-checkbox-true="true"
                btn-checkbox-false="false"
                class="btn btn-sm btn-default action_link"
                ng-class="{'btn-danger':inventory_group.is_checked_remove}"
                ng-click="toggle_remove(inventory_group)"
                translate
              >
                Remove
              </button>
              <button
                type="button"
                uib-btn-checkbox
                ng-model="inventory_group.is_checked_add"
                btn-checkbox-true="true"
                btn-checkbox-false="false"
                class="btn btn-sm btn-default action_link"
                ng-class="{'btn-primary':inventory_group.is_checked_add}"
                ng-disabled="!add_permission(inventory_group)"
                ng-click="toggle_add(inventory_group)"
                uib-tooltip="Access level mismatch."
                tooltip-enable="!inventory_group.ali_match"
                translate
              >
                Add
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div ng-show="inventory_group.length">
      <p class="tip-subtle" translate>A 'Remove' button is shown for tags that are already applied to one or more properties in the current selection</p>
    </div>

    <div class="newLabelInput" style="margin: 0; border-radius: 0">
      <form name="newGroupForm" class="form-inline" role="form" ng-submit="submitNewGroupForm(newGroupForm)" novalidate>
        <div class="form-group" id="group-add-container" ng-class="{'has-error': newGroupForm.name.$invalid && newGroupForm.name.$dirty }">
          <div>
            <label class="control-group sectionGroup" style="padding-right: 20px" translate>Create new group</label>
            <input id="newGroupName" type="text" name="name" class="form-control" ng-model="new_group.name" placeholder="{$:: 'Group Name' | translate $}" sd-check-label-exists="groups" required />
          </div>
          <button type="submit" class="btn btn-primary" ng-disabled="newGroupForm.$invalid || inventory_access_level_instance_count !== 1" style="height: 40px; margin-top: 20px" translate>
            Create group
          </button>
        </div>
        <div class="help-block">
          <div class="alert alert-warning" ng-show="inventory_access_level_instance_count !== 1">
            All properties within a group must be in the same access level instance. Modify selection and try again.
          </div>
          <div class="alert alert-danger" ng-show="error">{$ error $}</div>
        </div>
      </form>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary" style="min-width: 90px" ng-disabled="!modified()" ng-click="done()" translate>Done</button>
    <button type="button" class="btn btn-default" style="min-width: 90px" ng-click="cancel()" translate>Cancel</button>
  </div>
</div>
