interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.mapquestapi.com/geocoding/v1/batch?inFormat=json&json=%7B%22locations%22%3A+%5B%7B%22street%22%3A+%221603+Larimer+Street%2C+%2C+Denver%2C+Colorado%2C+80202%22%7D%2C+%7B%22street%22%3A+%221683+Larimer+Street%2C+%2C+Denver%2C+Colorado%2C+80202%22%7D%2C+%7B%22street%22%3A+%221696+Larimer+Street%2C+%2C+Denver%2C+Colorado%2C+80202%22%7D%2C+%7B%22street%22%3A+%221646+Larimer+Street%2C+%2C+Denver%2C+Colorado%2C+80202%22%7D%2C+%7B%22street%22%3A+%221670+Larimer+Street%2C+%2C+Denver%2C+Color[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.mapquestapi.com/geocoding/v1/batch?inFormat=json&json=%7B%22locations%22%3A+%5B%7B%22street%22%3A+%221661+Larimer+Street%2C+%2C+Denver%2C+Colorado%2C+80202%22%7D%5D%7D&maxResults=1&outFormat=json&thumbMaps=false
  response:
    body: {string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2018 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2018 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"street":"1661
        Larimer Street, , Denver, Colorado, 80202"},"locations":[{"street":"1661 Larimer
        St","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"80202-1509","geocodeQualityCode":"L1AAA","geocodeQuality":"ADDRESS","dragPoint":false,"sideOfStreet":"L","linkId":"rnr5319662|i9965144","unknownInput":"","type":"s","latLng":{"lat":39.749805,"lng":-104.996703},"displayLatLng":{"lat":39.749966,"lng":-104.996821},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=6Uq638OHAHiOvOq1XAvhVvcYMSZF4QSx&type=map&size=225,160&locations=39.749805,-104.996703|marker-sm-50318A-1&scalebar=true&zoom=15&rand=1247600925"}]}]}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      GeocodeTransactionCount: ['1']
      Last-Modified: ['Thu, 20 Dec 2018 19:35:06 GMT']
      ReverseGeocodeTransactionCount: ['0']
      status: [success]
      transactionWeight: ['1.0']
    status: {code: 200, message: OK}
version: 1
