interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.mapquestapi.com/geocoding/v1/batch?inFormat=kvp&location=1600+Larimer+Street%2C+%2C+Denver%2C+Colorado%2C+80202&location=1601+Larimer+Street%2C+%2C+Denver%2C+Colorado%2C+80202&location=1602+Larimer+Street%2C+%2C+Denver%2C+Colorado%2C+80202&location=1603+Larimer+Street%2C+%2C+Denver%2C+Colorado%2C+80202&location=1604+Larimer+Street%2C+%2C+Denver%2C+Colorado%2C+80202&location=1605+Larimer+Street%2C+%2C+Denver%2C+Colorado%2C+80202&location=1606+Larimer+Street%2C+%2C+Denver%2C+Colorado%[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.mapquestapi.com/geocoding/v1/batch?inFormat=kvp&location=1621+Larimer+Street%2C+%2C+Denver%2C+Colorado%2C+80202&maxResults=1&outFormat=json&thumbMaps=false
  response:
    body: {string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2018 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2018 MapQuest, Inc."},"messages":[]},"options":{"maxResults":1,"thumbMaps":false,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"1621
        Larimer Street, , Denver, Colorado, 80202"},"locations":[{"street":"1621 Larimer
        St","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"80202-1509","geocodeQualityCode":"L1AAA","geocodeQuality":"ADDRESS","dragPoint":false,"sideOfStreet":"L","linkId":"rnr5319662|i9965144","unknownInput":"","type":"s","latLng":{"lat":39.749422,"lng":-104.997225},"displayLatLng":{"lat":39.749583,"lng":-104.997343}}]}]}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      GeocodeTransactionCount: ['1']
      Last-Modified: ['Sun, 16 Dec 2018 02:00:37 GMT']
      ReverseGeocodeTransactionCount: ['0']
      status: [success]
      transactionWeight: ['1.0']
    status: {code: 200, message: OK}
version: 1
