interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.mapquestapi.com/geocoding/v1/batch?inFormat=json&json=%7B%22locations%22%3A+%5B%7B%22street%22%3A+%221689+Larimer+Street%2C+%2C+Denver%2C+Colorado%2C+80202%22%7D%2C+%7B%22street%22%3A+%221653+Larimer+Street%2C+%2C+Denver%2C+Colorado%2C+80202%22%7D%2C+%7B%22street%22%3A+%221607+Larimer+Street%2C+%2C+Denver%2C+Colorado%2C+80202%22%7D%2C+%7B%22street%22%3A+%221614+Larimer+Street%2C+%2C+Denver%2C+Colorado%2C+80202%22%7D%2C+%7B%22street%22%3A+%221648+Larimer+Street%2C+%2C+Denver%2C+Color[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.mapquestapi.com/geocoding/v1/batch?inFormat=json&json=%7B%22locations%22%3A+%5B%7B%22street%22%3A+%221692+Larimer+Street%2C+%2C+Denver%2C+Colorado%2C+80202%22%7D%5D%7D&maxResults=1&outFormat=json&thumbMaps=false
  response:
    body: {string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2019 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2019 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"street":"1692
        Larimer Street, , Denver, Colorado, 80202"},"locations":[{"street":"1692 Larimer
        St","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"80202","geocodeQualityCode":"L1AAA","geocodeQuality":"ADDRESS","dragPoint":false,"sideOfStreet":"R","linkId":"rnr5319662|i9959095","unknownInput":"","type":"s","latLng":{"lat":39.750112,"lng":-104.996285},"displayLatLng":{"lat":39.74995,"lng":-104.996167},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=key&type=map&size=225,160&locations=39.750112,-104.996285|marker-sm-50318A-1&scalebar=true&zoom=15&rand=716603984"}]}]}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      GeocodeTransactionCount: ['1']
      Last-Modified: ['Mon, 07 Jan 2019 22:52:11 GMT']
      ReverseGeocodeTransactionCount: ['0']
      status: [success]
      transactionWeight: ['1.0']
    status: {code: 200, message: OK}
version: 1
