interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.mapquestapi.com/geocoding/v1/batch?inFormat=json&json=%7B%22locations%22%3A+%5B%7B%22street%22%3A+%221631+Larimer+Street%2C+Denver%2C+Colorado%2C+80202%22%7D%2C+%7B%22street%22%3A+%221677+Larimer+Street%2C+Denver%2C+Colorado%2C+80202%22%7D%2C+%7B%22street%22%3A+%221665+Larimer+Street%2C+Denver%2C+Colorado%2C+80202%22%7D%2C+%7B%22street%22%3A+%221618+Larimer+Street%2C+Denver%2C+Colorado%2C+80202%22%7D%2C+%7B%22street%22%3A+%221625+Larimer+Street%2C+Denver%2C+Colorado%2C+80202%22%7D%2[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.mapquestapi.com/geocoding/v1/batch?inFormat=json&json=%7B%22locations%22%3A+%5B%7B%22street%22%3A+%221630+Larimer+Street%2C+Denver%2C+Colorado%2C+80202%22%7D%5D%7D&maxResults=2&outFormat=json&thumbMaps=false
  response:
    body:
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"street":"1630
        Larimer Street, Denver, Colorado, 80202"},"locations":[{"street":"1630 Larimer
        St","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"80202","geocodeQualityCode":"L1AAA","geocodeQuality":"ADDRESS","dragPoint":false,"sideOfStreet":"R","linkId":"rnr5402999|i68784743","unknownInput":"","type":"s","latLng":{"lat":39.749502,"lng":-104.997072},"displayLatLng":{"lat":39.749344,"lng":-104.996949},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=key&type=map&size=225,160&locations=39.749502,-104.997072|marker-sm-50318A-1&scalebar=true&zoom=15&rand=420394284"}]}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      GeocodeTransactionCount:
      - '1'
      Last-Modified:
      - Tue, 25 Jan 2022 16:45:35 GMT
      ReverseGeocodeTransactionCount:
      - '0'
      status:
      - success
      transactionWeight:
      - '1.0'
    status:
      code: 200
      message: ''
version: 1
