interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.mapquestapi.com/geocoding/v1/batch?inFormat=json&json=%7B%22locations%22%3A+%5B%7B%22street%22%3A+%221603+Larimer+Street%2C+%2C+Denver%2C+Colorado%2C+80202%22%7D%2C+%7B%22street%22%3A+%221631+Larimer+Street%2C+%2C+Denver%2C+Colorado%2C+80202%22%7D%2C+%7B%22street%22%3A+%221687+Larimer+Street%2C+%2C+Denver%2C+Colorado%2C+80202%22%7D%2C+%7B%22street%22%3A+%221633+Larimer+Street%2C+%2C+Denver%2C+Colorado%2C+80202%22%7D%2C+%7B%22street%22%3A+%221602+Larimer+Street%2C+%2C+Denver%2C+Color[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.mapquestapi.com/geocoding/v1/batch?inFormat=json&json=%7B%22locations%22%3A+%5B%7B%22street%22%3A+%221622+Larimer+Street%2C+%2C+Denver%2C+Colorado%2C+80202%22%7D%5D%7D&maxResults=1&outFormat=json&thumbMaps=false
  response:
    body: {string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2019 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2019 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"street":"1622
        Larimer Street, , Denver, Colorado, 80202"},"locations":[{"street":"1622 Larimer
        St","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"80202","geocodeQualityCode":"L1AAA","geocodeQuality":"ADDRESS","dragPoint":false,"sideOfStreet":"R","linkId":"rnr5319662|i9959095","unknownInput":"","type":"s","latLng":{"lat":39.749441,"lng":-104.997199},"displayLatLng":{"lat":39.74928,"lng":-104.997081},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=key&type=map&size=225,160&locations=39.749441,-104.997199|marker-sm-50318A-1&scalebar=true&zoom=15&rand=1315781454"}]}]}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      GeocodeTransactionCount: ['1']
      Last-Modified: ['Mon, 07 Jan 2019 02:33:47 GMT']
      ReverseGeocodeTransactionCount: ['0']
      status: [success]
      transactionWeight: ['1.0']
    status: {code: 200, message: OK}
version: 1
