interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.mapquestapi.com/geocoding/v1/batch?inFormat=json&json=%7B%22locations%22%3A+%5B%7B%22street%22%3A+%22Colorado%2C+80202%22%7D%5D%7D&maxResults=2&outFormat=json&thumbMaps=false
  response:
    body:
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2019 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2019 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"street":"Colorado,
        80202"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"80202","geocodeQualityCode":"Z1XAA","geocodeQuality":"ZIP","dragPoint":false,"sideOfStreet":"N","linkId":"286301816","unknownInput":"","type":"s","latLng":{"lat":39.751787,"lng":-104.997035},"displayLatLng":{"lat":39.751787,"lng":-104.997035},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=key&type=map&size=225,160&locations=39.751787,-104.997035|marker-sm-50318A-1&scalebar=true&zoom=15&rand=-659302199"}]}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      GeocodeTransactionCount:
      - '1'
      Last-Modified:
      - Mon, 21 Oct 2019 20:23:12 GMT
      ReverseGeocodeTransactionCount:
      - '0'
      status:
      - success
      transactionWeight:
      - '1.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.mapquestapi.com/geocoding/v1/batch?inFormat=json&json=%7B%22locations%22%3A+%5B%7B%22street%22%3A+%22Denver%2C+Colorado%22%7D%5D%7D&maxResults=2&outFormat=json&thumbMaps=false
  response:
    body:
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2019 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2019 MapQuest, Inc."},"messages":[]},"options":{"m[...]
