interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.mapquestapi.com/geocoding/v1/batch?inFormat=json&json=%7B%22locations%22%3A+%5B%7B%22street%22%3A+%223001+Brighton+Blvd%2C+suite+2693%2C+Denver%2C+New+Jersey%2C+08081%22%7D%5D%7D&maxResults=1&outFormat=json&thumbMaps=false
  response:
    body: {string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2018 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2018 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"street":"3001
        Brighton Blvd, suite 2693, Denver, New Jersey, 08081"},"locations":[{"street":"[100
        - 399] Brighton Ct, SUITE 2693","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Sicklerville","adminArea5Type":"City","adminArea4":"Camden","adminArea4Type":"County","adminArea3":"NJ","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"08081-2408","geocodeQualityCode":"B3BCA","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"L","linkId":"rnr1179789|i39642056","unknownInput":"","type":"s","latLng":{"lat":39.758716,"lng":-75.035045},"displayLatLng":{"lat":39.758914,"lng":-75.035074},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=6Uq638OHAHiOvOq1XAvhVvcYMSZF4QSx&type=map&size=225,160&locations=39.758716,-75.035045|marker-sm-50318A-1&scalebar=true&zoom=15&rand=1830976850"},{"street":"[1170
        - 1199] Brighton Ct, SUITE 2693","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Beverly","adminArea5Type":"City","adminArea4":"Burlington","adminArea4Type":"County","adminArea3":"NJ","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":[...]
