interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.mapquestapi.com/geocoding/v1/batch?inFormat=json&json=%7B%22locations%22%3A+%5B%7B%22street%22%3A+%22101+Market+Street%2C+Denver%2C+California%22%7D%5D%7D&maxResults=2&outFormat=json&thumbMaps=false
  response:
    body:
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"street":"101
        Market Street, Denver, California"},"locations":[{"street":"101 Market St","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"San
        Diego","adminArea5Type":"City","adminArea4":"San Diego","adminArea4Type":"County","adminArea3":"CA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"92101-6800","geocodeQualityCode":"P1ACX","geocodeQuality":"POINT","dragPoint":false,"sideOfStreet":"R","linkId":"r48353117|p70808557|n249323902","unknownInput":"","type":"s","latLng":{"lat":32.711405,"lng":-117.163312},"displayLatLng":{"lat":32.71092,"lng":-117.163309},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=key&type=map&size=225,160&locations=32.711405,-117.163312|marker-sm-50318A-1&scalebar=true&zoom=15&rand=-702184953"},{"street":"101
        Market St","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Bieber","adminArea5Type":"City","adminArea4":"Lassen","adminArea4Type":"County","adminArea3":"CA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"96009","geocodeQualityCode":"P1ACX","geocodeQuality":"PO[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.mapquestapi.com/geocoding/v1/batch?inFormat=json&json=%7B%22locations%22%3A+%5B%7B%22street%22%3A+%22101+Market+Street%2C+California%22%7D%5D%7D&maxResults=2&outFormat=json&thumbMaps=false
  response:
    body:
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},[...]
