interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.mapquestapi.com/geocoding/v1/batch?inFormat=json&json=%7B%22locations%22%3A+%5B%7B%22street%22%3A+%22101+Market+Street%2C+Denver%2C+California%22%7D%5D%7D&maxResults=2&outFormat=json&thumbMaps=false
  response:
    body:
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2019 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2019 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"street":"101
        Market Street, Denver, California"},"locations":[{"street":"101 Market St","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Occidental","adminArea5Type":"City","adminArea4":"Sonoma","adminArea4Type":"County","adminArea3":"CA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"95465","geocodeQualityCode":"P1ACX","geocodeQuality":"POINT","dragPoint":false,"sideOfStreet":"L","linkId":"r7818601|p23781171|n9516106","unknownInput":"","type":"s","latLng":{"lat":38.424456,"lng":-122.962192},"displayLatLng":{"lat":38.424333,"lng":-122.96209},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=key&type=map&size=225,160&locations=38.424456,-122.962192|marker-sm-50318A-1&scalebar=true&zoom=15&rand=-1026963477"},{"street":"101
        Market St","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"San
        Diego","adminArea5Type":"City","adminArea4":"San Diego","adminArea4Type":"County","adminArea3":"CA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"92101-6800","geocodeQualityCode":"P1ACX",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.mapquestapi.com/geocoding/v1/batch?inFormat=json&json=%7B%22locations%22%3A+%5B%7B%22street%22%3A+%22101+Market+Street%2C+California%22%7D%5D%7D&maxResults=2&outFormat=json&thumbMaps=false
  response:
    body:
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2019 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2019 MapQuest, Inc."},"messages":[]},[...]
