interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.mapquestapi.com/geocoding/v1/batch?inFormat=kvp&location=3001+Brighton+Blvd%2C+suite+2693%2C+Denver%2C+New+Jersey%2C+08081&maxResults=1&outFormat=json&thumbMaps=false
  response:
    body: {string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2018 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2018 MapQuest, Inc."},"messages":[]},"options":{"maxResults":1,"thumbMaps":false,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"3001
        Brighton Blvd, suite 2693, Denver, New Jersey, 08081"},"locations":[{"street":"[100
        - 399] Brighton Ct, SUITE 2693","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Sicklerville","adminArea5Type":"City","adminArea4":"Camden","adminArea4Type":"County","adminArea3":"NJ","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"08081-2408","geocodeQualityCode":"B3BCA","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"L","linkId":"rnr1179789|i39642056","unknownInput":"","type":"s","latLng":{"lat":39.758716,"lng":-75.035045},"displayLatLng":{"lat":39.758914,"lng":-75.035074}}]}]}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      GeocodeTransactionCount: ['1']
      Last-Modified: ['Sun, 16 Dec 2018 02:00:40 GMT']
      ReverseGeocodeTransactionCount: ['0']
      status: [success]
      transactionWeight: ['1.0']
    status: {code: 200, message: OK}
version: 1
