interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.mapquestapi.com/geocoding/v1/batch?inFormat=json&json=%7B%22locations%22%3A+%5B%7B%22street%22%3A+%223001+Brighton+Blvd%2C+suite+2693%2C+Denver%2C+Colorado%2C+80216%22%7D%5D%7D&maxResults=2&outFormat=json&thumbMaps=false
  response:
    body:
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"street":"3001
        Brighton Blvd, suite 2693, Denver, Colorado, 80216"},"locations":[{"street":"3001
        Brighton Blvd, SUITE 2693","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"80216-5014","geocodeQualityCode":"P1AAA","geocodeQuality":"POINT","dragPoint":false,"sideOfStreet":"L","linkId":"r51694442|p203945262|n253616579","unknownInput":"","type":"s","latLng":{"lat":39.764909,"lng":-104.985856},"displayLatLng":{"lat":39.765251,"lng":-104.986138},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=key&type=map&size=225,160&locations=39.764909,-104.985856|marker-sm-50318A-1&scalebar=true&zoom=15&rand=1450279607"}]}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      GeocodeTransactionCount:
      - '1'
      Last-Modified:
      - Tue, 25 Jan 2022 16:45:44 GMT
      ReverseGeocodeTransactionCount:
      - '0'
      status:
      - success
      transactionWeight:
      - '1.0'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://www.mapquestapi.com/geocoding/v1/batch?inFormat=json&json=%7B%22locations%22%3A+%5B%7B%22street%22%3A+%222020+Lawrence+St%2C+unit+A%2C+Denver%2C+Colorado%2C+80205%22%7D%5D%7D&maxResults=2&outFormat=json&thumbMaps=false
  response:
    body:
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQue[...]
