{% extends "two_factor/_base_focus.html" %}
{% load i18n %}
{% load two_factor_tags %}

{% block extra_media %}
  {{ form.media }}
{% endblock %}

{% block content_inner %}
  {% if wizard.steps.current == 'auth' %}
    <p>{% blocktrans %}Enter your credentials.{% endblocktrans %}</p>
  {% elif wizard.steps.current == 'token' %}
    <p>{{ device|as_verbose_action }}</p>
  {% elif wizard.steps.current == 'backup' %}
    <p>{% blocktrans trimmed %}Use this form for entering backup tokens for logging in.
      These tokens have been generated for you to print and keep safe. Please
      enter one of these backup tokens to login to your account.{% endblocktrans %}</p>
  {% endif %}

  <form action="" method="post" class="signup_form">
    {% block main_form_content %}
    {% csrf_token %}
    {% include "two_factor/_wizard_forms.html" %}

    {# hidden submit button to enable [enter] key #}
    <input type="submit" value="" hidden />

    {% if other_devices %}
      <p>{% trans "Or, alternatively, use one of your other authentication methods:" %}</p>
      <p>
        {% for other in other_devices %}
        <button name="challenge_device" value="{{ other.persistent_id }}"
                class="btn btn-secondary btn-block" type="submit">
          {{ other|as_action }}
        </button>
      {% endfor %}</p>
    {% endif %}

    {% include "two_factor/_wizard_actions.html" %}
    {% endblock %}
    {% if wizard.steps.current == 'auth' %}
    <div class="terms-link">
      <p>{% trans "By clicking the Log In button you accept the NREL Data Terms." %} <a class="link" onclick="toggleTerms()">{% trans "View/Hide Terms" %}</a></p>
    </div>

    <div id="terms-and-conditions">
      <h3>DOE Standard Energy Efficiency Data Platform | NREL Data Terms</h3>

      <p>You, and your company or organization (the PROVIDER) have agreed to upload and provide PROPRIETARY DATA, including energy efficiency data, building data, and building energy
        performance data to the Standard Energy Efficiency Data (SEED™) Platform database that the U.S. Department of Energy (the Government) and Alliance for Sustainable Energy, LLC
        (“Alliance”) the manager and operator of the National Renewable Energy Laboratory (“NREL”) (the RECIPIENT) have created and provide for use for registered users.</p>

      <p>PROPRIETARY DATA is defined as follows:</p>
      <p>(a) information that embody trade secrets or commercial or financial information that is confidential and privileged; (b) information that is confidential and privileged and developed
        at private expense (i.e., not with Federal funds); (c) information that is not customarily released to the public; and/or (d) information whose disclosure to the public could result in
        financial harm to the PROVIDER, to owners of buildings whose information is contained in the PROPRIETARY DATA, or to other stakeholders.</p>
      <p>In order to upload PROPRIETARY DATA, you will be required to create an account and provide the RECIPIENT with a username, password, and email address. You are solely responsible for
        maintaining the confidentiality of the password and username you provided during the registration process and are fully responsible for all activities that occur under your password or
        account.</p>
      <p>The PROPRIETARY DATA shall remain protected until the PROVIDER provides notice of termination of their account on the SEED Platform and provides notice to remove PROPRIETARY DATA from
        the SEED Platform database, at which time the RECIPIENT will promptly return and/or destroy the PROPRIETARY DATA uploaded in the SEED Platform database.</p>
      <p>By providing the PROPRIETARY DATA, PROVIDER agrees to the following:</p>
      <ol>
        <li>PROVIDER has the authority to provide the PROPRIETARY DATA to the RECIPIENT, that the information provided constitutes PROPRIETARY DATA, and consents to the information provided
          being labeled and treated as PROPRIETARY DATA. If PROVIDER wishes to provide non-proprietary data, please contact <a href="mailto:BTODataTools@ee.doe.gov">BTODataTools@ee.doe.gov</a>.
        </li>
        <li>RECIPIENT may host, display, and manage such PROPRIETARY DATA for the PROVIDER and the Government to access, analyze, and manage through the SEED Platform.</li>
        <li>RECIPIENT may use, view, or duplicate the PROPRIETARY DATA and may share the PROPRIETARY DATA with support services contractors within the scope of their contracts. RECIPIENT may
          share the PROPRIETARY DATA to other DOE National Laboratories participating in the SEED Platform project, under the restriction that (i) the PROPRIETARY DATA be retained in
          confidence and not be further disclosed, (ii) the PROPRIETARY DATA will be destroyed when the DOE National Laboratory’s participation in the SEED Platform has ended.
        </li>
      </ol>
    </div>

    {% endif %}
  </form>

  {% block 'backup_tokens' %}
    {% if backup_tokens %}
       <hr>
       <div class="backup_tokens_form">
       <form action="" method="post">
           {% csrf_token %}
            <p>{% trans "As a last resort, you can use a backup token:" %}</p>
            <p>
                <button name="wizard_goto_step" type="submit" value="backup"
                    class="btn btn-sm btn-secondary btn-block">{% trans "Use Backup Token" %}</button>
            </p>
       </form>
       </div>
    {% endif %}
  {% endblock %}
{% endblock %}

{% block js %}
  <script>
    const toggleTerms = function () {
      const terms = document.getElementById('terms-and-conditions');
      const hidden = ['', 'none'].includes(terms.style.display);
      terms.style.display = hidden ? 'block' : 'none';
    }
  </script>
{% endblock %}